{% load i18n bootstrap3 static ajapaik_templatetags %}

<div class="modal fade" id="ajapaik-face-recognition-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ajapaik-zero-border-radius">
            <div class="container">
                <form method="post" action=".." class="form">
                    {% csrf_token %}
                    {% bootstrap_form face_recognition_form %}
                    <button type="submit" class="btn btn-success pull-right">
                        {% trans "Send" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>