#subject-data-container {
    flex-direction: column;
    align-items: center;
}

.human-child,
.human-elderly,
.human-female,
.human-male,
.human-adult,
.skip-next,
.circled-cross,
.info {
    border: none;
    width: 100px;
    height: 90px;
    font-size: 16px;
    padding-top: 50px;
    background-position-x: 30px;
    background-position-y: 15px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.human-child:hover,
.human-elderly:hover,
.human-female:hover,
.human-male:hover,
.human-adult:hover,
.skip-next:hover,
.circled-cross:hover,
.info:hover {
    background-color: #d5d5d5;
}

.human-child {
    background-position-y: 20px;
    background-position-x: 34px;
    background-image: url(../../../static/images/material-design-icons/ic_human_child.svg);
}

.human-elderly {
    background-size: 54px;
    background-image: url(../../../static/images/material-design-icons/ic_human_elderly.svg);
}

.human-female {
    background-image: url(../../../static/images/material-design-icons/ic_human_female.svg);
}

.human-male {
    background-image: url(../../../static/images/material-design-icons/ic_human_male.svg);
}

.human-adult {
    background-image: url(../../../static/images/material-design-icons/ic_human_adult.svg);
}

.skip-next {
    background-image: url(../../../static/images/material-design-icons/ic_skip_next.svg);
}

.circled-cross {
    background-image: url(../../../static/images/material-design-icons/ic_circled_cross.svg);
}

.info {
    background-image: url(../../../static/images/material-design-icons/ic_info.svg);
}

.main-image {
    max-height: 80vh;
    max-width: 100vw;
}

.first-block, .second-block {
    justify-content: center;
}

.px-2.pt-2 {
    display: none !important;
}

#ajapaik-header-profile-button,
.ajapaik-header-right-button,
#ajapaik-header-about-button
{
    display: none !important;
}

.ajapaik-header-right-button.dropdown.d-inline-block.align-top.pt-2 {
    right: 30px;
    display: inline-block !important;
}

.ajapaik-brand {
    display: inline-block !important;
}

.navbar.navbar-default.navbar-fixed-top.ajapaik-navbar.w-100.py-0 {
    height: 60px;
}

#subject-data-description-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    min-height: 100px;
    color: white;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    font-size: 18px;
}