#ajapaik-photoview-face-recognition-add-face-button {
    margin-left: 10px;
}

.alert {
    z-index: 100000 !important;
}

.ajapaik-face-recognition-form-submit-button {
    float: right;
}

.ajapaik-face-recognition-form-remove-rectangle-button {
    float: left;
}