#ajapaik-photoview-face-recognition-add-face-button {
    margin-left: 10px;
}

.alert {
    z-index: 100000 !important;
}

.ajapaik-face-recognition-form-submit-button {
    float: right;
}

.ajapaik-face-recognition-form-remove-rectangle-button {
    float: left;
}

.ajapaik-face-rectangle-text {
    position: absolute;
    background-color: white;
    height: 24px;
    line-height: 12px;
    bottom: -24px;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 50px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
