{% load i18n cache bundler_tags %}<!DOCTYPE html>
<html dir="ltr" lang="et">

<head>
<title>Ajapaik.ee</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="google-site-verification" content="3iK84Lw7RU9toVzSgoxDH4ErYxgkaoE4jrFMEb9R4Is" />
    <meta charset="UTF-8" />
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/carte-blanche.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.fancybox-1.3.4.css" />
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    {% load_bundle "styles_combi" %}
    {% load_bundle "scripts_combi" %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.fancybox-1.3.4.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.1.min.js"></script>
<!--
	<style>
		#fancybox-wrap {
			top: 50px !important;
		}
	</style>
-->
    <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-21689048-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>	
</head>
<body>
    
    {% block layout %}{% endblock layout %}

<!--
	<div id="footer">
		<div class="container">
			<div id="logo"><a href="/" class="ir">Ajapaik</a></div>
            
            {% block footer_score %}{% endblock %}

			<div id="facebook-connect">
				{% if request.user.is_authenticated and request.user.get_profile.fb_id %}
				{% with profile=request.user.get_profile user=request.user %}
				<a href="#">
				    <img src="http://graph.facebook.com/{{ profile.fb_id }}/picture" width="50" height="50"/>{{ user.get_full_name }}
				</a>
				{% endwith %}
				{% else %}
				<a href="/facebook/login" class="ir">Connect with Facebook</a>
				{% endif %}
			</div>

		</div>
	</div>
-->

</body>
</html>
