{% load i18n cache bundler_tags %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">

<head>
<title>{% if title %}{{ title }} - {% trans "Timepatch (Ajapaik)" %}{% else %}{% trans "Timepatch (Ajapaik)" %}{% endif %}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="google-site-verification" content="3iK84Lw7RU9toVzSgoxDH4ErYxgkaoE4jrFMEb9R4Is" />
    <meta property="fb:app_id" content="201052296573134" />
    <meta charset="UTF-8" />
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="shortcut icon" type="image/ico" href="{{ MEDIA_URL }}gfx/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}gfx/carte-blanche.css" />
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
    {% load_bundle "styles_combi" %}
    {% load_bundle "scripts_combi" %}
<!--
	<style>
		#fancybox-wrap {
			top: 50px !important;
		}
	</style>
-->
    <script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-21689048-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>	
</head>
<body>
   
    {% block layout %}{% endblock layout %}

</body>
</html>
