{% load thumbnail i18n %}

<script>
cityId = "{{ photo.city_id }}";
$(document).ready(function() {
	History.replaceState(null, '{{ title }} - {% trans "Timepatch (Ajapaik)" %}', '{% if photo.rephotos.all.0 %}{{ photo.rephotos.all.0.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}');
	_gaq.push(['_trackPageview', '{% if photo.rephotos.all.0 %}{{ photo.rephotos.all.0.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}']);
});
</script>
<div class="photos clearfix">

	<div class="browse-nav">
		<a href="#" class="add-rephoto btn green medium" title="{% trans "Add rephoto" %}">{% trans "Add rephoto" %}</a>
		<a href="{{ photo.get_heatmap_url }}" class="btn medium green iframe" title="{% trans "Heat map" %}">{% trans "Heat map" %}</a>
		<div class="clearfix"></div>
		<div id="add-comment">
			<a href="{% if photo.rephotos.all.0 %}{{ photo.rephotos.all.0.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}" class="btn green medium" title="{% trans "Add comment" %}">{% trans "Add comment" %} (<fb:comments-count href="{{ hostname }}{% if photo.rephotos.all.0 %}{{ photo.rephotos.all.0.get_detail_url }}{% else %}{{ photo.get_detail_url }}{% endif %}"></fb:comments-count>)</a>
		</div>
		<a href="#" id="close-photo-drawer" class="btn medium" title="{% trans "Close photo" %}">{% trans "Close photo" %}</a>
		<a href="#" id="random-photo" class="btn shuffle" title="Random">&nbsp;</a>
		<div style="display:none;">
		{% for rephoto in photo.rephotos.all %}
			<div id="rephoto_comment_{{ rephoto.id }}">
			<a href="{{ rephoto.get_absolute_url }}" class="btn green medium">{% trans "Add comment" %} (<fb:comments-count href="{{ hostname }}{{ rephoto.get_detail_url }}"></fb:comments-count>)</a>
			</div>
		{% endfor %}
		</div>
	</div>

	<div class="original photo-item">
		{% thumbnail photo.image "700x400" as im %}
		<a href="{{ photo.get_absolute_url }}"><img src="{{ im.url }}" border="0" /></a>
		{% endthumbnail %}
		
		<div class="tools">
			<div class="description">
				<p>{{ photo.description }}</p>
				<p class="owner">{{ photo.source.description }} {{ photo.source.name }}{% if photo.source_key %}_{{ photo.source_key }}{% endif %}</p>
			</div>
		</div>
	</div>

	{% thumbnail photo.rephotos.all.0.image "700x400" as rephoto %}

	<div class="rephoto photo-item">
		<div class="container">
			<div class="meta">
				<div class="content" id="meta_content">
					{% if photo.rephotos.all.0.user.fb_name %}<p class="owner"><img style="padding-right: 10px;float: left;height: 30px;" src="{{ MEDIA_URL }}gfx/cc-at-sa.png" title="Creative Commons Attribution-ShareAlike" /><a href="{{ photo.rephotos.all.0.user.fb_link }}" target="_blank"><img style="width:30px;height:30px;" src="http://graph.facebook.com/{{ photo.rephotos.all.0.user.fb_id }}/picture?type=square" title="{{ photo.rephotos.all.0.user.fb_name }}" /></a></p>{% endif %}
					<p style="float:right;"> {% if photo.rephotos.all.0.date %}{{ photo.rephotos.all.0.date|date:"F d, Y" }}{% else %}{{ photo.rephotos.all.0.created|date:"F d, Y" }}{% endif %}</p>
				</div>
				<div style="display:none;">
				{% for rephoto in photo.rephotos.all %}
					<div id="rephoto_meta_{{ rephoto.id }}">
					{% if rephoto.user.fb_name %}<p class="owner"><img style="padding-right: 10px;float: left;height: 30px;" src="{{ MEDIA_URL }}gfx/cc-at-sa.png" title="Creative Commons Attribution-ShareAlike" /><a href="{{ rephoto.user.fb_link }}" target="_blank"><img style="width:30px;height:30px;" src="http://graph.facebook.com/{{ rephoto.user.fb_id }}/picture?type=square" title="{{ rephoto.user.fb_name }}" /></a></p>{% endif %}
					<p style="float:right;"> {% if rephoto.date %}{{ rephoto.date|date:"F d, Y" }}{% else %}{{ rephoto.created|date:"F d, Y" }}{% endif %}</p>
					</div>
				{% endfor %}
				</div>
			</div>

			<div id="rephoto_content">
				<a href="{{ photo.rephotos.all.0.get_absolute_url }}"><img src="{{ rephoto.url }}" border="0" /></a>
			</div>
			<div style="display:none;">
			{% for rephoto in photo.rephotos.all %}
				<div id="rephoto_img_{{ rephoto.id }}">
				{% thumbnail rephoto.image "700x400" as image %}
					<a href="{{ rephoto.get_absolute_url }}"><img src="{{ image.url }}" border="0" /></a>
				{% endthumbnail %}
				</div>
			{% endfor %}
			</div>
		</div>

		<div class="tools">
			<ul class="thumbs">
				{% for rephoto in photo.rephotos.all %}
				<li class="photo"><a href="{{ rephoto.get_absolute_url }}" rel="{{ rephoto.id }}" title="{% if rephoto.user.fb_name %}{{ rephoto.user.fb_name }}{% endif %}"><img src="{% thumbnail rephoto.image "50x50" crop="center" as thumb %}{{ thumb.url }}{% endthumbnail %}" /></a></li>
				{% endfor %}
			</ul>
		</div>

	</div><!-- .rephoto -->

	{% empty %}

	<div class="no-rephoto">
		<p>{% trans "Make a contemporary rephoto from the very same place where the historic picture was taken and upload it." %}</p>

		<p class="add-rephoto-container">
			<a href="#" class="add-rephoto btn small" title="{% trans "Add rephoto" %}">{% trans "Add rephoto" %}</a>
		</p>

		<script>
			$('#photo-drawer .original img').load(function() {
				$('.no-rephoto').css('width', $(this).css('width') );
			});
		</script>
	</div>

	{% endthumbnail %}

</div>

<div id="notice-container" style="display: none">

	<div id="notice" style="width: 400px;">
		<script src="{{ MEDIA_URL }}js/jquery.html5_upload.js" type="text/javascript"></script>
		<script type="text/javascript">
        $(function() {
            $("#upload_field").html5_upload({
                autostart: true,
                stopOnFirstError: false,
                url: function(number) {
                    return '{% url views.photo_upload photo.pk %}';
                    //return prompt(number + " url", "/");
                },
                onBrowserIncompatible: function() {
                    $("#upload_field").attr('disabled', 'disabled');
                },
                sendBoundary: window.FormData || $.browser.mozilla,
                onStart: function(event, total) {
                    return confirm(interpolate(ngettext('You have selected one photo for uploading. Continue?', 'You have selected %s files for uploading. Continue?', total), [total]));
                },
                setName: function(text) {
                    $("#progress_report_name").text(text);
                },
                setStatus: function(text) {
                    $("#progress_report_status").text(text);
                },
                setProgress: function(val) {
                    $("#progress_report_bar").css('width', Math.ceil(val*100)+"%");
                },
                onFinish: function(event, response, name, number, total) {
                    uploadCompleted();
                }
            });
        });
		</script>

		<p>{% trans "Make a contemporary rephoto from the very same place where the historic picture was taken and upload it." %}</p>

		{% if request.user.is_authenticated and request.user.get_profile.fb_id %}
			{% with profile=request.user.get_profile user=request.user %}
			<p>{% blocktrans with "<a href='/logout'>" as link_open and "</a>" as link_close and user.get_full_name as account_name %}Account ({{ account_name }}) connected with Facebook. If it's not you then {{ link_open }}click here{{ link_close }}.{% endblocktrans %}</p>
			<!--
			<a href="#" id="upload" class="btn green" onclick="$('#upload_field').click(); return false;">Vali pildifail</a>
			-->
			<input type="file" multiple="multiple" id="upload_field" />
			<!--<input type="button" id="upload_btn" value="Lae üles" onclick="$('#upload_field').trigger('html5_upload.start');" />-->
			<div id="progress_report">
				<div id="progress_report_name"></div>
				<div id="progress_report_status" style="font-style: italic;"></div>
				<div id="progress_report_bar_container" style="width: 90%; height: 5px;">
					<div id="progress_report_bar" style="background-color: blue; width: 0; height: 100%;"></div>
				</div>
			</div>
			{% endwith %}
		{% else %}
			<div id="facebook-connect">
				<p>{% trans "Rephoto uploading requires connecting your account with Facebook." %}</p>
				<a href="/facebook/login?next={{photo.get_absolute_url}}" class="ir">{% trans "Connect with Facebook" %}</a>
			</div>
		{% endif %}

		<p></p>
		<a href="javascript:void(0);" onclick="uploadCompleted();">{% trans "Close" %}</a>

	</div>

	<div id="uploadCompleted" class="notice">
		<h2>{% trans "Thank you!" %}</h2>

		<p>{% trans "Your file has been uploaded." %}</p>
	</div>
</div>
