{% extends 'layouts/game.html' %}
{% load thumbnail i18n %}

{% block content %}
<script type="text/javascript">
	var saveLocationURL = '{% url 'views.geotag_add' %}';
	var leaderboardUpdateURL = '{% url 'views.leaderboard' %}';
	var leaderboardFullURL = '{% url 'views.top50' %}';
	var permalinkURL = '{{ hostname }}/foto/';
	
    var city_id = '{{ filters.filters_by_name.city_lookup_filter.get_option_object.id }}';
	{% if filters.filters_by_name.city_lookup_filter.get_option_object %}
	var start_location = [{{ filters.filters_by_name.city_lookup_filter.get_option_object.lon }}, {{ filters.filters_by_name.city_lookup_filter.get_option_object.lat }}];
	{% else %}
	var start_location = [26, 59];
	{% endif %}
	var language_code = '{{ LANGUAGE_CODE }}';
	
</script>

<div id="game">
    <div id="game-choice-window-container" style="display: none;">
        <div id="game-choice-window">
            <p>{% trans "You have seen all the pictures we have for this area" %}</p>
            <a href="#" id="load-untagged-button" class="btn green">{% trans "Load untagged" %}</a>
            <a href="#" id="load-from-all-button" class="btn green">{% trans "Load all (no points)" %}</a>
        </div>
    </div>

	<div id="top">
        
        <h1 class="ir"><a href="/?city__pk={{ filters.filters_by_name.city_lookup_filter.get_option_object.id }}">{% trans "Timepatch (Ajapaik)" %}</a></h1>        
        
		<div class="score_container">

			<h2><a id="full_leaderboard" href="#">{% trans "Leaderboard" %}</a></h2>

			<ul class="scoreboard">
			</ul>

			{% if request.user.is_authenticated and request.user.get_profile.fb_id or request.user.get_profile.google_plus_id %}
				{% with profile=request.user.get_profile user=request.user %}
				<div id="facebook-connected">
					<p>{% blocktrans with "<a href='/logout'>" as link_open and "</a>" as link_close and user.get_full_name as account_name %}Account ({{ account_name }}) connected. If it's not you then {{ link_open }}click here{{ link_close }}.{% endblocktrans %}</p>
				</div>
				{% endwith %}
			{% else %}
				<div id="facebook-connect">
					<p>{% trans "Facebook Connect to save your score and continue later." %}</p>
					<a href="/facebook/login" class="ir">{% trans "Connect with Facebook" %}</a>
				</div>
                <div id="google-plus-connect">
					<p>{% trans "Connect with Google plus to save your score and continue later." %}</p>
					<a href="/google_login">{% trans "Connect with Google+" %}</a>
				</div>
			{% endif %}

		</div>
        
        <div class="filter-box">
            {{ filters.get_form.as_p }}
        </div>        
        
	</div>

	<div id="tools">
		<a id="save-location" href="#" class="btn green">{% trans "Save location" %}</a>
		<a id="close-location-tools" href="#" class="btn medium">{% trans "Close map" %}</a>
        <div id="map_canvas" style="width:100%; height:100%"></div>
	</div>

	<div id="photos"></div>

	<a id="skip-photo" href="#" class="skip-photo">{% trans "Next photo" %} &rarr;</a>

	<a id="back-home" href="/">&larr; {% trans "Back to home page" %}</a>

	<div id="btm">
		<div id="open-location-tools-container">
			<a id="open-location-tools" href="#" class="btn green">{% trans "Pick the shooting location!" %}</a>
		</div>
	</div>

	<div id="notice" style="display: none;">
		<h2>{% trans "Thank you!" %}</h2>
		<p class="message"></p>
		<a id="continue-game" href="" class="btn small">{% trans "Next photo" %}</a>
	</div>
	
	<div style="display: none;">
		<div id="leaderboard_browser">
			<div class="single">
				<a style="position:absolute;top:5px;right:10px;" href="javascript:void(0);" onclick="$.modal.close();">{% trans "Close" %}</a>
				<div class="score_container">
					<ul class="scoreboard" style="max-height:300px;overflow-y:auto;padding-right:10px;"></ul>
				</div>
			</div>
		</div>
	</div>
	
	<div id="full-photos"></div>

</div>

{% endblock %}
