{% extends 'layouts/slim.html' %}
{% load thumbnail i18n %}

{% block content %}
<script type="text/javascript">
	var city_id = '{{ city.id }}';
	var map;
	var heatmap;
	function initialize() {
		{% if photo_lon and photo_lat %}
		map = get_map([{{ photo_lon }}, {{ photo_lat }}], 14);
		{% else %}
			{% if city %}
			map = get_map([{{ city.lon }}, {{ city.lat }}], 13);
			{% else %}
			map = get_map();
			{% endif %}
		{% endif %}
		var geotagged_photos={{ json_data|safe }};
		
		var pointArray;
		var taxiData = [];
		for (i in geotagged_photos) {
			taxiData.push(new google.maps.LatLng(geotagged_photos[i][1], geotagged_photos[i][0]));
		}
		pointArray = new google.maps.MVCArray(taxiData);

		heatmap = new google.maps.visualization.HeatmapLayer({
			data: pointArray
		});
		heatmap.setOptions({radius: 50, dissipating: true});

		heatmap.setMap(map);
		
		{% if photo_lon and photo_lat %}
		var marker = new google.maps.Marker({
			position: new google.maps.LatLng({{ photo_lat }}, {{ photo_lon }}),
			map: map,
			draggable: false
		});
		{% endif %}
		
		google.maps.event.addListener(map, 'zoom_changed', function() {
			//var zoomLevel = map.getZoom();
			//heatmap.setOptions({radius: 4*zoomLevel});
		});
	};
	$(document).ready(initialize);
</script>

<div id="game">

	<div id="top"></div>

	<div id="tools" style="left:0px;width:100%;display:block;">
        <div id="map_canvas" style="width:100%; height:100%;display:block;"></div>
	</div>

	<div id="btm"></div>

</div>

{% endblock %}
