{% extends 'layouts/game.html' %}
{% load thumbnail i18n %}

{% block content %}
<script>
	var saveLocationURL = '{% url views.geotag_add %}';
</script>

<div id="game">

	<div id="top">
		<div id="score-container">

			<h2>Osavamad paikajad</h2>

			<ul id="scoreboard">
				<li class="clearfix first"><span class="position">1.</span>	<span class="photo"><img src="http://graph.facebook.com/100000812606172/picture?type=square" /></span>	<span class="name">Sherri E. Melton</span> <span class="score">XXX</span></li>
				<li class="clearfix"><span class="position">24.</span>		<span class="photo"><img src="http://graph.facebook.com/100000192728033/picture?type=square" /></span>	<span class="name">Malcolm Wagner</span> <span class="score">XXX</span></li>
				<li class="clearfix"><span class="position">24.</span>		<span class="photo"><img src="http://graph.facebook.com/100000192728033/picture?type=square" /></span>	<span class="name">Malcolm Wagner</span> <span class="score">XXX</span></li>
				<li class="clearfix you"><span class="position">25.</span>	<span class="photo"><img src="http://graph.facebook.com/100000812606172/picture?type=square" /></span>	<span class="name">Sinu punktid</span> <span class="score">{% if request.user.is_authenticated %}{{ request.user.get_profile.score }}{% endif %}</span></li>
				<li class="clearfix"><span class="position">26.</span>		<span class="photo"><img src="http://graph.facebook.com/100000812606172/picture?type=square" /></span>	<span class="name">Patricia A. Mangum</span> <span class="score">XXX</span></li>
				<li class="clearfix"><span class="position">26.</span>		<span class="photo"><img src="http://graph.facebook.com/100000812606172/picture?type=square" /></span>	<span class="name">Patricia A. Mangum</span> <span class="score">XXX</span></li>
			</ul>

		<div>

			<div id="facebook-connect">
				{% if request.user.is_authenticated and request.user.get_profile.fb_id %}
				{% with profile=request.user.get_profile user=request.user %}
				<p>Konto seotud Facebookiga ({{ user.get_full_name }}).</p>
				{% endwith %}
				{% else %}
				<p>Oma skoori salvestamiseks ning hiljem jätkamiseks ühenda konto Facebookiga.</p>
				<a href="/facebook/login" class="ir">Connect with Facebook</a>
				{% endif %}
			</div>

			</div>

		</div>
	</div>

	<div id="tools">
		<a id="save-location" href="#" class="btn green">Salvesta asukoht</a>
		<a id="close-location-tools" href="#" class="btn small">Sulge kaart</a>
        <div id="map_canvas" style="width:100%; height:100%"></div>
	</div>

	<div id="photos">
	</div>
	<a id="skip-photo" href="#" class="skip-photo">Järgmine foto &rarr;</a>

	<div id="btm">
		<div id="open-location-tools-container">
			<a id="open-location-tools" href="#" class="btn green">Tean asukohta!</a>
		</div>
	</div>

	<div id="notice" style="display: none;">
		<h2>Aitäh!</h2>
		<p class="message"></p>
		<a id="continue-game" href="" class="btn small">Edasi</a>
	</div>

</div>

{% endblock %}
