{% extends 'layouts/frontpage.html' %}
{% load thumbnail %}
{% block content %}
    
    <div id="wheel" style="width:100%;height:330px;border:1px solid #000;">
        {% for photo in photos %}
        {% thumbnail photo.image "160x160" as im %}
        <div class="image" style="width:160px;height:160px;border:1px solid #aaa;float:left;"><a href="{% thumbnail photo.image "510x375" as bim %}{{ bim.url }}{% endthumbnail %}"><img src="{{ im.url }}" /></a></div>
        {% endthumbnail %}
        {% endfor %}
    </div>
    
    <div style="width:510px;height:510px">
        <img id="current_image" src="" />
    </div>
    
    <div id="map_canvas">
    
    </div>
    
    <script type="text/javascript">
        $('#wheel>div>a').click(function(){
            $('#current_image').attr('src', $(this).attr('href'));
            return false;
        });
    </script>
    
{% endblock %}