{% extends 'layouts/frontpage.html' %}
{% load thumbnail i18n %}
{% block content %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.quicksand.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true&region=ET"></script>
    
    <div style="display:none;">
			<div class="map">

				<div class="close"><a href="close-map-cancel-tagging" class="ir">Katkesta</a></div>

				<div class="save-container">
					<div class="button">
						<a href="#" class="save btn">Salvesta</a>
					</div>
				</div>

				<div class="map_canvas" style="width:510px;height:510px;"></div>
			
			</div>    
    </div>
    
    <div style="display:none">
	<div class="wheel_item" id="wheel_ghost">
<!--

			<div class="message yes" style="visibility: hidden;">

				<div class="container">

					Aitäh! Õige vastus!

					<div class="button">
						<a href="tean-asukohta" class="btn">Edasi</a>
					</div>

				</div>

			</div>
-->
        <div class="cell" style="width:165px;float:left;margin:5px;">
		<div class="wheel_small thumb" style="padding:0px;border:7px solid #fff;position:relative;">
			<div class="status no"></div>
			<img class="small" style="width:100%;height:100%;position:absolute;top:0px;left:0px" />
			<img class="big" style="width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:100" />
			
			<div class="controls" style="display:none;z-index:101;position:absolute;width:100%;">
    			<p class="description"></p>
    			<!-- <a href=""><img src="" /></a> -->
    			<p class="controls">
    				<a href="#" class="next btn">Tean asukohta!</a>
    				<div class="skip"><a href="#">Jätan vahele</a></div>
    			</p>
			</div>
			
		</div>
		</div>
    </div>    
    </div>
    
	<div id="photos" style="height:600px;width:905px;">
	</div>

    <script type="text/javascript">
        Wheel = function(container) {
            this._stack = [];
            this._container = container;
            this._idx = 0;
            this._current = null;
        };
        Wheel.prototype = {
            addData: function(pictures_json) {
                $.merge(this._stack, pictures_json);
            },
            
            setTagged: function(lat, lon) {
                var frame = this.getCurrent();
                
                var data = {
                    photo_id: frame['id']
                };
                if (lat && lon) {
                    data['lat'] = lat;
                    data['lon'] = lon;
                }
                $.getJSON('{% url views.geotag_add %}', data, function(){
                    
                });
            },
            
            fetchItems: function(doUpdate) {
                var self = this;
                $.getJSON('{% url views.fetch_stream %}', {}, function(data) {
                    var ids = {};
                    $.each(self._stack, function(i, val) { ids[val.id] = true; });
                    $.each(data, function(i, item) {
                        if(!ids[item.id]) {
                            self._stack.push(item);
                        }
                    });
                    if(doUpdate)
                        self.update();
                });
            },
            advance: function() {
                this._idx = Math.max(0, Math.min(this._idx + 1, this._stack.length-1));
                var remaining = this._stack.length - this._idx - 1;

                if(remaining < 2) {
                    this.fetchItems();
                }
                
                this.update();
            },
            
            getCurrent: function() {
                return this._stack[this._idx];
            },
            
            getPrev: function () {
                return this._stack.slice(Math.max(0, this._idx - 1), this._idx);
            },
            getNext: function () {
                return this._stack.slice(this._idx+1, Math.min(this._stack.length, this._idx+2));
            },
            
            getCurrentEl: function() {
                return $('#photos').find("div[data-current='1']");
            },
            
            animateTo: function(el, toOpen, callback) {
                if(el.size() == 0) {
                    if(callback) callback();
                    return;
                }
                //console.log("animate element %o", el.get(0))
                var id = parseInt(el.attr('data-id'));
                var data = null;
                for(var i = 0; i < this._stack.length; i++) {
                    var item = this._stack[i];
                    if(item.id == id) {
                        data = item;
                        break;
                    }
                }
                var target = toOpen ? data.big : data.small;
                //console.log("animate to %o", target.size);
                
                $(el).animate({width: (toOpen?target.size[0]:160)+14, height: (toOpen?target.size[1]:160)+14}, 250, 'linear');
                $('.wheel_small', el).animate({width: target.size[0], height: target.size[1]}, 250, 'linear', callback);
            },
            
            buildElements: function() {
                var base = $('<div></div>');
                
                function addElement(value, isCurrent) {
                    var cloneSource = $('#wheel_ghost .cell');
                    var element = cloneSource.clone();
                    element.attr('data-id', value.id);
                    if(isCurrent) {
                        element.attr('data-current', '1');
                    }
                    $('img.small', element).attr({src: value.small.url});
                    $('img.big', element).attr({src: value.big.url})
                    $('.wheel_small',element).css({width: value.small.size[0], height: value.small.size[1]});
                    base.append(element);
                }
                $.each(this.getPrev(), function(i, value) { addElement(value, false); });
                addElement(this.getCurrent(), true);
                $.each(this.getNext(), function(i, value) { addElement(value, false); });
                return base;
            },
            
            update: function(){
                var self = this;
                
                //console.log("Elements %o <- %o", dest, els);
                $('.controls',self.getCurrentEl()).hide();

                self.animateTo(self.getCurrentEl(), false, function() {
                    //console.log("close animation complete");
                    var el = self.buildElements();
                    var els = el.children();
                    var dest = $('#photos');
                    dest.quicksand(els, {adjustHeight: 'none', easing: 'linear', duration: 250}, function() {
                        //console.log("quicksand done");
                        self.animateTo(self.getCurrentEl(), true, function(){
                            $('.controls',self.getCurrentEl()).show();
                        });
                    });
                });
            }
        
        };
        
        var wheel = new Wheel($('#wheel'));
        wheel.fetchItems(true);
        
        $('#photos').delegate('.skip > a', 'click', function() {
            wheel.setTagged();
            wheel.advance();
        })
        $('#photos').delegate('img', 'click', function() {
            wheel.setTagged();
            wheel.advance();
        })
        
        
        // MAP
        var tallinn = new google.maps.LatLng(59.435474, 24.750309);
        var form = $('#geotag_form');
        
        var options = {
            zoom: 13,
            center: tallinn,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }    
    
        function toggleBounce() {
            if (marker.getAnimation() != null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
        
        $('#photos').delegate('.next', 'click', function() {
            $.fancybox({
                autoDimensions: false,
                width: 510,
                height: 510,
                content: $('.map').html(),
                onComplete: function(){
                    var map = new google.maps.Map($('#fancybox-content .map_canvas').get(0), options);
                    var marker = new google.maps.Marker({
                        map:map,
                        draggable:true,
                        animation: google.maps.Animation.DROP,
                        position: tallinn
                    });
/*
                    google.maps.event.addListener(marker, 'dragend', function(){
                        wheel.setTagged(this.getPosition().lat(), this.getPosition().lng());
                        /// thanks
                    });
*/
                    google.maps.event.addListener(marker, 'click', toggleBounce);
                    
                    $('.save:visible', $(this).content).click(function(){
                        wheel.setTagged(marker.getPosition().lat(), marker.getPosition().lng());
                        $.fancybox.close();
                        return false;
                    });
                }
            });
            return false;
        });
    </script>    
    


<div id="KRISTJAN" class="clearfix ir">

<!--
    <div id="wheel" style="width:100%;height:330px;border:1px solid #000;">
        {% for photo in photos %}
        {% thumbnail photo.image "160x160" as im %}
        <div class="image" style="width:160px;height:160px;border:1px solid #aaa;float:left;"><a id="photo_{{ photo.id }}" href="{% thumbnail photo.image "510x375" as bim %}{{ bim.url }}{% endthumbnail %}"><img src="{{ im.url }}" /></a></div>
        {% endthumbnail %}
        {% endfor %}
    </div>


    <div style="width:510px;height:510px">
        <img id="current_image" src="" />
    </div>


    <div id="map_canvas" style="width:512px;height:320px;">
    
    </div>
    
    <form id="geotag_form" action="{% url views.thegame %}" method="post">
        {{ geotag_form.as_p }}
        <input type="submit" value="{% trans "Salvesta" %}" />
    </form>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>    
    <script type="text/javascript">
        // create stack from dom elements
        // later to be replaced by json from ajax
        function create_stack(images) {
            var data = [];
            $(images).each(function(idx,img) {
                data.push({
                    'id': $(img).find('a').attr('id'),
                    'big_image': $(img).find('a').attr('href'),
                    'small_image': $(img).find('img').attr('src')
                });
            });
            return data;
        }
        // Temporary event creator
        function show(num) {
            wheel.setTagged(true);
            wheel.advance();
        }
        
        
        Wheel = function(container) {
            this._stack = [];
            this._container = container;
            this._idx = 0;
            
            // Display settings
            this.total_cells = 5;
            this.selected_cell = 3;
        };
        Wheel.prototype = {
            addData: function(pictures_json) {
                $.merge(this._stack, pictures_json);
            },
            
            setTagged: function() {
                var frame = this.getCurrent();
                frame['tagged'] = true;
            },
            
            advance: function() {
                this._idx++;
                if (this._idx > this._stack.length-1) this._idx = this._stack.length-1;
                if (this._idx < 0) this._idx = 0;
                
                this.update();
            },
            
            getCurrent: function() {
                return this._stack[this._idx];
            },
            
            update: function(){
                // render stuff
                var data = this.getCurrent();
                var selected = $('#'+data['id']);
                var img = $(selected).find('img');
                
                var w = img.width();
                var h = img.height();
                img.css({
                    width: w,
                    height: h
                }).attr('src', data['big_image']);
                
                $(selected).find('img').animate({
                    width: 510,
                    height: 375,
                });
            }
        
        };
        
        var wheel = new Wheel($('#wheel'));
        $.getJSON('{% url views.fetch_stream %}', function(data){
            wheel.addData(data);
            wheel.update();
        });
    </script>
    
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true&region=ET"></script>
    <script type="text/javascript">
        var tallinn = new google.maps.LatLng(59.435474, 24.750309);
        var form = $('#geotag_form');
        
        var options = {
            zoom: 13,
            center: tallinn,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }    
    
        function toggleBounce() {
            if (marker.getAnimation() != null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
        
        $('#wheel>div>a').click(function(){
            $('#current_image').attr('src', $(this).attr('href'));
            form.find('[name="photo_id"]').val($(this).attr('id').substr(6));
            
            var map = new google.maps.Map(document.getElementById("map_canvas"), options);        
            marker = new google.maps.Marker({
                map:map,
                draggable:true,
                animation: google.maps.Animation.DROP,
                position: tallinn
            });
            google.maps.event.addListener(marker, 'dragend', function(){
                form.find('[name="lat"]').val(this.getPosition().lat());
                form.find('[name="lon"]').val(this.getPosition().lng());
            });
            google.maps.event.addListener(marker, 'click', toggleBounce);
            
            return false;
        });
    </script>
-->

</div>
    
{% endblock %}
