{% extends "base.html" %}
{% load i18n %}

{% block layout %}
<script type="text/javascript">
	var map;
	function initialize() {
		// Will load the base map layer and return it
		{% if city %}
		map = get_map([{{ city.lon }}, {{ city.lat }}]);
		{% else %}
		map = get_map();
		{% endif %}

		var geotagged_photos={{ json_data|safe }};
		var markers = [];
		for (var i in geotagged_photos) {
			var p=geotagged_photos[i];
			var marker = new google.maps.Marker({
					map: map,
					id: p[0],
					thumb: p[1],
					position: new google.maps.LatLng(p[3],p[2]), 
					zIndex: p[4] ? 1 : 0,
					icon:'/media/images/' + (p[4] ? 'icon_camera_hot.png' : 'icon_camera.png')});
			
			(function(id) {
				google.maps.event.addListener(marker, 'click', function() {
					loadPhoto(id);
				});
			})(p[0]);
			markers.push(marker);
		}
		var markerCluster = new MarkerClusterer(map, markers, {gridSize: 40, zoomOnClick: false});
		google.maps.event.addListener(markerCluster, 'clusterclick',
			function(clickedCluster){
				var markers = clickedCluster.getMarkers();
				var browser_content = '';
				var i = 0;
				for (marker in markers) {
					browser_content += '<div class="item'+ (markers[marker].zIndex ? ' hot' : '') +'"><a href="javascript:void(0);" onclick="loadPhoto('+ markers[marker].id +');$.modal.close();"><img src="'+ markers[marker].thumb +'" border="0" /></a></div>';
					if (++i >=20) {
						break;
					}
				}
				$('#photo_browser #browser_list').html(browser_content);
				$('#photo_browser').modal();
			});
	};
	$(document).ready(initialize);
</script>

<div id="browse">

	<div class="top">

		<h1 class="ir"><a href="/?city={{city_select_form.cleaned_data.city}}">Ajapaik</a></h1>

		<ul id="nav"></ul>
        
        <div id="city_select">
            {{ city_select_form.as_p }}
            <script type="text/javascript">
                $('#id_city').change(function() {
                    location.href = '{{ request.path }}?city=' + $(this).val();
                });
            </script>
        </div>
	</div>

	<div id="photo-drawer">
	</div>

	<div class="map">
		<div id="map_canvas" style="width: 100%; height: 100%"></div>
	</div>

</div>

<div style="display: none;">
	<div id="photo_browser">
		<div id="browser_list"></div>
		<a style="clear:both;" href="javascript:void(0);" onclick="$.modal.close();">Sulge</a>
	</div>
</div>

<script type="text/javascript" src="{{ MEDIA_URL }}js/browse.js"></script>

{% endblock layout %}
