{% extends "base.html" %}
{% load i18n %}

{% block layout %}
<div id="content" class="clearfix map" style="width:100%; height:100%">
    <script type="text/javascript">
        var map;
        function initialize() {
            // Will load the base map layer and return it
            map = get_map();
        
        	var geotagged_photos={{ json_data }};
        
        	for (var i in geotagged_photos) {
        		var p=geotagged_photos[i];
        		var marker = new google.maps.Marker({map: map,
        				position: new google.maps.LatLng(p[2],p[1]), 
        				zIndex: p[3] ? 1 : 0,
        				icon:'/media/images/' + (p[3] ? 'icon_camera_hot.png' : 'icon_camera.png')});
                
                (function(id) {
                google.maps.event.addListener(marker, 'click', function() {
                    $.ajax({
                        cache: false,
                        url: '/foto/'+id+'/',
                        success: function(result) {
                            $.fancybox({
                                content: result,
                                overlayColor: '#fff',
                                overlayOpacity: .7
                            });
                        }
                    });
                });
                })(p[0]);
            }
        };
        $(document).ready(initialize);
    </script>
    <div id="map_canvas" style="width:100%; height:100%"></div>
</div>

<script type="text/javascript" src="{{ MEDIA_URL }}js/browse.js"></script>

{% endblock layout %}
