{% extends 'base.html' %}
{% load thumbnail i18n %}
{% block layout %}
<div id="browse_scroll">
    <div class="top">

        <h1 class="ir"><a href="/?city__pk={{ photo.city_id }}">{% trans "Timepatch (Ajapaik)" %}</a></h1>

        <ul id="nav">
        </ul>

		{% get_language_info for LANGUAGE_CODE as lang %}
		<div style="top: -20px;position: relative;">
			<form style="display:inline;" action="/i18n/setlang/" method="post">
				{% csrf_token %}
				<div id="langmenu">
					<div>{{ lang.code|upper }}</div>
					<input name="next" type="hidden" value="{{ redirect_to }}" />
					<select id="language" name="language" onchange="this.form.submit();">
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
						<option value="{{ language.code }}" title="{% trans language.name %} ({{ language.name_local }}) - {{ language.code|upper }}"{% if language.code == lang.code %} selected="selected"{% endif %}>{{ language.name_local|title }}</option>
						{% endfor %}
					</select>
				</div>
				<span id="langlabel">{% trans "Choose language" %}:</span>
			</form>
		</div>
    </div><!-- .top -->

    <div id="content" class="single">
        <div class="photos clearfix">
            <div class="original photo-item">
                <span class="framed rounded">
                    <a class="fullscreen" id="full-thumb1" rel="{{ photo.id }}" href="{{ photo.get_absolute_url }}"><img src="{% url 'views.photo_url' photo.id %}" border="0" /></a>
                </span>
                <div class="tools">
                    <div class="description">
                        <p>{{ photo.description }}</p>
						<p class="owner">
						{% if photo.source_url %}
							<a href="{{ photo.source_url }}" target="_blank">{{ photo.source.description }}{% if photo.source_key %} {{ photo.source_key }}{% endif %}</a>
						{% else %}
							{{ photo.source.description }}{% if photo.source_key %} {{ photo.source_key }}{% endif %}
						{% endif %}
						</p>
                    </div>
                </div>
            </div><!-- .original.photo-item -->

            {% if rephoto.image %}

            <div class="rephoto photo-item">
                <div class="container">
                    <div class="meta">
                        <div class="content" id="meta_content">
							{% if rephoto.user.fb_name %}<p class="owner"><img style="padding-right: 10px;float: left;height: 30px;" src="{{ MEDIA_URL }}gfx/cc-at-sa.png" title="Creative Commons Attribution-ShareAlike" /><a href="{{ rephoto.user.fb_link }}" target="_blank"><img style="width:30px;height:30px;" src="http://graph.facebook.com/{{ rephoto.user.fb_id }}/picture?type=square" title="{{ rephoto.user.fb_name }}" /></a></p>{% endif %}
							<p style="float:right;"> {% if rephoto.date %}{{ rephoto.date|date:"F d, Y" }}{% else %}{{ rephoto.created|date:"F d, Y" }}{% endif %}</p>
                        </div>
                    </div>
					<a class="fullscreen" id="full-thumb2" rel="{{ rephoto.id }}" href="{{ rephoto.get_absolute_url }}"><img src="{% url 'views.photo_url' rephoto.id %}" border="0" /></a>
                </div>
                <div class="tools">
                    <ul class="thumbs">
                        {% for rephoto_item in photo.rephotos.all %}
                        <li class="photo{% if rephoto_item.id == rephoto.id %} current{% endif %}"><a href="{{ rephoto_item.get_absolute_url }}" title="{% if rephoto_item.user.fb_name %}{{ rephoto_item.user.fb_name }}{% endif %}"><img src="{% url 'views.photo_thumb' rephoto_item.id %}" width="50" border="0" /></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- .rephoto -->

			<div class="browse-nav">
				<a href="{{ photo.get_absolute_url }}" class="btn green medium" title="{% trans "Add rephoto" %}">{% trans "Add rephoto" %} ({{ photo.rephotos.count }})</a>
				<a href="{{ photo.get_heatmap_url }}" class="btn medium green iframe" title="{% trans "Heat map" %}">{% trans "Heat map" %}</a>
				{% if photo.city.lat and photo.city.lon %}
				<a href="/kaart/?city__pk={{ photo.city_id }}" class="btn medium green" title="{{ photo.city }}">{{ photo.city }}</a>
				{% endif %}
			</div>

			{% else %}

			<div class="no-rephoto">
                <script src="{{ MEDIA_URL }}js/libs/jQuery-File-Upload-9.7.0/js/vendor/jquery.ui.widget.js"></script>
                <script src="{{ MEDIA_URL }}js/libs/jQuery-File-Upload-9.7.0/js/jquery.iframe-transport.js"></script>
                <script src="{{ MEDIA_URL }}js/libs/jQuery-File-Upload-9.7.0/js/jquery.fileupload.js"></script>
                <script type="text/javascript">
                    /*jslint unparam: true */
                    /*global window, $ */
                    $(function () {
                        'use strict';
                        var url = '{% url 'views.photo_upload' photo.pk %}';
                        $('#fileupload').fileupload({
                            url: url,
                            dataType: 'json',
                            done: function (e, data) {
                                uploadCompleted($.parseJSON(data));
                            },
                            progressall: function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                $('#progress').find('.progress-bar').css(
                                    'width',
                                    progress + '%'
                                );
                            }
                        }).prop('disabled', !$.support.fileInput)
                            .parent().addClass($.support.fileInput ? undefined : 'disabled');
                    });
                </script>

				<p>{% trans "Make a contemporary rephoto from the very same place where the historic picture was taken and upload it." %}</p>

				{% if request.user.is_authenticated and request.user.get_profile.fb_id %}
					{% with profile=request.user.get_profile user=request.user %}
					<p>{% blocktrans with "<a href='/logout'>" as link_open and "</a>" as link_close and user.get_full_name as account_name %}Account ({{ account_name }}) connected with Facebook. If it's not you then {{ link_open }}click here{{ link_close }}.{% endblocktrans %}</p>
                    <span class="btn btn-success fileinput-button">
                        <span>{% trans "Select file..." %}</span>
                        <input id="fileupload" type="file" name="user_file[]">
                    </span>
                    <br>
                    <br>
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <br>
					{% endwith %}
				{% else %}
					<div id="facebook-connect" align="center">
						<p>{% trans "Rephoto uploading requires connecting your account with Facebook." %}</p>
						<a href="/facebook/login?next={{ request.path|urlencode }}" class="ir">{% trans "Connect with Facebook" %}</a>
					</div>
				{% endif %}
		
				<div class="tools">
					<ul class="thumbs">
						{% for rephoto in photo.rephotos.all %}
						<li class="photo"><a href="{{ rephoto.get_absolute_url }}" title="{% if rephoto.user.fb_name %}{{ rephoto.user.fb_name }}{% endif %}"><img src="{% url 'views.photo_thumb' rephoto.id %}" width="50" border="0" /></a></li>
						{% endfor %}
					</ul>
				</div>
			</div><!-- .no-rehpoto -->

			<div class="browse-nav">
				<a href="{{ photo.get_absolute_url }}" onclick="jQuery('.no-rephoto').fadeOut(300).fadeIn(150);return false;" class="btn green medium" title="{% trans "Add rephoto" %}">{% trans "Add rephoto" %} ({{ photo.rephotos.count }})</a>
				<a href="{{ photo.get_heatmap_url }}" class="btn medium green iframe" title="{% trans "Heat map" %}">{% trans "Heat map" %}</a>
				{% if photo.city.lat and photo.city.lon %}
				<a href="/kaart/?city__pk={{ photo.city_id }}" class="btn medium green" title="{{ photo.city }}">{{ photo.city }}</a>
				{% endif %}
			</div>
			{% endif %}
        </div><!-- .photos -->

		<h2 class="add_comment">{% trans "Add comment" %}</h2>
        <ul class="tabs clearfix">
            <li><a href="#">{% trans "Historic photo" %} (<fb:comments-count href="{{ hostname }}{{ photo.get_detail_url }}"></fb:comments-count>)</a></li>

			{% if rephoto %}
            <li><a href="#">{% trans "Selected rephoto" %} (<fb:comments-count href="{{ hostname }}{{ rephoto.get_detail_url }}"></fb:comments-count>)</a></li>
			{% endif %}

			{% comment %}
			{% if photo.lat and photo.lon %}
			<li><a href="#">{% trans "Map" %}</a></li>
			{% endif %}
			{% endcomment %}
        </ul>
        
        <div class="panes">
            <div class="pane">
                <div class="photo-socials">
                    <div>
                        <fb:like href="{{ hostname }}{{ photo.get_detail_url }}" send="true" width="500" show_faces="true" action="recommend"></fb:like>
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <fb:comments href="{{ hostname }}{{ photo.get_detail_url }}" num_posts="3" width="500"></fb:comments>
                    </div>
                </div>
            </div>

			{% if rephoto %}
			<div class="pane">
				<div class="photo-socials">
					<div>
						<fb:like href="{{ hostname }}{{ rephoto.get_detail_url }}" send="true" width="500" show_faces="true" action="recommend"></fb:like>
					</div>
					<div>&nbsp;</div>
					<div>
						<fb:comments href="{{ hostname }}{{ rephoto.get_detail_url }}" num_posts="3" width="500"></fb:comments>
					</div>
				</div>
			</div>
			{% endif %}

			{% comment %}
			{% if photo.lat and photo.lon %}
			<div class="pane">
				{% if photo.city.lat and photo.city.lon %}<a href="/kaart/?city={{ photo.city_id }}">{% endif %}<img src="http://maps.googleapis.com/maps/api/staticmap?sensor=false&size=500x250&scale=2&markers={{ photo.lat }},{{ photo.lon }}" border="0" width="500" />{% if photo.city.lat and photo.city.lon %}</a>{% endif %}
			</div>
			{% endif %}
			{% endcomment %}
		</div><!-- .panes -->
	</div><!-- #content -->

	<div class="full-box">
		<div class="full-pic" id="full-large1">
			<img src="{% url 'views.photo_large' photo.id %}" border="0" />
		</div>
		{% if rephoto %}
		<div class="full-pic" id="full-large2">
			<img src="{% url 'views.photo_large' rephoto.id %}" border="0" />
		</div>
		{% endif %}
	</div><!-- .full-box -->

</div><!-- #browse_scroll -->

<script type="text/javascript">
$(function() {
	$('.photos .original .framed img').load(function() {
		$('.no-rephoto').css('width', $(this).css('width') );
	});

	$("ul.tabs").tabs("div.panes > .pane", {effect: 'fade'});
	{% if rephoto %}
	$('ul.tabs li:nth-child(2) a').click();
	{% endif %}
	$('ul.tabs li a').click(function(){
		if (typeof FB != 'undefined') {
			// Firefox like box rendering fix
			FB.XFBML.parse();
		}
	});

	prepareFullscreen();
});
</script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/browse.js"></script>

{% endblock %}
