{% load thumbnail %}<div id="inlinecontent" class="clearfix photo">


{% thumbnail photo.image "700x400" as im %}
			<div class="photo-container" class="clearfix">

<table style="margin-bottom: 20px; table-layout: fixed;">
<tr>
    <td width="{{ im.width }}">
	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
</td>
{% for rephoto in photo.rephotos.all %}
{% thumbnail rephoto.image "700x400" as im2 %}
<td width="{{ im2.width }}">
	<img src="{{ im2.url }}" width="{{ im2.width }}" />
</td>
{% endthumbnail %}
{% endfor %}
</tr>
<tr>
<td colspan="99">
	<div class="description">
		{{ photo.description }}
		<p class="owner">Pilt on pärit Eesti Ajaloomuuseumi fotokogust.</p>
	</div>
	<div class="add-photo">
		<a href="javascript:return false;" class="btn small disabled">Lisa ülepildistus</a>
	</div>
</td>
</tr>
</table>


			</div>
{% endthumbnail %}

<!--
			<div class="controls">

				<ul class="thumbs clearfix">
				    {% for rephoto in photo.rephotos.all %}
					<li><a href=""><img src="{% thumbnail rephoto.image "40x40" crop="center" as im %}{{ im.url }}{% endthumbnail %}" width="40" /></a></li>
					{% endfor %}
					<li><a href="#" class="add-photo ir">Lisa refoto</a></li>
				</ul>

			</div>
-->

</div>
