{% load thumbnail %}<div id="inlinecontent" class="clearfix photo">

<!-- 		<div class="previous"><a href="previous">Eelmine</a></div> -->

		<div class="content">

{% thumbnail photo.image "700x400" as im %}
			<div class="photo-container" style="width: {{ im.width }}px;">

				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height}}" />

				<div id="description">
					<p>{{ photo.description }}</p>
					<p>{{ photo.date|default:"" }}</p>
				</div>

			</div>
{% endthumbnail %}

			<div class="controls">

				<ul class="thumbs">
				    {% for rephoto in photo.rephotos.all %}
					<li><a href=""><img src="{% thumbnail rephoto.image "60x" as im %}{{ im.url }}{% endthumbnail %}" width="60" /></a></li>
					{% endfor %}
					<li><a href="add-photo">Lisa refoto</a></li>
				</ul>

			</div>

		</div>

<!-- 		<div class="next"><a href="next">Järgmine</a></div> -->

</div>
