{% extends 'base.html' %}
{% load thumbnail %}

{% block layout %}
<div id="browse">
    <div class="top">

        <h1 class="ir"><a href="/">Ajapaik</a></h1>

        <ul id="nav">
        </ul>

    </div>

    <div class="single" style="top:7%;">
        <div class="photos clearfix">

            <div class="original photo-item">
                <span class="framed rounded">
                    {% thumbnail photo.image "700x400" as im %}
                    <a href="{{ photo.get_absolute_url }}"><img src="{{ im.url }}" /></a>
                    {% endthumbnail %}
                </span>
                <div class="tools">
                    <div class="description">
                        <p>{{ photo.description }}</p>
                        <p class="owner">{{ photo.source.name }}</p>
                    </div>
                </div>
            </div><!-- .original -->

            {% thumbnail rephoto.image "700x400" as im %}

            <div class="rephoto photo-item">
                <div class="container">
                    <div class="meta">
                        <div class="content" id="meta_content">
							<p style="margin-left:35px;"> {{ rephoto.created|date:"M d, Y" }}</p>
							{% if rephoto.user.fb_name %}<p class="owner"><a href="{{ rephoto.user.fb_link }}" target="_blank"><img style="width:30px;height:30px;" src="http://graph.facebook.com/{{ rephoto.user.fb_id }}/picture?type=square" /></a> {{ rephoto.user.fb_name }}</p>{% endif %}
                        </div>
                    </div>
                    <a href="{{ rephoto.get_absolute_url }}"><img id="rephoto_img" src="{{ im.url }}" /></a>
                </div>

                <div class="tools">
                    <ul class="thumbs">
                        {% for rephoto in photo.rephotos.all %}
                        <li class="photo"><a href="{{ rephoto.get_absolute_url }}" title="{% if rephoto.user.fb_name %}{{ rephoto.user.fb_name }}{% endif %}"><img src="{% thumbnail rephoto.image "50x50" crop="center" as thumb %}{{ thumb.url }}{% endthumbnail %}" /></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- .rephoto -->
			
			{% empty %}

			<div class="rephoto no-rephoto">
				<div class="tools">
					<ul class="thumbs">
						{% for rephoto in photo.rephotos.all %}
						<li class="photo"><a href="{{ rephoto.get_absolute_url }}" title="{% if rephoto.user.fb_name %}{{ rephoto.user.fb_name }}{% endif %}"><img src="{% thumbnail rephoto.image "50x50" crop="center" as thumb %}{{ thumb.url }}{% endthumbnail %}" /></a></li>
						{% endfor %}
					</ul>
				</div>
			</div>

			{% endthumbnail %}

        </div>
		<center>
			<fb:comments href="{{ hostname }}{% if rephoto %}{{ rephoto.get_detail_url }}{% else %}{{ photo.get_detail_url }}{% endif %}" num_posts="2" width="500"></fb:comments>
		</center>
    </div>
</div><!-- #browse -->


{% endblock %}