{% extends is_then_and_now|yesno:"then_and_now/base.html,base_bootstrap.html" %}

{% load i18n %}

{% block layout %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
 <h1>{% trans "Account Connections" %}</h1>
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>
<ul>
  {% for emailaddress in user.emailaddress_set.all %}
<li>{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="verified">{% trans "Verified" %}</span>
    {% else %}
    <span class="unverified">{% trans "Unverified" %}</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
</li>
  {% endfor %}
</ul>
<ul>
<li><a href="{% url 'account_email' %}">{% trans "Change" %} {% trans "e-mail address" %}</a></li>
<!--li><a href="{% url 'account_change_password' %}">{% trans "Change password" %}</a></li-->
</ul>


 <h2>{% trans "Social Accounts" %}</h2>

{% if form.accounts %}
<p>{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}</p>


<form method="post" action="{% url 'socialaccount_connections' %}">
{% csrf_token %}

<fieldset>
{% if form.non_field_errors %}
<div id="errorMsg">{{ form.non_field_errors }}</div>
{% endif %}

{% for base_account in form.accounts %}
{% with base_account.get_provider_account as account %}
<div>
<label for="id_account_{{ base_account.id }}">
<input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
<span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
{{ account }}
</label>
</div>
{% endwith %}
{% endfor %}

<div>
<button type="submit">{% trans 'Remove' %}</button>
</div>

</fieldset>

</form>

{% else %}
<p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
{% endif %}

<h2>{% trans 'Add a 3rd Party Account' %}</h2>

<ul class="socialaccount_providers">
{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</ul>

{% include "socialaccount/snippets/login_extra.html" %}
      </div>
   </div>
</div>
{% endblock %}
