{% extends 'core/base_bootstrap.html' %}
{% load i18n %}

{% block header %}
    {% include "core/_header.html" %}
{% endblock %}

{% block layout %}
    <div class='container pt-5'>
        <div class='col-12 pt-5'>
            <strong>Welcome to Ajapaik, a platform dedicated to aggregating historical photographs and crowdsourcing
                image
                data. By accessing and using our website ("Ajapaik"), you agree to comply with and be bound by the
                following terms and conditions of use. Please read these terms carefully before using our
                services.</strong>
            <br><br>
            <h3>1. Definitions</h3>
            <ul>
                <li>"Ajapaik" refers to the website, platform, and application operated by MTÜ EESTI FOTOPÄRAND, located
                    at
                    Harju maakond, Tallinn, Kesklinna linnaosa, Raekoja tn 6, 10146, and all its related services and
                    features.
                </li>
                <li>"User" refers to any person accessing or using Ajapaik.</li>
                <li>
                    "Content" refers to any text, images, data, or other materials uploaded, shared, or accessed on
                    Ajapaik.
                </li>
                <li>"GDPR" refers to the General Data Protection Regulation (EU) 2016/679.</li>
            </ul>
            <h3>2. Acceptance of Terms</h3>
            By using Ajapaik, you acknowledge that you have read, understood, and agree to abide by these Terms and
            Conditions, as well as our Privacy Policy. If you do not agree with any part of these terms, please do not
            use our services.
            <br><br>
            <h3>3. Data Collection and Usage</h3>
            Ajapaik is committed to GDPR compliance and the responsible handling of user data. We may collect and
            store non-sensitive, private data to provide our services. This includes the use of cookies and session
            storage, which are essential for the proper functioning of the website.

            <ul>
                <li>Cookies: Ajapaik uses cookies to improve user experience and functionality. By using our website,
                    you
                    consent to the use of cookies in accordance with our Privacy Policy.
                </li>

                <li>Session Storage: We use session storage to maintain user sessions and enhance performance during
                    your
                    visit
                    to Ajapaik.
                </li>

                <li>Location Data: Users have the option to share their location when using Ajapaik. This information is
                    used
                    to enhance the user experience and provide location-based features.
                </li>
            </ul>
            <h3>4. User-Generated Content</h3>
            Users can upload their historical photographs and share image data on Ajapaik. By uploading content, you
            grant Ajapaik a non-exclusive, worldwide, royalty-free license to use, display, and distribute the content
            for the purpose of operating and promoting the platform.

            Users are responsible for the accuracy, legality, and copyright compliance of the content they upload.
            Ajapaik reserves the right to remove any content that violates these terms or is deemed inappropriate.
            <br><br>
            <h3>5. User Responsibilities</h3>
            Users agree to use Ajapaik in compliance with applicable laws and regulations. You may not engage in any
            unlawful, fraudulent, or abusive activities while using our platform.
            <br><br>
            <h3>6. Contact Information</h3>
            If you have any questions or concerns regarding these Terms and Conditions or the use of Ajapaik, please
            contact us at <a href="mailto:info@ajapaik.ee">info@ajapaik.ee</a>.
            <br><br>
            <h3>7. Changes to Terms and Conditions</h3>
            Ajapaik reserves the right to update or modify these Terms and Conditions at any time without prior
            notice. Continued use of our services after such changes constitutes your acceptance of the updated terms.
            <br><br>
            <strong>Last updated: October 3, 2023</strong>
            <br><br>
            <strong>Thank you for using Ajapaik</strong>
        </div>
    </div>
{% endblock %}