{% load i18n comments comments_xtd %}

<ul class="media-list" id="comments">
    {% for comment in comment_list %}
        <li class="media" id="c{{ comment.id }}"
            style="margin-left:{{ comment.level }}00px; border-left:5px solid #ddd">
            <div class="media-left">
                <a href="{{ comment.url }}">
                    {% if comment.user.profile.fb_id or comment.user.profile.google_plus_picture %}
                        <img width="48" height="48"
                             src="{% if comment.user.profile.fb_id %}https://graph.facebook.com/v2.5/{{ comment.user.profile.fb_id }}/picture?type=square{% elif comment.user.profile.google_plus_picture %}{{ comment.user.profile.google_plus_picture }}{% endif %}"/>
                    {% else %}
                        {{ comment.user_email|xtd_comment_gravatar }}
                    {% endif %}
                </a>
            </div>
            <div class="media-body">
                <h6 class="media-heading">
                    {{ comment.name }}&nbsp;-&nbsp;{{ comment.submit_date|date:"d.m.Y H:i" }}
                    <a id="ajapaik-comments-like-button" data-id="{{ comment.pk }}"
                       href="{% url "comments-xtd-like" comment.pk %}"
                       data-like-count-url="{% url "comments-like-count" comment.pk %}"
                       data-dislike-count-url="{% url "comments-dislike-count" comment.pk %}">{% trans "Like" %}<span
                            id="ajapaik-comments-like-count-{{ comment.pk }}">{% if comment.like_count > 0 %}({{ comment.like_count }}){% endif %}</span></a>
                    <a id="ajapaik-comments-dislike-button" data-id="{{ comment.pk }}"
                       href="{% url "comments-xtd-dislike" comment.pk %}"
                       data-like-count-url="{% url "comments-like-count" comment.pk %}"
                       data-dislike-count-url="{% url "comments-dislike-count" comment.pk %}">{% trans "Dislike" %}<span
                            id="ajapaik-comments-dislike-count-{{ comment.pk }}">{% if comment.dislike_count > 0 %}({{ comment.dislike_count }}){% endif %}</span></a>
                    {% if comment.allow_thread %}
                        <a href="{{ comment.get_reply_url }}">{% trans "Reply" %}</a>
                    {% endif %}
                    {% if comment.user == user %}
                        <a href="#" data-action="delete" data-comment-id={{ comment.pk }}>{% trans "Delete" %}</a>
                    {% endif %}
                </h6>
                <p>{{ comment.comment|render_markup_comment }}</p>
            </div>
        </li>
    {% endfor %}
</ul>