{% load i18n comments comments_xtd %}

<ul class="media-list" id="comments">
    {% for comment in comment_list %}
        <li class="media" id="c{{ comment.id }}"
            style="margin-left:{{ comment.level }}00px; border-left:5px solid #ddd">
            <div class="media-left">
                <a href="{{ comment.url }}">
                    {% if comment.user.profile.fb_id or comment.user.profile.google_plus_picture %}
                        <img width="48" height="48"
                             src="{% if comment.user.profile.fb_id %}https://graph.facebook.com/v2.5/{{ comment.user.profile.fb_id }}/picture?type=square{% elif comment.user.profile.google_plus_picture %}{{ comment.user.profile.google_plus_picture }}{% endif %}"/>
                    {% else %}
                        {{ comment.user_email|xtd_comment_gravatar }}
                    {% endif %}
                </a>
            </div>
            <div class="media-body">
                <h6 class="media-heading">
                    {{ comment.name }}&nbsp;-&nbsp;{{ comment.submit_date|date:"d.m.Y H:i" }}
                    <a href="{% url 'comments-xtd-like' comment.pk %}" data-action="dislike" data-comment-id="{{ comment.pk }}">
                        {% trans "Like" %}
                        <span class="{% if comment.like_count <= 0 %}hidden{% endif %}" id="ajapaik-comments-like-count-{{ comment.pk }}">({{ comment.like_count }})</span>
                    </a>
                    <a href="{% url 'comments-xtd-dislike' comment.pk %}" data-action="dislike" data-comment-id="{{ comment.pk }}">
                        {% trans "Dislike" %}
                        <span class="{% if comment.dislike_count <= 0 %}hidden{% endif %}" id="ajapaik-comments-dislike-count-{{ comment.pk }}">({{ comment.dislike_count }})</span>
                    </a>
                    {% if comment.allow_thread %}
                        <a href="{{ comment.get_reply_url }}" data-action="reply" data-comment-id="{{ comment.pk }}">{% trans "Reply" %}</a>
                    {% endif %}
                    {% if comment.user == user %}
                        <a href="#"
                           data-action="delete"
                           data-comment-id="{{ comment.pk }}"
                           data-toggle="confirmation"
                           data-singleton="true"
                           data-popout="true"
                           data-title="{% trans 'Delete' %}"
                           data-content="{% trans 'Are you sure that you want to delete this comment and all replies?' %}"
                           data-btn-ok-label="{% trans 'Delete' %}"
                           data-btn-ok-class="btn-danger"
                           data-btn-cancel-label="{% trans 'Cancel' %}"
                           data-btn-cancel-class="btn-success">
                            {% trans "Delete" %}
                        </a>
                    {% endif %}
                </h6>
                <p>{{ comment.comment|render_markup_comment }}</p>
                <div class='form-group comment-reply-form-{{ comment.pk }} hidden'>
                    <form method="POST" action="#" class="form-horizontal">
                        {% csrf_token %}
                        <input type="hidden" name="reply_to" value="{{ comment.pk }}">
                        <input type="hidden" name="next" value="{{ photo.get_detail_url }}"/>
                        <input type="hidden" name="name" value="{{ user.get_full_name|default:user.username }}"/>
                        <input type="hidden" name="email" value="{{ user.email }}"/>
                        <div style="display:none">{{ form.honeypot }}</div>
                        {{ reply_form.content_type }}
                        {{ reply_form.object_pk }}
                        {{ reply_form.timestamp }}
                        {{ reply_form.security_hash }}
                        <div class="alert alert-danger hidden" data-comment-element="errors"></div>
                        <div class="col-md-11 pull-right">
                            <div class='form-group comment-box'>
                                <textarea cols="40" maxlength="3000" name="comment" placeholder="{% trans 'supports Markdown' %}" rows="10"></textarea>
                            </div>
                            <div class='form-group'>
                                <button class="btn btn-primary" type="submit" data-action="reply" data-comment-id="{{comment.pk}}">{% trans 'Reply' %}</button>
                                <button class="btn btn-default" type="button" data-action="cancel" data-comment-id="{{comment.pk}}">{% trans 'Cancel' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>