.DS_Store
._*
*.pyc
*.pyo
.svn
.installed.cfg
bin
develop-eggs
dist
downloads
#eggs
parts
src/*.egg-info
src/project/media/cms_page_media
src/project/media/upload
src/project/media/admin

src/project/media/tiny_mce
src/project/media/wymeditor
src/project/media/cms
src/project/media/static
src/project/media/cache
