/ajapaik/settings/local.py
/ajapaik/settings/test.py
/ajapaik/ajapaik/tartunlp_translate/models/preprocessing/truecasing.model
/ajapaik/ajapaik/tartunlp_translate/models/translation/params.best

/media/
/postgresql/
/.idea/
/static-collected/
/venv/
/ajapaik/ajapaik/client_secrets.json
/.pycharm_helpers/

*.pyc
*.mo
*.log
