AuthType Basic
AuthName "By Invitation Only"
AuthUserFile /usr/local/apache/passwords
Require valid-user

AddHandler fastcgi-script .fcgi

RewriteEngine On
RewriteRule ^(media.*)$ src/project/$1 [QSA,L,PT]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ bin/django.fcgi/$1 [QSA,L]
