# Expires map
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    application/javascript     max;
    ~image/                    max;
}

server {
    listen 80;
    server_name sift.pics.by.ajapaik.ee;

    return 301 $scheme://sift.pics$request_uri;
}

server {
    listen 80;
    server_name www.sift.pics.by.ajapaik.ee;

    return 301 $scheme://sift.pics$request_uri;
}

server {
    listen 80;
    server_name ajapaik.ee;

    location / {
        return 301 https://ajapaik.ee$request_uri;
    }
}

server {
    listen 80;
    server_name www.ajapaik.ee;

    return 301 https://ajapaik.ee$request_uri;
}

server {
    listen 443;

    server_name www.ajapaik.ee;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/ajapaik.ee/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ajapaik.ee/privkey.pem;

    return 301 https://ajapaik.ee$request_uri;
}

server {
    listen 443;

    server_name ajapaik.ee;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/ajapaik.ee/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ajapaik.ee/privkey.pem;

    access_log /var/log/ajapaik.ee.access.log;
    error_log /var/log/ajapaik.ee.error.log;

    expires $expires;

    if ($host !~* ^(ajapaik.ee|www.ajapaik.ee)$ ) {
        return 444;
    }

    location /media  {
        alias /home/ajapaik/ajapaik-web/media;
    }

    location /static {
        alias /home/ajapaik/ajapaik-web/static-collected;
        expires 30d;
    }

    location ~ ^/favicon.(\w*)$ {
        alias /home/ajapaik/ajapaik-web/static-collected/favicon.$1;
    }

    # Serve Juks's old maps directly
    location /vanalinnad.mooo.com {
        root /home/ajapaik;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/home/ajapaik/ajapaik-web/run/ajapaik.ee.sock;
    }
}
