version: '3'

volumes:
  solr-configs:

# Meant for local development
services:
  db:
    image: 'mdillon/postgis:9.6-alpine'
    container_name: 'postgres'
    restart: always
    ports:
      - '5433:5432'
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  solr:
    image: 'solr:6-alpine'
    container_name: 'solr'
    restart: always
    volumes:
      - './solr:/opt/solr/server/solr/tester'
#    depends_on:
#      - app
    ports:
      - '8983:8983'
  redis:
    image: 'redis:alpine'
    container_name: 'redis'
  app:
    build: .
    image: 'laurielias/ajapaik-web:latest'
    container_name: 'ajapaik'
    entrypoint: '/usr/local/bin/docker-entrypoint-dev.sh'
    ports:
      - '8000:8000'
    links:
      - db
      - solr
    depends_on:
      - db
    volumes:
#      - 'solr-configs:/home/docker/ajapaik/solr'
      - './:/home/docker/ajapaik'
#      - './media:/home/docker/ajapaik/media'
# TODO: Valimimoodul
# TODO: Expose via socket file?
# TODO: Expose compressed static files via volume mount?
# TODO: pod that runs periodic tasks (celery?)
# TODO: pod for vanalinnad.moo.com?