version: '3'

services:
  db:
    image: postgres:9
    expose:
      - 5432
#    volumes:
#      - pg_data:/var/lib/postgresql/data
#      - pg_backups:/pg_backups
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  solr:
    image: 'solr:7-alpine'
#    working_dir: /solr/solr-4.2.1/example
#    command: java -jar start.jar
    ports:
      - '8983:8983'
#    volumes:
#      - /allura-data/solr:/solr/solr-4.2.1/example/solr/collection1/data
  app:
    build: .
    ports:
      - '8000:8000'
    depends_on:
      - db
      - solr
#  nginx:
#    image: nginx:latest
#    links:
#      - flaskapp:uwsgi
#    ports:
#      - "80:80"
#      - "8080:8080"
#    volumes:
#      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
# TODO: Valimimoodul