# For Django development
#server {
#    listen 80;
#
#	location / {
#		proxy_pass http://127.0.0.1:8000;
#	}
#}

upstream fotodugnad_app_server {
    server unix:///home/fotodugnad/ajapaik-web/fotodugnad.sock;
}

server {
    listen 80;

    server_name www.fotodugnad.ra.no fotodugnad.ra.no;

    access_log /var/log/nginx/fotodugnad.access.log;
    error_log /var/log/nginx/fotodugnad.error.log;

    if ($host !~* ^(fotodugnad.ra.no|www.fotodugnad.ra.no)$ ) {
        return 444;
    }

    location /media  {
        alias /home/fotodugnad/ajapaik-web/media;
    }

    location /static {
        alias /home/fotodugnad/ajapaik-web/static-collected;
        expires 30d;
    }

    location ~ ^/favicon.(\w*)$ {
        alias /home/fotodugnad/ajapaik-web/static-collected/favicon.$1;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass fotodugnad_app_server;
    }
}