cmake
wheel
Django==2.2.16
django-admin-tools
django-allauth
django-autocomplete-light
django-bootstrap4
django-bulk-update
django-contrib-comments==1.9.2
django-comments-xtd==2.4.2
django-compressor
django-debug-toolbar
django-extensions
django-haystack
django-leaflet
django-markdown2
django-modeltranslation
django-recaptcha
django-redis-cache
django-user-agents
djangorestframework
django-hosts
face-recognition
feedparser
flickrapi
geopy
google-auth==1.13.1
hiredis
mypy
numpy
opencv-python
pandas
Pillow
psycopg2-binary
pyOpenSSL
pysolr
redis
requests
scikit-learn
sorl-thumbnail
typing
user-agents
mxnet
sentencepiece
sockeye==1.18.106
pytest
pytest-cov
pytest-django
django-stubs
djangorestframework-stubs
pytest-mypy
pytest-mypy-plugins

# pip install -r requirements.txt breaks without these
# markdown2==2.3.10
# joblib==0.17.0
# iniconfig==1.1.1
# importlib-metadata==3.1.0
# idna==2.10
# httplib2==0.18.1
# graphviz<0.9.0
# jsonpickle==1.4.2
# geographiclib==1.50

# legacy packages
oauth2client==2.2.0
jsonpickle
django-registration-redux==2.7
