pytest
responses
numpy
Pillow
django-bulk-update
pytest-django
django-admin-tools
django-recaptcha
django-markdown2
django-comments-xtd
django-extensions
django-hosts
django-autocomplete-light
sorl-thumbnail
django-compressor
django-modeltranslation
django-haystack
django-registration-redux
django-bootstrap4
django-leaflet
django-user-agents
django-allauth
geopy
pandas
sklearn
oauth2client==2.2.0
gdal
