appdirs
asn1crypto
cffi
cryptography
Django==1.8.19
django-admin-tools
django-appconf
django-autocomplete-light==2.3.3
django-autoslug
django-bootstrap-dynamic-formsets
django-bootstrap3
django-bulk-update
django-comments-xtd==1.7.2
django-compressor
django-conditional-aggregates
django-contrib-comments=1.8.0
django-debug-toolbar==1.9.1
django-extensions
django-gcm
django-haystack
django-markup
django-mobi
django-modeltranslation
django-registration-redux==1.6
django-tastypie
django-test-without-migrations
djangorestframework==3.4.7
docutils
enum34
feedparser
flickrapi
funcsigs
futures
geopy
httplib2
idna
ipaddress
lxml
Markdown
meld3
mock
ndg-httpsclient
numpy
oauth2client==1.4.12
oauthlib
olefile
packaging
pandas
pbr
Pillow
psycopg2-binary
py
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
pyparsing
pysolr
pytest
pytest-django
python-dateutil
python-memcached
python-mimeparse
pytz
requests
requests-oauthlib
requests-toolbelt
rsa
scikit-learn
scipy
simplejson
six==1.10
sorl-thumbnail
sqlparse
supervisor
transifex-client
ujson
urllib3
uWSGI
uwsgitop
django-subdomains
Werkzeug
django-leaflet
opencv-python-headless
face_recognition