Django==1.8.16
django-admin-tools==0.8.0
django-autocomplete-light==2.3.3
django-bootstrap-dynamic-formsets==0.5.0
django-bootstrap3==7.1.0
django-bulk-update==1.1.10
django-compressor==2.1
django-extensions==1.7.4
django-haystack==2.5.1
django-mobi==0.1.7
django-modeltranslation==0.12
django-registration-redux==1.4
djangorestframework==3.5.3
feedparser==5.2.1
flickrapi==2.1.2
geopy==1.11.0
numpy==1.11.2
oauth2client==1.5.2
pandas==0.19.1
Pillow==3.4.2
psycopg2==2.6.2
pysolr==3.6.0
python-memcached==1.58
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
sorl-thumbnail==12.3
ujson==1.35
uWSGI==2.0.14
