{% extends "then_and_now/base.html" %}

{% load static thumbnail %}

{% block layout %}
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="row">
                <img class="img-responsive" src="{% thumbnail photo.image '800x600' %}">
            </div>
            <div class="row">
                {{ photo.description }}
            </div>
            <div class="row">
                <a href="{% url 'project.ajapaik.then_and_now_tours.camera' photo.pk %}">
                    <span class="glyphicon glyphicon-camera font-size-48px" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        var tour = {{ photos|safe }};
    </script>
    <script src="{% static 'js/then-and-now-map.js' %}"></script>
{% endblock %}