{% extends "then_and_now/base.html" %}

{% load static thumbnail compress %}

{% block layout %}
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="row">
                <img class="img-responsive" src="{% thumbnail photo.image '800x600' %}">
            </div>
            <div class="row">
                {{ photo.description }}
            </div>
            <div class="row">
                <form id="form" action="/then-and-now-tours/camera/upload/" method="post" enctype="multipart/form-data">
                    <input name="image" id="camera-file-capture" type="file" accept="image/*" onchange="PreviewImage();" capture="camera" />
                    <img style="display:none" id="uploadPreview" class="img-responsive" />
                    <input type="hidden" name="original" value="{{ photo.id }}"/>
                    <input type="hidden" name="tour" value="{{ tour.id }}"/>
                </form>
                <span class="glyphicon glyphicon-camera font-size-48px" aria-hidden="true"></span>
                <span style="display:none" class="glyphicon glyphicon-ok font-size-48px" aria-hidden="true"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    {% compress js %}
        <script src="{% static 'js/then-and-now-detail.js' %}"></script>
    {% endcompress %}
{% endblock %}