{% extends "then_and_now/base.html" %}

{% load static thumbnail %}

{% block layout %}
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="row">
                <img class="img-responsive" src="{% thumbnail photo.image '800x600' %}">
            </div>
            <div class="row">
                {{ photo.description }}
            </div>
            <div class="row">
                <input class="camera-file-capture" type="file" accept="image/*" capture="camera" />
                <span class="glyphicon glyphicon-camera font-size-48px" aria-hidden="true"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script src="{% static 'js/then-and-now-detail.js' %}"></script>
{% endblock %}