{% extends "then_and_now/base.html" %}

{% load static compress %}

{% block layout %}
    <div class="col-xs-offset-1 col-xs-10">
        <br>
        <br>
        <div class="row" style="font-size: 48px; border-top: 3px solid #edc549; text-align: center;">
            Then & Now
        </div>
        <div class="row" style="font-size: 48px; border-bottom: 3px solid #edc549; text-align: center;">
            Tours
        </div>
        <br>
        <br>
        <div class="row" style="text-align: center;">
            <img class="img-responsive" src="{% static 'images/then-and-now-frontpage-image.png' %}" style="max-height: 300px; margin: 0 auto;">
        </div>
        <br>
        <div class="row" style="text-align: center;">
            <a href="#" id="frontpage-make-tour-link" class="btn double-border" style="font-size: 24px; background-color: #edc549; color: white !important;">Take me on a tour!</a>
        </div>
        <!--<div class="col-xs-12">
            <div class="row">
                <a id="frontpage-make-tour-link" href="#">

                </a>
            </div>
            <div class="row">
                <div class="fb-like" data-href="https://www.facebook.com/thenandnowtours" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
            {% if recent_photos %}
                <h1>Recent photos</h1>
            {% endif %}
            {% for p in recent_photos %}
                <div class="row">
                    <img class="img-responsive" src="{% url 'project.ajapaik.views.image_thumb' p.pk 600 %}">
                </div>
            {% endfor %}
        </div>-->
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        var mapRedirectURL = '{% url 'project.ajapaik.then_and_now_tours.map_view' %}';
    </script>
    {% compress js %}
        <script src="{% static 'js/then-and-now-frontpage.js' %}"></script>
    {% endcompress %}
{% endblock %}