{% extends "then_and_now/base.html" %}

{% load thumbnail static %}

{% block layout %}
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div id="frontpage-container">

        </div>
        <!--<div class="col-xs-12">
            <div class="row">
                <a id="frontpage-make-tour-link" href="#">

                </a>
            </div>
            <div class="row">
                <div class="fb-like" data-href="https://www.facebook.com/thenandnowtours" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
            {% if recent_photos %}
                <h1>Recent photos</h1>
            {% endif %}
            {% for p in recent_photos %}
                <div class="row">
                    <img class="img-responsive" src="{% thumbnail p.image '600x600' %}">
                </div>
            {% endfor %}
        </div>-->
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        var mapRedirectURL = '{% url 'project.ajapaik.then_and_now_tours.map_view' %}';
    </script>
    <script src="{% static 'js/then-and-now-frontpage.js' %}"></script>
{% endblock %}