{% extends "then_and_now/base.html" %}

{% load static compress i18n %}

{% block content %}
    <div class="col-xs-offset-1 col-xs-10">
        <br>
        <br>
        <div class="row tan-font-size-48px" id="tan-frontpage-title">{% trans "Then & Now Tours" %}</div>
        <br>
        <br>
        {% if not user.is_authenticated %}
            <div class="row tan-text-center">
                <img class="img-responsive" src="{% static 'images/then-and-now-frontpage-image.png' %}"
                     id="tan-frontpage-image">
            </div>
        {% else %}
            <div class="row tan-text-center">
                <p class="tan-font-size-24px">{% trans "Signed in as" %} <b>{% if user.profile.fb_name %}
                        {{ user.profile.fb_name }}
                    {% elif user.profile.google_plus_name %}
                        {{ user.profile.google_plus_name }}
                    {% else %}
                        {{ user.get_username }}
                    {% endif %}
                </b></p>
            </div>
        {% endif %}
        <br>
        {% if user.is_authenticated %}
            <div class="row tan-text-center">
                <form>
                    <div class="form-inline" id="tan-frontpage-album-from-group">
                        <label class="sr-only"
                               for="tan-frontpage-tour-id-input">{% trans "Tour ID" %}</label>
                        <input type="number" class="form-control" id="tan-frontpage-tour-id-input"
                               placeholder="{% trans "Tour ID" %}">
                        <button type="submit" id="tan-frontpage-tour-id-submit"
                            class="btn tan-double-border tan-button-text">{% trans "Go" %}</button>
                    </div>
                </form>
                <button id="tan-frontpage-make-tour-button" class="btn tan-double-border tan-button-text">
                    {% trans "Create tour!" %}
                </button>
                <button id="tan-frontpage-my-tours-button" class="btn tan-double-border tan-button-text">
                    {% trans "My tours" %}
                </button>
            </div>
        {% endif %}
        <br>
        <br>
        <div class="row tan-text-center">
            {% if user.is_authenticated %}
                <a href="{% url 'django.contrib.auth.views.logout' %}">{% trans "Log out" %}</a>
            {% else %}
                <a href="{% url 'registration_register' %}">{% trans "Register account" %}</a>
                <a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Log in" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        var mapRedirectURL = '{% url 'project.ajapaik.then_and_now_tours.map_view' %}',
            newTourURL = '{% url 'project.ajapaik.then_and_now_tours.choose_new_tour_type' %}',
            myToursURL = '{% url 'project.ajapaik.then_and_now_tours.my_tours' %}';
    </script>
    {% compress js %}
        <script src="{% static 'js/then-and-now-frontpage.js' %}"></script>
    {% endcompress %}
{% endblock %}