{% extends "then_and_now/base.html" %}

{% load static compress %}

{% block layout %}
    <div id="gallery-container">
        {% for p in tour.photos.all %}
            <a href="{% url 'project.ajapaik.then_and_now_tours.detail' p.pk tour.pk %}">
                <img src="{% url 'project.ajapaik.views.image_thumb' p.pk 300 %}">
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block specific_js %}
    {% compress js %}
        <script src="{% static 'js/then-and-now-gallery.js' %}"></script>
    {% endcompress %}
{% endblock %}