{% extends "then_and_now/base.html" %}

{% load i18n bootstrap3 bootstrap_dynamic_formsets static compress %}

{% block content %}
    <div class="container">
        <form method="post" action="." class="form">
            {% csrf_token %}
            <h1>{% trans "Tour" %} #{{ tour.pk }}</h1>
            {% bootstrap_form form %}
            {% bootstrap_dynamic_formset group_formset %}
            <button type="submit" class="btn btn-primary">
                {% trans "Update" %}
            </button>
        </form>
    </div>
{% endblock %}

{% block autocomplete_stuff %}
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

{% block specific_js %}
    {% compress js %}
        <script src="{% static "js/then-and-now-manage.js" %}"></script>
    {% endcompress %}
{% endblock %}