{% extends "then_and_now/base.html" %}

{% load static compress %}

{% block layout %}
    <div id="map-container"></div>
{% endblock %}

{% block specific_js %}
    <script>
        var tourPhotos = {{ photos|safe }},
            startLat = '{{ tour.user_lat }}',
            startLng = '{{ tour.user_lng }}',
            marker1 = '{% static 'images/then-and-now-marker-1.png' %}',
            marker2 = '{% static 'images/then-and-now-marker-2.png' %}',
            marker3 = '{% static 'images/then-and-now-marker-3.png' %}';
    </script>
    {% compress js %}
        <script src="{% static 'js/then-and-now-map.js' %}"></script>
    {% endcompress %}
{% endblock %}