body, html {
	height: 100%;
	min-height: 550px;
	font-family: arial, sans-serif;
	overflow: hidden;
}
body {
	background: #fff url(../gfx/bg.jpg) center center;
}


/* NOTICES */

#notice {
	font-size: 15px;
	background: #fff;
	border: 2px solid #efefef;
	padding: 30px;
}
#notice h2 {
	font-size: 19px;
	margin: 0 0 10px;
}
#notice p {
	margin: 0 0 20px;
}
#notice .btn {

}

/* BUTTONS */

a.btn {
	color: #444;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	padding: 9px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #ccc;
	background: #cdcdcd;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ddd));
	background: -moz-linear-gradient(top,  #efefef,  #ddd);
}
a.btn.small {
	font-size: 12px;
	padding: 3px 7px;
}
a.btn.green {
	color: #fff;
	text-shadow: 0 -1px 0 #3f6b00;
	border: 1px solid #489400;
	background: #1ba400;
	background: -webkit-gradient(linear, left top, left bottom, from(#79d100), to(#159f00));
	background: -moz-linear-gradient(top,  #79d100,  #159f00);
}
a.btn:hover {
	border: 1px solid #bbb;
	-webkit-box-shadow: 0 0 7px #ddd;
	-moz-box-shadow: 0 0 7px #ddd;
	box-shadow: 0 0 7px #ddd;
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ddd));
	background: -moz-linear-gradient(top, #fefefe, #ddd);
}
a.btn.green:hover {
	border: 1px solid #489400;
	-webkit-box-shadow: 0 0 7px #57c200;
	-moz-box-shadow: 0 0 7px #57c200;
	box-shadow: 0 0 7px #57c200;
	background: #38b700;
	background: -webkit-gradient(linear, left top, left bottom, from(#99da44), to(#1ba400));
	background: -moz-linear-gradient(top, #99da44, #1ba400);
}
a.btn:active {
	background: #ccc;
}
a.btn.green:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#159f00), to(#38b700));
	background: -moz-linear-gradient(top, #159f00, #38b700);
}


/******************************
*******************************

	B R O W S E

*******************************
*******************************/

#browse {
	position: relative;
	height: 100%;
	overflow: hidden;
}


/* TOP BAR */

#browse .top {
	position: absolute;
	top: 0;
	height: 7%;
	width: 100%;
	background: #fff url(http://www.ajapaik.ee/media/images/footer_bg.jpg) center bottom;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	z-index: 1000;
}
#browse .top h1 {
	float: left;
	background: url(../images/Ajapaik_logo.png) no-repeat;
	width: 225px;
	height: 55px;
	margin: 10px 0 0 20px;
}
#browse .top ul#nav {
	float: right;
	margin: 0;
}
#browse .top ul#nav li {
	float: left;
	list-style: none;
	margin: 0 20px 0 0;
}

/* PHOTO DRAWER */

#browse #photo-drawer {
	position: absolute;
	top: -100%;
	width: 100%;
	height: 500px;
	background: #fff url(../gfx/bg.jpg) center center;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	z-index: 900;
}

/* photos */

#browse #photo-drawer .photos {
	position: relative;
	line-height: 0;
	overflow: hidden;
	height: 450px;
	padding: 25px 0;
}
#browse #photo-drawer .photos .original {
	position: absolute;
	right: 50.7%;
	border: 10px solid #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
#browse #photo-drawer .photos .rephoto {
	position: absolute;
	left: 50.7%;
	border: 10px solid #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
#browse #photo-drawer .photos img {
	height: 350px;
}
#browse #photo-drawer .photos .rephoto .info {
	line-height: 1;
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
}


/* original tools */

#browse #photo-drawer .original .tools {
	position: absolute;
	bottom: -90px;
	left: 0;
	height: 60px;
}
#browse #photo-drawer .original .tools .description {
	font-size: 12px;
	line-height: 1.2;
}


/* rephoto tools */

#browse #photo-drawer .rephoto .tools {
	position: absolute;
	bottom: -90px;
	right: 0;
	height: 60px;
}
#browse #photo-drawer .rephoto .tools ul.thumbs {
	margin: 0;
	padding: 0;
}
#browse #photo-drawer .rephoto .tools ul.thumbs li {
	line-height: 0;
	list-style: none;
	float: left;
	margin: 0 0 0 5px;
}
#browse #photo-drawer .rephoto .tools ul.thumbs li img {
	height: 50px;
	border: 5px solid #fff;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .2);
	box-shadow: 0 0 7px rgba(0, 0, 0, .2);
}

#browse #photo-drawer .no-rephoto {
	position: absolute;
	left: 50.7%;
	width: 350px;
	padding: 10px;
	background: rgba(204, 172, 102, .3);
	height: 350px;
	text-align: center;
	line-height: 1.4;
}
#browse #photo-drawer .no-rephoto ul.thumbs {
	margin: 0;
	padding: 0;
}
#browse #photo-drawer .no-rephoto ul.thumbs li {
	line-height: 0;
	list-style: none;
	float: left;
	margin: 0 0 0 5px;
}


/* MAP */

#browse .map {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 93%;
}



/******************************
*******************************

	G A M E

*******************************
*******************************/

#game {
	position: relative;
	height: 100%;
	overflow: hidden;
}

/* photos */

#game #photos {
/* 	line-height: 0; */
	position: absolute;
	top: 0;
	left: 1000px;
	height: 100%;
	display: table;
	z-index: 1;
}
#game #photos .photo {
	line-height: 0;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
}
#game #photos .photo > .container {
	position: relative;
/* 	height: 50%; */
	margin: 0 30px;
	background: white;
	border: 10px solid #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
#game #photos .photo > .container img {
	display: none;
/* 	height: 100%; */
}

#game #photos .photo .btn.show-description {
	position: absolute;
	display: block;
	top: -50px;
	left: 50%;
	width: 80px;
	margin-left: -55px;
}
#game #photos .photo .description {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	display: none;
	bottom: 100%;
	width: 100%;
	padding: 10px 15px;
	margin-left: -20px;
	margin-bottom: 30px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background: rgba(204, 172, 102, .3);
	z-index: 10;

}

/* buttons */

#game #skip-photo {
	color: #d4975b;
	font-size: 19px;
	font-weight: 700;
	text-decoration: none;
	position: absolute;
	top: 48%;
	right: 5%;
}
#game #skip-photo:hover {
	color: #b07f4f;
}
#game #skip-photo:active {
	color: #6e4217;
	padding: 1px 0 0;
}

/* tools overlay */

#game #tools {
	position: absolute;
	height: 100%;
	width: 85%;
	min-width: 100px;
	left: 100%;
	font-weight: 700;
	background: #000;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	z-index: 500;
}
#game #tools #locationMap {
	width: 100%;
	height: 100%;
}
#game #tools #save-location {
	position: absolute;
	right: 20px;
	bottom: 60px;
	z-index: 10;
}
#game #tools #close-location-tools {
	position: absolute;
	right: 20px;
	bottom: 30px;
	z-index: 10;
}


/* TOP BAR */

#game #top {
	position: absolute;
	height: 10px;
	width: 100%;
	background: #fff url(http://www.ajapaik.ee/media/images/footer_bg.jpg) center 6px;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	z-index: 100;
}

/* score */

#game #top #score-container {
	position: absolute;
	right: 5%;
	top: -18px;
	width: 220px;
/* 	margin-left: -125px; */
	padding: 25px 0 7px 0;
	background: #fff;
	z-index: 1050;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#game #top #score-container h2 {
	color: #ccc;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
	display: none;
	margin: 3px 0 4px;
}
#game #top #score-container ul#scoreboard {
	margin: 0;

}
#game #top #score-container ul#scoreboard li {
	position: relative;
	font-size: 12px;
	line-height: 1;
	list-style: none;
	clear: both;
	display: none;
	border-bottom: 1px solid #efefef;
	padding: 0 15px;
	height: 29px;
}
#game #top #score-container ul#scoreboard li.you {
	font-weight: 700;
	display: block;
	background: #efefef;
}
#game #top #score-container ul#scoreboard li.first {
	padding-bottom: 10px;
}
#game #top #score-container ul#scoreboard li span {
	padding: 8px 0 0;
}
#game #top #score-container ul#scoreboard li .position {
	float: left;
	width: 27px;
}
#game #top #score-container ul#scoreboard li .name {
	float: left;
}
#game #top #score-container ul#scoreboard li .photo {
/*
	position: absolute;
	right: -25px;
	top: 2px;
*/	
	line-height: 0;
	float: right;
	margin-right: -25px;
	padding: 0;
}
#game #top #score-container ul#scoreboard li .photo img {
	border: 3px solid #fff;
	width: 23px;
	height: 23px;
}
#game #top #score-container ul#scoreboard li .score {
	float: right;
	padding-right: 10px;
}

#game #top #score-container #facebook-connect {
	font-size: 12px;
	margin: 6px 15px;
	width: 190px;
	display: none;
}
#game #top #score-container #facebook-connect p {
	margin: 0 0 10px;
}
#game #top #score-container #facebook-connect a {
	width: 169px;
	height: 21px;
	background: url(../images/connect-with-facebook.png) no-repeat;	
}



/* BOTTOM BAR */

#game #btm {
	position: absolute;
	bottom: 0;
	height: 10px;
	width: 100%;
	background: #fff url(http://www.ajapaik.ee/media/images/footer_bg.jpg);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	z-index: 100;
}
#game #btm #open-location-tools-container {
	position: absolute;
	bottom: 50px;
	left: 50%;
	height: 50px;
	width: 210px;
	margin-left: -105px;
	z-index: 1050;
/* 	background: #fff; */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#game #btm #open-location-tools {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 125px;
	margin-left: -85px;
	z-index: 1000;
}
