html {
	background: #fff url(../images/bg.jpg) no-repeat top center;
}

body {
	color: #444;
	font-family: 'Droid Serif', georgia, serif;
	width: 100%;
	height: 100%;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 150px;
}

a {
	color: #079ad1;
}

#photos {
	text-align: center;
	padding: 0 10px;
	height: 565px;
}
#photos .photo {
	position: relative;
	float: left;
	padding: 20px 0;
}
#photos .photo.thumb {
	margin: 170px 0 0;
}
#photos .photo img {
	border: 7px solid #fff;
	-webkit-box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
}
#photos .photo.current {
	margin: 0 30px;
}
#photos .photo.current .description {
	color: #6e6b68;
	margin: 0 0 15px;
}
#photos .photo.current .controls {
	position: relative;
	margin: 25px 0 0;
	width: 100%;
}


#photos .phoro.current .map {
	position: relative;
}

#photos .photo.thumb .status {
	position: absolute;
	top: 7px;
	right: 10px;
	width: 40px;
	height: 45px;
}
#photos .photo.thumb .status.no {
	background: url(../images/icon_no.png) no-repeat;
}
#photos .photo.thumb .status.yes {
	background: url(../images/icon_yes.png) no-repeat;
}


a.btn {
	color: #fff;
	font-size: 19px;
	font-weight: 400;
	text-decoration: none;
	text-shadow: -1px -1px 0 #3f6b00;
	padding: 10px 25px;
	border: 1px solid #489400;
	background: #6cbb00 url(../images/btn_green_bg.png) repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.skip {
	margin: 25px 0 0;
}


#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: url(../images/footer_bg.jpg) repeat-x;
}
#footer .container {
	width: 960px;
	margin: 0 auto;
}
#footer #logo {
	width: 225px;
	height: 55px;
	margin: 24px 0 0;
	float: left;
	background: url(../images/Ajapaik_logo.png) no-repeat;
}
#footer #logo a {
	display: block;
	height: 100%;
}
#footer #facebook-connect {
	float: right;
	height: 34px;
	margin: 34px 0 0;
	background: url(../images/inset_bg.png) repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#footer #facebook-connect a {
	width: 169px;
	height: 21px;
	margin: 6px;
	background: url(../images/connect-with-facebook.png) no-repeat;	
}