html {
	background: #fff url(../images/bg.jpg) no-repeat top center;
}

body {
	color: #444;
	font-family: 'Droid Serif', georgia, serif;
	width: 100%;
	height: 100%;
}

a {
	color: #079ad1;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 150px;
}

#item {
	position: absolute;
	left: 50%;
	width: 960px;
	margin-left: -480px;
	background: red;
}
#item .previous {
	float: left;
	width: 130px;
}
#item .content {
	float: left;
	width: 700px;
	background: green;
}
#item .next {
	float: right;
	width: 130px;
}





#photos {
	text-align: center;
	padding: 0 10px;
	height: 565px;
}
#photos .photo {
	position: relative;
	float: left;
	padding: 20px 0;
}
#photos .photo.thumb {
	width: 174px;
	margin: 170px 0 0;
	text-align: center;
}
#photos .photo img {
	border: 7px solid #fff;
	-webkit-box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
}


#photos .photo.current {
	margin: 0 28px;
	width: 534px;
	text-align: center;
}
#photos .photo.current .description {
	color: #6e6b68;
	margin: 0 0 15px;
}
#photos .photo.current .controls {
	position: relative;
	margin: 25px 0 0;
	width: 100%;
}

#photos .photo.thumb .status {
	position: absolute;
	top: 7px;
	left: 50%;
	width: 40px;
	height: 45px;
	margin-left: -10px;
}
#photos .photo.thumb .status.no {
	background: url(../images/icon_no.png) no-repeat;
}
#photos .photo.thumb .status.yes {
	background: url(../images/icon_yes.png) no-repeat;
}



#photos .message {
	font-size: 29px;
	position: absolute;
	width: 496px;
	margin: 150px 0 0;
	border: 7px solid #e8f3d4;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0px 0px 5px #999;
}
#photos .message .container {
	padding: 30px 50px;
}
#photos .message .container .button {
	margin: 20px 0 0;
}


#photos .photo.current .map {
	position: absolute;
	width: 100%;
	height: 100%;
	background: grey;
	z-index: 10;
}
#photos .photo.current .close {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 28px;
	height: 28px;
	background: url(../images/icon_close.png) no-repeat;
}

/*
#photos .photo.current .photo-container .owner {
	position: relative;
	text-align: left;
}
#photos .photo.current .owner {
	color: #ccc;
	font-size: 10px;
	position: absolute;
}
*/



a.btn {
	color: #fff;
	font-size: 19px;
	font-weight: 400;
	text-decoration: none;
	text-shadow: -1px -1px 0 #3f6b00;
	padding: 9px 25px;
	border: 1px solid #489400;
	background: #6cbb00 url(../images/btn_green_bg.png) repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.skip {
	margin: 25px 0 0;
}


#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: url(../images/footer_bg.jpg) repeat-x;

	text-align: center;
}
#footer .container {
	width: 960px;
	margin: 0 auto;
}
#footer #logo {
	width: 225px;
	height: 55px;
	margin: 24px 0 0;
	float: left;
	background: url(../images/Ajapaik_logo.png) no-repeat;
}
#footer #logo a {
	display: block;
	height: 100%;
}
#footer #facebook-connect {
	float: right;
	height: 34px;
	margin: 34px 0 0;
	background: url(../images/inset_bg.png) repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#footer #facebook-connect a {
	width: 169px;
	height: 21px;
	margin: 6px;
	background: url(../images/connect-with-facebook.png) no-repeat;	
}

#footer .score {
	text-shadow: -1px -1px 0 #532a0d;
	position: absolute;
	left: 50%;
	width: 170px;
	height: 35px;
	margin-left: -85px;
	background: url(../images/score_bg.png) no-repeat top center;
}
#footer .score .label {
	color: #e2c193;
	font-weight: 700;
	float: left;
	width: 87px;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 0 0 7px;
}
#footer .score .digits {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	float: right;
	width: 63px;
	padding: 7px 6px 0;
}








