{% load i18n ajapaik_templatetags comments static %}

<div class="modal-dialog modal-xxl" id="ajp-photo-modal-dialog">
    <div class="modal-content">
        <div class="modal-header ajp-no-border">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="ajp-modal-body" style="overflow: initial;">
            <div class="container-fluid">
                <div class="row" style="margin:0 auto;">
                    {% if request.user_agent.is_pc %}
                        {% include '_toolbox.html' with photo=photo sidebar=True flexEnd=False %}
                        <div class="text-left" style="width:calc(100vw - 212px);left:150px;position:relative;">
                            <div class="row" style="margin:0 auto;">
                    {% endif %}
                    <div id="ajp-photo-modal-original-photo-column" class="col-lg-{% if rephotos or photo.lat and photo.lon or similar_photos %}6{% else %}12{% endif %} col-12">
                        <div id="ajp-modal-photo-container" class="ajp-photo {% if rephotos or photo.lat and photo.lon or similar_photos %}float-left{% else %}margin-auto{% endif %}">
                            {% if not is_mapview %}
                            <div class="ajp-photo-modal-previous-button">
                                <span class="material-icons ajp-icon-48 notranslate">navigate_before</span>
                            </div>
                            {% endif %}
                            <a class="fullscreen" id="ajp-fullscreen-link" rel=""
                                href="{% url 'photo' photo.id photo.slug %}">
                                <img src="{% url 'image_thumb' photo.id 800 photo.slug %}"
                                        alt="{{ photo.get_display_text }}" title="{{ photo.display_text }}"
                                        id="ajp-modal-photo"/>
                            </a>
                            {% if not is_mapview %}
                                <div class="ajp-photo-modal-next-button">
                                    <span class="material-icons ajp-icon-48 notranslate">navigate_next</span>
                                </div>
                            {% endif %}
                            {% if request.user.profile.is_legit %}
                                <button class="ajp-thumbnail-selection-icon{% if photo.in_selection %} ajp-thumbnail-selection-icon-blue{% endif %}"
                                        data-id="{{ photo.id }}">
                                    <span class="material-icons notranslate">check_circle</span>
                                </button>
                            {% endif %}
                            {% if reverse_side and not is_selection and not is_mapview %}
                                <a id="ajp-reverse-side-button"
                                    {% if request.user_agent.is_pc %}style="display: none;"{% endif %}
                                    data-id="{{ reverse_side.id }}"
                                    title="{% trans "See the other side of photo" %}">
                                    <span class="material-icons notranslate">360</span>
                                </a>
                            {% endif %}
                            <button class="ajp-like-photo-overlay-button{% if photo.user_likes %} active{% endif %}{% if photo.user_loves %} active big{% endif %}">
                                <span id="favorite-icon" class="material-icons notranslate">{% if photo.user_likes or photo.user_loves %}favorite{% else %}favorite_border{% endif %}</span>
                                <span class="ajp-like-count">{{ photo.like_count }}</span>
                            </button>
                            <div class="d-block text-right ajp-image-bottom-right">
                                {% if similar_photos|length > 0 %}
                                <button class="btn ajp-show-similar-photo-selection-overlay-button" id="ajp-show-similar-photo-selection-overlay-button" {% if request.user_agent.is_pc %}style="display: none"{% endif %}>
                                    <span class="material-icons notranslate w-100">burst_mode</span>
                                    <span style="top:-10px; position: relative;">{% if similar_photos|length > 9 %}9+{% else %}{{ confirmed_similar_photo_count }}/{{ similar_photos|length }}{% endif %}</span>
                                </button>
                                {% endif %}
                                {% if rephotos %}
                                    <button class="ajp-show-rephoto-selection-overlay-button"
                                            {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                        {% if rephotos|length < 10 %}
                                            <span class="material-icons notranslate">filter_{{ rephotos|length }}</span>
                                        {% else %}
                                            <span class="material-icons notranslate">filter_9_plus</span>
                                        {% endif %}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if similar_photos.0 %}
                        <div id="ajp-photo-modal-similar-photo-column" class="pl-0 col-lg-6 col-xl-6 col-12">
                            <div id="ajp-modal-similar-photo-container" class="float-left">
                                <a class="w-100" href="{% url 'photo' similar_photos.all.0.to_photo.id similar_photos.all.0.to_photo.slug%}">
                                    <img src="{% url 'image_thumb' similar_photos.all.0.to_photo.id 800 similar_photos.all.0.to_photo.slug%}"
                                        class="img-fluid ajp-photoview-thumbnail" id="ajp-modal-similar-photo"
                                        {% if similar_photos.all.0.similarity_type == 1 %}
                                        alt="{{similar_photos.all.0.to_photo.get_display_text }}  {% trans "similar photo" %}"
                                        title="{{ similar_photos.all.0.to_photo.get_display_text }} {% trans "similar photo" %}"
                                        {% else %}
                                        alt="{{ similar_photos.all.0.to_photo.get_display_text }}  {% trans "duplicate photo" %}"
                                        title="{{ similar_photos.all.0.to_photo.get_display_text }} {% trans "duplicate photo" %}"
                                        {% endif %}/>
                                    <button id="modal-compare-similar" class="btn ajp-compare-similar-overlay-button"
                                    {% if request.user_agent.is_pc %}style="opacity:0;"{% endif %}>
                                        <span class="material-icons notranslate">compare</span>
                                    </button>
                                    <button class="ajp-close-similar-photo-overlay-button"
                                        {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                        <span class="material-icons notranslate">close</span>
                                    </button>
                                </a>
                                {% if similar_photos|length > 1 %}
                                    <div id="ajp-similar-photo-selection" style="display:none;">
                                        {% for similar in similar_photos %}
                                            <div class="ajp-photo-modal-similar-photo-thumb"
                                                id="ajp-similar-photo-thumb-{{ similar.to_photo.id }}" data-id="{{ similar.to_photo.id }}">
                                                <img class="img-fluid"
                                                    src="{% url 'image_thumb' similar.to_photo.id 250 similar.to_photo.slug%}"
                                                    data-id="{{ similar.to_photo.id }}"/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% if rephotos %}
                <div id="ajp-photo-modal-rephoto-column" class="pl-0 col-lg-6 col-xl-6 col-12">
                    <div id="ajp-modal-rephoto-container" class="float-left">
                            <a class="fullscreen" id="ajp-rephoto-full-screen-link" rel=""
                                href="{% url 'photo' rephotos.0.id rephotos.0.slug %}">
                                <img src="{% url 'image_thumb' rephotos.0.id 800 rephotos.0.slug %}"
                                    id="ajp-modal-rephoto"
                                        alt="{{ photo.get_display_text }}" title="{{ photo.get_display_text }}"/>
                                <button class="ajp-close-rephoto-overlay-button"
                                        {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                    <span class="material-icons notranslate">close</span>
                                </button>
                                <button class="ajp-invert-rephoto-overlay-button"

                                        {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                    <span class="material-icons notranslate">invert_colors</span>
                                </button>
                            </a>
                            {% if rephotos.all|length > 1 %}
                                <div id="ajp-rephoto-selection" style="display:none;">
                                    {% for rephoto in rephotos.all %}
                                        <div class="ajp-photo-modal-rephoto-thumb ajp-cursor-pointer"
                                            id="ajp-rephoto-thumb-{{ rephoto.id }}" data-id="{{ rephoto.id }}">
                                            <img class="img-fluid"
                                                src="{% url 'image_thumb' rephoto.id 250 rephoto.slug%}"
                                                data-id="{{ rephoto.id }}"/>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div id="ajp-photo-modal-map-container" class="{% if request.user_agent.is_pc %}col-lg-5 {% else %}col-lg-6 {% endif %}col-md-12 pl-0">
                        <div id="ajp-minimap-disabled-overlay"></div>
                        <div id="ajp-photo-modal-map-canvas"></div>
                    </div>
                    {% if request.user_agent.is_pc %}
                            </div>
                            {% if request.user_agent.is_pc %}
                                {% include 'photo/_photo_info_columns.html' %}
                            {% endif %}
                            <div class="row p-0 pt-2">
                                {% include 'photo/_photo_comments_and_labels.html' %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12">
                            {% include 'photo/_photo_info_columns.html' %}
                        </div>
                    {% endif %}
                </div>

                {% if not request.user_agent.is_pc %}
                    <div class="row p-0 pt-2">
                        {% include 'photo/_photo_comments_and_labels.html' %}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // This whole template is total ugliness
    window.originalPhotoAbsoluteURL = "{{ photo.absolute_url }}";
    window.isFrontpage = "{{ is_frontpage | safe }}" === 'True';
    window.isMapview = "{{ is_mapview | safe }}" === 'True';
    // TODO: Clean
    window.photoModalCurrentImageUrl = "{{ photo.thumb_url }}";
    window.currentPhotoOriginalWidth = "{{ photo.width }}";
    window.currentPhotoOriginalHeight = "{{ photo.height }}";
    window.currentPhotoLat = "{{ photo.lat }}";
    window.currentPhotoLon = "{{ photo.lon }}";
    window.photoModalCurrentPhotoFlipped = false;
    window.photoModalCurrentPhotoInverted = false;
    window.photoModalRephotoArray = [];
    window.photoModalSimilarPhotoArray = [];
    window.currentlyOpenPhotoId = {{ photo.id }};
    window.photoModalFullscreenImageUrl = "{{ fullscreen.url }}";
    window.photoModalRephotoFullscreenImageUrl = "{{ rephoto_fullscreen.url }}";
    window.photoModalSimilarFullscreenImageUrl = "{{ similar_fullscreen.url }}"
    window.photoModalGeotaggingUserCount = {{ geotag_count }};
    window.photoModalAzimuthCount = {{ azimuth_count }};
    window.photoModalUserHasConfirmedThisLocation = {{ user_confirmed_this_location }};
    window.photoModalUserHasGeotaggedThisPhoto = {{ user_has_geotagged }};
    window.photoModalFirstGeotaggers = {{ first_geotaggers | safe }};
    {% if album and album.lat and album.lon %}
        window.photoModalExtraLat = {{ album.lat | safe }};
        window.photoModalExtraLng = {{ album.lon | safe }};
    {% elif photo.area and photo.area.lat and photo.area.lon %}
        window.photoModalExtraLat = {{ photo.area.lat | safe }};
        window.photoModalExtraLng = {{ photo.area.lon | safe }};
    {% else %}
        window.photoModalExtraLat = null;
        window.photoModalExtraLng = null;
    {% endif %}
    {% if photo.lat and photo.lon %}
        window.photoModalPhotoLat = {{ photo.lat | safe }};
        window.photoModalPhotoLng = {{ photo.lon | safe }};
        {% if photo.azimuth %}
            window.photoModalPhotoAzimuth = {{ photo.azimuth }};
        {% else %}
            window.photoModalPhotoAzimuth = null;
        {% endif %}
    {% else %}
        window.photoModalPhotoLat = null;
        window.photoModalPhotoLng = null;
    {% endif %}
    {% if description %}
        window.currentPhotoDescription = "{{ photo.get_display_text|remove_newlines|escapejs }}";
    {% else %}
        window.currentPhotoDescription = false;
    {% endif %}
    window.currentPhotoSourceName = "{{ photo.source.get_display_text }}";
    window.currentPhotoSourceKey = "{{ photo.source_key }}";
    window.currentPhotoSourceURL = "{{ photo.source_url }}";
    window.previousDatings = {{ previous_datings | safe }};
    {% for rephoto in rephotos %}
        window.photoModalRephotoArray.push({
            id: {{ rephoto.id }},
            url: "{% url 'image_thumb' rephoto.id 800 rephoto.slug%}",
            fb_url: "{{ hostname }}{{ rephoto.get_detail_url }}",
            fullscreen_url: "{% url 'image_full' rephoto.id rephoto.slug%}",
            fullscreen_width: "{{ rephoto.width }}",
            fullscreen_height: "{{ rephoto.height }}",
            {% if rephoto.date %}
                date: "{{ rephoto.date|date:"d.m.Y" }}",
            {% endif %}
            {% if request.user.is_superuser %}
                admin: "request.user.is_superuser",
            {% endif %}
            {% if rephoto.user %}
                user: "{{ rephoto.user.id }}",
                FBUserName: "{% if rephoto.user.fb_name %}{{ rephoto.user.fb_name }}{% endif %}",
                FBUserLink: "{% if rephoto.user.fb_link %}{{ rephoto.user.fb_link }}{% endif %}",
                GooglePlusName: "{% if rephoto.user.google_plus_name %}{{ rephoto.user.google_plus_name }}{% endif %}",
                GooglePlusLink: "{% if rephoto.user.google_plus_link %}{{ rephoto.user.google_plus_link }}{% endif %}",
                FullName: "{{ rephoto.user.get_display_name }}",
            {% endif %}
            {% if rephoto.author %}
                author: "{{ rephoto.author }}",
            {% endif %}
            {% if rephoto.licence %}
                licence: true,
            {% endif %}
            {% if rephoto.source %}
                source: "{{ rephoto.source.get_display_text }}",
                sourceKey: "{{ rephoto.source_key }}",
                sourceURL: "{{ rephoto.source_url }}"
            {% endif %}
        });
    {% endfor %}
    {% for similar in similar_photos.all %}
    window.photoModalSimilarPhotoArray.push({
            id: {{ similar.to_photo_id }},
            address: "{{ similar.to_photo.address }}",
            lat: "{{ similar.to_photo.lat }}",
            lon: "{{ similar.to_photo.lon }}",
            {% if similar.to_photo.author %}
                author: "{{ similar.to_photo.author }}",
            {% endif %}
            {% if similar.to_photo.get_display_text %}
                description: "{{ similar.to_photo.get_display_text|remove_newlines|escapejs }}",
            {% endif %}
            {% if similar.to_photo.date_text %}
                date_text: "{{ similar.to_photo.date_text }}",
            {% endif %}
            url: "{% url 'image_thumb' similar.to_photo_id 800 similar.to_photo.slug%}",
            fb_url: "{{ hostname }}{{ similar.to_photo.get_detail_url }}",
            fullscreen_url: "{% url 'image_full' similar.to_photo.pk similar.to_photo.slug%}",
            fullscreen_width: "{{ similar.to_photo.width }}",
            fullscreen_height: "{{ similar.to_photo.height }}",
            {% if similar.to_photo.date %}
                date: "{{ similar.to_photo.date|date:"d.m.Y" }}",
            {% endif %}
            {% if similar.to_photo.user %}
                FBUserName: "{% if similar.to_photo.user.fb_name %}{{ similar.to_photo.user.fb_name }}{% endif %}",
                FBUserLink: "{% if similar.to_photo.user.fb_link %}{{ similar.to_photo.user.fb_link }}{% endif %}",
                GooglePlusName: "{% if similar.to_photo.user.google_plus_name %}{{ similar.to_photo.user.google_plus_name }}{% endif %}",
                GooglePlusLink: "{% if similar.to_photo.user.google_plus_link %}{{ similar.to_photo.user.google_plus_link }}{% endif %}",
                FullName: "{{ similar.to_photo.user.get_display_name }}",
            {% endif %}
            licence: {
                name: "{{ similar.to_photo.licence.name }}",
                url: "{{ similar.to_photo.licence.url }}",
                image_url: "{{ similar.to_photo.licence.image_url }}",
                is_public: "{{ similar.to_photo.licence.is_public }}"
            },
            {% if similar.to_photo.source %}
                source: "{{ similar.to_photo.source.description }}",
                sourceKey: "{{ similar.to_photo.source_key }}",
                sourceURL: "{{ similar.to_photo.source_url }}"
            {% endif %}
        });
    {% endfor %}
    $(document).ready(function () {
        window.lastRotateWas90 = false;
        ImageAreaSelector.setImageArea('ajp-modal-photo-container');
        ObjectTagger.setPhotoId(window.currentlyOpenPhotoId);
        ObjectTagger.setAnnotationContainer('#ajp-modal-body');

        getObjectAnnotationClasses();
        getAllAnnotations(ObjectTagger.handleSavedRectanglesDrawn);

        $('#ajp-rephoto-thumb-' + window.currentlySelectedRephotoId).click();
        $('#ajp-similar-photo-thumb-' + window.currentlySelectedSimilarPhotoId).click();
        window.photoModalOpenedTime = Date.now();
        $('#ajp-dater-container').AjapaikDater();

        // Do not try to use mainPhotoContainer variable here, mouseout will not trigger correctly, probably loading order issue
        $(document).on('mouseenter.ajp-namespace', '#ajp-modal-photo-container', {showPersons: true, showObjects: true}, displayAnnotationsOnMouseLeave);
        $(document).on('mouseleave.ajp-namespace', '#ajp-modal-photo-container', hideAnnotationsWithoutOpenPopover);

        const rephotoFullScreenImage = $('#ajp-rephoto-full-screen-image');
        rephotoFullScreenImage.attr('data-src', window.photoModalRephotoFullscreenImageUrl).attr('alt', window.currentPhotoDescription);

        const similarFullScreenImage = $('#ajp-similar-photo-full-screen-image');
        similarFullScreenImage.attr('data-src', window.photoModalSimilarFullscreenImageUrl).attr('alt', window.currentPhotoDescription);

        $('#ajp-comment-form-register-link').click(function (e) {
            e.preventDefault();
            window.openLoginModal('comment');
        });

        // Leaflet-map
        if (typeof get_photoviewModalOptions === "function") {
            const options = get_photoviewModalOptions();
            const photoModalMapContainer = $('#ajp-photo-modal-map-container');
            photoModalMapContainer.AjapaikMinimap(options);
            $('.ajp-minimap-start-suggestion-CTA-button').remove();
            const minimapConfirmGeotagButton = document.createElement('button');
            $(minimapConfirmGeotagButton).addClass('btn').addClass('btn-light')
                .addClass('ajp-minimap-confirm-geotag-button')
                .data('id', window.currentlyOpenPhotoId).data('trigger', 'hover')
                .data('placement', 'top').data('toggle', 'popover')
                .data('content', gettext('Confirm correct location'))
                .html('<span class="material-icons notranslate ajp-icon-36">beenhere</span>').popover();
            if (window.photoModalUserHasConfirmedThisLocation) {
                $(minimapConfirmGeotagButton).addClass('ajp-minimap-confirm-geotag-button-done');
            }
            photoModalMapContainer.append(minimapConfirmGeotagButton);
            const minimapStartSuggestionButton = document.createElement('button');
            $(minimapStartSuggestionButton).addClass('btn').addClass('btn-light')
                .addClass('ajp-minimap-start-suggestion-button')
                .data('trigger', 'hover')
                .data('placement', 'top').data('toggle', 'popover')
                .data('content', gettext('Submit your own location'))
                .html('<span class="material-icons notranslate ajp-icon-36">edit_location</span>').popover();
            photoModalMapContainer.append(minimapStartSuggestionButton);
        }

        const currentPhotoHasLocation = !(window.currentPhotoLat === undefined && window.currentPhotoLon === undefined);

        if (window.userClosedRephotoTools && window.userClosedSimilarPhotoTools) {
            if (currentPhotoHasLocation) {
                $('#ajp-photo-modal-original-photo-column').removeClass("col-lg-12").addClass("col-lg-6");
                $('#ajp-photo-modal-original-photo-info-column').removeClass("col-lg-12").addClass("col-lg-6");
            }
            else {
                $('#ajp-photo-modal-original-photo-column').removeClass("col-lg-6").addClass("col-lg-12");
                $('#ajp-photo-modal-original-photo-info-column').removeClass("col-lg-6").addClass("col-lg-12");
            }
        }

        const mainPhotoContainer = $('#ajp-modal-photo-container'),
              rephotoContainer = $('#ajp-modal-rephoto-container'),
              similarPhotoContainer = $('#ajp-modal-similar-photo-container');
            mainPhotoContainer.hover(function () {
                if (!window.isMobile && !window.isAnnotating) {
                    const $this = $(this);
                    $this.find('.ajp-thumbnail-selection-icon').show("fade", 250);
                    $this.find('#ajp-reverse-side-button').show("fade", 250);
                    $this.find('.ajp-photo-modal-previous-button').show("fade", 250);
                    $this.find('.ajp-photo-modal-next-button').show("fade", 250);
                    $this.find('.ajp-like-photo-overlay-button').show("fade", 250);
                    if (window.userClosedSimilarPhotoTools) {
                        $this.find('.ajp-show-similar-photo-selection-overlay-button').show("fade", 250);
                    }
                    if (window.userClosedRephotoTools) {
                        $('.ajp-show-rephoto-selection-overlay-button').show("fade", 250);
                    }
                }
            }, function () {
                if (!window.isMobile) {
                    const $this = $(this);
                    $this.find('.ajp-thumbnail-selection-icon').hide("fade", 250);
                    $this.find('.ajp-photo-modal-previous-button').hide("fade", 250);
                    $this.find('.ajp-photo-modal-next-button').hide("fade", 250);
                    if (window.photoModalOpenedTime + 2000 < Date.now()) {
                        $this.find('.ajp-like-photo-overlay-button').hide("fade", 250);
                    }
                    $this.find('#ajp-reverse-side-button').hide("fade", 250);
                    $this.find('#flip-button').hide("fade", 250);
                    $this.find('.ajp-show-rephoto-selection-overlay-button').hide("fade", 250);
                    $this.find('.ajp-show-similar-photo-selection-overlay-button').hide("fade", 250);
                }
            });
            rephotoContainer.hover(function () {
                if (!window.isMobile) {
                    if (!window.userClosedRephotoTools) {
                        $('.ajp-close-rephoto-overlay-button').show("fade", 250);
                        $('.ajp-invert-rephoto-overlay-button').show("fade", 250);
                        $('#ajp-rephoto-selection').show("fade", 250);
                    }
                }
            }, function () {
                if (!window.isMobile) {
                    if (!window.userClosedRephotoTools) {
                        $('.ajp-close-rephoto-overlay-button').hide("fade", 250);
                        $('.ajp-invert-rephoto-overlay-button').hide("fade", 250);
                        $('#ajp-rephoto-selection').hide("fade", 250);
                    }
                }
            });
            similarPhotoContainer.hover(function () {
                if (!window.isMobile) {
                    if (!window.userClosedSimilarPhotoTools) {
                        $('.ajp-close-similar-photo-overlay-button').show("fade", 250);
                        $('.ajp-invert-similar-photo-overlay-button').show("fade", 250);
                        $('#ajp-similar-photo-selection').show();
                    }
                }
            }, function () {
                if (!window.isMobile) {
                    if (!window.userClosedSimilarPhotoTools) {
                        $('.ajp-close-similar-photo-overlay-button').hide("fade", 250);
                        $('.ajp-invert-similar-photo-overlay-button').hide("fade", 250);
                        $('#ajp-similar-photo-selection').hide();
                    }
                }
            });
    });

    resizeSimilarImage = function () {
        let height;
        if (window.visualViewport.width < 978) {
            height = 'auto';
        }
        else {
            let columnWidth = (0.65 * window.visualViewport.width + 150) /2  - 32;
            let imgContainerHeight = window.currentPhotoOriginalHeight > window.visualViewport.height * 0.7 ? window.visualViewport.height * 0.7 : window.currentPhotoOriginalHeight;
            imgContainerHeight = imgContainerHeight < window.visualViewport.height * 0.3 ? window.visualViewport * 0.3 : imgContainerHeight;
            if (columnWidth < window.currentPhotoOriginalWidth) {
                height = window.currentPhotoOriginalHeight / window.currentPhotoOriginalWidth * columnWidth;
            } else {
                height = imgContainerHeight;
            }
        }
        $('#ajp-modal-similar-photo-container').height(height);
        $('#ajp-modal-similar-photo').height(height);
    }

    $('#ajp-modal-similar-photo').on('load', function () {
        if (window.visualViewport !== undefined) {
            resizeSimilarImage();
        }
    });

    $(window).on('resize', function () {
        if (window.visualViewport !== undefined) {
            resizeSimilarImage();
        }
    })

    $('#ajp-modal-rephoto').removeClass('ajp-photo-bw');
    $('#ajp-rephoto-full-screen-image').removeClass('ajp-photo-bw');

    $(document).on('click', '#modal-compare-similar', function () {
        if (window.currentlyOpenPhotoId !== undefined && window.currentlySelectedSimilarPhotoId !== undefined) {
            window.location.href = window.location.origin + '/compare-photos/' + window.currentlyOpenPhotoId + '/' + window.currentlySelectedSimilarPhotoId;
        }
    })
</script>
{% block specific_js %}
    <script src="{% static 'js/ajp-comments.js' %}"></script>
{% endblock %}
{% include "js_templates/photo_modal_rephoto_template.html" %}
{% include "js_templates/photo_modal_similar_photo_template.html" %}
{% include "js_templates/photo_modal_rephoto_info_template.html" %}
{% include "js_templates/photo_modal_similar_photo_info_template.html" %}
{% include "album/_album_creation_modal.html" %}
{% include "js_templates/curator_album_selection_separator_template.html" %}
{% include "js_templates/curator_album_selection_option_template.html" %}
