{% load i18n ajapaik_templatetags comments %}
<div class="container-fluid text-left">
    <!-- start of dater block -->
    <div class="row my-2" id="ajp-dater-container"></div>
    <!-- end of dater block -->
    <!-- start of albums block -->
    <div class="row pl-3 d-flex flex-row" style="flex-wrap:unset;">
        <span class="material-icons notranslate ajp-photo-modal-album-icon ajp-cursor-default float-left mt-2 pr-3 ajp-icon-36"
            title="{% blocktrans count counter=albums|length %}Picture belongs to album{% plural %}Picture belongs to albums:{% endblocktrans %}">
            {% if a.is_film_still_album %}movie{% else %}collections_bookmark{% endif %}
        </span>
        <div class="d-inline-flex flex-row justify-content-start flex-wrap ajp-text-medium align-items-center">
            {% for a in albums %}
                <div class="mr-2 mt-2 d-flex align-items-center ajp-pebble" data-toggle="popover" onclick="window.albumPhotoLinkClick(event)">
                    <a class="ajp-photo-album-link" data-id="{{ a.id }}" href="#">{{ a.name }}</a>
                </div>
            {% endfor %}
            <a id="ajp-add-to-album-button" class="d-flex flex-row align-items-center mt-2" title="{% trans "Add to album" %}" href="#">
                <div>{% trans 'Add to album' %}</div>
                <span class="material-icons notranslate ajp-text-gray">add_box</span>
            </a>
        </div>
    </div>
    {% include '_annotations.html' with numberOfColumns=2 %}
    {% if collection_albums.all|length > 0 %}
    <div class="row pl-3 d-flex flex-row" style="flex-wrap:unset;">
        <span class="material-icons notranslate ajp-photo-modal-collection-icon ajp-cursor-default float-left mr-3 mt-2 ajp-icon-36"
            title="{% blocktrans count counter=collection_albums|length %}Picture belongs to collection{% plural %}Picture belongs to collections:{% endblocktrans %}">
            account_balance
        </span>
        <div class="d-inline-flex flex-row justify-content-start flex-wrap ajp-text-medium align-items-center">
            {% for a in collection_albums %}
                <div class="mr-2 mt-2 d-flex align-items-center ajp-pebble" data-toggle="popover" onclick="window.albumPhotoLinkClick(event)">
                    <a class="ajp-photo-album-link" data-id="{{ a.id }}" href="#">{{ a.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- end of albums block -->
    <!-- start of activity/comments tabs -->
    <div class="row pt-3">
        <div class="col-md-12">
            <ul class="nav nav-tabs border-bottom border-secondary" role="tablist" id="ajp-activity-tabs">
                <li role="presentation" class="active">
                    <a href="#ajp-activity-log" aria-controls="ajp-activity-log" role="tab" data-toggle="tab" class="border rounded px-3 py-2">
                        <span class="material-icons notranslate align-middle mr-1">history</span>
                        {% trans "All activity" %}
                    </a>
                </li>
                <li role="presentation">
                    <a href="#ajp-comments-tab" aria-controls="ajp-comments-tab" role="tab" data-toggle="tab" class="border rounded px-3 py-2">
                        <span class="material-icons notranslate align-middle mr-1">chat</span>
                        {% trans "Comments only" %}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="ajp-activity-log">
                    <div id="ajp-activity-log-list" class="pt-2">
                        <div class="text-center">
                            <span class="material-icons notranslate ajp-text-gray">sync</span>
                            {% trans "Loading..." %}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="ajp-comments-tab">
                    <div id="ajp-comment-container">
                        <div class="col-md-12" id="ajp-comment-list"></div>
                        <div class="col-md-12 pl-1" id="ajp-new-comment-form-container">
                            {% render_comment_form for photo_obj %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of activity/comments tabs -->
    <!-- start of comment block (legacy, hidden) -->
    <!-- end of comment block -->
    <!-- start of toolbox block -->
        {% if not request.user_agent.is_pc %}
        <div class="row ajp-dater-hide-when-dater-visible pt-2 w-100">
            {% include '_toolbox.html' with photo=photo sidebar=False flexEnd=False %}
        </div>
    {% endif %}
    <!-- end of toolbox block -->
    {% if request.user.is_superuser %}
        <a id="ajp-photo-modal-discuss" class="no-text-decoration float-right"
            target="_blank"
            title="admin" href="/admin/ajapaik/photo/{{ photo.id }}">
            &Pi;
        </a>
    {% endif %}
</div>

{% block specific_js %}
    <script>
        $(document).ready(function () {
            window.refreshActivityLog = function (filterType) {
                const photoId = window.currentlyOpenPhotoId || {{ photo.id }};
                if (!window.photoActivityLogURL) {
                    return;
                }
                
                const actionIcons = {
                    0: 'add_location',       // GEOTAG
                    1: 'photo_camera',      // REPHOTO
                    2: 'add_photo_alternate', // PHOTO_UPLOAD
                    3: 'edit',              // PHOTO_CURATION
                    4: 'edit',              // PHOTO_RECURATION
                    5: 'event',             // DATING
                    6: 'event',             // DATING_CONFIRMATION
                    7: 'movie',             // FILM_STILL
                    8: 'person',            // ANNOTATION
                    9: 'person',            // CONFIRM_SUBJECT
                    10: 'compare',           // CONFIRM_IMAGE_SIMILARITY
                    11: 'person',           // SUGGESTION_SUBJECT_AGE
                    12: 'person',           // SUGGESTION_SUBJECT_GENDER
                    13: 'edit_note',        // TRANSCRIBE
                    14: 'category',         // CATEGORIZE_SCENE
                    15: 'terrain',           // ADD_VIEWPOINT_ELEVATION
                    16: 'flip',              // FLIP_PHOTO
                    17: 'rotate_right',      // ROTATE_PHOTO
                    18: 'invert_colors'      // INVERT_PHOTO
                };
                
                function getActionIcon(actionCode) {
                    return actionIcons[actionCode] || 'star';
                }
                
                $.ajax({
                    url: window.photoActivityLogURL + '?id=' + photoId,
                    success: function (response) {
                        if (response.error || !response.activities) {
                            $('#ajp-activity-log-list').html('<div class="text-muted">{% trans "No activity yet" %}</div>');
                            return;
                        }
                        let activities = response.activities;
                        
                        // Filter activities based on tab
                        if (filterType === 'comments') {
                            activities = activities.filter(function(a) { return a.type === 'comment'; });
                        }
                        // For 'all', show everything (including comments)
                        
                        if (activities.length === 0) {
                            $('#ajp-activity-log-list').html('<div class="text-muted">{% trans "No activity yet" %}</div>');
                            return;
                        }
                        let html = '<ul class="list-unstyled">';
                        activities.forEach(function(item) {
                            const date = item.created ? new Date(item.created).toLocaleDateString() : '';
                            if (item.type === 'geotag') {
                                const statusIcon = item.is_correct === true ? 'check_circle' : (item.is_correct === false ? 'cancel' : 'help');
                                const statusClass = item.is_correct === true ? 'ajp-text-green' : (item.is_correct === false ? 'ajp-text-red' : 'ajp-text-gray');
                                html += '<li class="mb-2 d-flex align-items-center">';
                                html += '<span class="material-icons notranslate ajp-text-gray mr-2">add_location</span>';
                                html += '<span class="material-icons notranslate ' + statusClass + ' mr-2" style="font-size: 16px;">' + statusIcon + '</span>';
                                html += '<span class="text-muted mr-2">' + date + '</span>';
                                html += '<span>' + (item.user || '{% trans "Unknown" %}') + '</span>';
                                html += '</li>';
                            } else if (item.type === 'dating') {
                                html += '<li class="mb-2 d-flex align-items-center">';
                                html += '<span class="material-icons notranslate ajp-text-gray mr-2">event</span>';
                                html += '<span class="text-muted mr-2">' + date + '</span>';
                                html += '<span>' + (item.user || '{% trans "Unknown" %}') + '</span>';
                                html += ': <span class="ajp-text-small">' + item.date_start + (item.date_end ? ' - ' + item.date_end : '') + '</span></li>';
                            } else if (item.type === 'comment') {
                                html += '<li class="mb-2 d-flex align-items-center">';
                                html += '<span class="material-icons notranslate ajp-text-gray mr-2">chat_bubble</span>';
                                html += '<span class="text-muted mr-2">' + date + '</span>';
                                html += '<span>' + item.text + '</span></li>';
                            } else if (item.type === 'like') {
                                const likeIcon = item.level === 2 ? 'favorite' : 'thumb_up';
                                html += '<li class="mb-2 d-flex align-items-center">';
                                html += '<span class="material-icons notranslate ajp-text-gray mr-2">' + likeIcon + '</span>';
                                html += '<span class="text-muted mr-2">' + date + '</span>';
                                html += '<span>' + (item.user || '{% trans "Unknown" %}') + '</span>';
                                html += '</li>';
                            } else if (item.type === 'activity') {
                                const icon = getActionIcon(item.action_code);
                                let albumLink = '';
                                if ((item.action_code === 3 || item.action_code === 4) && item.album_id && item.album_name) {
                                    albumLink = ' - <a href="/album/' + item.album_id + '">' + item.album_name + '</a>';
                                }
                                html += '<li class="mb-2 d-flex align-items-center">';
                                html += '<span class="material-icons notranslate ajp-text-gray mr-2">' + icon + '</span>';
                                html += '<span class="text-muted mr-2">' + date + '</span>';
                                html += '<span>' + (item.user || '{% trans "Unknown" %}') + '</span>';
                                html += ': <span class="ajp-text-small">' + item.action + '</span>' + albumLink + ' (' + item.points + 'p)</li>';
                            }
                        });
                        html += '</ul>';
                        $('#ajp-activity-log-list').html(html);
                    },
                    error: function() {
                        $('#ajp-activity-log-list').html('<div class="text-muted">{% trans "Failed to load activity" %}</div>');
                    }
                });
            }

            window.refreshActivityLog('all');

            $('#ajp-activity-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if ($(e.target).attr('href') === '#ajp-activity-log') {
                    window.refreshActivityLog('all');
                } else if ($(e.target).attr('href') === '#ajp-comments-tab') {
                    window.refreshActivityLog('comments');
                }
            });

            let container = $('#ajp-modal-body').size() > 0 ? '#ajp-modal-body' : 'body';
            $(".ajp-photo-album-link").each(function() {
                let anchorLink = $(this);
                let requestUrl = api_albumphoto_information.replace('album/0', 'album/' + anchorLink.attr('data-id')).replace('photo/0', 'photo/' + '{{ photo.id }}');
                let request = new Request(
                    requestUrl,
                    {
                        method: 'GET',
                        headers: new Headers()
                    }
                );

                fetch(request)
                .then(function(response) {
                    return response.json();
                }).then(function(data){
                    let popoverContent = $('<div>', { style: 'max-width:240px;' });
                    if (data.profile) {
                        popoverContent.append(gettext('Picture added to album by:') + ' ');
                        popoverContent.append($('<a>', {
                            href: data.profile.profile_url,
                            text: data.profile.name
                        }));
                        popoverContent.append($('<br><br>'));
                    }
                    if (data.photo_count) {
                        let photoCountText = interpolate(ngettext('Album has <em>%(photoCount)s</em> picture', 'Album has <em>%(photoCount)s</em> pictures', data.photo_count), {photoCount: data.photo_count}, true);
                        popoverContent.append(photoCountText);
                    }

                    let viewAlbumButton = createIconButton(
                        gettext("Open album"),
                        'photo_album',
                        gettext('Open album'),
                        function() {
                            window.open('/?album=' + anchorLink.attr('data-id'), '_blank');
                        }
                    )
                    popoverContent.append(viewAlbumButton);

                    anchorLink.popover({
                        html: true,
                        sanitize: false,
                        trigger: 'manual',
                        container,
                        content: popoverContent,
                        title: data.name,
                    })
                });
            });
        })
    </script>
{% endblock %}