{% verbatim %}
    <script id="ajapaik-frontpage-video-template" type="text/x-tmpl">
        <a target="_blank" href="/video/{%=o.id%}/{%=o.slug%}/" class="ajapaik-frontpage-video-container" data-id="{%=o.id%}" onclick="return false;">
            <img alt="{%=o.name%}" title="{%=o.name%}" src="{%=o.cover_image%}"
                class="ajapaik-frontpage-video img-responsive" data-id="{%=o.id%}" data-slug="{%=o.slug%}"
                width="{%=o.cover_image_width%}" height="{%=o.cover_image_height%}"/>
            <i class="material-icons notranslate">movie</i>
        </a>
    </script>
{% endverbatim %}