{% load i18n %}

{% if not is_top_50 %}
    {% if album_leaderboard %}
        {% include "_leaderboard_positions.html" with leaderboard=album_leaderboard %}
    {% endif %}
    {% if leaderboard %}
        {% include "_leaderboard_positions.html" with leaderboard=leaderboard is_recent=True %}
    {% endif %}
    {% if all_time_leaderboard %}
        {% include "_leaderboard_positions.html" with leaderboard=all_time_leaderboard %}
    {% endif %}
{% else %}
    {% if album_leaderboard %}
        <div class="col-xs-6">
            <h3>{% blocktrans with album_name as album_name %}Album {{ album_name }} leaderboard{% endblocktrans %}</h3>
            {% include "_leaderboard_positions.html" with leaderboard=album_leaderboard %}
        </div>
    {% endif %}
    {% if activity_leaderboard %}
        <div class="col-xs-6">
            <h3>{% trans "Recent activity leaderboard" %}</h3>
            {% include "_leaderboard_positions.html" with leaderboard=activity_leaderboard is_recent=True %}
        </div>
    {% endif %}
    {% if all_time_leaderboard %}
        <div class="col-xs-6">
            <h3>{% trans "All time leaderboard" %}</h3>
            {% include "_leaderboard_positions.html" with leaderboard=all_time_leaderboard %}
        </div>
    {% endif %}
{% endif %}