{% load i18n %}

<li class="dropdown pull-left ajapaik-margin-left-minus-10-px{% if not show_photos %} hidden{% endif %}" id="ajapaik-filtering-dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle ajapaik-no-background" title="{% trans 'Filtering' %}">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" fill="#888" viewBox="0 0 24 24">
            <path {% if order2 != 'added' %}class="ajapaik-white"{% endif %} id="ajapaik-header-filter-icon" fill="#888" d="M3,2H21V2H21V4H20.92L14,10.92V22.91L10,18.91V10.91L3.09,4H3V2Z" ></path>
        </svg>
    </a>
    <ul class="dropdown-menu ajapaik-black-dropdown-menu" role="menu">
        <li id="ajapaik-filter-dropdown-filter-name"></li>
        <li data-order1="closest" data-order2="none">
            <a href="#" class="ajapaik-filtering-choice" data-order1="closest" data-order2="none"
               title="{% trans "Sort by distance from you" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" >
                    <path d="M0 0h24v24h-24z" fill="none"></path>
                    <path fill="#888" id="ajapaik-closest-filter-icon"
                          d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94v-2.06h-2v2.06c-4.17.46-7.48 3.77-7.94 7.94h-2.06v2h2.06c.46 4.17 3.77 7.48 7.94 7.94v2.06h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94h2.06v-2h-2.06zm-8.94 8c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"></path>
                </svg>
            </a>
        </li>
        <li data-order1="time">
            <a href="#" class="ajapaik-filtering-choice" data-order1="time"
               title="{% trans "Sort by time and ..." %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="#888" id="ajapaik-time-filter-icon" opacity=".9" d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"></path>
                </svg>
            </a>
        </li>
        <li data-order1="time" data-order2="added">
            <a href="#" class="ajapaik-filtering-choice"
               data-order1="time" data-order2="added" title="{% trans "Sort by photos' time added" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24">
                    <path d="M0 0h24v24h-24z" fill="none"></path>
                    <path fill="#888" id="ajapaik-added-filter-icon" d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm5 11h-4v4h-2v-4h-4v-2h4v-4h2v4h4v2z"></path>
                </svg>
            </a>
        </li>
        <li data-order2="likes">
            <a href="#" class="ajapaik-filtering-choice"
               data-order2="likes" title="{% trans "Sort by likes' time added or amount" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24">
                    <path fill="#888" id="ajapaik-likes-filter-icon" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                    <path d="M0 0h24v24h-24z" fill="none"></path>
                </svg>
            </a>
        </li>
        <li data-order2="views">
            <a href="#" class="ajapaik-filtering-choice"
               data-order2="views" title="{% trans "Sort by views' time added or amount" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24">
                    <path fill="#888" id="ajapaik-views-filter-icon" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path>
                    <path d="M0 0h24v24h-24z" fill="none"></path>
                </svg>
            </a>
        </li>
        <li data-order2="geotags">
            <a href="#" class="ajapaik-filtering-choice"
               data-order2="geotags" title="{% trans "Sort by geotags' time added or amount" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24">
                    <path fill="#888" id="ajapaik-geotags-filter-icon" d="M18 8c0-3.31-2.69-6-6-6s-6 2.69-6 6c0 4.5 6 11 6 11s6-6.5 6-11zm-8 0c0-1.1.9-2 2-2s2 .9 2 2-.89 2-2 2c-1.1 0-2-.9-2-2zm-5 12v2h14v-2h-14z"></path>
                    <path d="M0 0h24v24h-24z" fill="none"></path>
                </svg>
            </a>
        </li>
        <li data-order2="rephotos">
            <a href="#" class="ajapaik-filtering-choice"
               data-order2="rephotos" title="{% trans "Sort by rephotos' time added or amount" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24">
                    <path d="M0 0h24v24h-24z" fill="none"></path>
                    <path fill="#888" id="ajapaik-rephotos-filter-icon" d="M4 6h-2v14c0 1.1.9 2 2 2h14v-2h-14v-14zm16-4h-12c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm-1 9h-4v4h-2v-4h-4v-2h4v-4h2v4h4v2z"></path>
                </svg>
            </a>
        </li>
        <li data-order2="comments">
            <a href="#" class="ajapaik-filtering-choice" data-order2="comments"
               title="{% trans "Sort by comments' time added or amount" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="48" viewBox="0 0 24 24">
                    <path fill="#888" id="ajapaik-comments-filter-icon" d="M20 2h-16c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2z"></path>
                    <path d="M0 0h24v24h-24z" fill="none"></path>
                </svg>
            </a>
        </li>
        <li id="ajapaik-sort-size" data-order1="amount">
            <a href="#" class="ajapaik-filtering-choice" data-order1="amount"
               title="{% trans "Sort by amount and ..." %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                    <path fill="#888" id="ajapaik-amount-filter-icon" d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </a>
        </li>
        <li data-order3="reverse">
            <a href="#" class="ajapaik-filtering-choice" data-order3="reverse"
               title="{% trans "Change sorting order" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                    <path fill="#888" id="ajapaik-reverse-filter-icon" d="M16 17.01V10h-2v7.01h-3L15 21l4-3.99h-3zM9 3L5 6.99h3V14h2V6.99h3L9 3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </a>
        </li>
        <li>
            <a href="#" id="ajapaik-filtering-help" title="{% trans "Help" %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                    <path d="M0 0h24v24h-24z" fill="none"></path>
                    <path fill="#888" d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92c-.72.73-1.17 1.33-1.17 2.83h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2h-2c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"></path>
                </svg>
            </a>
        </li>
    </ul>
</li>