{% load i18n %}

<div class="modal-dialog">
    <div class="modal-content ajapaik-zero-border-radius">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4>{% trans "Fotodugnad shows how places have changed over time" %}</h4>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                {% trans "Discover how places looked like years ago by" %}
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">{% trans "* searching historic view pictures from museums' collections and curating selected images to Fotodugnad," %}</div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">{% trans "* geotagging pictures from places you are familiar with and" %}</div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">{% trans "* rephotographing the historic views from places you visit." %}</div>
            </div>
            <div class="row-fluid">&nbsp;</div>
            <div class="row-fluid">
                {% blocktrans %}
                    Fotodugnad has <b>{{ total_photo_count }}</b> historic pictures, out of which
                {% endblocktrans %}
                {% blocktrans %}
                    <b>{{ total_photos_tagged }}</b> pictures have been put on the map by
                {% endblocktrans %}
                {% blocktrans %}
                    <b>{{ contributing_users }}</b> users and
                {% endblocktrans %}
                {% blocktrans %}
                    <b>{{ rephoto_count }}</b> rephotographs for
                {% endblocktrans %}
                {% blocktrans %}
                    <b>{{ rephotographed_photo_count }}</b> pictures made by
                {% endblocktrans %}
                {% blocktrans %}
                    <b>{{ rephotographing_users }}</b> users.
                {% endblocktrans %}
            </div>
            <br/>
            {% if user_geotagged_photos > 0 %}
                <div class="row-fluid">
                    {% blocktrans count counter=user_geotagged_photos %}
                        You have suggested location for <b>{{ user_geotagged_photos }}</b> picture.
                    {% plural %}
                        You have suggested locations for <b>{{ user_geotagged_photos }}</b> pictures.
                    {% endblocktrans %}
                </div>
            {% endif %}
            {% if user_rephotos > 0 %}
                <div class="row-fluid">
                    {% blocktrans count counter=user_rephotographed_photos %}
                        You have made <b>{{ user_rephotos }}</b> rephoto for
                    {% plural %}
                        You have made <b>{{ user_rephotos }}</b> rephotos for
                    {% endblocktrans %}
                    {% blocktrans count counter=user_rephotographed_photos %}
                        <b>{{ user_rephotographed_photos }}</b> picture.
                    {% plural %}
                        <b>{{ user_rephotographed_photos }}</b> pictures.
                    {% endblocktrans %}
                </div>
            {% endif %}
        </div>
    </div>
</div>