<div class="row-fluid ajp-full-height">
    <div class="col-xs-12 col-sm-9 ajp-full-height ajp-no-padding" id="ajp-geotagger-map-container">
        <div id="ajp-geotagger-map-canvas"></div>
    </div>
    <div class="col-xs-12 col-sm-3 ajp-no-padding" id="ajp-geotagger-panel">
        <div class="col-xs-6 col-sm-12 ajp-no-padding">
            <a>
                <img id="ajp-geotagger-image-thumb" class="ajp-full-width" src="">
            </a>
        </div>
        <div class="col-xs-6 col-sm-12 ajp-no-padding">
            <div class="btn-group btn-group-justified" role="group" aria-label="ajp-geotagger-image-buttons">
                <div class="btn-group" role="group">
                    <button type="button" id="ajp-geotagger-flip-button" class="btn btn-default ajp-no-border-radius">
                        <i class="material-icons">flip</i>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="ajp-geotagger-description-button"
                            class="btn btn-default ajp-no-border-radius">
                        <i class="material-icons">description</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>