{% load i18n %}
{% load socialaccount %}

<br/>
<div><b>
    {% if type == "leaderboard" %}
        {% trans "Log in to save your score" %}
    {% elif type == "rephoto_upload" %}
        {% trans "Log in to upload rephoto" %}
    {% elif type == "curator" %}
        {% trans "Log in to curate content" %}
    {% elif type == "video_anonymous" %}
        {% trans "Log in to create still frames" %}
    {% elif type == "photo_selection" %}
        {% trans "Log in to save selection" %}
    {% endif %}
</b></div>
<div id="{% if type == "leaderboard" %}ajapaik-header-facebook-connect{% elif type == "rephoto_upload" or type == "curator" or type == "video_anonymous" or type == "photo_selection" %}ajapaik-rephoto-upload-facebook-connect{% endif %}" class="facebook-connect">
    <a href="{% provider_login_url 'facebook' %}" class="ir">{% trans "Connect with Facebook" %}</a>
</div>
<div id="{% if type == "leaderboard" %}ajapaik-header-google-connect{% elif type == "rephoto_upload" or type == "curator" or type == "video_anonymous" or type == "photo_selection" %}ajapaik-rephoto-upload-google-connect{% endif %}" class="google-plus-connect">
    <a href="{% provider_login_url 'google' %}" class="ir">{% trans "Connect with Google" %}</a>
</div>
<form method="post" action="{% url 'account_login' %}" class="form">
    {% csrf_token %}
    <input class="form-control ajapaik-zero-border-radius" id="id_login" maxlength="254" name="login"
           placeholder="{% trans 'E-mail address' %}" required="required" title="" type="email">
    <input class="form-control ajapaik-zero-border-radius" id="id_password" name="password"
           placeholder="{% trans "Password" %}" required="required" title="" type="password">
    <input name="next" type="hidden" value="{% if type == "rephoto_upload" %}{{ next }}{% else %}{{ request.get_full_path }}{% endif %}">
    <br/>
    <div class="col-xs-6">
        <a href="{% url 'account_signup' %}">
            {% trans "Register with e-mail" %}
        </a>
    </div>
    <div class="col-xs-6">
        <button type="submit" id="ajp-email-login-button" class="btn btn-primary pull-right ajapaik-zero-border-radius">
            {% trans "Log in" %}
        </button>
    </div>
</form>