{% load i18n %}

<li class="dropdown pull-left">
    <a href="#" data-toggle="dropdown" id="ajapaik-header-selected-mode" class="dropdown-toggle ajapaik-no-background ajapaik-text-white">
        <i id="ajapaik-header-album-icon" class="material-icons">collections_bookmark</i>
        <i id="ajapaik-header-pictures-icon" class="material-icons">collections</i>
        <i id="ajapaik-header-image-icon" class="material-icons">insert_image</i>
        <i id="ajapaik-header-likes-icon" class="material-icons">favorite</i>
        <i id="ajapaik-header-rephotos-icon" class="material-icons">library_add</i>
        <span id="ajapaik-header-title" title=""></span>
    </a>
    <ul class="dropdown-menu" id="ajapaik-frontpage-mode-select">
        <li data-mode="albums">
            <a href="#" id="ajapaik-frontpage-show-albums-link" title="Show albums">
                <i class="material-icons">collections_bookmark</i> {% trans "Albums" %}
            </a>
        </li>
        <li data-mode="pictures">
            <a href="#" id="ajapaik-frontpage-show-pictures-link" title="Show pictures">
                <i class="material-icons">collections</i> {% trans "All pictures" %}
            </a>
        </li>
        <li data-mode="likes" {% if not user_has_likes %}class='disabled'{% endif %}>
            <a href="#" id="ajapaik-frontpage-show-liked-link" title="Show liked by me">
                <i class="material-icons">favorite</i> {% trans "My likes" %}
            </a>
        </li>
        <li data-mode="rephotos" {% if not user_has_rephotos %}class='disabled'{% endif %}>
            <a href="#" id="ajapaik-frontpage-show-rephotographed-link" title="Show rephotographed by me">
                <i class="material-icons">library_add</i> {% trans "My rephotos" %}
            </a>
        </li>
    </ul>
</li>