{% load i18n %}

<div class="modal-dialog modal-lg modal-xxl" id="mapview-photo-modal-dialog">
    <div class="modal-content">
        <div class="modal-header ajapaik-no-bottom-border-modal-header" id="ajapaik-video-modal-header">
            <button id="ajapaik-video-modal-close-button" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="ajapaik-video-modal-body">
            <video id="ajapaik-modal-video" controls autoplay src="{{ video.file.url }}"></video>
        </div>
        <div class="modal-footer">
            {% if not request.user.profile.fb_id and not request.user.profile.google_plus_id %}
                <div class="row">
                    <div id="ajapaik-video-modal-anaonymous-warning" class="pull-left">
                        {% trans "You're anonymous" %}<i id="ajapaik-video-modal-anonymous-icon" class="material-icons notranslate">account_circle</i>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <button id="ajapaik-video-modal-still-button" class="btn disabled pull-left"><i class="material-icons notranslate">camera</i></button>
            </div>
        </div>
    </div>
</div>