{% extends "base_bootstrap.html" %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    <div id="ajp-geotagging-container"></div>
{% endblock %}

{% block specific_js %}
    <script>
        $(document).ready(function () {
            $('#ajp-geotagging-container').AjapaikGeotagger().data('AjapaikGeotagger').initializeGeotaggerState({
                thumbSrc: '/foto_thumb/1699/400',
                fullScreenSrc: 'http://ajapaik.ee/media/cache/5d/26/5d268f499c80556e40e7d9e7d5fd3cd8.jpg',
                fullScreenWidth: 1442,
                fullScreenHeight: 1080,
                startLat: 59.435052,
                startLng: 24.778576,
                photoId: 1699,
                mode: 'vantage',
                markerLocked: true
            });
        });
    </script>
{% endblock %}