{% extends "base_bootstrap.html" %}
{% load i18n compress static %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    <div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    {% include "_info_modal.html" %}
    {% include "_rephoto_upload_modal.html" %}
    <input id="pac-input-mapview" class="controls" type="text" placeholder={% trans "Search box" %}>
    <div id="ajapaik-map-container">
        <div id="ajapaik-map-canvas" class="ajapaik-map-canvas-mapview"></div>
    </div>
    <div id="ajp-geotagging-container"></div>
    {% include "_full_leaderboard_modal.html" %}
    <div class="full-box original-full-box">
        <div class="full-pic" id="ajapaik-fullscreen-image-container">
            <img id="ajapaik-full-screen-image" src="#" alt=""/>
        </div>
    </div>
    <div class="full-box rephoto-full-box">
        <div class="full-pic" id="ajapaik-rephoto-fullscreen-image-container">
            <img id="ajapaik-rephoto-full-screen-image" src="#" alt=""/>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        $('#ajp-geotagging-container').AjapaikGeotagger();
        var title = '{{ title }}',
            leaderboardFullURL = "{% url "project.ajapaik.views.top50" %}",
            difficultyFeedbackURL = "{% url "project.ajapaik.views.difficulty_feedback" %}";
            {% if album %}
                var albumId = '{{ album.0 | safe }}';
                {% if album.1 and album.2 %}
                    window.albumLatLng = new window.google.maps.LatLng({{ album.2 | safe }}, {{ album.3 | safe }});
                {% endif %}
            {% endif %}
        var photoModalCurrentImageUrl;
        window.linkToMap = false;
        window.linkToGame = true;
        window.linkToGallery = true;
        window.fbShareMap = true;
        {% if selected_photo %}
            var preselectPhotoId = '{{ selected_photo.id }}';
            {% if selected_photo.lat and selected_photo.lon %}
                var preselectPhotoLat = '{{ selected_photo.lat | safe }}',
                    preselectPhotoLng = '{{ selected_photo.lon | safe }}';
            {% endif %}
        {% endif %}
        {% if selected_rephoto %}
            var preselectRephotoId = '{{ selected_rephoto.id }}';
        {% endif %}
    </script>
    {% compress js %}
        <script src="{% static "js/markerclustererplus-2.1.2.min.js" %}"></script>
        <script src="{% static "libs/jsPanel-2.5.2/jspanel/jquery.jspanel.min.js" %}"></script>
        <script src="{% static "js/ajapaik-map.js" %}"></script>
    {% endcompress %}
    {% verbatim %}
        <script id="ajapaik-pane-element-template" type="text/x-tmpl">
            <a id="element{%=o.id%}" class="ajapaik-mapview-pane-photo-container" href="{%=o.permalink%}"
               data-id="{%=o.id%}" onclick="return false;">
                <img src=""
                     data-src="{%=o.url%}"
                     alt="{%=o.description%}"
                     title="{%=o.description%}"
                     data-id="{%=o.id%}"
                     class="lazyload img-responsive{% if (o.flipped) { %} ajapaik-photo-flipped{% } %}"
                     height="{%=o.height%}"
                     width="{%=o.width%}"
                     onclick="window.highlightSelected({%=o.id%}, false, event);"
                     onmouseover="(function(e) {window.paneImageHoverIn(e)})(this)"
                     onmouseout="(function(e) {window.paneImageHoverOut(e)})(this)"/>
                {% if (o.rephotos) { %}
                    <div class="ajapaik-rephoto-count ajapaik-rephoto-count-{%=o.rephotos%}"
                         data-id="{%=o.id%}"
                         onmouseover="(function(e) {window.paneRephotoCountHoverIn(e)})(this)"
                         onmouseout="(function(e) {window.paneRephotoCountHoverOut(e)})(this)">
                    </div>
                {% } %}
                {% if (userIsSocialConnected) { %}
                    <div class="ajapaik-thumbnail-selection-icon{% if (o.in_selection) { %} ajapaik-thumbnail-selection-icon-white{% } %}" data-id="{%=o.id%}"></div>
                {% } %}
                {% if (o.comments) { %}
                    <span class="ajapaik-comment-count">{%=o.comments%}</span>
                {% } %}
            </a>
        </script>
    {% endverbatim %}
{% endblock %}