{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header.html" %}
    {% block specific_css %}
        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}libs/cropper-0.10.0/dist/cropper.css"/>
        {% endcompress %}
    {% endblock %}
{% endblock %}

{% block layout %}
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="img-responsive" id="ajapaik-order-main-image" src="{{ photo.1 }}"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        window.isOrder = true;
        window.photoId = '{{ photo.0 }}';
    </script>
    {% compress js %}
        <script src="{{ STATIC_URL }}libs/cropper-0.10.0/dist/cropper.js"></script>
        <script src="{{ STATIC_URL }}js/ajapaik-order.js"></script>
    {% endcompress %}
{% endblock %}