{% extends "base_bootstrap.html" %}
{% load i18n comments %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    {% include "_info_modal.html" %}
    {% include "_rephoto_upload_modal.html" %}
    <div class="full-box original-full-box">
        <div class="full-pic" id="ajapaik-fullscreen-image-container">
            <img id="ajapaik-full-screen-image" class="lazyload" style="display: none;" data-src="{{ fullscreen.url }}"
                 alt="{{ photo.description }}" title="{{ photo.description }}"/>
        </div>
    </div>
    {% if rephoto %}
        <div class="full-box rephoto-full-box">
            <div class="full-pic" id="ajapaik-rephoto-fullscreen-image-container">
                <img id="ajapaik-rephoto-full-screen-image" class="lazyload" style="display: none;"
                     alt="{{ photo.description }} {% trans "rephoto" %}"
                     data-src="{% url "project.ajapaik.views.image_full" rephoto.pk %}"
                     title="{{ photo.description }} {% trans "rephoto" %}"/>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid" id="ajapaik-photoview-container">
    <div class="col-xs-10">
        <div class="row-fluid">
            <div class="{% if rephoto %}col-xs-6{% elif is_mobile %}col-xs-12{% else %}col-xs-9{% endif %}">
                <div id="ajapaik-photoview-main-photo-container">
                    <a class="fullscreen" id="ajapaik-full-screen-link">
                        <img id="ajapaik-photoview-main-photo" class="img-responsive col-xs-12"
                             alt="{{ photo.description }}"
                             src="{% url 'project.ajapaik.views.image_thumb' photo.id 800 photo.get_pseudo_slug %}"/>
                    </a>
                    {% if previous_photo %}
                        <a class="ajapaik-photo-modal-previous-button"
                           href="{% url 'project.ajapaik.views.photoslug' previous_photo.pk previous_photo.get_pseudo_slug %}">
                            <i class="material-icons notranslate">navigate_before</i>
                        </a>
                    {% endif %}
                    {% if next_photo %}
                        <a class="ajapaik-photo-modal-next-button"
                           href="{% url 'project.ajapaik.views.photoslug' next_photo.pk next_photo.get_pseudo_slug %}">
                            <i class="material-icons notranslate">navigate_next</i>
                        </a>
                    {% endif %}
                    <button class="ajapaik-thumbnail-selection-icon{% if photo.in_selection %} ajapaik-thumbnail-selection-icon-white{% endif %}"
                            data-id="{{ photo.id }}">
                        <i class="material-icons notranslate">check_circle</i>
                    </button>
                    <button class="ajapaik-overlay-button ajapaik-flip-photo-overlay-button" style="display: none;">
                        <i class="material-icons notranslate">flip</i>
                    </button>
                    <button class="ajapaik-like-photo-overlay-button{% if photo.user_likes %} active{% endif %}{% if photo.user_loves %} active big{% endif %}">
                        {% if photo.user_likes or photo.user_loves %}
                            <i class="material-icons notranslate">favorite</i>
                            <span class="ajapaik-like-count">{{ photo.like_count }}</span>
                        {% else %}
                            <i class="material-icons notranslate">favorite_border</i>
                            <span class="ajapaik-like-count">{{ photo.like_count }}</span>
                        {% endif %}
                    </button>
                </div>
                {% if photo.author %}
                    <div class="row-fluid">
                        <b>{{ photo.author }}</b>
                    </div>
                {% endif %}
                {% if photo.description %}
                    <div class="row-fluid">
                        {{ photo.description }}
                    </div>
                {% endif %}
                {% if photo.date %}
                    <div class="row-fluid">
                        {{ photo.date }}
                    </div>
                {% elif photo.date_text %}
                    <div class="row-fluid">
                        {{ photo.date_text }}
                    </div>
                {% endif %}
                <div class="row-fluid">
                    {% if photo.licence %}{% include "_licence.html" with licence=photo.licence %}{% endif %}
                    {% if photo.source_url %}
                        <a onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);"
                           href='{{ photo.source_url }}' target="_blank">
                            {{ photo.source.description }} {% if photo.source_key %}{{ photo.source_key }}{% endif %}
                        </a>
                    {% elif photo.source.description %}
                        {{ photo.source.description }}{% if photo.source_key %} {{ photo.source_key }}{% endif %}
                    {% endif %}
                </div>
                <div class="row-fluid" id="ajapaik-photo-modal-like">
                    <div class="fb-like" data-href="
                            {{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}"
                         data-layout="standard" data-action="like" data-show-faces="true"
                         data-share="true"></div>
                </div>
                <div class="row-fluid ajapaik-height-48 ajapaik-margin-top-10">
                    <a id="ajapaik-photoview-start-geotagging-button" data-id="{{ photo.id }}" class="pull-left"
                       title="{% trans "Pick the shooting location!" %}" href="#">
                        <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">add_location</i>
                    </a>
                    <a id="ajapaik-photoview-start-dating-button" data-id="{{ photo.id }}" class="pull-left"
                       title="{% trans "Date this image" %}" href="#">
                        <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">event</i>
                        <span class="badge">{{ datings_count }}</span>
                    </a>
                    <a title="{% trans "Add rephoto" %}" id="ajapaik-photoview-add-rephoto-button" href="#"
                       class="pull-left">
                        <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">add_a_photo</i>
                    </a>
                    <div class="dropdown pull-left">
                        <a id="ajapaik-sharing-dropdown-button" href="#" role="button" title="{% trans "Share" %}"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">share</i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="ajapaik-sharing-dropdown-button">
                            <li role="presentation" class="disabled-link">
                                <div role="menuitem" tabindex="-1" id="ajapaik-grab-link">
                                    <a href="
                                            {{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}">
                                        {{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}
                                            {{ photo.get_absolute_url }}{% endif %}
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row-fluid" id="ajp-dater-container"></div>
                {% if albums %}
                    <div class="row" style="margin-top: 10px;">
                    <br>
                    {% for a in albums %}
                        <div class="row ajapaik-no-left-margin-row" style="min-height: 36px;">
                        {% if forloop.first %}
                            <div class="col-xs-1">
                                <i class="material-icons notranslate ajapaik-photo-modal-album-icon"
                                   title="{% blocktrans count counter=albums|length %}Picture belongs to album{% plural %}Picture belongs to albums:{% endblocktrans %}">
                                    {% if a.is_film_still_album %}movie{% else %}photo_album{% endif %}</i>
                            </div>
                        {% endif %}
                        {% if forloop.first %}
                            <div class="col-xs-11">{% else %}
                            <div class="col-xs-offset-1 col-xs-11">{% endif %}
                    <a class="ajapaik-photo-album-link"
                       href="{% url 'project.ajapaik.views.frontpage' %}?album={{ a.id }}">
                        {{ a.name }}
                    </a>
                    <div class="ajapaik-photo-modal-album-more-button" role="button"
                         title="{% trans 'Album details' %}" data-id="{{ a.id }}"></div>
                    <div class="ajapaik-photo-modal-photo-curator">
                        &nbsp;<i title="{% trans "Curator" %}" class="material-icons notranslate ajapaik-text-gray">account_circle</i>
                        <p class="hidden"> {{ a.this_photo_curator.get_display_name }}</p>
                    </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="row-fluid" id="ajapaik-photoview-comments-section">
                    <div class="comments">
                        {% if rephoto %}
                            {% render_comment_list for rephoto %}
                        {% else %}
                            {% render_comment_list for photo %}
                        {% endif %}
                    </div>
                    <div class="comment">
                        <h4>{% trans "Your comment" %}</h4>
                        <div class="well">
                            {% if rephoto %}
                                {% render_comment_form for rephoto %}
                            {% else %}
                                {% render_comment_form for photo %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                </div>
                {% if not rephoto %}
                    <div id="ajapaik-photo-modal-map-container" class="col-xs-3">
                        <div id="ajapaik-minimap-disabled-overlay"></div>
                        <div id="ajapaik-photo-modal-map-canvas"></div>
                        {% if photo.address %}
                            <div class="row-fluid">
                                <i>{% trans "Approximate address" %}: {{ photo.address }}</i>
                            </div>
                        {% endif %}
                    </div>
                    <span id="ajapaik-photo-modal-specify-location" data-id="{{ photo.id }}"
                          title="{% trans "Pick the shooting location!" %}" style="display: none;"></span>
                {% else %}
                    <div class="col-xs-6">
                        <div id="ajapaik-photoview-rephoto-container">
                            <a class="fullscreen" id="ajapaik-rephoto-full-screen-link">
                                <img id="ajapaik-photoview-rephoto" class="img-responsive col-xs-12"
                                     alt="{{ photo.description }} {% trans "rephoto" %}"
                                     src="{% url 'project.ajapaik.views.image_thumb' rephoto.id 800 rephoto.get_pseudo_slug %}"/>
                            </a>
                            <button class="btn btn-default ajapaik-overlay-button ajapaik-close-rephoto-overlay-button"
                                    id="ajapaik-close-rephoto-overlay-button"
                                    {% if not request.mobile %}style="display: none;"{% endif %}><i
                                    class="material-icons notranslate">close</i></button>
                            <button class="btn btn-default ajapaik-overlay-button ajapaik-invert-rephoto-overlay-button"
                                    id="ajapaik-invert-rephoto-overlay-button"
                                    {% if not request.mobile %}style="display: none;"{% endif %}><i
                                    class="material-icons notranslate">invert_colors</i></button>
                        </div>
                        {% if rephoto.source and rephoto.source_key and rephoto.source_url %}
                            {% if rephoto.author %}
                                <div class="row-fluid"><b>{{ rephoto.author }}</b>{% if rephoto.licence %}
                                    {% include "_licence.html" with licence=rephoto.licence %}{% endif %}</div>
                            {% endif %}
                            <div class="row-fluid">
                                <a onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);"
                                   href='{{ rephoto.source_url }}' target="_blank">
                                    {{ rephoto.source.description }} {{ rephoto.source_key }}
                                </a>
                            </div>
                        {% elif rephoto.author %}
                            <div class="row-fluid"><b>{{ rephoto.author }}</b>{% if rephoto.licence %}
                                {% include "_licence.html" with licence=rephoto.licence %}{% endif %}</div>
                        {% elif rephoto.user.fb_name %}
                            <div class="row-fluid">
                                <a id="ajapaik-photo-modal-rephoto-user-link" target="_blank"
                                   href="{{ rephoto.user.fb_link }}">{{ rephoto.user.fb_name }}</a>&nbsp;{% include '_licence.html' %}
                            </div>
                        {% elif rephoto.user.google_plus_name %}
                            <div class="row-fluid">
                                <a id="ajapaik-photo-modal-rephoto-user-link" target="_blank"
                                   href="{{ rephoto.user.google_plus_link }}">{{ rephoto.user.google_plus_name }}</a>&nbsp;{% include '_licence.html' %}
                            </div>
                        {% else %}
                            <div class="row-fluid">
                                <a id="ajapaik-photo-modal-rephoto-user-link" target="_blank"
                                   href="#">{{ rephoto.user.get_display_name }}</a>&nbsp;{% include '_licence.html' %}
                            </div>
                        {% endif %}
                        {% if rephoto.date %}
                            <div class="row-fluid">
                                {% trans "Date taken" %}&nbsp;
                                <div id="ajapaik-photoview-date-taken">{{ rephoto.date|date:"d.m.Y" }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-2">
            <div id="ajapaik-photoview-rephoto-selection">
                {% for rephoto in photo.rephotos.all %}
                    <div class="row ajapaik-no-right-margin-row ajapaik-no-left-margin-row">
                        <a href="{% url 'project.ajapaik.views.photoslug' rephoto.id rephoto.get_pseudo_slug %}"
                           class="col-xs-12">
                            <img src="{% url 'project.ajapaik.views.image_thumb' rephoto.id 250 rephoto.get_pseudo_slug %}"
                                 class="img-responsive col-xs-12 ajapaik-photoview-rephoto-thumb"
                                 alt="{{ photo.description }} {% trans "rephoto" %}"
                                 title="{{ photo.description }} {% trans "rephoto" %}"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "_full_leaderboard_modal.html" %}
    <div id="ajp-geotagging-container"></div>
{% endblock %}

{% block specific_js %}
    <script>
        window.albumId = '{{ album.id }}';
        window.photoId = '{{ photo.id }}';
        window.previousDatings = {{ previous_datings|safe }};
        window.hostname = '{{ hostname }}';
        // Some fake variables to reuse photo modal mini-map component
        {% if photo.lat and photo.lon %}
            window.photoModalPhotoLat = {{ photo.lat|safe }};
            window.photoModalPhotoLng = {{ photo.lon|safe }};
        {% endif %}
        {% if photo.azimuth %}
            window.photoModalPhotoAzimuth = {{ photo.azimuth|safe }};
        {% endif %}
        {% if album.1 and album.2 %}
            window.albumLat = {{ album.1|safe }};
            window.albumLon = {{ album.2|safe }};
        {% endif %}
        window.currentPhotoSourceName = '{{ photo.source.description }}';
        window.currentPhotoSourceKey = '{{ photo.source_key }}';
        window.currentPhotoSourceURL = '{{ photo.source_url }}';
        window.photoModalCurrentlyOpenPhotoId = {{ photo.id }};
        window.originalPhotoAbsoluteURL = '{{ photo.get_absolute_url }}';
        window.photoModalUserHasConfirmedThisLocation = {{ user_confirmed_this_location }};
        window.photoModalUserHasGeotaggedThisPhoto = {{ user_has_geotagged }};
        window.photoModalGeotaggingUserCount = {{ geotag_count }};
        window.photoModalFirstGeotaggers = {{ first_geotaggers|safe }};
        window.isPhotoview = true;
        window.flipPhoto = function () {
            window.photoModalCurrentPhotoFlipped = !window.photoModalCurrentPhotoFlipped;
        };
        window.updateLeaderboard();
        $(document).ready(function () {
            var rephotoUploadModal = $('#ajapaik-rephoto-upload-modal'),
                    mainPhoto = $('#ajapaik-photoview-main-photo'),
                    originalFullscreen = $('#ajapaik-full-screen-image');
            $('#ajp-geotagging-container').AjapaikGeotagger();
            $('#ajp-dater-container').AjapaikDater();
            window.showPhotoMapIfApplicable(true);
            mainPhoto.on('load', function () {
                window.showPhotoMapIfApplicable(true);
            });
            $('.dropdown-toggle').dropdown();
            $('.disabled-link').click(function (event) {
                event.preventDefault();
                event.stopPropagation();
            });
            window.prepareFullscreen({{ fullscreen.size.0 }}, {{ fullscreen.size.1 }}, '#ajapaik-full-screen-image');
            {% if rephoto %}
                window.prepareFullscreen({{ rephoto_fullscreen.size.0 }}, {{ rephoto_fullscreen.size.1 }}, '#ajapaik-rephoto-full-screen-image');
            {% endif %}
            $(document).on('click', '.ajapaik-flip-photo-overlay-button', function () {
                if (mainPhoto.hasClass('ajapaik-photo-flipped')) {
                    mainPhoto.removeClass('ajapaik-photo-flipped');
                } else {
                    mainPhoto.addClass('ajapaik-photo-flipped');
                }
            });
            $('.full-box div').on('click', function (e) {
                if (BigScreen.enabled) {
                    e.preventDefault();
                    window.fullscreenEnabled = false;
                    BigScreen.exit();
                    originalFullscreen.hide();
                    $('#ajapaik-rephoto-full-screen-image').hide();
                }
            });
            if (window.isMobile) {
                $('.ajapaik-flip-photo-overlay-button').show();
            }
            $(document).on('mouseover', '#ajapaik-photoview-main-photo-container', function () {
                if (!window.isMobile) {
                    $('.ajapaik-flip-photo-overlay-button').show();
                }
                $('.ajapaik-thumbnail-selection-icon').show();
            });
            $(document).on('mouseout', '#ajapaik-photoview-main-photo-container', function () {
                if (!window.isMobile) {
                    $('.ajapaik-flip-photo-overlay-button').hide();
                }
                $('.ajapaik-thumbnail-selection-icon').hide();
            });
            $(document).on('mouseover', '#ajapaik-photoview-rephoto-container', function () {
                if (!window.isMobile) {
                    $('#ajapaik-close-rephoto-overlay-button').show();
                    $('#ajapaik-invert-rephoto-overlay-button').show();
                }
            });
            $(document).on('mouseout', '#ajapaik-photoview-rephoto-container', function () {
                if (!window.isMobile) {
                    $('#ajapaik-close-rephoto-overlay-button').hide();
                    $('#ajapaik-invert-rephoto-overlay-button').hide();
                }
            });
            $(document).on('click', '#ajapaik-photoview-add-rephoto-button', function () {
                $.ajax({
                    cache: false,
                    url: window.photoUploadModalURL + {{ photo.id }} +'/',
                    success: function (result) {
                        rephotoUploadModal.data('bs.modal', null);
                        rephotoUploadModal.html(result).modal();
                    }
                });
            });
            $(document).on('click', '#ajapaik-photoview-map-button', function () {
                {% if album.0 %}
                    window.location.href = '/map/photo/' + {{ photo.id }} +'?album=' + {{ album.0 }};
                {% else %}
                    window.location.href = '/map/photo/' + {{ photo.id }};
                {% endif %}
            });
            $(document).on('click', '#ajapaik-frontpage-show-pictures-link', function () {
                window.location.href = '/photos/?order1=time&amp;order2=added';
            });
            $(document).on('click', '#ajapaik-photoview-header-game-button', function () {
                var albumId = $('#id_album').val(),
                        gameURL = '{% url 'project.ajapaik.views.game' %}';
                window.location.href = gameURL + '?album=' + albumId;
            });
            $(document).on('click', '#ajapaik-photoview-header-map-button', function () {
                var albumId = $('#id_album').val(),
                        mapURL = '{% url 'project.ajapaik.views.mapview' %}';
                window.location.href = mapURL + '?album=' + albumId;
            });
            $(document).on('click', '#ajapaik-close-rephoto-overlay-button', function (e) {
                e.stopPropagation();
                window.location.href = '/photo/' + {{ photo.id }} +'/{{ photo.get_pseudo_slug }}';
            });
            $(document).on('click', '#ajapaik-invert-rephoto-overlay-button', function (e) {
                e.stopPropagation();
                var targetDiv = $('#ajapaik-photoview-rephoto');
                if (targetDiv.hasClass('ajapaik-photo-bw')) {
                    targetDiv.removeClass('ajapaik-photo-bw');
                } else {
                    targetDiv.addClass('ajapaik-photo-bw');
                }
            });
            window.uploadCompleted = function (response) {
                $('#ajapaik-rephoto-upload-modal').modal('toggle');
                if (response && response.new_id) {
                    window.location.reload();
                }
            };
            window.syncStateToUrl = function () {
                $.noop();
            };
            $('#ajapaik-photoview-start-geotagging-button').click(function () {
                window.startGuessLocation($(this).data('id'));
            });
            window.startGuessLocation = function (photoId) {
                var startLat,
                        startLon;
                if (window.photoModalPhotoLat && window.photoModalPhotoLng) {
                    startLat = window.photoModalPhotoLat;
                    startLon = window.photoModalPhotoLng;
                } else if (window.albumLat && window.albumLon) {
                    startLat = window.albumLat;
                    startLon = window.albumLon;
                } else {
                    startLat = 59;
                    startLon = 26;
                }
                $('#ajapaik-photoview-container').hide();
                $('.footer').hide();
                $('html').addClass('ajapaik-html-game-map');
                $('body').addClass('ajapaik-body-game-map');
                $('#ajp-geotagging-container').show().data('AjapaikGeotagger').initializeGeotaggerState({
                    thumbSrc: '/photo-thumb/' + photoId + '/400',
                    photoFlipped: window.photoModalCurrentPhotoFlipped,
                    fullScreenSrc: '{{ fullscreen.url }}',
                    description: window.currentPhotoDescription,
                    sourceKey: window.currentPhotoSourceKey,
                    sourceName: window.currentPhotoSourceName,
                    sourceURL: window.currentPhotoSourceURL,
                    fullScreenWidth: {{ fullscreen.size.0 }},
                    fullScreenHeight: {{ fullscreen.size.1 }},
                    startLat: startLat,
                    startLng: startLon,
                    photoId: photoId,
                    uniqueGeotagCount: window.photoModalGeotaggingUserCount,
                    uniqueGeotagWithAzimuthCount: window.photoModalAzimuthCount,
                    mode: 'vantage',
                    markerLocked: true,
                    isGame: false,
                    isMapview: false,
                    isGallery: true,
                    tutorialClosed: docCookies.getItem('ajapaik_closed_geotagger_instructions') === 'true',
                    hintUsed: true
                });
                window.locationToolsOpen = true;
            };
            window.stopGuessLocation = function () {
                $('#ajapaik-photoview-container').show();
                $('html').removeClass('ajapaik-html-game-map');
                $('body').removeClass('ajapaik-body-game-map');
                $('#ajp-geotagging-container').hide();
                window.locationToolsOpen = false;
                window.showPhotoMapIfApplicable(true);
                $('.footer').show();
            };
            $('#ajapaik-photoview-start-dating-button').click(function (e) {
                e.preventDefault();
                if ($('#ajp-dater-container').is(':visible')) {
                    window.stopDater();
                    window.reportCloseDater();
                } else {
                    window.startDater($(this).data('id'));
                    window.reportDaterOpen();
                }
            });
            window.startDater = function (photoId) {
                $('#ajp-dater-container').show().data('AjapaikDater').initializeDaterState({
                    photoId: photoId,
                    previousDatings: window.previousDatings
                });
            };
            window.stopDater = function () {
                $('#ajp-dater-input').val(null);
                $('#ajp-dater-comment').val(null);
                $('#ajp-dater-feedback').empty();
                $('#ajp-dater-container').hide();
                $('#ajp-dater-feedback-well').hide();
            };
            window.updateDatings = function () {
                $.ajax({
                    url: '{% url 'project.ajapaik.views.get_datings' photo.id %}',
                    success: function (result) {
                        $('#ajp-dater-container').data('AjapaikDater').buildPreviousDatingsDiv(result.datings);
                        $('#ajapaik-photo-modal-start-dating-button').find('.badge').html(result.datings.length);
                        $('#ajapaik-photoview-start-dating-button').find('.badge').html(result.datings.length);
                        window.updateLeaderboard();
                        $('#ajp-dater-input').val(null);
                        $('#ajp-dater-comment').val(null);
                    }
                });
            };
            window._gaq.push(['_trackPageview', '{{ photo.get_absolute_url }}']);
        });
    </script>
{% endblock %}