{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container" id="ajapaik-photo-upload-container">
        <div class="col-xs-12">
            {% if request.user.is_authenticated and request.user.profile.fb_id or request.user.profile.google_plus_id %}
                {% with profile=request.user.profile user=request.user %}
                    <div class="row"><p>{% trans "User" %} <b>{{ user.get_full_name }}</b>. <a href='/logout'
                                                                                               id='logout-button'>{% trans "Log out" %}</a>.
                    </p></div>
                {% endwith %}
                <div class="modal fade" id="ajapaik-choose-albums-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{% trans "Choose albums" %}</h4>
                            </div>
                            <div class="modal-body">
                                {% for a in selectable_albums %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input name="album_list[]" type="checkbox" value="{{ a.id }}"
                                                               data-album-name="{{ a.name }}">
                                                    </span>
                                                <label class="form-control">{{ a.name }}</label>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success"
                                        id="ajapaik-photo-upload-add-album-button"><i
                                        class="glyphicon glyphicon-plus"></i>{% trans "Add" %}</button>
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="button" class="btn btn-primary"
                                        id="ajapaik-photo-upload-confirm-album-selection-button">{% trans "Save" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ajapaik-choose-area-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{% trans "Choose area" %}</h4>
                            </div>
                            <div class="modal-body">
                                {% for a in selectable_areas %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input name="area" type="radio" value="{{ a.id }}"
                                                               data-area-name="{{ a.name }}">
                                                    </span>
                                                <label class="form-control">{{ a.name }}</label>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" id="ajapaik-photo-upload-add-area-button">
                                    <i class="glyphicon glyphicon-plus"></i>{% trans "Add" %}</button>
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="button" class="btn btn-primary"
                                        id="ajapaik-photo-upload-confirm-area-selection-button">{% trans "Save" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ajapaik-create-album-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{% trans "Create a new album" %}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12" id="ajapaik-photo-upload-add-album-error"
                                         style="display: none;">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign"
                                                  aria-hidden="true"></span>
                                            {% trans "Error" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label for="ajapaik-photo-upload-add-album-name">{% trans "New album name" %}&nbsp;*</label>
                                            </span>
                                            <input class="form-control" type="text"
                                                   id="ajapaik-photo-upload-add-album-name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label for="ajapaik-photo-upload-add-album-description">{% trans "New album description" %}</label>
                                            </span>
                                            <textarea class="form-control"
                                                      id="ajapaik-photo-upload-add-album-description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="button" class="btn btn-primary"
                                        id="ajapaik-photo-upload-save-new-album-button">{% trans "Save" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ajapaik-create-area-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{% trans "Create a new area" %}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12" id="ajapaik-photo-upload-add-area-error"
                                         style="display: none;">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign"
                                                  aria-hidden="true"></span>
                                            {% trans "Error" %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label for="ajapaik-photo-upload-add-area-name">{% trans "New area name" %}&nbsp;*</label>
                                            </span>
                                            <input class="form-control" type="text"
                                                   id="ajapaik-photo-upload-add-area-name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label for="ajapaik-photo-upload-add-area-lat">{% trans "New area latitude" %}</label>
                                            </span>
                                            <input class="form-control" type="number"
                                                   id="ajapaik-photo-upload-add-area-lat">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label for="ajapaik-photo-upload-add-area-lon">{% trans "New area longitude" %}</label>
                                            </span>
                                            <input class="form-control" type="number"
                                                   id="ajapaik-photo-upload-add-area-lon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">{% trans "Close" %}</button>
                                <button type="button" class="btn btn-primary"
                                        id="ajapaik-photo-upload-save-new-area-button">{% trans "Save" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form id="fileupload" action="/public_photo_upload_handler/" method="POST"
                          enctype="multipart/form-data">
                        <div class="row fileupload-buttonbar">
                            <div class="col-xs-12">
                                <div class="row">
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>{% trans "Add files..." %}</span>
                                        <input id="ajapaik-photo-upload-photo-files" type="file" name="files[]"
                                               multiple>
                                    </span>
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>{% trans "Read CSV..." %}</span>
                                        <input type="file" name="csv_file" id="ajapaik-photo-upload-csv-file">
                                    </span>
                                    <button type="button" class="btn btn-primary"
                                            id="ajapaik-photo-upload-open-area-modal">
                                        {% trans "Choose area" %}
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            id="ajapaik-photo-upload-open-album-modal">
                                        {% trans "Choose albums" %}
                                    </button>
                                    <button type="submit" class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>{% trans "Start upload" %}</span>
                                    </button>
                                    <button type="reset" class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>{% trans "Cancel upload" %}</span>
                                    </button>
                                </div>
                                <div class="row">
                                    <span>{% trans "CSV: institution;number;image;title;description;date;url;licence in any order" %}</span>
                                </div>
                                <span class="fileupload-process"></span>

                                <div class="row">
                                    <span id="ajapaik-photo-upload-destination-album">{% trans "Selected albums:" %}&nbsp;<span>{{ album.name }}</span></span>
                                </div>
                                <div class="row">
                                    <span id="ajapaik-photo-upload-destination-area">{% trans "Selected area:" %}&nbsp;<span>{{ area.name }}</span></span>
                                </div>
                            </div>
                            <div class="col-xs-5 fileupload-progress fade">
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                                     aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                </div>
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <table role="presentation" class="table table-striped">
                            <tbody class="files"></tbody>
                        </table>
                    </form>
                </div>
            {% else %}
                <div class="facebook-connect">
                    <p>{% trans "Photo uploading requires connecting your account with Facebook." %}</p>
                    <a href="/facebook/login" class="ir">{% trans "Connect with Facebook" %}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock layout %}
{% block specific_js %}
{% verbatim %}
<script id="template-upload" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
                <tr class="template-upload fade">
                    <td>
                        <span class="preview"></span>
                    </td>
                    <td>
                        <span class="coordinates"></span>
                    </td>
                    <td>
                        <p class="name">{%=file.name%}</p>
                        <strong class="error text-danger"></strong>
                    </td>
                    <td>
                        <p class="size">Processing...</p>
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                    </td>
                    <td>
                        <label>{%=gettext('Institution')%}</label>
                        <input class="form-control ajapaik-file-upload-individual-institution" type="text" data-file-name="{%=file.name%}">
                    </td>
                    <td>
                        <label>{%=gettext('Number')%}</label>
                        <input class="form-control ajapaik-file-upload-individual-number" type="text" data-file-name="{%=file.name%}">
                    </td>
                    <td>
                        <label>{%=gettext('Date')%}</label>
                        <input class="form-control ajapaik-file-upload-individual-date" type="text" data-file-name="{%=file.name%}">
                    </td>
                    <td>
                        <label>{%=gettext('URL')%}</label>
                        <input class="form-control ajapaik-file-upload-individual-url" type="text" data-file-name="{%=file.name%}">
                    </td>
                    <td>
                        <label>{%=gettext('Title')%}</label>
                        <input class="form-control ajapaik-file-upload-individual-title" type="text" data-file-name="{%=file.name%}">
                    </td>
                    <td>
                        <label>{%=gettext('Description')%}</label>
                        <input class="form-control ajapaik-file-upload-individual-description" type="text" data-file-name="{%=file.name%}">
                    </td>
                    <td>
                        <label>{%=gettext('Licence')%}</label>
                        <input class="form-control ajapaik-file-upload-individual-licence" type="text" data-file-name="{%=file.name%}">
                    </td>
                    <td>
                        {% if (!i && !o.options.autoUpload) { %}
                            <button class="btn btn-primary start" disabled>
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start</span>
                            </button>
                        {% } %}
                        {% if (!i) { %}
                            <button class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel</span>
                            </button>
                        {% } %}
                    </td>
                </tr>
            {% } %}

</script>
<script id="template-download" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
                <tr class="template-download fade">
                    <td>
                        <span class="preview">
                            {% if (file.thumbnailUrl) { %}
                                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                            {% } %}
                        </span>
                    </td>
                    <td>
                        <p class="name">
                            {% if (file.url) { %}
                                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                            {% } else { %}
                                <span>{%=file.name%}</span>
                            {% } %}
                            {% if (file.points) { %}
                                <div><span class="label label-success">{%=gettext('Points')%}</span> {%=file.points%}</div>
                            {% } %}
                        </p>
                        {% if (file.error) { %}
                            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                        {% } %}
                    </td>
                    <td>
                        <span class="size">{%=o.formatFileSize(file.size)%}</span>
                    </td>
                    <td>
                        {% if (file.deleteUrl) { %}
                            <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                            <!--<input type="checkbox" name="delete" value="1" class="toggle">-->
                        {% } else { %}
                            <!--<button class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel</span>
                            </button>-->
                        {% } %}
                    </td>
                </tr>
            {% } %}

</script>
{% endverbatim %}
{% compress js %}
    <script src="{{ STATIC_URL }}libs/PapaParse-4.1.0/papaparse.min.js"></script>
{% endcompress %}
<script>
    $(function () {
        'use strict';
        $(document).ready(function () {
            if (window.getQueryParameterByName('albumChoiceOpen')) {
                $('#ajapaik-photo-upload-open-album-modal').click();
            }
            if (window.getQueryParameterByName('areaChoiceOpen')) {
                $('#ajapaik-photo-upload-open-area-modal').click();
            }
            $('#ajapaik-photo-upload-csv-file').on('change', function () {
                $('#ajapaik-photo-upload-csv-file').parse({
                    config: {
                        header: true,
                        complete: function (result, file) {
                            var allInstitutionFields = $('.ajapaik-file-upload-individual-institution'),
                                    allNumberFields = $('.ajapaik-file-upload-individual-number'),
                                    allTitleFields = $('.ajapaik-file-upload-individual-title'),
                                    allDescriptionFields = $('.ajapaik-file-upload-individual-description'),
                                    allDateFields = $('.ajapaik-file-upload-individual-date'),
                                    allURLFields = $('.ajapaik-file-upload-individual-url'),
                                    allLicenceFields = $('.ajapaik-file-upload-individual-licence');
                            for (var i = 0; i < result.data.length; i += 1) {
                                for (var j = 0; j < allDescriptionFields.length; j += 1) {
                                    if (allDescriptionFields[j].dataset.fileName === result.data[i]['image']) {
                                        $(allInstitutionFields[j]).val(result.data[i]['institution']);
                                        $(allNumberFields[j]).val(result.data[i]['number']);
                                        $(allTitleFields[j]).val(result.data[i]['title']);
                                        $(allDescriptionFields[j]).val(result.data[i]['description']);
                                        $(allDateFields[j]).val(result.data[i]['date']);
                                        $(allURLFields[j]).val(result.data[i]['url']);
                                        $(allLicenceFields[j]).val(result.data[i]['licence']);
                                        break;
                                    }
                                }
                            }
                            $('#ajapaik-photo-upload-csv-file').val(null);
                        }
                    }
                });
            })
        });
        var fileuploadDiv = $('#fileupload'),
                selectedAlbums = [
                    [{{ album.id}}]
                ],
                selectedArea = '{{ area.id }}',
                selectedAreaName = '{{ area.name }}';
        if (fileuploadDiv.length > 0) {
            fileuploadDiv.fileupload({
                fileInput: '#ajapaik-photo-upload-photo-files'
            }).bind('fileuploadsubmit', function (e, data) {
                data.formData = {
                    csrfmiddlewaretoken: window.docCookies.getItem('csrftoken'),
                    albumIds: selectedAlbums,
                    areaId: selectedArea,
                    institution: data.context.find('.ajapaik-file-upload-individual-institution').val(),
                    number: data.context.find('.ajapaik-file-upload-individual-number').val(),
                    title: data.context.find('.ajapaik-file-upload-individual-title').val(),
                    description: data.context.find('.ajapaik-file-upload-individual-description').val(),
                    date: data.context.find('.ajapaik-file-upload-individual-date').val(),
                    url: data.context.find('.ajapaik-file-upload-individual-url').val(),
                    place: data.context.find('.ajapaik-file-upload-individual-place').val(),
                    licence: data.context.find('.ajapaik-file-upload-individual-licence').val()
                };
            });
            fileuploadDiv.addClass('fileupload-processing');
            $.ajax({
                url: fileuploadDiv.fileupload('option', 'url'),
                dataType: 'json',
                context: fileuploadDiv[0]
            }).always(function () {
                $(this).removeClass('fileupload-processing');
            }).done(function (result) {
                $(this).fileupload('option', 'done').call(this, $.Event('done'), {result: result});
            });
        }
        $(document).on('click', '#ajapaik-photo-upload-open-album-modal', function () {
            $('#ajapaik-choose-albums-modal').modal().on('shown.bs.modal', function () {
                window.history.replaceState(null, '{{ title }}', '{% url 'project.ajapaik.views.public_photo_upload' %}' + '?album={{ album.id }}&albumChoiceOpen=1');
            }).on('hidden.bs.modal', function () {
                window.history.replaceState(null, '{{ title }}', '{% url 'project.ajapaik.views.public_photo_upload' %}' + '?album={{ album.id }}');
            });
        });
        $(document).on('click', '#ajapaik-photo-upload-open-area-modal', function () {
            $('#ajapaik-choose-area-modal').modal().on('shown.bs.modal', function () {
                window.history.replaceState(null, '{{ title }}', '{% url 'project.ajapaik.views.public_photo_upload' %}' + '?area={{ album.id }}&areaChoiceOpen=1');
            }).on('hidden.bs.modal', function () {
                window.history.replaceState(null, '{{ title }}', '{% url 'project.ajapaik.views.public_photo_upload' %}' + '?area={{ album.id }}');
            });
        });
        $(document).on('click', '#ajapaik-photo-upload-add-album-button', function () {
            $('#ajapaik-create-album-modal').modal();
        });
        $(document).on('click', '#ajapaik-photo-upload-add-area-button', function () {
            $('#ajapaik-create-area-modal').modal();
        });
        $(document).on('click', '#ajapaik-photo-upload-confirm-album-selection-button', function () {
            var checked = $('input[name="album_list[]"]:checked');
            selectedAlbums = [];
            var selectedNames = [];
            for (var i = 0; i < checked.length; i += 1) {
                selectedAlbums.push(parseInt(checked[i].value, 10));
                selectedNames.push(checked[i].dataset.albumName);
            }
            $('#ajapaik-photo-upload-destination-album').find('span').html(selectedNames.join(', '));
            $('#ajapaik-choose-albums-modal').modal('toggle');
        });
        $(document).on('click', '#ajapaik-photo-upload-confirm-area-selection-button', function () {
            var checked = $('input[name="area"]:checked');
            selectedArea = parseInt(checked[0].value, 10);
            selectedAreaName = checked[0].dataset.areaName;
            $('#ajapaik-photo-upload-destination-area').find('span').html(selectedAreaName);
            $('#ajapaik-choose-area-modal').modal('toggle');
        });
        $(document).on('click', '#ajapaik-photo-upload-save-new-album-button', function () {
            $.ajax({
                url: {% url 'project.ajapaik.views.public_add_album' %},
                type: 'POST',
                data: {
                    name: $('#ajapaik-photo-upload-add-album-name').val(),
                    description: $('#ajapaik-photo-upload-add-album-description').val(),
                    csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                }
            }).success(function () {
                $('#ajapaik-photo-upload-add-album-error').hide();
                window.location.reload();
            }).error(function () {
                $('#ajapaik-photo-upload-add-album-error').show();
            });
        });
        $(document).on('click', '#ajapaik-photo-upload-save-new-area-button', function () {
            $.ajax({
                url: {% url 'project.ajapaik.views.public_add_area' %},
                type: 'POST',
                data: {
                    name: $('#ajapaik-photo-upload-add-area-name').val(),
                    lat: $('#ajapaik-photo-upload-add-area-lat').val(),
                    lon: $('#ajapaik-photo-upload-add-area-lon').val(),
                    csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                }
            }).success(function () {
                $('#ajapaik-photo-upload-add-area-error').hide();
                window.location.reload();
            }).error(function () {
                $('#ajapaik-photo-upload-add-area-error').show();
            });
        });
    });
</script>
{% endblock %}