{% extends "base_bootstrap.html" %}
{% load thumbnail i18n compress %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    {% include "_info_modal.html" %}
    {% include "_rephoto_upload_modal.html" %}
    <div class="full-box original-full-box">
        <div class="full-pic" id="ajapaik-fullscreen-image-container">
            <img id="ajapaik-full-screen-image" class="lazyload" style="display: none;" src="" data-src="{{ fullscreen.url }}" alt="{{ photo.description }}"
                 title="{{ photo.description }}"/>
        </div>
    </div>
    {% if rephoto %}
        <div class="full-box rephoto-full-box">
            <div class="full-pic" id="ajapaik-rephoto-fullscreen-image-container">
                <img id="ajapaik-rephoto-full-screen-image" class="lazyload" style="display: none;" src="" data-src="{% url 'project.ajapaik.views.photo_large' rephoto.id %}"
                     alt="{{ photo.description }} {% trans "rephoto" %}" title="{{ photo.description }} {% trans "rephoto" %}"/>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid" id="ajapaik-photoview-container">
        <div class="col-xs-10">
            <div class="row-fluid">
                <div class="{% if rephoto %}col-xs-6{% elif is_mobile %}col-xs-12{% else %}col-xs-9{% endif %}">
                    <div id="ajapaik-photoview-main-photo-container">
                        <a class="fullscreen" id="ajapaik-full-screen-link">
                            <img id="ajapaik-photoview-main-photo" class="img-responsive col-xs-12
                            {% if photo.flip %}ajapaik-photo-flipped{% endif %}" alt="{{ photo.description }}"
                             src="{% url 'project.ajapaik.views.photo_url' photo.id photo.get_pseudo_slug %}"/>
                        </a>
                        <div class="ajapaik-thumbnail-selection-icon{% if photo.in_selection %} ajapaik-thumbnail-selection-icon-white{% endif %}" data-id="{{ photo.id }}"></div>
                        <button class="btn btn-default ajapaik-overlay-button ajapaik-flip-photo-overlay-button" style="display: none;"></button>
                    </div>
                    {% if photo.author %}
                        <div class="row-fluid">
                            <b>{{ photo.author }}</b>
                        </div>
                    {% endif %}
                    {% if photo.description %}
                        <div class="row-fluid">
                            {{ photo.description }}
                        </div>
                    {% endif %}
                    {% if photo.address %}
                        <div class="row-fluid">
                            <i>{% trans "Approximate address" %}: {{ photo.address }}</i>
                        </div>
                    {% endif %}
                    {% if photo.source_url %}
                        <div class="row-fluid">
                            <a onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);" href='{{ photo.source_url }}' target="_blank">
                                {{ photo.source.description }} {% if photo.source_key %}{{ photo.source_key }}{% endif %}
                            </a>{% if photo.licence %}{% include "_licence.html" with licence=photo.licence %}{% endif %}
                        </div>
                    {% elif photo.source.description %}
                        <div class="row-fluid">
                            {{ photo.source.description }}{% if photo.source_key %}{{ photo.source_key }}{% endif %}{% if photo.licence %}&nbsp;{% include "_licence.html" with licence=photo.licence %}{% endif %}
                        </div>
                    {% endif %}
                    <div class="row" style="margin-top: 10px;">
                        <div class="dropdown pull-left">
                            <span id="ajapaik-sharing-dropdown-button" role="button" title="{% trans "Share" %}"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24h-24z" fill="none"></path>
                                    <path fill="#888" d="M18 16.08c-.76 0-1.44.3-1.96.77l-7.13-4.15c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7l-7.05 4.11c-.54-.5-1.25-.81-2.04-.81-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"></path>
                                </svg>
                            </span>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="ajapaik-sharing-dropdown-button">
                                <li role="presentation" class="disabled-link">
                                    <div role="menuitem" tabindex="-1" id="ajapaik-grab-link">
                                        <a href="{{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}">
                                            {{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}
                                        </a>
                                    </div>
                                </li>
                                <li role="presentation">
                                    <div id="ajapaik-photo-modal-like" role="menuitem" tabindex="-1">
                                        <div class="fb-like" data-href="{{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}"
                                             data-layout="standard" data-action="like" data-show-faces="true"
                                             data-share="true"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <span title="{% trans "Add rephoto" %}" id="ajapaik-photoview-add-rephoto-button" class="pull-left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                                <path d="M0 0h24v24h-24z" fill="none"></path>
                                <path fill="#888" d="M4 6h-2v14c0 1.1.9 2 2 2h14v-2h-14v-14zm16-4h-12c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm-1 9h-4v4h-2v-4h-4v-2h4v-4h2v4h4v2z"></path>
                            </svg>
                        </span>
                        <a target="_blank" title="{% trans "Pick the shooting location!" %}" href="{% url "project.ajapaik.views.game" %}?photo={{ photo.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                                <path fill="#888" d="M18 8c0-3.31-2.69-6-6-6s-6 2.69-6 6c0 4.5 6 11 6 11s6-6.5 6-11zm-8 0c0-1.1.9-2 2-2s2 .9 2 2-.89 2-2 2c-1.1 0-2-.9-2-2zm-5 12v2h14v-2h-14z"></path>
                                <path d="M0 0h24v24h-24z" fill="none"></path>
                            </svg>
                        </a>
                        {% if photo.lat and photo.lon and photo.azimuth %}
                            <a target="_blank" title="{% trans "Image has location and view direction info" %}"
                               href="{% url "project.ajapaik.views.mapview" photo_id=photo.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24h-24z" fill="none"></path>
                                    <path class="ajapaik-fixed-gray" fill="#888" d="M12 2l-7.5 18.29.71.71 6.79-3 6.79 3 .71-.71z"></path>
                                </svg>
                            </a>
                        {% elif photo.lat and photo.lon %}
                            <a target="_blank" title="{% trans "Image has only location, no view direction" %}"
                               href="{% url "project.ajapaik.views.mapview" photo_id=photo.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                                    <path class="ajapaik-fixed-gray" fill="#888" d="M12 2c-3.87 0-7 3.13-7 7 0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                                    <path d="M0 0h24v24h-24z" fill="none"></path>
                                </svg>
                            </a>
                        {% else %}
                            <span title="{% trans "Image has no location info" %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                                    <path d="M0 0h24v24h-24zm11.75 11.47l-.11-.11z" fill="none"></path>
                                    <path class="ajapaik-fixed-gray" fill="#888" d="M12 6.5c1.38 0 2.5 1.12 2.5 2.5 0 .74-.33 1.39-.83 1.85l3.63 3.63c.98-1.86 1.7-3.8 1.7-5.48 0-3.87-3.13-7-7-7-1.98 0-3.76.83-5.04 2.15l3.19 3.19c.46-.52 1.11-.84 1.85-.84zm4.37 9.6l-4.63-4.63-.11-.11-8.36-8.36-1.27 1.27 3.18 3.18c-.11.5-.18 1.02-.18 1.55 0 5.25 7 13 7 13s1.67-1.85 3.38-4.35l3.35 3.35 1.27-1.27-3.63-3.63z"></path>
                                </svg>
                            </span>
                        {% endif %}
                        {% if geotag_count > 0 %}
                            <span id="ajapaik-photoview-geotag-count" title="
                                {% if geotag_count == 1 %}
                                    {{ geotag_count }} {% trans "user has submitted a location for this picture" %}
                                {% else %}
                                    {{ geotag_count }} {% trans "users have submitted a location for this picture" %}
                                {% endif %}
                                ">{{ geotag_count }}
                            </span>
                        {% endif %}
                    </div>
                    {% if albums %}
                        <div class="row" style="margin-top: 10px;">
                            {% for a in albums %}
                                <div class="row ajapaik-no-left-margin-row">
                                    {% if forloop.first %}
                                        <i class="material-icons ajapaik-photo-modal-album-icon"
                                           title="{% blocktrans count counter=albums|length %}Picture belongs to album{% plural %}Picture belongs to albums:{% endblocktrans %}">photo_album</i>
                                    {% endif %}
                                    <a class="ajapaik-photo-modal-album-link"
                                       href="{% url 'project.ajapaik.views.frontpage' %}?album={{ a.id }}">
                                        {{ a.name }}
                                    </a>
                                    <div class="ajapaik-photo-modal-album-more-button" role="button"
                                         title="{% trans 'Album details' %}" data-id="{{ a.id }}"></div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% if not rephoto %}
                    <div id="ajapaik-photo-modal-map-container" class="col-xs-3">
                        <div id="ajapaik-minimap-disabled-overlay"></div>
                        <div id="ajapaik-photo-modal-map-canvas"></div>
                    </div>
                    <span id="ajapaik-photo-modal-specify-location" data-id="{{ photo.id }}"
                          title="{% trans "Pick the shooting location!" %}" style="display: none;"></span>
                {% endif %}
                {% if rephoto %}
                    <div class="col-xs-6">
                        <div id="ajapaik-photoview-rephoto-container">
                            <a class="fullscreen" id="ajapaik-rephoto-full-screen-link">
                                <img id="ajapaik-photoview-rephoto" class="img-responsive col-xs-12
                                {% if rephoto.flip %}ajapaik-photo-flipped{% endif %}" alt="{{ photo.description }} {% trans "rephoto" %}"
                                     src="{% url 'project.ajapaik.views.photo_url' rephoto.id rephoto.get_pseudo_slug %}"/>
                            </a>
                            <button class="btn btn-default ajapaik-overlay-button ajapaik-close-rephoto-overlay-button" id="ajapaik-close-rephoto-overlay-button" {% if not request.mobile %}style="display: none;"{% endif %}></button>
                            <button class="btn btn-default ajapaik-overlay-button ajapaik-invert-rephoto-overlay-button" id="ajapaik-invert-rephoto-overlay-button" {% if not request.mobile %}style="display: none;"{% endif %}></button>
                        </div>
                        {% if rephoto.source and rephoto.source_key and rephoto.source_url %}
                            {% if rephoto.author %}
                                <div class="row-fluid"><b>{{ rephoto.author }}</b>{% if rephoto.licence %} {% include "_licence.html" with licence=rephoto.licence %}{% endif %}</div>
                            {% endif %}
                            <div class="row-fluid">
                                <a onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);" href='{{ rephoto.source_url }}' target="_blank">
                                    {{ rephoto.source.description }} {{ rephoto.source_key }}
                                </a>
                            </div>
                        {% elif rephoto.author %}
                            <div class="row-fluid"><b>{{ rephoto.author }}</b>{% if rephoto.licence %} {% include "_licence.html" with licence=rephoto.licence %}{% endif %}</div>
                        {% elif rephoto.user.fb_name %}
                            <div class="row-fluid">
                                <a id="ajapaik-photo-modal-rephoto-user-link" target="_blank" href="{{ rephoto.user.fb_link }}">{{ rephoto.user.fb_name }}</a>&nbsp;{% include '_licence.html' %}
                            </div>
                        {% elif rephoto.user.google_plus_name %}
                            <div class="row-fluid">
                                <a id="ajapaik-photo-modal-rephoto-user-link" target="_blank" href="{{ rephoto.user.google_plus_link }}">{{ rephoto.user.google_plus_name }}</a>&nbsp;{% include '_licence.html' %}
                            </div>
                        {% else %}
                            <div class="row-fluid">
                                <b>{% trans "Unknown author" %}</b>
                            </div>
                        {% endif %}
                        {% if rephoto.date %}
                            <div class="row-fluid">
                                {% trans "Date taken" %}&nbsp;<div id="ajapaik-photoview-date-taken">{{ rephoto.date|date:"d.m.Y" }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-2">
            <div id="ajapaik-photoview-rephoto-selection">
                {% for rephoto in photo.rephotos.all %}
                    <div class="row ajapaik-no-right-margin-row ajapaik-no-left-margin-row">
                        <a href="{% url 'project.ajapaik.views.photoslug' rephoto.id rephoto.get_pseudo_slug %}" class="col-xs-12">
                            <img src="{% url 'project.ajapaik.views.photo_thumb' rephoto.id 250 rephoto.get_pseudo_slug %}" class="img-responsive col-xs-12 ajapaik-photoview-rephoto-thumb" alt="{{ photo.description }} {% trans "rephoto" %}" title="{{ photo.description }} {% trans "rephoto" %}" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "_comments.html" %}
    </div>
    {% include "_full_leaderboard_modal.html" %}
    <div id="ajp-geotagging-container"></div>
{% endblock %}

{% block specific_js %}
    <script>
        window.albumId = '{{ album.id }}';
        window.photoId = '{{ photo.id }}';
        window.hostname = '{{ hostname }}';
        // Some fake variables to reuse photo modal mini-map component
        {% if photo.lat and photo.lon %}
            window.photoModalPhotoLat = {{ photo.lat }};
            window.photoModalPhotoLng = {{ photo.lon }};
        {% endif %}
        {% if photo.azimuth %}
            window.photoModalPhotoAzimuth = {{ photo.azimuth }};
        {% endif %}
        {% if album.lat and album.lon %}
            window.albumLat = {{ album.lat }};
            window.albumLon = {{ album.lon }};
        {% endif %}
        window.currentPhotoSourceName = '{{ photo.source.description }}';
        window.currentPhotoSourceKey = '{{ photo.source_key }}';
        window.currentPhotoSourceURL = '{{ photo.source_url }}';
        window.photoModalCurrentlyOpenPhotoId = {{ photo.id }};
        window.originalPhotoAbsoluteURL = '{{ photo.get_absolute_url }}';
        window.photoModalUserHasConfirmedThisLocation = {{ user_confirmed_this_location }};
        window.photoModalGeotaggingUserCount = {{ geotag_count }};
        window.isPhotoview = true;
        window.flipPhoto = function () {
            $.noop();
        };
        window.updateLeaderboard();
        $(document).ready(function () {
            var rephotoUploadModal = $('#ajapaik-rephoto-upload-modal'),
                mainPhoto = $('#ajapaik-photoview-main-photo'),
                originalFullscreen = $('#ajapaik-full-screen-image');
            $('#ajp-geotagging-container').AjapaikGeotagger();
            window.showPhotoMapIfApplicable(true);
            mainPhoto.on('load', function () {
                window.showPhotoMapIfApplicable(true);
            });
            $('.dropdown-toggle').dropdown();
            $('.disabled-link').click(function (event) {
                event.preventDefault();
                event.stopPropagation();
            });
            window.prepareFullscreen({{ fullscreen.size.0 }}, {{ fullscreen.size.1 }}, '#ajapaik-full-screen-image');
            {% if rephoto %}
                window.prepareFullscreen({{ rephoto_fullscreen.size.0 }}, {{ rephoto_fullscreen.size.1 }}, '#ajapaik-rephoto-full-screen-image');
            {% endif %}
            $(document).on('click', '.ajapaik-flip-photo-overlay-button', function () {
                if (mainPhoto.hasClass('ajapaik-photo-flipped')) {
                    mainPhoto.removeClass('ajapaik-photo-flipped');
                } else {
                    mainPhoto.addClass('ajapaik-photo-flipped');
                }
            });
          $('.full-box div').on('click', function (e) {
                if (BigScreen.enabled) {
                    e.preventDefault();
                    window.fullscreenEnabled = false;
                    BigScreen.exit();
                    originalFullscreen.hide();
                    $('#ajapaik-rephoto-full-screen-image').hide();
                }
            });
            if (window.isMobile) {
                $('.ajapaik-flip-photo-overlay-button').show();
            }
            $(document).on('mouseover', '#ajapaik-photoview-main-photo-container', function () {
                if (!window.isMobile) {
                    $('.ajapaik-flip-photo-overlay-button').show();
                }
                $('.ajapaik-thumbnail-selection-icon').show();
            });
            $(document).on('mouseout', '#ajapaik-photoview-main-photo-container', function () {
                if (!window.isMobile) {
                    $('.ajapaik-flip-photo-overlay-button').hide();
                }
                $('.ajapaik-thumbnail-selection-icon').hide();
            });
            $(document).on('mouseover', '#ajapaik-photoview-rephoto-container', function () {
                if (!window.isMobile) {
                    $('#ajapaik-close-rephoto-overlay-button').show();
                    $('#ajapaik-invert-rephoto-overlay-button').show();
                }
            });
            $(document).on('mouseout', '#ajapaik-photoview-rephoto-container', function () {
                if (!window.isMobile) {
                    $('#ajapaik-close-rephoto-overlay-button').hide();
                    $('#ajapaik-invert-rephoto-overlay-button').hide();
                }
            });
            $(document).on('click', '#ajapaik-photoview-add-rephoto-button', function () {
                $.ajax({
                    cache: false,
                    url: window.photoUploadModalURL + {{ photo.id }} + '/',
                    success: function (result) {
                        rephotoUploadModal.data('bs.modal', null);
                        rephotoUploadModal.html(result).modal();
                    }
                });
            });
            $(document).on('click', '#ajapaik-photoview-map-button', function () {
                {% if album.0 %}
                    window.location.href = '/map/photo/' + {{ photo.id }} + '?album=' + {{ album.0 }};
                {% else %}
                    window.location.href = '/map/photo/' + {{ photo.id }};
                {% endif %}
            });
            $(document).on('click', '#ajapaik-frontpage-show-pictures-link', function () {
                window.location.href = '/photos/?order1=time&amp;order2=added';
            });
            $(document).on('click', '#ajapaik-photoview-header-game-button', function () {
                var albumId = $('#id_album').val(),
                    gameURL = '{% url 'project.ajapaik.views.game' %}';
                window.location.href =  gameURL + '?album=' + albumId;
            });
            $(document).on('click', '#ajapaik-photoview-header-map-button', function () {
                var albumId = $('#id_album').val(),
                    mapURL = '{% url 'project.ajapaik.views.mapview' %}';
                window.location.href =  mapURL + '?album=' + albumId;
            });
            $(document).on('click', '#ajapaik-close-rephoto-overlay-button', function (e) {
                e.stopPropagation();
                window.location.href = '/foto/' + {{ photo.id }} + '/{{ photo.get_pseudo_slug }}';
            });
            $(document).on('click', '#ajapaik-invert-rephoto-overlay-button', function (e) {
                e.stopPropagation();
                var targetDiv = $('#ajapaik-photoview-rephoto');
                if (targetDiv.hasClass('ajapaik-photo-bw')) {
                    targetDiv.removeClass('ajapaik-photo-bw');
                } else {
                    targetDiv.addClass('ajapaik-photo-bw');
                }
            });
            $('#ajapaik-comment-tabs a').click(function (e) {
                e.preventDefault();
                window.FB.XFBML.parse($('#ajapaik-rephoto-comments').get(0));
                window.FB.XFBML.parse($('#ajapaik-original-photo-comments').get(0));
                $(this).tab('show')
            });
            window.uploadCompleted = function (response) {
                $('#ajapaik-rephoto-upload-modal').modal('toggle');
                if (response && response.new_id) {
                    window.location.reload();
                }
            };
            window.syncStateToUrl = function () {
                $.noop();
            };
            window.startGuessLocation = function (photoId) {
                var startLat,
                    startLon;
                if (window.photoModalPhotoLat && window.photoModalPhotoLng) {
                    startLat = window.photoModalPhotoLat;
                    startLon = window.photoModalPhotoLng;
                } else if (window.albumLat && window.albumLon) {
                    startLat = window.albumLat;
                    startLon = window.albumLon;
                } else {
                    startLat = 59;
                    startLon = 26;
                }
                $('#ajapaik-photoview-container').hide();
                $('html').addClass('ajapaik-html-game-map');
                $('body').addClass('ajapaik-body-game-map');
                $('#ajp-geotagging-container').show().data('AjapaikGeotagger').initializeGeotaggerState({
                    thumbSrc: '/foto_thumb/' + photoId + '/400',
                    fullScreenSrc: window.photoModalFullscreenImageUrl,
                    description: window.currentPhotoDescription,
                    sourceKey: window.currentPhotoSourceKey,
                    sourceName: window.currentPhotoSourceName,
                    sourceURL: window.currentPhotoSourceURL,
                    fullScreenWidth: {{ fullscreen.size.0 }},
                    fullScreenHeight: {{ fullscreen.size.1 }},
                    startLat: startLat,
                    startLng: startLon,
                    photoId: photoId,
                    uniqueGeotagCount: window.photoModalGeotaggingUserCount,
                    uniqueGeotagWithAzimuthCount: window.photoModalAzimuthCount,
                    mode: 'vantage',
                    markerLocked: true,
                    isGame: false,
                    isMapview: false,
                    isGallery: true,
                    tutorialClosed: docCookies.getItem('ajapaik_closed_geotagger_instructions') === 'true',
                    hintUsed: true
                });
                window.locationToolsOpen = true;
            };
            window.stopGuessLocation = function () {
                $('#ajapaik-photoview-container').show();
                $('html').removeClass('ajapaik-html-game-map');
                $('body').removeClass('ajapaik-body-game-map');
                $('#ajp-geotagging-container').hide();
                window.locationToolsOpen = false;
                window.showPhotoMapIfApplicable();
            };
            window._gaq.push(['_trackPageview', '{{ photo.get_absolute_url }}']);
        });
    </script>
{% endblock %}