/*Navbar*/
#cat-navbar {
    height: 50px;
    background: rgba(0, 0, 0, .8) none;
    border-width: 0 0 0 0;
    margin-bottom: 0;
}
#cat-brand {
    float: left;
    background: url(../images/sift-pics.png) no-repeat;
    position: fixed;
    width: 144px;
    height: 144px;
    margin: 10px 0 0 20px;
    background-size: 144px 144px;
    text-indent: -999em;
}
#cat-brand-dummy {
    width: 160px;
    display: block;
    height: 50px;
}
#cat-mode-select {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
}
#cat-mode-select > li > a {
    font-size: 20px;
    color: #fff;
    background: none !important;
}
#cat-header-mode > div > span {
    font-size: 20px;
}
.cat-header-link > i:hover {
    color: white;
}
.cat-header-link > i > svg > path:hover {
    fill: white;
}
.cat-text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (max-width: 768px) {
    .cat-text-overflow-ellipsis {
        max-width: 175px;
    }
}
/*Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
#cat-footer-text {
    color: white;
    font-size: 18px;
}
/*Utilities*/
#cat-loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5) url(../images/ajax-loader-gray-256.gif) no-repeat center;
    width: 100%;
    height: 100%;
    z-index: 2000;
}
.cat-margin-top-50 {
    margin-top: 50px;
}
.cat-margin-top-125 {
    margin-top: 125px;
}
.cat-tagger-tag-button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cat-tagger-tag-button > span {
    display: block;
}
.cat-tagger-tag-button > i {
    font-size: 36px;
}
/*Album selection*/
.cat-caption-album-selection {
    background-color: rgba(0, 0, 0, .7) !important;
    min-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 100%;
}
.cat-caption-album-selection > p:first-of-type {
    font-size: 18px;
}
.cat-caption-album-full-info {
    line-height: 200%;
    background-color: rgba(0, 0, 0, .7) !important;
    min-height: 100%;
}
#cat-album-selection {
    margin-bottom: 60px;
}
.cat-album-selection-more-info {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    z-index: 2;
    color: white;
}
.cat-caption-album-full-info > p {
    font-size: 20px;
}
.cat-caption-album-info-last-line {
    font-size: 16px !important;
}
.cat-font-size-28 {
    font-size: 28px;
}
.cat-font-size-20 {
    font-size: 20px;
}
/*Filtering*/
.cat-photo-caption {
    display: block !important;
    background-color: rgba(0, 0, 0, .7) !important;
    min-height: 30px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cat-filtering-button > span {
    display: block;
}
#cat-result-set-stats {
    color: white;
}
#cat-filtering-panel {
    margin-top: 200px;
}
@media(max-width:767px) {
    #cat-filtering-panel {
        margin-top: 75px;
    }
}
#cat-pager {
    margin-bottom: 60px;
}
/*Tagging*/
#cat-tagger-image-and-button-container {
    width: 100%;
    height: 100%;
}
#cat-tagger-image-and-desc-container {
    display: inline-block;
    position: relative;
    max-height: 70%;
    padding-bottom: 10px;
}
#cat-tagger-current-photo {
    margin: 0 auto;
    max-height: 70vh;
}
#cat-tagger-photo-description-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    min-height: 100px;
    color: white;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    font-size: 18px;
}
#cat-tagger-photo-source > a {
    color: white;
    text-decoration: underline;
}
/*About*/
#cat-about-container > p {
    color: white;
}
/*Override classes*/
#cat-body {
    background-color: black;
    margin-bottom: 60px;
}
.cat-body-scroll {
    overflow-y: scroll;
}
.cat-text-white {
    color: #fff !important;
}
.cat-text-gray {
    color: #888 !important;
}
.cat-no-background {
    background: none !important;
}
.navbar-collapse.navbar-right.collapse.in {
    background-color: rgba(0,0,0,.8);
    width: 100%;
    float: right;
    margin-right: 0;
}
.cat-btn-group {
    width: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.cat-force-show {
    display: block !important;
}
.cat-no-right-padding {
    padding-right: 0 !important;
}
.cat-no-left-padding {
    padding-left: 0 !important;
}
.justified-gallery > .spinner > span {
    background-color: #fff;
}
.cat-btn-group > .btn-group > .btn {
    background-color: black;
    color: white;
    border-radius: 0;
    border: none;
}

.cat-btn-group > .btn-group > .btn:active {
    background-color: black;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
}
.cat-btn-group > .btn-group > .btn:focus {
    background-color: black;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
}

.cat-btn-group > .btn-group > .btn:hover {
    background-color: #888;
}

@media screen and (max-width: 480px) {
    .cat-btn-group > .btn-group > .btn:hover {
        background-color: black;
    }
}

html {
  position: relative;
  min-height: 100%;
}


