#cat-curator-container {
    margin-top: 200px;
}

.cat-result-item {
    min-height: 100px;
}

.cat-curator-selected-image {
    opacity: 0.5;
}

.cat-curator-new-album-creation-field {
    display: none;
}

#cat-curator-my-albums {
    display: none;
}

.cat-photo-inverted {
    filter: invert(1) grayscale(1);
    -webkit-filter: invert(1) grayscale(1);
}

.cat-photo-bw {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.cat-photo-flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cat-curator-selection-image.rotate90 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

.cat-curator-selection-image.rotate180 {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
}

.cat-curator-selection-image.rotate270 {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
}

.cat-curator-selection-image.rotate90-flipped {
    transform: scaleX(-1) rotate(-90deg);
    -webkit-transform: scaleX(-1) rotate(-90deg);
    -ms-transform: scaleX(-1) rotate(-90deg);
}

.cat-curator-selection-image.rotate180-flipped {
    transform: scaleX(-1) rotate(-180deg);
    -webkit-transform: scaleX(-1) rotate(-180deg);
    -ms-transform: scaleX(-1) rotate(-180deg);
}

.cat-curator-selection-image.rotate270-flipped {
    transform: scaleX(-1) rotate(-270deg);
    -webkit-transform: scaleX(-1) rotate(-270deg);
    -ms-transform: scaleX(-1) rotate(-270deg);
}

.cat-curator-selection-feedback-row {
    display: none;
}