/*Navbar*/
#cat-navbar {
    height: 50px;
    background: rgba(0, 0, 0, .8) none;
    border-width: 0 0 0 0;
    margin-bottom: 0;
}

#cat-brand {
    float: left;
    background: url(../images/sift-pics.png) no-repeat;
    position: fixed;
    width: 144px;
    height: 144px;
    margin: 10px 0 0 20px;
    background-size: 144px 144px;
    text-indent: -999em;
}

#cat-brand-dummy {
    width: 160px;
    display: block;
    height: 50px;
}

#cat-mode-select {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
}

#cat-mode-select > li > a {
    font-size: 20px;
    color: #fff;
    background: none !important;
}

#cat-header-mode > div > span {
    font-size: 20px;
}

.cat-header-link {
    color: #888;
}

.cat-header-link > i:hover {
    color: white;
}

.cat-header-link > i > svg > path:hover {
    fill: white;
}

.cat-text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .cat-text-overflow-ellipsis {
        max-width: 175px;
    }
}

/*Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#cat-footer-text {
    color: white;
    font-size: 18px;
}

/*Utilities*/
#cat-loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.cat-spinner {
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}

.cat-spinner.cat-spinner-main {
    position: relative;
    top: 50%;
    margin: 0 auto;
}

.cat-spinner.cat-spinner-results {
    display: none;
    margin: 0 auto 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cat-margin-top-50 {
    margin-top: 50px;
}

.cat-margin-top-125 {
    margin-top: 125px;
}

#cat-tagger-share-button {
    border: none;
    background: transparent;
    color: #fff;
}

.cat-tagger-tag-button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cat-tagger-tag-button > span {
    display: block;
}

.cat-tagger-tag-button > i {
    font-size: 36px;
}

/*Album selection*/
.cat-caption-album-selection {
    background-color: rgba(0, 0, 0, .7) !important;
    min-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 100%;
}

.cat-caption-album-selection > p:first-of-type {
    font-size: 18px;
}

.cat-caption-album-full-info {
    line-height: 200%;
    background-color: rgba(0, 0, 0, .7) !important;
    min-height: 100%;
    z-index: 10000;
}

#cat-album-selection {
    margin-bottom: 60px;
}

.cat-album-selection-more-info {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    z-index: 10001;
    color: white;
}

.cat-caption-album-full-info > p {
    font-size: 20px;
}

.cat-caption-album-info-last-line {
    font-size: 16px !important;
}

.cat-font-size-28 {
    font-size: 28px;
}

.cat-font-size-20 {
    font-size: 20px;
}

/*Filtering*/
.cat-photo-caption {
    display: block !important;
    background-color: rgba(0, 0, 0, .7) !important;
    min-height: 30px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cat-filtering-button > span {
    display: block;
}

#cat-result-set-stats {
    color: white;
    font-size: 18px;
}

#cat-filtering-panel {
    margin-top: 200px;
}

@media (max-width: 767px) {
    #cat-filtering-panel {
        margin-top: 75px;
    }
}

#cat-pager {
    margin-bottom: 60px;
}

/*Tagging*/
#cat-tagger-image-and-button-container {
    width: 100%;
    height: 100%;
}

#cat-tagger-image-and-desc-container {
    display: inline-block;
    position: relative;
    max-height: 70%;
    padding-bottom: 10px;
}

#cat-tagger-current-photo {
    margin: 0 auto;
    max-height: 70vh;
}

#cat-tagger-photo-description-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    min-height: 100px;
    color: white;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    font-size: 18px;
}

#cat-tagger-photo-source > a {
    color: white;
    text-decoration: underline;
}

/*About*/
#cat-about-container > p {
    color: white;
}

/*Override classes*/
#cat-body {
    background-color: black;
    margin-bottom: 60px;
}

.cat-body-scroll {
    overflow-y: scroll;
}

#cat-ministry-of-culture-logo {
    filter: invert(1) grayscale(1);
    -webkit-filter: invert(1) grayscale(1);
    max-width: 400px;
}

.cat-text-white {
    color: #fff !important;
}

.cat-text-gray {
    color: #888 !important;
}

.cat-no-background {
    background: none !important;
}

.navbar-collapse.navbar-right.collapse.in {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    float: right;
    margin-right: 0;
}

.cat-btn-group {
    width: 100%;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.cat-force-show {
    display: block !important;
}

.cat-no-right-padding {
    padding-right: 0 !important;
}

.cat-no-left-padding {
    padding-left: 0 !important;
}

.justified-gallery > .spinner > span {
    background-color: #fff;
}

.cat-btn-group > .btn-group > .btn {
    background-color: black;
    color: white;
    border-radius: 0;
    border: none;
}

.cat-btn-group > .btn-group > .btn:active {
    background-color: black;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
}

.cat-btn-group > .btn-group > .btn:focus {
    background-color: black;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none;
}

.cat-btn-group > .btn-group > .btn:hover {
    background-color: #888;
}

@media screen and (max-width: 480px) {
    .cat-btn-group > .btn-group > .btn:hover {
        background-color: black;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.cat-body-always-scroll {
    overflow-y: scroll;
}

/*Permalink page */
#cat-permalink-container {
    color: #fff;
}

#cat-permalink-album-tagger-link {
    color: #888;
}

#cat-permalink-full-screen-image {
    display: none;
}

#cat-permalink-full-screen-link {
    cursor: zoom-in;
}

.cat-full-box {
    position: relative;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.cat-full-pic {
    position: absolute;
    left: 0;
    top: 0;
    background: black center center no-repeat;
    background-size: 128px 128px;
    width: 100%;
    height: 100%;
}

.cat-full-pic img {
    min-width: 128px;
    min-height: 128px;
    opacity: 0;
    cursor: zoom-out;
}

#cat-permalink-favorite-button {
    color: #fff;
    border: none;
    background-color: transparent;
}

.cat-row-content-center {
    float: none;
    margin: 0 auto;
}

#cat-feedback-div {
    height: 104px;
    width: 104px;
    position: fixed;
    bottom: 70px;
    left: 0;
    z-index: 999;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#cat-feedback-div a {
    display: block;
    background: #981D2A;
    height: 40px;
    width: 115px;
    padding: 8px 16px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 1px #333;
    border-left: solid 1px #333;
    border-right: solid 1px #fff;
}

#cat-feedback-div a:hover {
    background: #06c;
}

.navbar-collapse.collapsing {
    display: none;
}

.cat-header-fb-like {
    margin-top: 12px;
}

#cat-permalink-like-row {
    margin-bottom: 10px;
}

.cat-connect-photo-container {
    position: relative;
}

.cat-connect-navigate-next-link {
    position: absolute;
    top: 50%;
    right: 30px;
}

.cat-connect-navigate-previous-link {
    position: absolute;
    top: 50%;
    left: 30px;
}

#cat-connection-permalink-photo {
    margin: 0 auto;
}

.cat-text-center {
    text-align: center;
}