{% extends "base_bootstrap.html" %}

{% load i18n bootstrap4 %}

{% block layout %}
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-3 offset-md-2 offset-sm-0 pt-3">
                <h1>{% trans "Registration form" %}</h1>
                <form method="post" action="." class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" id="ajp-email-register-button" class="btn btn-primary">
                        {% trans "Submit" %}
                    </button>
                </form>
                <br/>
                <b>{% trans "OR" %}</b>
                <br/>
                <div class="facebook-connect mt-2">
                    <a href="/facebook/login?next=/" class="ir">{% trans "Connect with Facebook" %}</a>
                </div>
                <br/>
                <div class="google-plus-connect">
                    <a href="/google-login/?next=/" class="ir">{% trans "Connect with Google" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}