{% extends 'base_bootstrap.html' %}

{% load i18n %}
{% load socialaccount %}

{% block layout %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <h1>{% trans "Password Reset" %}</h1>
                <form method="post" action="{% url 'account_reset_password' %}" class="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_email">{% trans "E-mail" %}</label>
                        <input class="form-control"
                               autofocus="autofocus"
                               id="id_email"
                               required="required"
                               name="email"
                               placeholder="{% trans 'E-mail' %}"
                               size="30"
                               title=""
                               type="email">
                    </div>
                    <button type="submit"
                            id="ajp-email-login-button"
                            class="btn btn-primary">
                        {% trans "Log in" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
