#cat-brand-dummy {
    width: 160px;
    display: block;
    height: 50px;
}

#cat-mode-select {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
}

#cat-mode-select > li > a {
    font-size: 20px;
    color: #fff;
    background: none !important;
}

#cat-filtering-panel {
    margin-top: 50px;
}

.cat-photo-caption {
    display: block !important;
    background-color: rgba(0, 0, 0, .7) !important;
    min-height: 30px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}