{% load i18n %}

<div class="modal-dialog modal-lg">
    <div class="modal-content pb-2">
        <div class="modal-header">
            <h4>{% trans "Everyone can help to enrich the data of historic pictures on Ajapaik!" %}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="ajp-general-info-modal-content" class="container-fluid">
                <div class="row">
                    {% trans "Ajapaik is crowdsourcing additional metadata about pictorial heritage. Ajapaik is mostly hosting old photos, but there are also paintings, graphic art and historic films on Ajapaik." %}
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">{% trans "As an Ajapaik user you can" %}:</div>
                <ul>
                    <li>{% trans "geotag pictures in order to improve the location based search," %}</li>
                    <li>{% trans "rephotograph historic pictures to create then-and-now picture pairs," %}</li>
                    <li>{% trans "tag persons on the pictures, add pictures to albums, categorize and comment pictures," %}</li>
                    <li>{% trans "transcribe handwritten messages on pictures or on the reverse sides of postcards," %}</li>
                    <li>{% trans "add historical imagery to Ajapaik – either by searching and importing from public collections or uploading yourself." %}</li>
                </ul>
                <div class="row">&nbsp;</div>
                <div class="row">
                    {% trans "Ajapaik is a non-profit venture of the Estonian Photographic Heritage Society (MTÜ Eesti Fotopärand) that was created during a Garage48 hackathon in February 2011. Over the years Ajapaik has received grant funding but there is no permanent funding therefore we are very grateful if you can donate to <a href='/donate'>support us</a>." %}
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    {% blocktrans %}Ajapaik has <b>{{ total_photo_count }}</b> historic pictures, out of which <b>{{ total_photos_tagged }}</b> pictures have been put on the map by <b>{{ contributing_users }}</b> users and <b>{{ rephoto_count }}</b> rephotographs for <b>{{ rephotographed_photo_count }}</b> pictures made by <b>{{ rephotographing_users }}</b> users.{% endblocktrans %}
                </div>
                <div class="row">
                    {% blocktrans %}Ajapaik has <b>{{ total_photo_count }}</b> historic pictures, out of which <b>{{ total_photos_tagged }}</b> pictures have been put on the map by <b>{{ contributing_users }}</b> users and <b>{{ rephoto_count }}</b> rephotographs for <b>{{ rephotographed_photo_count }}</b> pictures made by <b>{{ rephotographing_users }}</b> users.{% endblocktrans %}
                </div>
                <div class="row">
                    {% blocktrans %}There are <b>{{ person_annotation_count }}</b> faces detected on the pictures, a person has been identified in <b>{{ person_annotation_count_with_person_album }}</b> cases, age or gender is marked for <b>{{ person_annotation_count_with_subject_data }}</b> faces.{% endblocktrans %}
                </div>
                </br>
                <div class="row">
                    {% trans "Overview of your own contributions can be found on your <a href='/me'>user profile page</a>." %}
                </div>
                </br>
                <div class="row font-italic">{% trans "General statistics refresh every 10 minutes." %}</div>
            </div>
        </div>
    </div>
</div>
