{% load i18n %}

{% if albums.all|length > 0 %}
    <div style="max-width:80vw;">
        {% for a in albums %}
            <div style="padding-left: 5px;">
                <div>
                    <a class="ajapaik-photo-album-link" href="{% url 'frontpage' %}?album={{ a.id }}">
                        {{ a.name }}
                        (
                        {% if a.is_film_still_album %}
                            {% trans 'movie' %}
                        {% else %}
                            {% trans 'photo album' %}
                        {% endif %}
                        )
                    </a>
                </div>


                <div
                    class="ajapaik-photo-modal-album-more-button"
                    data-id="{{ a.id }}"
                    style="cursor: pointer; padding-left: 5px;"
                >
                    <i class="material-icons notranslate ajapaik-text-gray">
                        more
                    </i>
                    <a href="#" style="vertical-align: super;">
                        {% trans 'Details' %}
                    </a>
                </div>

                <div class="ajapaik-photo-modal-photo-curator" style="padding-left: 5px;">
                    <i title="{% trans "Curator" %}" class="material-icons notranslate ajapaik-text-gray">
                        account_circle
                    </i>
                    <p> {{ a.this_photo_curator.get_display_name }}</p>
                </div>
            </div>

            <hr style="margin-top: 4px; margin-bottom: 4px;"/>
        {% endfor %}
    </div>
{% endif %}