{% load i18n comments static %}

<div class="photo-controls-sidebar">
    <div>
        <a class="photo-controls-sidebar__logo" href="/" title="{% trans "Back to homepage" %}">
            Ajapaik
        </a>
    </div>
    {% if not is_frontpage and is_photoview or is_game or is_mapview %}
        <div>
         <a
            id="ajapaik-photoview-start-geotagging-button_game"
            data-id="{{ photo.id }}"
            title="{% trans "Pick the shooting location!" %}"
            href="/geotag/?photo={{ photo.id }}"
            target="_blank"
            rel="nofollow"
         >
            <i class="material-icons notranslate ajapaik-text-gray photo-controls-sidebar__icon">
                add_location
            </i>
            <div class="photo-controls-sidebar__text">
                {% trans "Add location" %}
            </div>
        </a>
        </div>
        {% endif %}
    <div>
        <a
            id="ajapaik-photoview-start-dating-button"
            data-id="{{ photo.id }}"
            title="{% trans "Date this image" %}"
            href="#"
        >
            <i class="material-icons notranslate ajapaik-text-gray photo-controls-sidebar__icon">
                event
            </i>
            <span id="ajapaik-photoview-datings-count" class="badge">
                {{ datings_count }}
            </span>
            <div class="photo-controls-sidebar__text">
                {% trans "Add date" %}
            </div>
        </a>
    </div>
    <div>
        <a
            title="{% trans "Add rephoto" %}"
            id="ajapaik-photoview-add-rephoto-button"
            href="#"
        >
            <i class="material-icons notranslate ajapaik-text-gray photo-controls-sidebar__icon">
                add_a_photo
            </i>
            <div class="photo-controls-sidebar__text">
                {% trans "Add rephoto" %}
            </div>
        </a>
    </div>
    <div>
        <a
            title="{% trans "Tag a new face/object - clicking this button will enable you to draw an object/face rectangle on the main image" %}"
            id="ajapaik-photoview-face-recognition-add-face-button"
            href="#"
        >
            <i class="material-icons notranslate ajapaik-text-gray photo-controls-sidebar__icon">
                format_shapes
            </i>
            <div class="photo-controls-sidebar__text">
                {% trans "Annotate" %}
            </div>
        </a>
    </div>
    <div>
        <a
            id="ajapaik-sharing-dropdown-button"
            href="#"
            role="button"
            title="{% trans "Share" %}"
            data-is-popover-target="true"
            data-url="{{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}"
        >
            <i class="material-icons notranslate ajapaik-text-gray photo-controls-sidebar__icon" data-is-popover-target="true">
                share
            </i>
            <div class="photo-controls-sidebar__text" data-is-popover-target="true">
                {% trans "Share" %}
            </div>
        </a>
    </div>
</div>

<script src="{% static 'js/photoview/photoview-actions-sidebar.js' %}"></script>
<link rel="stylesheet" href="{% static "css/photo-controls-sidebar.css" %}"/>
