{% load i18n bootstrap4 %}
{% csrf_token %}
{% bootstrap_form form %}
<button id="rephoto-upload-settings-submit-button" class="primaryAction btn btn-primary" type="submit">{% trans "Submit" %}</button>
{% block specific_js %}
    <script>
        var rephotoUploadSettingsUrl = "{% url 'api_submit_rephoto_upload_settings' %}";
        var isRephotoUploadSettingsModal = "{{ isModal }}" == "True";

        $('#rephoto-upload-settings-submit-button').on('click', function () {
            SaveRephotoUploadSettings();
        });

        SaveRephotoUploadSettings = function (subject, profile) {
            let wikimedia_commons_rephoto_upload_consentE = document.getElementById("id_wikimedia_commons_rephoto_upload_consent");
            let wikimedia_commons_rephoto_upload_consent= wikimedia_commons_rephoto_upload_consentE.options[wikimedia_commons_rephoto_upload_consentE.selectedIndex].value;
            $('#ajp-loading-overlay').show();
            $.ajax({
                type: "POST",
                url: rephotoUploadSettingsUrl,
                data: {
                    csrfmiddlewaretoken: docCookies.getItem('csrftoken'),
                    wikimedia_commons_rephoto_upload_consent: wikimedia_commons_rephoto_upload_consent
                },
                success: function (response) {
                    $.notify(gettext(response.message), {type: 'success'});
                },
                error: function (response) {
                    $.notify(response.message, {type: "danger"});
                },
                complete: function () {
                    $('#ajp-loading-overlay').hide();
                    if (isRephotoUploadSettingsModal) {
                        $('#ajp-rephoto-upload-settings-modal').modal('hide');
                    }
                }
            });
        }
    </script>
{% endblock %}