{% load i18n bootstrap4 %}
<div class="modal fade" id="ajp-rephoto-upload-settings-modal" style="z-index:9999;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xxl" style="display:flex;">
        <div class="modal-content p-3" style="min-height:120px; max-height: 75%;">
            <div class="modal-header">
                <h4>{% trans "Welcome back" %}</h4>
            </div>
            <b>
               {% trans "Please specify whether you would like to upload your rephotos to Wikimedia Commons as well." %}
            </b>
            <br>
        </div>
    </div>
</div> 