.dropbox {
    min-height: 200px;
    background: lightcyan;
    outline: 2px dashed grey;
    outline-offset: -10px;
    position: relative;
}

.dropbox:hover {
    background: lightblue;
}

.dropbox input[type=file] {
    width: 100%;
    height: 200px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.dropbox .help-text{
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
