{% load i18n bootstrap4 %}

<div class="modal fade" id="ajapaik-choose-albums-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans "Collection info" %}</h4>
                <button type="button" class="close close-album-curation-modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12" id="ajapaik-curator-upload-error" style="display: none;">
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span id="ajapaik-curator-upload-error-message">{% trans "System error" %}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form class="form">
                            {% bootstrap_form whole_set_albums_selection_form %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-album-curation-modal" id="ajapaik-curator-cancel-album-selection-button">
                    {% trans "Cancel" %}
                </button>
                <button type="button" class="btn btn-success" id="ajapaik-curator-confirm-album-selection-button">
                    {% trans "Submit" %}
                </button>
            </div>
        </div>
    </div>
</div>
{% block specific_js %}
    <script>
    $('.close-album-curation-modal').click(function (e) {
        $('#ajapaik-choose-albums-modal').modal('hide');
    });
    </script>
 {% endblock %}