{% load i18n comments static %}

<div style="min-width: 100%;">
    <div class="photo-view__accordion-header" id="headingOne">
        <h5 class="mb-0">
            <button
                    class="btn btn-link photo-view__accordion-header__button collapsed"
                    data-toggle="collapse"
                    data-target="#filteredAnnotations"
                    aria-expanded="false"
                    aria-controls="filteredAnnotations"
            >
                {% trans "Filter annotations" %}
                <i class="material-icons notranslate photo-view-accordion__icon" data-icon-type="more">
                    expand_more
                </i>
                <i class="material-icons notranslate photo-view-accordion__icon" data-icon-type="less" style="display: none;">
                    expand_less
                </i>
            </button>
        </h5>
    </div>

    <div id="filteredAnnotations" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
        <div id="annotation-filters-wrapper" class="card-body photo-view__accordion-content">
        </div>
    </div>

</div>

<script src="{% static 'js/photoview/annotation-filters.js' %}"></script>
<script src="{% static 'js/photoview/photoview-accordion.js' %}"></script>

<link rel="stylesheet" href="{% static "css/annotation-filters.css" %}"/>
<link rel="stylesheet" href="{% static "css/photoview-accordion.css" %}"/>