{% load i18n comments static %}

<div class="col-xl-6 col-lg-8 col-md-12 col-xs-12">
    <div id="annotation-filters-wrapper">
        <div class="row">
            <div class="col-auto" style="padding-left: 0; padding-right: 0;">
                <i class="material-icons notranslate" style="color: #888;font-size: 36px;">local_offer</i>
            </div>
            <div class="col-10">
                <div id="annotation-filters" class="row">
                </div>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/photoview/annotation-filters.js' %}"></script>
<script src="{% static 'js/photoview/photoview-accordion.js' %}"></script>

<link rel="stylesheet" href="{% static "css/annotation-filters.css" %}"/>
<link rel="stylesheet" href="{% static "css/photoview-accordion.css" %}"/>