<div class="modal fade" id="ajapaik-article-13-info-modal" style="z-index:9999;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xxl" style="display:flex;">
        <div class="modal-content ajapaik-zero-border-radius" style="min-height:120px; max-height: 75%;">
            <button type="button" class="close" id="ajapaik-close-article-13-info-modal" aria-label="Close" style="position: absolute;top:-6px;right:0px;color:#888;opacity: 1;text-shadow: none;font-size:calc(25px + 1vw);">
                    <span aria-hidden="true">&times;</span>
            </button>
            <a href="https://www.facebook.com/events/409020636530285/" target="_blank">
                <img src="{{ STATIC_URL }}/images/article13.jpg" style="max-width:100%;max-height:100%"></img>
            </a>
            <a href="https://wikimediaeesti.wordpress.com/2019/03/13/me-ei-toeta-el-autorioiguse-direktiivi-selle-praegusel-kujul-ka-teie-ei-peaks-seda-toetama/" target="_blank" style="display:block; width:100%;font-size: calc(10px + 1vw);margin-left: 12px;">Loe lisaks...</a>
            <a href="https://www.facebook.com/events/409020636530285/" target="_blank" style="display:block; width:100%;font-size: calc(10px + 1vw);margin-left: 12px;">Protestimeeleavaldus laupäeval 23. märtsil Tallinnas</a>
        </div>
    </div>
</div>