{% load i18n ajapaik_templatetags %}
<footer class="footer text-center">
    <div class="row pb-3 m-0">
        <nav class="col col-12 pt-3">
                {% if not is_newsletter and not is_photoview and not is_comparephoto %}
                    <a id="ajapaik-paging-previous-button" {% if page < 2 %}class="ajapaik-invisible"{% endif %} href="{% url 'frontpage' %}{% add_get page=page|add:-1 %}">
                        &lt;
                    </a>
                    <a href="#" id="ajapaik-pager-stats">
                        {{ start|add:1 }} – {{ end }} / {{ total }}
                    </a>
                    <a id="ajapaik-paging-next-button" {% if page == max_page %}class="ajapaik-invisible"{% endif %} href="{% url 'frontpage' %}{% add_get page=page|add:1 %}">
                        &gt;
                    </a>
                {% endif %}
        </nav>
        <ul class="col-lg-3 m-0 list-unstyled">
            <li>
                <a id="ajapaik-photographic-heritage-link" target="_blank" href="http://fotopärand.org.ee/" rel="noopener">{% trans "Estonian Photographic Heritage Society" %}</a>
            </li>
        </ul>
        <ul class="col-lg-3 m-0 list-unstyled">
            <li>
                <a href="mailto:info@ajapaik.ee">info@ajapaik.ee</a>
            </li>
        </ul>
        <ul class="col-lg-3 m-0 list-unstyled">
            <li>
                    <a href="{% url 'donate' %}" title="{% trans "Support Ajapaik" %}">{% trans "Support us" %}</a>
            </li>
        </ul>
        <ul class="col-lg-3 m-0 list-unstyled">
            <li>
                <a id="ajapaik-sift-pics-link" target="_blank" href="http://sift.pics/" rel="noopener">{% trans "See also – Sift.pics" %}</a>
            </li>
            <li>
                <a target="_blank" href="https://www.hotjar.com/?utm_source=badge" rel="noopener nofollow">
                    <img id="ajapaik-hotjar-footer-logo" src="/static/images/hotjar-badge.png"
                        alt="Hotjar - Unlimited insights from your web and mobile sites" />
                </a>
            </li>
        </ul>
    </div>
</footer>