{% load i18n %}

<div class="modal fade" id="ajapaik-full-leaderboard-modal" tabindex="-1" role="dialog"
     aria-labelledby="full_leaderboard" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ajapaik-zero-border-radius">
            <div class="modal-header ajapaik-no-bottom-border-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="padding-top: 0;">
                <div id="leaderboard_browser">
                    <div class="single">
                        <div class="score_container" style="padding-top: 0;">
                            <ul class="scoreboard"></ul>
                            {% if request.user.profile.is_legit %}
                                {% with profile=request.user.profile user=request.user %}
                                    <div class="facebook-connected">
                                        <p>{% trans "User" %} <b>{{ user.get_full_name }}</b>.
                                            <a href='{% url "ajapaik.ajapaik.views.logout" %}' id='logout-button'>{% trans "Log out" %}</a>.
                                        </p>
                                    </div>
                                {% endwith %}
                            {% else %}
                                    {% include "_log_in.html" with type="leaderboard" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>