{% load i18n ajapaik_templatetags static %}

<nav id="page-header" class="navbar navbar-default navbar-fixed-top ajapaik-navbar w-100 py-0">
    <a class="navbar-brand ajapaik-brand px-3" href="/" title="{% trans "Back to homepage" %}">
        Ajapaik
    </a>
    <div class="row container-fluid pb-2">
        <div class="col-xl-10 col-11 nav">
            <a class="mr-2" id="ajapaik-brand-dummy"></a>
            {% include "_mode_select.html" %}
            {% if is_frontpage and not album %}
                <input type="search" id="ajapaik-album-filter-box" class="form-control mx-2 pr-1" style="height:35px;"
                        placeholder="{% trans "Search album" %}"/>
            {% endif %}
                <input type="search" id="ajapaik-photo-filter-box" class="form-control mx-2 pr-1{% if not show_photos or is_mapview or is_game %} d-none{% endif %}" style="height:35px;"
                        placeholder="{% trans "Search photos" %}"/>
            <div class="px-2 pt-2" {% if is_frontpage and not album %} style="min-width: 354px;" {% elif not is_mapview %} style="min-width: 320px;" {% elif is_mapview %} style="min-width: 235px;"{% endif %}  354px>
                {% include "_filtering_dropdown.html" %}
                <a role="button" title="{% trans 'Show in grid' %}"
                    href="{% if album %}/?album={{ album.0 }}{% else %}#{% endif %}" class="ajapaik-header-button" id="ajapaik-header-grid-button">
                    <svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            xmlns:svg="http://www.w3.org/2000/svg">
                        <path fill="none" d="m0,0l24,0l0,24l-24,0l0,-24z"></path>
                        <path {% if is_frontpage and not request.GET.people == '1' %}class="ajapaik-white"{% endif %} transform="rotate(-90 12,12)"
                                fill="#888"
                                d="m3,13l8,0l0,-10l-8,0l0,10zm0,8l8,0l0,-6l-8,0l0,6zm10,0l8,0l0,-10l-8,0l0,10zm0,-18l0,6l8,0l0,-6l-8,0z"></path>
                    </svg>
                </a>
                {% if album %}
                    <a role="button" class="ajapaik-header-button" title="{% trans 'Geotag pictures' %}" {% if album %}href="/geotag/?album={{ album.0 }}{% if photo %}&photo={{ photo.id }}{% endif %}"{% endif %}>
                        <i aria-hidden class="material-icons notranslate ajapaik-gray-button{% if is_game %} ajapaik-text-white{% endif %}">add_location</i>
                    </a>
                {% endif %}
                <a role="button" class="ajapaik-header-button" title="{% trans 'Show on map' %}"
                    href="{% if album %}/map/?album={{ album.0 }}{% else %}#{% endif %}"
                    id="ajapaik-header-map">
                    <i aria-hidden class="notranslate material-icons ajapaik-gray-button{% if is_mapview %} ajapaik-text-white{% endif %}">map</i>
                </a>
                {% if is_frontpage %}
                    <a role="button" class="ajapaik-header-button" {% if is_frontpage and not album %}title="{% trans 'List face recognition albums' %}"{% else %}title="{% trans 'List photos with faces' %}"{% endif %}
                        href="#"
                        id="ajapaik-header-people">
                            <i aria-hidden class="notranslate material-icons ajapaik-gray-button{% if request.GET.people == '1' %} ajapaik-text-white{% endif %}">people</i>
                    </a>
                    <a role="button" class="ajapaik-header-button" {% if is_frontpage and not album %}title="{% trans 'List albums with postcards' %}"{% else %}title="{% trans 'List postcards' %}"{% endif %}
                        href="#"
                        id="ajapaik-header-postcard">
                            <i aria-hidden class="notranslate material-icons ajapaik-gray-button{% if request.GET.postcards == '1' %} ajapaik-text-white{% endif %}">picture_in_picture</i>
                    </a>
                {% endif %}
                {% if is_newsletter %}
                    <a id="ajapaik-header-newsletter" role="button" title="{% trans 'Newsletters' %}" href="/uudiskiri/">
                        <i aria-hidden class="material-icons notranslate ajapaik-gray-button ajapaik-text-white">email</i>
                    </a>
                {% endif %}
                {% if is_frontpage %}
                    <a id="ajapaik-header-face" role="button" title="{% trans 'Categorize faces' %}" onclick="handleFaceCategorizationClick()">
                            <i aria-hidden class="material-icons notranslate ajapaik-gray-button">face</i>
                    </a>
                    {% if not album %}
                        <a id="ajapaik-header-collections" role="button" title="{% trans 'Categorize faces' %}">
                            <i aria-hidden class="material-icons notranslate ajapaik-gray-button">account_balance</i>
                        </a>
                    {% endif %}
                {% endif %}
                <a role="button" class="ajapaik-header-button" title="{% trans 'Add photos' %}"
                    href="{% url "photo_upload_choice" %}">
                    <i aria-hidden class="material-icons notranslate ajapaik-gray-button{% if is_curator or is_upload_choice %} ajapaik-text-white{% endif %}">add_circle</i>
                </a>
                <a class="ajapaik-header-button{% if not request.session.photo_selection %} d-none{% endif %}" id="ajapaik-header-selection-indicator" role="button" title="{% trans 'Current selection' %}" href="/view-selection">
                    <i aria-hidden class="material-icons notranslate ajapaik-gray-button{% if is_selection %} ajapaik-text-white{% endif %}">content_copy</i>
                    <span class="badge">{{ request.session.photo_selection|length }}</span>
                </a>
            </div>
        </div>
        <div class="col-auto nav" id="ajapaik-header-right-section">
                <div class="ajapaik-header-right-button dropdown d-inline-block align-top pt-2">
                    {% get_language_info for LANGUAGE_CODE as lang %}
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle ajapaik-no-background ajapaik-text-white"
                    title="{% trans 'Choose language' %}">
                        {{ lang.code|upper }}
                    </a>
                    <div class="dropdown-menu p-0">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <a href="#" class="list-group-item ajapaik-change-language-link" data-lang-code="{{ language.code }}">
                                {{ language.name_local|title }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <a class="ajapaik-header-right-button" role="button" title="{% trans 'About Ajapaik' %}" id="ajapaik-header-about-button">
                        <i aria-hidden class="material-icons notranslate ajapaik-gray-button">info</i>
                </a>
                <a class="ajapaik-header-right-button" href="{{ ajapaik_facebook_link }}" target="_blank" title="{% trans 'Ajapaik on Facebook' %}" rel="noopener">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24">
                        <path fill="#888"
                            d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"></path>
                    </svg>
                </a>
                <a role="button" href="#" title="{% trans 'Profile and leaderboard' %}"
                id="ajapaik-header-profile" class="ajapaik-no-background">
                    <i aria-hidden class="material-icons notranslate ajapaik-gray-button{% if request.user.profile.fb_id or request.user.profile.google_plus_id or request.user.email %} ajapaik-text-white{% endif %}">account_circle</i>
                </a>

                <div class="score_container">
                    <h4>
                        <a id="full_leaderboard" href="#">
                            {% trans "Leaderboard" %}
                        </a>
                    </h4>
                    <ul class="scoreboard">
                        {% if leaderboard %}
                            {% include "_block_leaderboard.html" %}
                        {% endif %}
                    </ul>
                    {% if request.user.profile.is_legit %}
                        {% with profile=request.user.profile user=request.user %}
                            <div class="facebook-connected">
                                <p>{% trans "User" %} <b>{{ user.get_full_name }}</b>.</p>
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    <button class="btn btn-default btn-block d-inline-block" type="submit">{% trans 'Sign Out' %}</button>
                                </form>
                            </div>
                        {% endwith %}
                    {% else %}
                        {% include "_log_in.html" with type="leaderboard" %}
                    {% endif %}
                </div>
            </div>
        </div>
</nav>
{% if is_curator %}
    {% include "curator_search_controls.html" %}
{% endif %}
{% block specific_js %}
<script>
        let albumDataUrl = '{% if album %}{% url 'face_recognition_api_album_data' album.0 %}{% else %} {% endif%}';
        function handleFaceCategorizationClick(){
            let album = '{{ album.0 }}';
            if(album !== ''){
                $.ajax({
                    type: 'GET',
                    url: albumDataUrl,
                    success: function (response) {
                        if(response.hasAnnotations === true) {
                            window.location.href = '{% url 'face_recognition_subject_data' %}' + '?album=' + '{{ album.0 }}'
                        } else {
                            $.notify(gettext('There are no marked faces for categorization. Annotate some for categorization'), {type: 'danger'});
                        }
                    },
                    error: function() {
                        $.notify(gettext('Something went wrong, please check your connection. If the issue persists please contact us on Tawk.to'), {type: 'danger'});
                    }
                });
            } else {
                window.location.href = '{% url 'face_recognition_subject_data' %}';
            }
        }
</script>
{% endblock %}