{% load i18n %}

{% for p in leaderboard %}
    <li class="clearfix{% if p.is_current_user %} you{% endif %}">
        <span class="position">{{ p.position }}.</span>
        <span class="photo">
            {% if p.fb_id %}
                <img src="https://graph.facebook.com/v2.5/{{ p.fb_id }}/picture?type=square"
                     alt="{% trans "User Facebook photo" %}"/>
            {% elif p.google_plus_picture %}
                <img src="{{ p.google_plus_picture }}" alt="{% trans "User Google photo" %}"/>
            {% endif %}
        </span>
        <span class="name">{{ p.get_display_name }}</span>
        <span class="score">{% if p.custom_score != None %}{{ p.custom_score }}{% elif is_recent %}{{ p.score_recent_activity }}{% else %}{{ p.score }}{% endif %}</span>
    </li>
{% endfor %}