{% load i18n %}
{% load socialaccount %}

<br/>
<div><b>
    {% if type == "leaderboard" %}
        {% trans "Log in to save your score" %}
    {% elif type == "rephoto_upload" %}
        {% trans "Log in to upload rephoto" %}
    {% elif type == "curator" %}
        {% trans "Log in to curate content" %}
    {% elif type == "video_anonymous" %}
        {% trans "Log in to create still frames" %}
    {% elif type == "photo_selection" %}
        {% trans "Log in to save selection" %}
    {% endif %}
</b></div>
<div class="facebook-connect mt-1">
    <a href="{% provider_login_url 'facebook' %}" class="ir">{% trans "Connect with Facebook" %}</a>
</div>
<div class="google-plus-connect ml-0 my-1">
    <a href="{% provider_login_url 'google' %}" class="ir">{% trans "Connect with Google" %}</a>
</div>
<form method="post" action="{% url 'account_login' %}" class="form">
    {% csrf_token %}
    <input class="form-control" id="id_login" maxlength="254" name="login"
           placeholder="{% trans "E-mail address" %}" required="required" title="" type="text" autocomplete="username">
    <input class="form-control" id="id_password" name="password"
           placeholder="{% trans "Password" %}" required="required" title="" type="password" autocomplete="current-password">
    <input name="next" type="hidden" value="{% if type == "rephoto_upload" %}{{ next }}{% else %}{{ request.get_full_path }}{% endif %}">
    <br/>
    <a class="d-inline-block w-50 pr-2" href="{% url 'account_signup' %}">
        {% trans "Register with e-mail" %}
    </a>
    <button type="submit" class="btn btn-primary float-right ajapaik w-50 ajp-email-login-button">
        {% trans "Log in" %}
    </button>
</form>