{% load i18n %}
<div class="modal fade" id="ajapaikMapTutorialModal" style="z-index:9999;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xxl" style="display:flex;">
        <div class="modal-content p-3" style="min-height:120px; max-height: 75%;">
            <div class="modal-header">
                <h4>{% trans "Discover old photos on the map" %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <b>Ohjaa tabletilla</b>
            <br>
            <b>Control with tablet</b>
            <br>
            <b>Liikumiseks kasuta tahvelarvutit</b>
            <br>
            <button id="close-map-modal" class="btn btn-success w-100">
                OK
            </button>
        </div>
    </div>
</div> 