{% load i18n ajapaik_templatetags comments static %}

<div class="modal-dialog modal-xxl" id="ajapaik-photo-modal-dialog" {% if not photo.rephotos.all.0 and not photo.lat and not photo.lon and not photo.similar_photos.all.0 %}style="min-width: calc(40vw + 150px);"{% endif %}>
    <div class="modal-content">
        <div class="modal-header ajapaik-no-border">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="ajapaik-modal-body">
            <div class="container-fluid">
                <div class="row" style="margin:0 auto;">
                    <div id="ajapaik-photo-modal-original-photo-column" class="col-lg-{% if photo.rephotos.all.0 or photo.lat and photo.lon or photo.similar_photos.all.0 %}6{% else %}12{% endif %} col-md-12 col-xs-12">
                        <div id="ajapaik-modal-photo-container" class="ajapaik-photo {% if photo.rephotos.all.0 or photo.lat and photo.lon or photo.similar_photos.all.0 %}float-left{% else %}margin-auto{% endif %}">
                            {% if not is_mapview %}
                            <div class="ajapaik-photo-modal-previous-button">
                                <i class="material-icons ajapaik-icon-48 notranslate">navigate_before</i>
                            </div>
                            {% endif %}
                            <a class="fullscreen" id="ajapaik-full-screen-link" rel=""
                                href="{% url 'photo' photo.id photo.get_pseudo_slug %}">
                                <img src="{% url 'image_thumb' photo.id 800 photo.get_pseudo_slug %}"
                                        alt="{{ photo.description }}" title="{{ photo.description }}"
                                        id="ajapaik-modal-photo"/>
                            </a>
                            {% if not is_mapview %}
                            <div class="ajapaik-photo-modal-next-button">
                                <i class="material-icons ajapaik-icon-48 notranslate">navigate_next</i>
                            </div>
                            {% endif %}
                            {% if request.user.profile.is_legit %}
                                <button class="ajapaik-thumbnail-selection-icon{% if photo.in_selection %} ajapaik-thumbnail-selection-icon-blue{% endif %}"
                                        data-id="{{ photo.id }}">
                                    <i class="material-icons notranslate">check_circle</i>
                                </button>
                            {% endif %}
                            {% if reverse_side and not is_selection and not is_mapview %}
                                <a id="ajapaik-reverse-side-button"
                                    {% if request.user_agent.is_pc %}style="display: none;"{% endif %}
                                    data-id="{{ reverse_side.id }}"
                                    title="{% trans "See the other side of photo" %}">
                                    <i class="material-icons notranslate">360</i>
                                </a>
                            {% endif %}
                            <button id="ajapaik-rotate-photo-button"
                                {% if request.user_agent.is_pc %}style="display: none;"{% endif %}
                                title="{% trans "Rotate photo" %}">
                                <i class="material-icons notranslate">rotate_left</i>
                            </button>
                            <button class="ajapaik-flip-photo-overlay-button"
                                    {% if request.user_agent.is_pc %}style="display: none;"{% endif %}
                                    title="{% trans "Flip photo" %}">
                                <i class="material-icons notranslate">flip</i>
                            </button>
                            <button class="ajapaik-like-photo-overlay-button{% if photo.user_likes %} active{% endif %}{% if photo.user_loves %} active big{% endif %}">
                                {% if photo.user_likes or photo.user_loves %}
                                    <i class="material-icons notranslate">favorite</i>
                                    <span class="ajapaik-like-count">{{ photo.like_count }}</span>
                                {% else %}
                                    <i class="material-icons notranslate">favorite_border</i>
                                    <span class="ajapaik-like-count">{{ photo.like_count }}</span>
                                {% endif %}
                            </button>
                            <div class="d-block text-right ajapaik-image-bottom-right">
                                {% if similar_photo_count > 0 %}
                                <button class="btn ajapaik-show-similar-photo-selection-overlay-button" id="ajapaik-show-similar-photo-selection-overlay-button" {% if request.user_agent.is_pc %}style="display: none"{% endif %}>
                                    <i class="material-icons notranslate w-100">burst_mode</i>
                                    <span style="top:-10px; position: relative;">{% if similar_photo_count > 9 %}9+{% else %}{{ confirmed_similar_photo_count }}/{{ similar_photo_count }}{% endif %}</span>
                                </button>
                                {% endif %}
                                {% if photo.rephotos.all.0 %}
                                    <button class="ajapaik-show-rephoto-selection-overlay-button"
                                            {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                        {% if photo.rephotos.all|length < 10 %}
                                            <i class="material-icons notranslate">filter_{{ photo.rephotos.all|length }}</i>
                                        {% else %}
                                            <i class="material-icons notranslate">filter_9_plus</i>
                                        {% endif %}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if similar_photos.0 %}
                    <div id="ajapaik-photo-modal-similar-photo-column" class="pl-0 col-lg-6 col-xl-6 col-md-12 col-xs-12">
                        <div id="ajapaik-modal-similar-photo-container" class="float-left">
                            <a class="w-100" href="{% url 'photo' similar_photos.all.0.to_photo.id similar_photos.all.0.to_photo.get_pseudo_slug %}">
                                <img src="{% url 'image_thumb' similar_photos.all.0.to_photo.id 800 similar_photos.all.0.to_photo.get_pseudo_slug %}"
                                    class="img-fluid ajapaik-photoview-similar-thumb" id="ajapaik-modal-similar-photo"
                                    {% if similar_photos.all.0.similarity_type == 1 %}
                                    alt="{{similar_photos.all.0.to_photo.description }}  {% trans "similar photo" %}"
                                    title="{{ similar_photos.all.0.to_photo.description }} {% trans "similar photo" %}"
                                    {% else %}
                                    alt="{{ similar_photos.all.0.to_photo.description }}  {% trans "duplicate photo" %}"
                                    title="{{ similar_photos.all.0.to_photo.description }} {% trans "duplicate photo" %}"
                                    {% endif %}/>
                                <button id="modal-compare-similar" class="btn ajapaik-compare-similar-overlay-button"
                                {% if request.user_agent.is_pc %}style="opacity:0;"{% endif %}>
                                    <i class="material-icons notranslate">compare</i>
                                </button>
                                <button class="ajapaik-close-similar-photo-overlay-button"
                                    {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                    <i class="material-icons notranslate">close</i>
                                </button>
                            </a>
                            {% if similar_photos|length > 1 %}
                                <div id="ajapaik-similar-photo-selection" style="display:none;">
                                    {% for similar in similar_photos %}
                                        <div class="ajapaik-photo-modal-similar-photo-thumb"
                                            id="ajapaik-similar-photo-thumb-{{ similar.to_photo.id }}" data-id="{{ similar.to_photo.id }}">
                                            <img class="img-fluid"
                                                src="{% url 'image_thumb' similar.to_photo.id 250 similar.to_photo.get_pseudo_slug %}"
                                                data-id="{{ similar.to_photo.id }}"/>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if photo.rephotos.all.0 %}
                    <div id="ajapaik-photo-modal-rephoto-column" class="pl-0 col-lg-6 col-xl-6 col-md-12 col-xs-12">
                        <div id="ajapaik-modal-rephoto-container" class="float-left">
                            <a class="fullscreen" id="ajapaik-rephoto-full-screen-link" rel=""
                                href="{% url 'photo' photo.rephotos.all.0.id photo.rephotos.all.0.get_pseudo_slug %}">
                                <img src="{% url 'image_thumb' photo.rephotos.all.0.id 800 photo.rephotos.all.0.get_pseudo_slug %}"
                                    id="ajapaik-modal-rephoto"
                                        alt="{{ photo.description }}" title="{{ photo.description }}"/>
                                <button class="ajapaik-close-rephoto-overlay-button"
                                        {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                    <i class="material-icons notranslate">close</i>
                                </button>
                                <button class="ajapaik-invert-rephoto-overlay-button"
                                        
                                        {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                    <i class="material-icons notranslate">invert_colors</i>
                                </button>
                            </a>
                            {% if photo.rephotos.all|length > 1 %}
                                <div id="ajapaik-rephoto-selection" style="display:none;">
                                    {% for rephoto in photo.rephotos.all %}
                                        <div class="ajapaik-photo-modal-rephoto-thumb"
                                            id="ajapaik-rephoto-thumb-{{ rephoto.id }}" data-id="{{ rephoto.id }}">
                                            <img class="img-fluid"
                                                src="{% url 'image_thumb' rephoto.id 250 rephoto.get_pseudo_slug %}"
                                                data-id="{{ rephoto.id }}"/>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div id="ajapaik-photo-modal-map-container" class="col-lg-6 col-md-12 pl-0">
                            <div id="ajapaik-minimap-disabled-overlay"></div>
                            <div id="ajapaik-photo-modal-map-canvas"></div>
                    </div>
                </div>
                <div class="modal-footer row p-0 pt-2">
                    <div class="container-fluid text-left">
                        <div class="row">
                            <!-- start of old photo info -->
                            <div id="ajapaik-photo-modal-original-photo-info-column" class="col-lg-{% if photo.rephotos.all.0 or similar_photos.all.0 %}6{% else %}12{% endif %} col-md-12 col-xs-12">
                                <!-- start of transcriber block -->
                                <div class="row my-3 d-none" id="ajp-transcriber-container"></div>
                                <!-- end of transcriber block -->
                                {% with photo=photo %}
                                {% include "_photo_description_container.html" %}
                                {% endwith %}
                            </div>
                            <!-- end of old photo info -->
                            <!-- start of new photo info -->
                            {% if photo.rephotos.all|length > 0 %}
                                {% with rephoto=photo.rephotos.all.0 %}
                                {% include "_rephoto_description_container.html" %}
                                {% endwith %}
                            {% endif %}
                            <!-- start of similar photo info -->
                            {% if similar_photos.all|length > 0 %}
                                <div id="ajapaik-photo-modal-similar-photo-info-column" class="col-lg-6 col-md-12 col-xs-12">
                                    {% if similar_photos.all.0.to_photo.author %}
                                        <div class="w-100">
                                            <b id="ajapaik-photo-author">{{ similar_photos.all.0.to_photo.author }}</b>
                                        </div>
                                    {% endif %}
                                    {% if similar_photos.all.0.to_photo.description %}
                                        <div id="ajapaik-photo-description" title="{{ similar_photos.all.0.to_photo.description }}">
                                            {% if similar_photos.all.0.to_photo.video %}
                                                <a href="{% url "frontpage" %}?album={{ similar_photos.all.0.to_photo.albums.all.0.id }}&video={{ similar_photos.all.0.to_photo.video.id }}&t=
                                                        {{ similar_photos.all.0.to_photo.video_timestamp|div:1000 }}">{{ similar_photos.all.0.to_photo.description }}</a>
                                            {% else %}
                                                {{ similar_photos.all.0.to_photo.description }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if similar_photos.all.0.to_photo.date %}
                                        <div class="w-100">
                                            {{ similar_photos.all.0.to_photo.date }}
                                        </div>
                                    {% elif similar_photos.all.0.to_photo.date_text %}
                                        <div class="w-100">
                                            {{ similar_photos.all.0.to_photo.date_text }}
                                        </div>
                                    {% endif %}
                                    {% if similar_photos.all.0.to_photo.licence %}
                                        {% include "_licence.html" with licence=similar_photos.all.0.to_photo.licence %}
                                    {% endif %}
                                    {% if similar_photos.all.0.to_photo.source_url %}
                                        <div class="d-inline-block" id="ajapaik-photo-source">
                                            <a href='{{ similar_photos.all.0.to_photo.source_url }}'
                                                target="_blank" rel="noopener nofollow">
                                                {{ similar_photos.all.0.to_photo.source.description }}{% if similar_photos.all.0.to_photo.source_key %}
                                                    {{ similar_photos.all.0.to_photo.source_key }}{% endif %}
                                            </a>
                                        </div>
                                    {% elif similar_photos.all.0.to_photo.source.description %}
                                        <div class="d-inline-block" id="ajapaik-photo-source">
                                            {{ similar_photos.all.0.to_photo.source.description }}{% if similar_photos.all.0.to_photo.source_key %}
                                                {{ similar_photos.all.0.to_photo.source_key }}{% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <!-- end of similar photo info -->
                        </div>
                        <!-- end of new photo info -->
                        <!-- start of FB like block -->
                        <div class="col-lg-6 col-md-6 col-sm-12 pl-0 fb-like" 
                            data-href="{{ hostname }}{{ photo.get_detail_url }}"
                            {% if not request.user_agent.is_pc %}
                                data-layout="button_count"
                            {% endif %}
                            data-action="like"
                            data-show-faces="true"
                            data-share="true">
                        </div>
                        <!-- end of FB like block -->
                        <!-- start of toolbox block -->
                        <div class="row ajp-dater-hide-when-dater-visible pt-2 w-100">
                            <div class="ajapaik-mt-1">
                                {% if is_frontpage and is_photoview or is_game or is_mapview %}
                                    <a id="ajapaik-photo-modal-specify-location_game" style="width:42px;" class="no-text-decoration float-left"
                                       data-id="{{ photo.id }}" title="{% trans "Pick the shooting location!" %}"
                                       href="/geotag/?photo={{ photo.id }}" target="_blank" rel="nofollow">
                                        <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">add_location</i>
                                    </a>
                                {% endif %}
                                <a id="ajapaik-photo-modal-start-dating-button" class="no-text-decoration float-left"
                                   data-id="{{ photo.id }}" title="{% trans "Date this image" %}" href="#">
                                    <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">event</i>
                                    <span class="badge">{{ datings_count }}</span>
                                </a>
                                <a id="ajapaik-photo-modal-add-rephoto" class="no-text-decoration float-left" href="#"
                                   title="{% trans "Add rephoto" %}">
                                    <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">add_a_photo</i>
                                </a>
                                <a title="{% trans "Tag a new face - clicking this button will enable you to draw a face rectangle on the main image" %}"
                                    id="ajapaik-photo-modal-face-recognition-add-face-button" href="#" class="float-left">
                                    <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">person_pin</i>
                                </a>
                                {% if request.user.profile.is_legit %}
                                    <a id="ajapaik-photo-modal-discuss" class="no-text-decoration float-left"
                                       title="{% trans "Discuss" %}" href="#">
                                       <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">comment</i>
                                       <span class="badge hidden">0</span>
                                    </a>
                                {% endif %}
                                <div class="dropdown float-left" id="ajapaik-photo-modal-dropdown">
                                    <a id="ajapaik-photo-modal-share" role="button" title="{% trans "Share" %}"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                                        <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">share</i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu"
                                        aria-labelledby="ajapaik-sharing-dropdown-button">
                                        <li role="presentation" class="disabled-link">
                                            <div role="menuitem" tabindex="-1" id="ajapaik-grab-link">
                                                <a class="no-text-decoration" href="{{ hostname }}{{ photo.get_detail_url }}">
                                                    {{ hostname }}{{ photo.get_detail_url }}</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <a id="ajapaik-photoview-transcribe-button" data-id="{{ photo.id }}" class="float-left"
                                    title="{% trans "Transcribe this image" %}" href="#">
                                    <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">text_fields</i>
                                    <span id="ajapaik-photoview-transcriptions-count" class="badge"></span>
                                </a>
                            </div>
                        </div>
                        <!-- end of toolbox block -->
                        <!-- start of dater block -->
                        <div class="row" id="ajp-dater-container"></div>
                        <!-- end of dater block -->
                        <!-- start of albums block -->
                        {% if albums|length > 0 %}
                            <div class="row ajp-dater-hide-when-dater-visible pl-0">
                                <br>
                                <div class="col-auto">
                                    <i class="material-icons notranslate ajapaik-photo-modal-album-icon float-left"
                                       title="{% blocktrans count counter=albums|length %}Picture belongs to album{% plural %}Picture belongs to albums:{% endblocktrans %}">
                                        {% if a.is_film_still_album %}movie{% else %}photo_album{% endif %}
                                    </i>
                                </div>
                                <div class="col-auto">
                                    {% for a in albums %}
                                        <div class="ajapaik-no-left-margin-row d-flex" style="min-height: 36px;">
                                            <a class="ajapaik-photo-album-link float-left"
                                               href="{% if is_mapview %}
                                                          {% url 'map' %}?album={{ a.id }}
                                                      {% elif is_frontpage or is_selection %}
                                                          {% url 'frontpage' %}?album={{ a.id }}
                                                      {% endif %}">{{ a.name }}</a>
                                            <div class="ajapaik-photo-modal-album-more-button float-left"
                                                 role="button"
                                                 title="{% trans 'Album details' %}"
                                                 data-id="{{ a.id }}">
                                            </div>
                                            <div class="ajapaik-photo-modal-photo-curator">
                                                &nbsp;<i title="{% trans "Curator" %}"
                                                         class="material-icons notranslate ajapaik-text-gray">account_circle</i>
                                                <p class="d-none">{{ a.this_photo_curator.get_display_name }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <!-- end of albums block -->
                        <!-- start of comment block -->
                        <div class="row" id="ajapaik-comments-container">
                            <div class="col-md-12" id="ajapaik-comment-list"></div>
                            <div class="col-md-12 pl-1" id="ajapaik-new-comment-form-container">
                                {% if rephoto %}
                                    {% render_comment_form for rephoto %}
                                {% else %}
                                    {% render_comment_form for photo %}
                                {% endif %}
                            </div>
                        </div>
                        <!-- end of comment block -->
                        {% if request.user.is_superuser %}
                                    <a id="ajapaik-photo-modal-discuss" class="no-text-decoration float-right"
                                       target="_blank"
                                       title="admin" href="/admin/ajapaik/photo/{{ photo.id }}">
                                       &Pi;
                                    </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // This whole template is total ugliness
    window.hostname = '{{ hostname }}';
    window.originalPhotoAbsoluteURL = '{{ photo.get_absolute_url }}';
    window.isFrontpage = '{{ is_frontpage|safe }}';
    window.isFrontpage = window.isFrontpage === 'True';
    window.isMapview = '{{ is_mapview|safe }}';
    window.isMapview = window.isMapview === 'True';
    // TODO: Clean
    window.photoModalCurrentImageUrl = '{% url 'image_thumb' photo.id 800 photo.get_pseudo_slug %}';
    window.currentPhotoOriginalWidth = '{{ photo.width }}';
    window.currentPhotoOriginalHeight = '{{ photo.height }}';
    window.currentPhotoURL = '{% url 'image_thumb' photo.id 800 photo.get_pseudo_slug %}';
    window.currentPhotoLat = '{{ photo.lat }}';
    window.currentPhotoLon = '{{ photo.lon }}';
    window.photoModalCurrentPhotoFlipped = false;
    window.photoModalRephotoArray = [];
    window.photoModalSimilarPhotoArray = [];
    window.currentlyOpenPhotoId = {{ photo.id }};
    window.photoModalFullscreenImageUrl = '{{ fullscreen.url }}';
    window.photoModalRephotoFullscreenImageUrl = '{{ rephoto_fullscreen.url }}';
    window.photoModalSimilarFullscreenImageUrl = '{{ similar_fullscreen.url }}'
    window.photoModalGeotaggingUserCount = {{ geotag_count }};
    window.photoModalAzimuthCount = {{ azimuth_count }};
    window.photoModalUserHasConfirmedThisLocation = {{ user_confirmed_this_location }};
    window.photoModalUserHasGeotaggedThisPhoto = {{ user_has_geotagged }};
    window.photoModalFirstGeotaggers = {{ first_geotaggers|safe }};
    {% if album and album.3 and album.4 %}
        window.photoModalExtraLat = {{ album.3|safe }};
        window.photoModalExtraLng = {{ album.4|safe }};
    {% elif photo.area and photo.area.lat and photo.area.lon %}
        window.photoModalExtraLat = {{ photo.area.lat|safe }};
        window.photoModalExtraLng = {{ photo.area.lon|safe }};
    {% else %}
        window.photoModalExtraLat = null;
        window.photoModalExtraLng = null;
    {% endif %}
    {% if photo.lat and photo.lon %}
        window.photoModalPhotoLat = {{ photo.lat|safe }};
        window.photoModalPhotoLng = {{ photo.lon|safe }};
        {% if photo.azimuth %}
            window.photoModalPhotoAzimuth = {{ photo.azimuth }};
        {% else %}
            window.photoModalPhotoAzimuth = null;
        {% endif %}
    {% else %}
        window.photoModalPhotoLat = null;
        window.photoModalPhotoLng = null;
    {% endif %}
    {% if description %}
        window.currentPhotoDescription = '{{ photo.description|remove_newlines|escapejs }}';
    {% else %}
        window.currentPhotoDescription = false;
    {% endif %}
    window.currentPhotoSourceName = '{{ photo.source.description }}';
    window.currentPhotoSourceKey = '{{ photo.source_key }}';
    window.currentPhotoSourceURL = '{{ photo.source_url }}';
    window.previousDatings = {{ previous_datings|safe }};
    {% for rephoto in photo.rephotos.all %}
        window.photoModalRephotoArray.push({
            id: {{ rephoto.id }},
            url: '{% url 'image_thumb' rephoto.id 800 rephoto.get_pseudo_slug %}',
            fb_url: '{{ hostname }}{{ rephoto.get_detail_url }}',
            fullscreen_url: '{% url 'image_full' rephoto.pk rephoto.get_pseudo_slug %}',
            fullscreen_width: '{{ rephoto.width }}',
            fullscreen_height: '{{ rephoto.height }}',
            {% if rephoto.date %}
                date: '{{ rephoto.date|date:"d.m.Y" }}',
            {% endif %}
            {% if rephoto.user %}
                FBUserName: '{% if rephoto.user.fb_name %}{{ rephoto.user.fb_name }}{% endif %}',
                FBUserLink: '{% if rephoto.user.fb_link %}{{ rephoto.user.fb_link }}{% endif %}',
                GooglePlusName: '{% if rephoto.user.google_plus_name %}{{ rephoto.user.google_plus_name }}{% endif %}',
                GooglePlusLink: '{% if rephoto.user.google_plus_link %}{{ rephoto.user.google_plus_link }}{% endif %}',
                FullName: '{{ rephoto.user.get_display_name }}',
            {% endif %}
            {% if rephoto.author %}
                author: '{{ rephoto.author }}',
            {% endif %}
            {% if rephoto.licence %}
                licence: true,
            {% endif %}
            {% if rephoto.source %}
                source: '{{ rephoto.source.description }}',
                sourceKey: '{{ rephoto.source_key }}',
                sourceURL: '{{ rephoto.source_url }}'
            {% endif %}
        });
    {% endfor %}
    {% for similar in similar_photos.all %}
    window.photoModalSimilarPhotoArray.push({
            id: {{ similar.to_photo_id }},
            address: '{{ similar.to_photo.address}}',
            lat: '{{ similar.to_photo.lat}}',
            lon: '{{ similar.to_photo.lon}}',
            {% if similar.to_photo.author %}
                author: '{{ similar.to_photo.author}}',
            {% endif %}
            {% if similar.to_photo.description %}
                description: '{{ similar.to_photo.description}}',
            {% endif %}
            {% if similar.to_photo.date_text %}
                date_text: '{{ similar.to_photo.date_text}}',
            {% endif %}
            url: '{% url 'image_thumb' similar.to_photo_id 800 similar.to_photo.get_pseudo_slug %}',
            fb_url: '{{ hostname }}{{ similar.to_photo.get_detail_url }}',
            fullscreen_url: '{% url 'image_full' similar.to_photo.pk similar.to_photo.get_pseudo_slug %}',
            fullscreen_width: '{{ similar.to_photo.width }}',
            fullscreen_height: '{{ similar.to_photo.height }}',
            {% if similar.to_photo.date %}
                date: '{{ similar.to_photo.date|date:"d.m.Y" }}',
            {% endif %}
            {% if similar.to_photo.user %}
                FBUserName: '{% if similar.to_photo.user.fb_name %}{{ similar.to_photo.user.fb_name }}{% endif %}',
                FBUserLink: '{% if similar.to_photo.user.fb_link %}{{ similar.to_photo.user.fb_link }}{% endif %}',
                GooglePlusName: '{% if similar.to_photo.user.google_plus_name %}{{ similar.to_photo.user.google_plus_name }}{% endif %}',
                GooglePlusLink: '{% if similar.to_photo.user.google_plus_link %}{{ similar.to_photo.user.google_plus_link }}{% endif %}',
                FullName: '{{ similar.to_photo.user.get_display_name }}',
            {% endif %}
            {% if similar.to_photo.author %}
                author: '{{ similar.to_photo.author }}',
            {% endif %}
            licence: {
                name: '{{ similar.to_photo.licence.name }}',
                url: '{{ similar.to_photo.licence.url }}',
                image_url: '{{ similar.to_photo.licence.image_url }}',
                is_public: '{{ similar.to_photo.licence.is_public }}'
            },
            {% if similar.to_photo.source %}
                source: '{{ similar.to_photo.source.description }}',
                sourceKey: '{{ similar.to_photo.source_key }}',
                sourceURL: '{{ similar.to_photo.source_url }}'
            {% endif %}
        });
    {% endfor %}
    $(document).ready(function () {
        window._gaq.push(['_trackPageview', '{{ photo.get_absolute_url }}']);
        $('#ajapaik-rephoto-thumb-' + window.currentlySelectedRephotoId).click();
        $('#ajapaik-similar-photo-thumb-' + window.currentlySelectedSimilarPhotoId).click();
        window.photoModalOpenedTime = Date.now();
        $('#ajp-dater-container').AjapaikDater();
        $('#ajp-transcriber-container').AjapaikTranscriber();
        var mainPhotoContainer = $('#ajapaik-modal-photo-container');
        mainPhotoContainer.AjapaikFaceTagger();
        mainPhotoContainer.data('AjapaikFaceTagger').initializeFaceTaggerState({photoId: window.currentlyOpenPhotoId});
        $('#ajapaik-photo-modal-face-recognition-add-face-button').click(function (e) {
            e.preventDefault();
            mainPhotoContainer.data('AjapaikFaceTagger').toggleCropping();
        });
        // Do not try to use mainPhotoContainer variable here, mouseout will not trigger correctly, probably loading order issue
        $(document).on('mouseenter.ajapaik-namespace', '#ajapaik-modal-photo-container', function () {
            $('#ajapaik-modal-photo-container').data('AjapaikFaceTagger').loadRectangles();
        });
        $(document).on('mouseleave.ajapaik-namespace', '#ajapaik-modal-photo-container', function () {
            $('#ajapaik-modal-photo-container').data('AjapaikFaceTagger').removeRectanglesAndButtons();
        });
        window.startDater = function (photoId) {
            $('.ajp-dater-hide-when-dater-visible').hide();
            $('#ajp-dater-container').show().data('AjapaikDater').initializeDaterState({
                photoId: photoId,
                previousDatings: window.previousDatings
            });
            $('.ajapaik-close-rephoto-overlay-button').click();
        };
        window.stopDater = function () {
            $('.ajp-dater-hide-when-dater-visible').show();
            $('#ajp-dater-input').val(null);
            $('#ajp-dater-comment').val(null);
            $('#ajp-dater-feedback').empty();
            $('#ajp-dater-container').hide();
        };
        window.updateDatings = function () {
            $.ajax({
                url: '{% url 'get_datings' photo.id %}',
                success: function (result) {
                    $('#ajp-dater-container').data('AjapaikDater').buildPreviousDatingsDiv(result.datings);
                    $('#ajapaik-photo-modal-start-dating-button').find('.badge').html(result.datings.length);
                    $('#ajapaik-photoview-start-dating-button').find('.badge').html(result.datings.length);
                    window.updateLeaderboard();
                    $('#ajp-dater-input').val(null);
                    $('#ajp-dater-comment').val(null);
                }
            });
        };
        window.startTranscriber = function (photoId) {
            $('.ajp-transcriber-hide-when-transcriber-visible').hide();
            $('#ajp-transcriber-container').removeClass('d-none').addClass('d-block').data('AjapaikTranscriber').initializeTranscriberState({
                photoId: photoId,
                previousDatings: window.previousDatings
            });
            $('.ajapaik-close-rephoto-overlay-button').click();
        };
        window.stopTranscriber = function () {
            $('.ajp-transcriber-hide-when-dater-visible').show();
            $('#ajp-transcriber-comment').val(null);
            $('#ajp-transcriber-container').removeClass('d-block').addClass('d-none');
        };
        window.updateTranscriptions = function () {
            $.ajax({
                url: '{% url 'api_transcriptions' photo.id %}',
                success: function (result) {
                    window.currentPhotoTranscriptions = result.transcriptions;
                    if(window.currentPhotoTranscriptions.length > 0) {
                        $('#ajapaik-photoview-transcribe-button').find('.badge').html(window.currentPhotoTranscriptions.length);
                        $('#ajp-transcription-info').removeClass('d-none').addClass('d-flex');
                        if(!$('#ajp-transcriber-confirm-button').is(':visible')) {
                            $('#ajp-transcriber-confirm-button').removeClass('d-none');
                        }
                    } 
                },
                error: function() {
                    $.notify("Failed to get transcriptions", {type: 'danger'});
                }
            });
        };
        window.updateTranscriptions();
        var rephotoFullScreenImage = $('#ajapaik-rephoto-full-screen-image');
        rephotoFullScreenImage.attr('data-src', window.photoModalRephotoFullscreenImageUrl).attr('alt', window.currentPhotoDescription);

        var similarFullScreenImage = $('#ajapaik-similar-photo-full-screen-image');
        similarFullScreenImage.attr('data-src', window.photoModalSimilarFullscreenImageUrl).attr('alt', window.currentPhotoDescription);

        $('#ajapaik-comment-form-register-link').click(function (event) {
            event.preventDefault();
            window.openPhotoUploadModal();
        });

        // Leaflet-map
        if (typeof get_photoviewModalOptions === "function") {
            var options = get_photoviewModalOptions();
            $('#ajapaik-photo-modal-map-container').AjapaikMinimap(options);
        }
    
        var currentPhotoHasLocation = !(window.currentPhotoLat === undefined && window.currentPhotoLon === undefined);

        if(window.userClosedRephotoTools && window.userClosedSimilarPhotoTools){
            if(currentPhotoHasLocation) {
                $('#ajapaik-photo-modal-original-photo-column').removeClass("col-lg-12").addClass("col-lg-6");
                $('#ajapaik-photo-modal-original-photo-info-column').removeClass("col-lg-12").addClass("col-lg-6");
            }
            else {
                $('#ajapaik-photo-modal-original-photo-column').removeClass("col-lg-6").addClass("col-lg-12");
                $('#ajapaik-photo-modal-original-photo-info-column').removeClass("col-lg-6").addClass("col-lg-12");
            }
        }
        window.flipPhoto = function () {
            var fullScreenPhoto = $('#ajapaik-full-screen-image');
            if(fullScreenPhoto !== undefined) {
                if (fullScreenPhoto.hasClass('ajapaik-photo-flipped')) {
                    fullScreenPhoto.removeClass('ajapaik-photo-flipped');
                } else {
                    fullScreenPhoto.addClass('ajapaik-photo-flipped');
                }
            }
            if(fullScreenPhoto !== undefined) {
                window.photoModalCurrentPhotoFlipped = !window.photoModalCurrentPhotoFlipped;
            }
        };

        mainPhotoContainer = $('#ajapaik-modal-photo-container'),
        rephotoContainer = $('#ajapaik-modal-rephoto-container'),
        similarPhotoContainer = $('#ajapaik-modal-similar-photo-container');
            mainPhotoContainer.hover(function () {
                if (!window.isMobile) {
                    var $this = $(this);
                    $this.find('.ajapaik-thumbnail-selection-icon').show("fade", 250);
                    $this.find('#ajapaik-reverse-side-button').show("fade", 250);
                    $this.find('#ajapaik-rotate-photo-button').show("fade", 250);
                    $this.find('.ajapaik-photo-modal-previous-button').show("fade", 250);
                    $this.find('.ajapaik-photo-modal-next-button').show("fade", 250);
                    $this.find('.ajapaik-like-photo-overlay-button').show("fade", 250);
                    $this.find('.ajapaik-flip-photo-overlay-button').show("fade", 250);
                    $this.find('#ajapaik-reverse-side-button').show("fade", 250);
                    $this.find('#ajapaik-rotate-photo-button').show("fade", 250);
                    if (window.userClosedSimilarPhotoTools) {
                        $this.find('.ajapaik-show-similar-photo-selection-overlay-button').show("fade", 250);
                    }
                    if (window.userClosedRephotoTools) {
                        $('.ajapaik-show-rephoto-selection-overlay-button').show("fade", 250);
                    }
                }
            }, function () {
                if (!window.isMobile) {
                    var $this = $(this);
                    $this.find('.ajapaik-thumbnail-selection-icon').hide("fade", 250);
                    $this.find('.ajapaik-photo-modal-previous-button').hide("fade", 250);
                    $this.find('.ajapaik-photo-modal-next-button').hide("fade", 250);
                    if (window.photoModalOpenedTime + 2000 < Date.now()) {
                        $this.find('.ajapaik-like-photo-overlay-button').hide("fade", 250);
                    }
                    $this.find('#ajapaik-reverse-side-button').hide("fade", 250);
                    $this.find('#ajapaik-rotate-photo-button').hide("fade", 250);
                    $this.find('.ajapaik-flip-photo-overlay-button').hide("fade", 250);
                    $this.find('.ajapaik-show-rephoto-selection-overlay-button').hide("fade", 250);
                    $this.find('.ajapaik-show-similar-photo-selection-overlay-button').hide("fade", 250);
                }
            });
            rephotoContainer.hover(function () {
                if (!window.isMobile) {
                    if (!window.userClosedRephotoTools) {
                        $('.ajapaik-close-rephoto-overlay-button').show("fade", 250);
                        $('.ajapaik-invert-rephoto-overlay-button').show("fade", 250);
                        $('#ajapaik-rephoto-selection').show("fade", 250);
                    }
                }
            }, function () {
                if (!window.isMobile) {
                    if (!window.userClosedRephotoTools) {
                        $('.ajapaik-close-rephoto-overlay-button').hide("fade", 250);
                        $('.ajapaik-invert-rephoto-overlay-button').hide("fade", 250);
                        $('#ajapaik-rephoto-selection').hide("fade", 250);
                    }
                }
            });
            similarPhotoContainer.hover(function () {
                if (!window.isMobile) {
                    if (!window.userClosedSimilarPhotoTools) {
                        $('.ajapaik-close-similar-photo-overlay-button').show("fade", 250);
                        $('.ajapaik-invert-similar-photo-overlay-button').show("fade", 250);
                        $('#ajapaik-similar-photo-selection').show();
                    }
                }
            }, function () {
                if (!window.isMobile) {
                    if (!window.userClosedSimilarPhotoTools) {
                        $('.ajapaik-close-similar-photo-overlay-button').hide("fade", 250);
                        $('.ajapaik-invert-similar-photo-overlay-button').hide("fade", 250);
                        $('#ajapaik-similar-photo-selection').hide();
                    }
                }
            });            
    });

    resizeSimilarImage = function() {
        window.currentPhotoOriginalWidth
        window.currentPhotoOriginalHeight
        var height = 320;
        if (window.visualViewport.width < 978) {
            height = 'auto';
        }
        else {
            var columnWidth = (0.65 * window.visualViewport.width + 150) /2  - 32;
            var imgContainerHeight = window.currentPhotoOriginalHeight > window.visualViewport.height * 0.7 ? window.visualViewport.height * 0.7 : window.currentPhotoOriginalHeight;
            imgContainerHeight = imgContainerHeight < window.visualViewport.height * 0.3 ? window.visualViewport * 0.3 : imgContainerHeight;
            if (columnWidth < window.currentPhotoOriginalWidth) {
                height = window.currentPhotoOriginalHeight / window.currentPhotoOriginalWidth * columnWidth;
            }
            else{
                height = imgContainerHeight;
            }
        }
    $('#ajapaik-modal-similar-photo-container').height(height);
    $('#ajapaik-modal-similar-photo').height(height);
    }

    $('#ajapaik-modal-similar-photo').on('load', function() {
        if(window.visualViewport !== undefined) {
            resizeSimilarImage();
        }
    });

    $(window).on('resize', function() {
        if(window.visualViewport !== undefined) {
            resizeSimilarImage();
        }
    })

    $('#ajapaik-modal-rephoto').removeClass('ajapaik-photo-bw');
    $('#ajapaik-rephoto-full-screen-image').removeClass('ajapaik-photo-bw');

    $(document).on('click', '#modal-compare-similar', function() {
        if(window.currentlyOpenPhotoId !== undefined && window.currentlySelectedSimilarPhotoId !== undefined){
            window.location.href = window.location.origin + '/compare-photos/' + window.currentlyOpenPhotoId + '/' + window.currentlySelectedSimilarPhotoId;
        }
    })
</script>
{% block specific_js %}
    <script src="{% static 'js/ajapaik-comments.js' %}"></script>
{% endblock %}
{% include "js_templates/photo_modal_rephoto_template.html" %}
{% include "js_templates/photo_modal_similar_photo_template.html" %}
{% include "js_templates/photo_modal_rephoto_info_template.html" %}
{% include "js_templates/photo_modal_similar_photo_info_template.html" %}
{% include "_album_creation_modal.html" %}
{% include "js_templates/curator_album_selection_separator.html" %}
{% include "js_templates/curator_album_selection_option.html" %}
