{% load i18n %}
<div>
    {% if photo.address and photo.lat and photo.lon and not request.user_agent.is_pc %}
        <div class="w-100">
            <i>{% trans "Approximate address" %}: {{ photo.address }}</i>
        </div>
    {% endif %}
    {% if photo.author %}
        <div class="w-100">
            <b>{{ photo.author }}</b>
        </div>
    {% endif %}
    {% if photo.description %}
        <div class="w-100">
                {{ photo.description }}
        </div>
    {% endif %}
    {% if photo.date %}
        <div class="w-100">
                {{ photo.date }}
        </div>
    {% elif photo.date_text %}
        <div class="w-100">
                {{ photo.date_text }}
        </div>
    {% endif %}
        <div class="w-100">
            {% if photo.licence %}{% include "_licence.html" with licence=photo.licence %}{% endif %}
            {% if photo.source_url %}
            <a onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);"
                href='{{ photo.source_url }}' target="_blank" rel="noopener">
                {{ photo.source.description }}
                {% if photo.source_key %}{{ photo.source_key }}{% endif %}
            </a>
            {% elif photo.source.description %}
            {{ photo.source.description }}{% if photo.source_key %} {{ photo.source_key }}{% endif %}
            {% endif %}
        </div>
</div>