{% load i18n %}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <div>
                {% if request.user.profile.is_legit %}
                    {% with profile=request.user.profile user=request.user %}
                        <p>{% trans "User" %} <b>{{ user.get_full_name }}</b></p>
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button type="submit">{% trans 'Sign Out' %}</button>
                        </form>
                        <div id="files" class="files">
                            <p>
                                <span id="ajapaik-file-upload-file-preview"></span>
                                <br/>
                                <span id="ajapaik-file-upload-file-name"></span>
                                <br/>
                                <p class="ajapaik-fileupload-datepicker-container" style="display: none;">
                                    {% trans "Taken" %}: <input type="text" id="ajapaik-fileupload-datepicker" data-date-format="DD.MM.YYYY HH:mm">
                                </p>
                                <button class="btn btn-primary ajapaik-upload-photo-button" id="ajapaik-upload-photo-button" disabled="disabled" style="display: none;">{% trans "Upload" %}</button>
                            </p>
                        </div>
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{% trans "Select file..." %}</span>
                            <input id="ajapaik-fileupload" type="file" name="user_file[]">
                        </span>
                        <p></p>
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <br>
                    {% endwith %}
                        <p>
                            {% trans "Make a contemporary rephoto from the very same place where the historic picture was taken and upload it. Uploaded rephotograph will be attributed to you under the" %}
                            {% include '_licence.html' %}{% trans "licence" %}.
                        </p>
                {% else %}
                    {% include "_log_in.html" with type="rephoto_upload" %}
                {% endif %}
                <a href="#" onclick="uploadCompleted();">{% trans "Close" %}</a>
            </div>
        </div>
    </div>
</div>
<script>
    /*jslint unparam: true, regexp: true */
    /*global window, $ */
    $(function () {
        'use strict';
        var url = '{% url 'rephoto_upload' photo.pk %}';
        $('#ajapaik-fileupload-datepicker').datetimepicker();
        $('#ajapaik-upload-photo-button').on('click', function () {
            var $this = $(this),
                data = $this.data();
            $this.off('click').text('{% trans "Abort" %}').on('click', function () {
                $this.remove();
                data.abort();
            });
            data.submit().always(function () {
                //$this.remove();
                $this.hide();
            });
        });
        $('#ajapaik-fileupload').fileupload({
            url: url,
            dataType: 'json',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 15000000,
            disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
            previewMaxWidth: 200,
            previewMaxHeight: 100,
            maxNumberOfFiles: 1
        }).on('fileuploadadd', function (e, data) {
            data.context = $('#files');
            $('.ajapaik-fileupload-datepicker-container').show();
            $('.fileinput-button').find('span').html('{% trans "Select new file..." %}');
            window.loadImage.parseMetaData(data.files[0], function (metadata) {
                if (metadata.exif) {
                    var exif = metadata.exif.getAll();
                    if (exif.DateTimeOriginal) {
                        var dateParts = exif.DateTimeOriginal.split(' ')[0].split(':'),
                            timeParts = exif.DateTimeOriginal.split(' ')[1].split(':'),
                            dateTaken = new Date(dateParts[0] + '-' + dateParts[1] + '-' + dateParts[2] + ' ' + timeParts[0] + ':' + timeParts[1]);
                        $('#ajapaik-fileupload-datepicker').data("DateTimePicker").setDate(dateTaken);
                    }
                }
            });
            $('#ajapaik-file-upload-file-name').html(data.files[0].name);
            $('#ajapaik-upload-photo-button').data(data).show();
        }).on('fileuploadprocessalways', function (e, data) {
            var file = data.files[0];
            if (file.preview) {
                $('#ajapaik-file-upload-file-preview').html(file.preview);
            }
            if (file.error) {
                $('#ajapaik-file-upload-file-preview').html($('<span class="text-danger"/>').text(file.error));
            }
            data.context.find('button').text('{% trans "Upload" %}').prop('disabled', !!data.files.error);
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css('width', progress + '%');
        }).on('fileuploaddone', function (e, data) {
            window.uploadCompleted(data.result);
        }).on('fileuploadfail', function (e, data) {
            $.each(data.files, function (index) {
                var error = $('<span class="text-danger"/>').text('{% trans "File upload failed." %}');
                $(data.context.children()[index]).append('<br>').append(error);
            });
        }).on('fileuploadsubmit', function (e, data) {
            data.formData = {
                csrfmiddlewaretoken: window.docCookies.getItem('csrftoken'),
                dateTaken: $('#ajapaik-fileupload-datepicker').val()
            };
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>