{% load i18n compress static %}
<div class="modal fade" id="ajapaik-photo-comparision-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Thank you!" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% trans "Your photos have now been added to Ajapaik and can be interacted with as usual." %}</p>

                    <p>{% trans "Points awarded for curating" %}: <span
                            id="ajapaik-curator-points-awarded"></span></p>

                    <p>{% trans "You can start geotagging the new content here" %}: <a target="_blank"
                                                                                        id="ajapaik-curator-album-play-link"></a>
                    </p>

                    <p>{% trans "Tell your friends on Facebook" %}:</p>

                    <p id="ajapaik-curator-share-button-container"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        {% trans "Close" %}
                    </button>
                </div>
            </div>
        </div>
    </div>