{% load i18n %}
<div id="ajapaik-photo-rephoto-info-column" class="col-lg-6 col-md-12 col-xs-12">
    {% if rephoto.author %}
        <div class="w-100"><b>{{ rephoto.author }}</b>
            {% if rephoto.licence %}
                {% include "_licence.html" with licence=rephoto.licence %}
            {% endif %}
        </div>
    {% endif %}
    {% if rephoto.source and rephoto.source_key and rephoto.source_url %}
        <div class="w-100">
            <a id="ajapaik-photo-source"
                onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);"
                href='{{ rephoto.source_url }}' target="_blank">
                {{ rephoto.source.description }} {{ rephoto.source_key }}
            </a>
        </div>
    {% else %}
        <div class="w-100">
            <a id="ajapaik-photo-modal-rephoto-user-link"
                {% if rephoto.user.id %} href="/photos/?rephotosBy={{rephoto.user.id}}&order1=time&order2=rephotos" {% endif %}
                target="_blank">
                {% if rephoto.user.fb_name %}
                    {{ rephoto.user.fb_name }}
                {% elif rephoto.user.fb_name %}
                    {{ rephoto.user.google_plus_name }}
                {% else %}
                    {{ rephoto.user.get_display_name }}
                {% endif %}
            </a>
        <br>
        {% include '_licence.html' %}
        </div>
    {% endif %}
    {% if rephoto.date %}
        <div class="w-100">
            {% trans "Date taken" %}&nbsp;
            <div id="ajapaik-photoview-date-taken">{{ rephoto.date|date:"d.m.Y" }}</div>
        </div>
    {% endif %}
</div>