{% load i18n %}
<div>
    {% if rephoto.source and rephoto.source_key and rephoto.source_url %}
    {% if rephoto.author %}
        <div class="w-100"><b>{{ rephoto.author }}</b>{% if rephoto.licence %}
            {% include "_licence.html" with licence=rephoto.licence %}{% endif %}</div>
    {% endif %}
    <div class="w-100">
        <a onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);"
        href='{{ rephoto.source_url }}' target="_blank">
            {{ rephoto.source.description }} {{ rephoto.source_key }}
        </a>
    </div>
    {% elif rephoto.author %}
    <div class="w-100"><b>{{ rephoto.author }}</b>{% if rephoto.licence %}
        {% include "_licence.html" with licence=rephoto.licence %}{% endif %}</div>
    {% elif rephoto.user.fb_name %}
    <div class="w-100">
        <a id="ajapaik-photo-modal-rephoto-user-link" target="_blank"
            {% if rephoto.user.fb_link %} href="{{ rephoto.user.fb_link }}"{% endif %}>
            {{ rephoto.user.fb_name }}
        </a>
    &nbsp;{% include '_licence.html' %}
    </div>
    {% elif rephoto.user.google_plus_name %}
    <div class="w-100">
        <a id="ajapaik-photo-modal-rephoto-user-link" target="_blank"
        {% if rephoto.user.google_plus_link %} href="{{ rephoto.user.google_plus_link }}"{% endif %}>
        {{ rephoto.user.google_plus_name }}
    </a>
    &nbsp;{% include '_licence.html' %}
    </div>
    {% else %}
    <div class="w-100">
        <a id="ajapaik-photo-modal-rephoto-user-link" target="_blank"
        href="#">{{ rephoto.user.get_display_name }}</a>&nbsp;{% include '_licence.html' %}
    </div>
    {% endif %}
    {% if rephoto.date %}
    <div class="w-100">
        {% trans "Date taken" %}&nbsp;
        <div id="ajapaik-photoview-date-taken">{{ rephoto.date|date:"d.m.Y" }}</div>
    </div>
    {% endif %}
</div>