{% extends "base_bootstrap.html" %}
{% load i18n compress static %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}
{% block layout %}
{% include "_similar_images_tutorial_modal.html" %}

<div class="full-box original-full-box">
        <div class="full-pic" id="ajapaik-fullscreen-image-container">
            <img id="ajapaik-full-screen-image" class="lazyload" style="display: none;"
                data-src="{% url "image_full" photo.pk photo.get_pseudo_slug %}"
                alt="{{ photo.description }}" title="{{ photo.description }}" />
        </div>
    </div>
<div class="full-box rephoto-full-box">
    <div class="full-pic" id="ajapaik-rephoto-fullscreen-image-container">
        <img id="ajapaik-rephoto-full-screen-image" class="lazyload" style="display: none;"
            alt="{{ photo2.description }}"
            data-src="{% url "image_full" photo2.pk photo2.get_pseudo_slug %}"
            title="{{ photo2.description }}/">
    </div>
</div>
<div id="compare-photos-container" class="container pt-5" style="min-height:87vh;opacity:0;">
    <div class="row pt-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-xl-left text-sm-left">
            <div class="img-wrapper">
                <a class="fullscreen" id="ajapaik-full-screen-link"
                    href="{% url 'photo' photo.id photo.get_pseudo_slug %}">
                    <img class="mw-100 align-bottom" id="ajapaik-compareview-main-photo" style="background-color:#eee;"
                                            alt="{{ photo.description }}"
                                            src="{% url 'image_thumb' photo.id 800 photo.get_pseudo_slug %}"/>
                </a>
                <div class="compare-photo-description">
                        {% with photo=photo|default:photo %}
                            {% include "_photo_description_container.html" %}
                        {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-xl-left text-sm-left">
            <a class="fullscreen" id="ajapaik-rephoto-full-screen-link" rel=""
                href="{% url 'photo' photo2.id photo2.get_pseudo_slug %}">
                <img class="mw-100 align-bottom" id="ajapaik-compareview-secondary-photo" style="background-color:#eee;"
                    alt="{{ photo2.description }}"
                    href="{% url 'photo' photo2.id photo2.get_pseudo_slug %}"
                    src="{% url 'image_thumb' photo2.id 800 photo2.get_pseudo_slug %}"/>
            </a>
            <div class="compare-photo-description">
                    {% with photo=photo2|default:photo2 %}
                        {% include "_photo_description_container.html" %}
                    {% endwith %}
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-xl-right text-md-right text-center px-0">
            <button id="not_similar" class="btn btn-danger m-2 w-75">
                {% trans "No content overlap" %}{% if request.user_agent.is_pc %} (1){% endif %}
            </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center px-0">
            <button id="similar" class="btn btn-primary m-2 w-75">
                {% trans "Overlapping content" %}{% if request.user_agent.is_pc %} (2){% endif %}
            </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-xl-left text-md-left text-center px-0">
            <button id="duplicate" class="btn btn-success m-2 w-75">
                {% trans "Same shot" %}{% if request.user_agent.is_pc %} (3){% endif %}
            </button>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
        {% include "_footer.html" %}
{% endblock %}
{% block specific_js %}
    <script>
        $('#ajapaik-loading-overlay').show();
        if(!docCookies.getItem("similarityModalShown")) {
            var d = new Date();
            d.setTime(d.getTime() + 86400000);
            document.cookie = 'similarityModalShown=true;expires=' + d + ';path=/'; 
            $('#ajapaikSimilarImagesTutorialModal').modal();
        }

        $('#close-similar-modal').on('click', function() {
            $('#ajapaikSimilarImagesTutorialModal').modal('toggle');
        });

        var height1 = '{{ photo.height }}'
        var height2 = '{{ photo2.height }}'
        var width1 = '{{ photo.width }}'
        var width2 = '{{ photo2.width }}'

        resizeDescription = function() {
            var mainPhoto = $("#ajapaik-compareview-main-photo");
            var secondaryPhoto = $("#ajapaik-compareview-secondary-photo");
            mainPhoto.siblings().width(mainPhoto.width() || 320);
            secondaryPhoto.siblings().width(secondaryPhoto.width() || 320);
        }

        resizePhotos = function() {
            var mainPhoto = $("#ajapaik-compareview-main-photo");
            var secondaryPhoto = $("#ajapaik-compareview-secondary-photo");
            var mainPhotoRatio =  width1 / height1;
            var secondaryPhotoRatio = width2 / height2;
            if(mainPhotoRatio > secondaryPhotoRatio) {
                secondaryPhoto.height(mainPhoto.height());
            } else {
                mainPhoto.height(secondaryPhoto.height());
            }
            resizeDescription();
        }

        $(window).on('load', function() {
            resizePhotos();
            $('#ajapaik-loading-overlay').hide();
            $('#compare-photos-container').css('opacity','1.0');
        });

        $(window).resize(function() {
            resizePhotos();
        });

        window.isCompareView = true;

        photo1 = '{{ photo.id }}';
        photo2 = '{{ photo2.id }}';

        ConfirmImageSimilarity = function(confirmed,similarity_type){
            $('#ajapaik-loading-overlay').show();
            $.ajax({
                type: 'POST',
                url: window.location.origin + "/api/v1/photos/similar/",
                data: {
                    csrfmiddlewaretoken: docCookies.getItem('csrftoken'),
                    confirmed: confirmed,
                    similarity_type: similarity_type,
                    photos: photo1 + "," + photo2
                },
                success: function (response) {
                    var points = response.points;
                    var message = response && points > 0
                        ?  interpolate(ngettext(
                            'You have gained %s point',
                            'You have gained %s points',
                            points
                        ),
                        [points]
                        )
                        : gettext('Your guess has been changed');
                    $.notify(message, {type: 'success'});
                    setTimeout(function(){
                        window.location.href = '{{next_action}}';
                    }, 1000);
                },
                error: function () {
                    $.notify(gettext('Something went wrong, please check your connection. If the issue persists please contact us on Tawk.to'), {type: 'danger'});
                },
                complete: function () {
                    $('#ajapaik-loading-overlay').hide();
                }
            });
        }
        $('#not_similar').click(function(){
            ConfirmImageSimilarity(true,0)
        });
        $('#similar').click(function(){
            ConfirmImageSimilarity(true,1)
        });
        $('#duplicate').click(function(){
            ConfirmImageSimilarity(true,2)
        });
    </script>
{% endblock %}