{% extends "base_bootstrap.html" %}
{% load i18n compress static %}

{% block specific_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/ajapaik-video.css" %}"/>
        <link rel="stylesheet" href="{% static "libs/justifiedGallery/css/justifiedGallery-3.6.1.min.css" %}"/>
    {% endcompress %}
{% endblock %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}
{% block layout %}
{% include "_similar_images_tutorial_modal.html" %}
<div class="container pt-5" style="min-height:87vh;">
    <div class="row pt-2">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-xl-left text-sm-left">
            <div class="img-wrapper">
                <img class="mw-100 align-bottom" id="ajapaik-compareview-main-photo" style="background-color:#eee;"
                                        alt="{{ photo.description }}"
                                        src="{% url 'image_thumb' photo.id 800 photo.get_pseudo_slug %}"/>
                <div class="compare-photo-description">
                        {% with photo=photo|default:photo %}
                            {% include "_photo_description_container.html" %}
                        {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-xl-left text-sm-left">
            <img class="mw-100 align-bottom" id="ajapaik-compareview-secondary-photo" style="background-color:#eee;"
                                    alt="{{ photo2.description }}"
                                    src="{% url 'image_thumb' photo2.id 800 photo2.get_pseudo_slug %}"/>
            <div class="compare-photo-description">
                    {% with photo=photo2|default:photo2 %}
                        {% include "_photo_description_container.html" %}
                    {% endwith %}
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-xl-right text-md-right text-center px-0">
            <button id="not_similar" class="btn btn-danger m-2 w-75">
                {% trans "No content overlap" %}{% if request.user_agent.is_pc %} (1){% endif %}
            </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center px-0">
            <button id="similar" class="btn btn-primary m-2 w-75">
                {% trans "Overlapping content" %}{% if request.user_agent.is_pc %} (2){% endif %}
            </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-xl-left text-md-left text-center px-0">
            <button id="duplicate" class="btn btn-success m-2 w-75">
                {% trans "Same shot" %}{% if request.user_agent.is_pc %} (3){% endif %}
            </button>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
        {% include "_footer.html" %}
{% endblock %}
{% block specific_js %}
    <script>
        if(!docCookies.getItem("similarityModalShown")) {
            let d = new Date();
            d.setTime(d.getTime() + 86400000);
            document.cookie = 'similarityModalShown=True;expires=' + d + ';path=/'; 
            $('#ajapaikSimilarImagesTutorialModal').modal();
        }

        let height1 = '{{ photo.height }}'
        let height2 = '{{ photo2.height }}'
        let width1 = '{{ photo.width }}'
        let width2 = '{{ photo2.width }}'

        resizeDescription = function() {
            let mainPhoto = $("#ajapaik-compareview-main-photo");
            let secondaryPhoto = $("#ajapaik-compareview-secondary-photo");
            mainPhoto.siblings().width(mainPhoto.width() || 320);
            secondaryPhoto.siblings().width(secondaryPhoto.width() || 320);
        }

        resizePhotos = function() {
            let mainPhoto = $("#ajapaik-compareview-main-photo");
            let secondaryPhoto = $("#ajapaik-compareview-secondary-photo");
            let mainPhotoRatio =  width1 / height1;
            let secondaryPhotoRatio = width2 / height2;
            if(mainPhotoRatio > secondaryPhotoRatio) {
                secondaryPhoto.height(mainPhoto.height());
            } else {
                mainPhoto.height(secondaryPhoto.height());
            }
            resizeDescription();
        }

        $( window ).on('load', function() {
            resizePhotos();
        });

        $( window ).resize(function() {
            resizePhotos();
        });

        photoComparisionModal = $('#ajapaik-photo-comparision-modal');
        window.isCompareView = true;

        ConfirmImageSimilarity = function(confirmed,similarity_type){
            $.ajax({
                type: 'POST',
                url: '/compare_photos/' + '{{ photo.id }}/' + '{{ photo2.id }}/',
                data: {
                    csrfmiddlewaretoken: docCookies.getItem('csrftoken'),
                    confirmed: confirmed,
                    similarity_type: similarity_type,
                    profile: window.currentProfileId
                },
                success: function (response) {
                    window.location.href = '{{next_action}}';
                },
                error: function () {
                    alert("Lisamine ebaõnnestus");
                }
            });
        }
        $('#not_similar').click(function(){
            ConfirmImageSimilarity(true,0)
        });
        $('#similar').click(function(){
            ConfirmImageSimilarity(true,1)
        });
        $('#duplicate').click(function(){
            ConfirmImageSimilarity(true,2)
        });
    </script>
{% endblock %}