{% extends "base_bootstrap.html" %}
{% load i18n compress static %}

{% block specific_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/ajapaik-video.css" %}"/>
        <link rel="stylesheet" href="{% static "libs/justifiedGallery/css/justifiedGallery-3.6.1.min.css" %}"/>
    {% endcompress %}
{% endblock %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}
{% block layout %}
<div class="container pt-5" style="min-height:87vh;">
    {% include "_photo_comparision_modal.html" %}
    <div class="row pt-2">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-xl-left text-sm-left">
            <div class="img-wrapper">
                <img class="mw-100 align-bottom" id="ajapaik-compareview-main-photo" style="background-color:#eee;"
                                        alt="{{ photo.description }}"
                                        src="{% url 'image_thumb' photo.id 800 photo.get_pseudo_slug %}"/>
                <div class="compare-photo-description">
                        {% with photo=photo|default:photo %}
                            {% include "_photo_description_container.html" %}
                        {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-xl-left text-sm-left">
            <img class="mw-100 align-bottom" id="ajapaik-compareview-secondary-photo" style="background-color:#eee;"
                                    alt="{{ photo2.description }}"
                                    src="{% url 'image_thumb' photo2.id 800 photo2.get_pseudo_slug %}"/>
            <div class="compare-photo-description">
                    {% with photo=photo2|default:photo2 %}
                        {% include "_photo_description_container.html" %}
                    {% endwith %}
            </div>
        </div>
        <div class="w-100 py-3 text-center">
            {% trans "Please click on the respective button to confirm image relationship" %}. {% if request.user_agent.is_pc %}{% trans "In addition to buttons, keyboard can be used to insert image relationships." %}{% endif %}
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-xl-right text-md-right text-center px-0">
            <button id="not_similar" class="btn btn-danger m-2 w-75">
                {% trans "The images are not similar" %}{% if request.user_agent.is_pc %} (1){% endif %}
            </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center px-0">
            <button id="similar" class="btn btn-primary m-2 w-75">
                {% trans "The images are similar" %}{% if request.user_agent.is_pc %} (2){% endif %}
            </button>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-xl-left text-md-left text-center px-0">
            <button id="duplicate" class="btn btn-success m-2 w-75">
                {% trans "The images depict the same frame" %}{% if request.user_agent.is_pc %} (3){% endif %}
            </button>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
        {% include "_footer.html" %}
{% endblock %}
{% block specific_js %}
    <script>
        let height1 = '{{ photo.height }}'
        let height2 = '{{ photo2.height }}'
        let width1 = '{{ photo.width }}'
        let width2 = '{{ photo2.width }}'

        resizeDescription = function() {
            let mainPhoto = $("#ajapaik-compareview-main-photo");
            let secondaryPhoto = $("#ajapaik-compareview-secondary-photo");
            mainPhoto.siblings().width(mainPhoto.width() || 320);
            secondaryPhoto.siblings().width(secondaryPhoto.width() || 320);
        }

        resizePhotos = function() {
            let mainPhoto = $("#ajapaik-compareview-main-photo");
            let secondaryPhoto = $("#ajapaik-compareview-secondary-photo");
            let mainPhotoRatio =  width1 / height1;
            let secondaryPhotoRatio = width2 / height2;
            if(mainPhotoRatio > secondaryPhotoRatio) {
                secondaryPhoto.height(mainPhoto.height());
            } else {
                mainPhoto.height(secondaryPhoto.height());
            }
        }

        $( window ).on('load', function() {
            resizeDescription();
            resizePhotos();
        });

        $( window ).resize(function() {
            resizeDescription();
            resizePhotos();
        });

        photoComparisionModal = $('#ajapaik-photo-comparision-modal');
        window.isCompareView = true;

        ConfirmImageSimilarity = function(confirmed,similarity_type){
            $.ajax({
                type: 'POST',
                url: '/compare_photos/' + '{{ photo.id }}/' + '{{ photo2.id }}/',
                data: {
                    csrfmiddlewaretoken: docCookies.getItem('csrftoken'),
                    confirmed: confirmed,
                    similarity_type: similarity_type
                },
                success: function (response) {
                    window.location.href = '{{next_action}}';
                },
                error: function () {
                    alert("Lisamine ebaõnnestus");
                }
            });
        }
        $('#similar').click(function(){
            ConfirmImageSimilarity(true,0)
        });
        $('#duplicate').click(function(){
            ConfirmImageSimilarity(true,1)
        });
        $('#not_similar').click(function(){
            $.ajax({
                type: 'DELETE',
                url: '/compare_photos/' + '{{ photo.id }}/' + '{{photo2.id}}/',
                data: {
                    csrfmiddlewaretoken: docCookies.getItem('csrftoken')
                },
                success: function (response) {
                    window.location.href = '{{next_action}}';
                },
                error: function () {
                    alert("Kustutamine ebaõnnestus");
                }
            });
        });
    </script>
{% endblock %}