{% extends "base_bootstrap.html" %}
{% load i18n %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    {% include "_full_leaderboard_modal.html" %}
    <div class="container{% if not request.user.profile.is_legit %} pb-3 w-50{% endif %}" id="ajapaik-curator-container">
        {% if request.user.profile.is_legit %}
            {% include "_album_creation_modal.html" %}
            <div class="modal fade" id="ajapaik-curator-feedback-modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{% trans "Thank you!" %}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{% trans "Your photos have now been added to Ajapaik and can be interacted with as usual." %}</p>

                            <p>{% trans "Points awarded for curating" %}: <span
                                    id="ajapaik-curator-points-awarded"></span></p>

                            <p>{% trans "You can start geotagging the new content here" %}: <a target="_blank"
                                                                                                id="ajapaik-curator-album-play-link"></a>
                            </p>

                            <p>{% trans "Tell your friends on Facebook" %}:</p>

                            <p id="ajapaik-curator-share-button-container"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                {% trans "Close" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ajapaik-curator-search-results"></div>
            <div class="row" id="ajapaik-curator-selection"></div>
            <div id="ajapaik-curator-my-albums" class="container"></div>
            <div class="modal fade" id="ajapaik-curator-edit-my-album-modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content mt-5">
                        <div class="modal-header">
                            <h4 class="modal-title">{% trans "Edit your album" %}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12" id="ajapaik-curator-edit-album-error" style="display: none;">
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign"
                                                aria-hidden="true"></span>
                                        <span id="ajapaik-curator-edit-album-error-message">{% trans "Error" %}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <span class="input-group-addon">
                                        <label for="ajapaik-curator-change-album-name">{% trans "Name" %}</label>
                                    </span>
                                    <input class="form-control" type="text"
                                            id="ajapaik-curator-change-album-name">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <span class="input-group-addon">
                                        <label for="ajapaik-curator-change-album-description">{% trans "Description" %}</label>
                                    </span>
                                    <textarea class="form-control"
                                                id="ajapaik-curator-change-album-description"></textarea>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="ajapaik-curator-change-album-open">
                                    </span>
                                    {% trans "Open album (anyone can add photos)" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="ajapaik-curator-change-album-public">
                                    </span>
                                    {% trans "Visible (shown in selection)" %}
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <span class="input-group-addon">
                                        <label for="ajapaik-curator-edit-form-change-album-parent">{% trans "Parent album" %}</label>
                                    </span>
                                    <select id="ajapaik-curator-edit-form-change-album-parent"
                                            class="form-control"></select>
                                </div>
                            </div>
                            <br>

                            <div class="row pt-1">
                                <div class="col-12">
                                    <p>{% trans "If the photos are from the same place, specify a location here" %}</p>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12">
                                    <span class="input-group-addon">
                                        <label for="ajapaik-curator-change-area-name">{% trans "Place" %}</label>
                                    </span>
                                    <input class="form-control" type="text"
                                            id="ajapaik-curator-change-area-name">
                                    <input type="hidden" id="ajapaik-curator-change-area-name-hidden">
                                </div>
                            </div>
                            <input type="hidden" id="ajapaik-curator-change-album-id">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                {% trans "Close" %}
                            </button>
                            <button type="button" class="btn btn-success"
                                    id="ajapaik-curator-confirm-album-edit-button">
                                {% trans "Save" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% include "_log_in.html" with type="curator" %}
        {% endif %}
    </div>
{% endblock layout %}
{% block footer %}
    {% include "_footer.html" %}
{% endblock %}
{% block specific_js %}
    <script>
        function base64Encode(str) {
            var CHARS = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
            var out = "", i = 0, len = str.length, c1, c2, c3;
            while (i < len) {
                c1 = str.charCodeAt(i++) & 0xff;
                if (i == len) {
                    out += CHARS.charAt(c1 >> 2);
                    out += CHARS.charAt((c1 & 0x3) << 4);
                    out += "==";
                    break;
                }
                c2 = str.charCodeAt(i++);
                if (i == len) {
                    out += CHARS.charAt(c1 >> 2);
                    out += CHARS.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
                    out += CHARS.charAt((c2 & 0xF) << 2);
                    out += "=";
                    break;
                }
                c3 = str.charCodeAt(i++);
                out += CHARS.charAt(c1 >> 2);
                out += CHARS.charAt(((c1 & 0x3) << 4) | ((c2 & 0xF0) >> 4));
                out += CHARS.charAt(((c2 & 0xF) << 2) | ((c3 & 0xC0) >> 6));
                out += CHARS.charAt(c3 & 0x3F);
            }
            return out;
        }
        $(function () {
            'use strict';
            var ETERASession;
            $(document).ready(function () {
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    if ($(e.target).attr('href') === '#ajapaik-curator-selection-tab') {
                        buildSelectionDiv();
                        $('#ajapaik-curator-my-albums').hide();
                        $('#ajapaik-curator-search-results').hide();
                        $('#ajapaik-curator-selection').show();
                        var ETERAResults = $('.ajapaik-curator-ETERA-result');
                        if (ETERAResults.length > 0) {
                            $.ajaxSetup({
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader('Authorization', 'Bearer ' + ETERASession);
                                }
                            });
                            $.each(ETERAResults, function (idx, item) {
                                item = $(item);
                                $.ajax({
                                    url: item.attr('data-src'),
                                    type: 'GET',
                                    mimeType: 'text/plain; charset=x-user-defined',
                                    success: function (response) {
                                        item.attr('src', 'data:image/jpeg;base64,' + base64Encode(response))
                                    }
                                });
                            });
                        }
                    } else if ($(e.target).attr('href') === '#ajapaik-curator-results-tab') {
                        $('#ajapaik-curator-my-albums').hide();
                        $('#ajapaik-curator-search-results').show();
                        $('#ajapaik-curator-selection').hide();
                    } else if ($(e.target).attr('href') === '#ajapaik-curator-my-albums-tab') {
                        $('#ajapaik-curator-my-albums').show();
                        $('#ajapaik-curator-search-results').hide();
                        $('#ajapaik-curator-selection').hide();
                    }
                });
                var changeInput = document.getElementById('ajapaik-curator-change-area-name');
                if (changeInput) {
                    var changeOptions = {};
                    var changeAutocomplete = new window.google.maps.places.Autocomplete(changeInput, changeOptions);
                    window.google.maps.event.addListener(changeAutocomplete, 'place_changed', function () {
                        var place = changeAutocomplete.getPlace();
                        $('#ajapaik-curator-change-area-name-d-none').val(place.name);
                        changeAreaLat = place.geometry.location.lat();
                        changeAreaLng = place.geometry.location.lng();
                        window._gaq.push(['_trackEvent', 'Curator', 'Change autocomplete place changed']);
                    });
                }
                loadMyAlbums();
                $('.ajapaik-navbar').autoHidingNavbar();
            });
            var gameUrl = '{% url "game" %}',
                resultCount = 0,
                url = '{% url "curator_search" %}',
                start = 200,
                resultIds = [],
                fullResultSet = {},
                flickrPage = 1,
                selectionDiv = $('#ajapaik-curator-selection'),
                resultDiv = $('#ajapaik-curator-search-results'),
                changeAreaLat,
                changeAreaLng;
            window.selectedResults = {};
            window.singleSelection = false;
            $('#ajapaik-curator-full-search').on('keypress', function (e) {
                if (e.keyCode == 13) {
                    $('#ajapaik-curator-search-button').click();
                }
            });
            var createResultElement = function (item) {
                if (item.cachedThumbnailUrl !== '14e5c228503ec8e7e004a13d48919768') {
                    fullResultSet[item.id] = item;
                    resultDiv.append(tmpl('ajapaik-curator-result-template', item));
                } else {
                    var element = $('#ajapaik-curator-result-count'),
                            currentValue = parseInt(element.html(), 10);
                    element.html(currentValue - 1);
                }
            };
            var buildSelectionDiv = function () {
                selectionDiv.empty();
                for (var key in window.selectedResults) {
                    if (window.selectedResults.hasOwnProperty(key)) {
                        var currentItem = window.selectedResults[key];
                        selectionDiv.append(tmpl('ajapaik-curator-selection-template', currentItem));
                    }
                }
            };
            var loadMyAlbums = function () {
                $.ajax({
                    type: 'POST',
                    url: '{% url "curator_my_album_list" %}',
                    data: {
                        csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                    },
                    success: function (response) {
                        var targetDiv = $('#ajapaik-curator-my-albums'),
                                responseLength = response.length;
                        targetDiv.empty();
                        $('#ajapaik-curator-my-albums-size').html(responseLength);
                        for (var i = 0; i < responseLength; i += 1) {
                            response[i].gameLink = gameUrl + '?album=' + response[i].id;
                            targetDiv.append(tmpl('ajapaik-curator-my-album-template', response[i]));
                        }
                        window._gaq.push(['_trackEvent', 'Curator', 'My albums success']);
                    },
                    error: function () {
                        window._gaq.push(['_trackEvent', 'Curator', 'My albums error']);
                    }
                });
            };
            $(document).on('click', '.ajapaik-curator-load-more', function () {
                $('#ajapaik-loading-overlay').show();
                flickrPage += 1;
                var slice = resultIds.slice(start, start + 200),
                    filterValue = $('#ajapaik-curator-search-filter-existing').prop('checked'),
                    useMUIS = $('#ajapaik-curator-search-use-muis').prop('checked'),
                    useMKA = $('#ajapaik-curator-search-use-mka').prop('checked'),
                    useETERA = $('#ajapaik-curator-search-use-etera').prop('checked'),
                    useFlickr = $('#ajapaik-curator-search-use-flickr').prop('checked'),
                    useFinna = $('#ajapaik-curator-search-use-finna').prop('checked'),
                    useCommons = $('#ajapaik-curator-search-use-commons').prop('checked'),
                    useEuropeana = $('#ajapaik-curator-search-use-europeana').prop('checked'),
                    useDIGAR = $('#ajapaik-curator-search-use-digar').prop('checked'),
                    useUTLIB = $('#ajapaik-curator-search-use-utlib').prop('checked'),
                    useFotis = $('#ajapaik-curator-search-use-fotis').prop('checked');
                start += 200;
                $.ajax({
                    type: 'POST',
                    url: url,
                    traditional: true,
                    data: {
                        fullSearch: $('#ajapaik-curator-full-search').val(),
                        ids: slice,
                        filterExisting: filterValue,
                        useMUIS: useMUIS,
                        useMKA: useMKA,
                        useETERA: useETERA,
                        useDIGAR: useDIGAR,
                        useFlickr: useFlickr,
                        useFinna: useFinna,
                        useCommons: useCommons,
                        useEuropeana: useEuropeana,
                        useUTLIB: useUTLIB,
                        useFotis: useFotis,
                        flickrPage: flickrPage,
                        csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                    },
                    success: function (msg) {
                        if (resultCount > start || (msg.result.page < msg.result.pages)) {
                            $('.ajapaik-curator-load-more').show();
                            $('#ajapaik-curator-load-more-row').show();
                        } else {
                            $('.ajapaik-curator-load-more').hide();
                            $('#ajapaik-curator-load-more-row').hide();
                        }
                        var counter = $('#ajapaik-curator-result-count'),
                            prev = parseInt(counter.html(), 10);
                        if (msg.result.firstRecordViews) {
                            counter.html(prev + msg.result.firstRecordViews.length);
                            for (var i = 0, l = msg.result.firstRecordViews.length; i < l; i += 1) {
                                var item = msg.result.firstRecordViews[i];
                                createResultElement(item);
                            }
                        }
                        $('#ajapaik-loading-overlay').hide();
                        window._gaq.push(['_trackEvent', 'Curator', 'More results success']);
                    },
                    error: function () {
                        $('#ajapaik-loading-overlay').hide();
                        window._gaq.push(['_trackEvent', 'Curator', 'More results error']);
                    }
                });
            });
            $('#ajapaik-curator-search-use-etera').change(function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#ajapaik-curator-search-use-digar').prop('checked', false);
                    $('#ajapaik-curator-search-use-muis').prop('checked', false);
                    $('#ajapaik-curator-search-use-mka').prop('checked', false);
                    $('#ajapaik-curator-search-use-flickr').prop('checked', false);
                    $('#ajapaik-curator-search-use-finna').prop('checked', false);
                    $('#ajapaik-curator-search-use-utlib').prop('checked', false);
                }
            });
            $('#ajapaik-curator-search-use-muis').change(function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#ajapaik-curator-search-use-etera').prop('checked', false);
                }
            });
            $('#ajapaik-curator-search-use-digar').change(function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#ajapaik-curator-search-use-etera').prop('checked', false);
                }
            });
            $('#ajapaik-curator-search-use-utlib').change(function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#ajapaik-curator-search-use-etera').prop('checked', false);
                }
            });
            $('#ajapaik-curator-search-use-mka').change(function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#ajapaik-curator-search-use-etera').prop('checked', false);
                }
            });
            $('#ajapaik-curator-search-use-flickr').change(function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#ajapaik-curator-search-use-etera').prop('checked', false);
                }
            });
            $('#ajapaik-curator-search-use-finna').change(function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#ajapaik-curator-search-use-etera').prop('checked', false);
                }
            });
            $(document).on('click', '#ajapaik-curator-search-button', function () {
                flickrPage = 1;
                $('#ajapaik-loading-overlay').show();
                $('.ajapaik-curator-feedback-alert').hide();
                $('#ajapaik-curator-search-results').empty();
                var filterValue = $('#ajapaik-curator-search-filter-existing').prop('checked'),
                        useMUIS = $('#ajapaik-curator-search-use-muis').prop('checked'),
                        useMKA = $('#ajapaik-curator-search-use-mka').prop('checked'),
                        useETERA = $('#ajapaik-curator-search-use-etera').prop('checked'),
                        useFlickr = $('#ajapaik-curator-search-use-flickr').prop('checked'),
                        useFinna = $('#ajapaik-curator-search-use-finna').prop('checked'),
                        useCommons = $('#ajapaik-curator-search-use-commons').prop('checked'),
                        useEuropeana = $('#ajapaik-curator-search-use-europeana').prop('checked'),
                        useDIGAR = $('#ajapaik-curator-search-use-digar').prop('checked'),
                        useUTLIB = $('#ajapaik-curator-search-use-utlib').prop('checked'),
                        useFotis = $('#ajapaik-curator-search-use-fotis').prop('checked');
                if (useETERA && !ETERASession) {
                    $.ajax({
                        url: "http://www.etera.ee/api/app/config",
                        type: "GET",
                        success: function (response) {
                            ETERASession = response.user.session;
                        }
                    });
                }
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        //testing: true,
                        fullSearch: $('#ajapaik-curator-full-search').val(),
                        filterExisting: filterValue,
                        useMUIS: useMUIS,
                        useMKA: useMKA,
                        useETERA: useETERA,
                        useDIGAR: useDIGAR,
                        useFlickr: useFlickr,
                        useFinna: useFinna,
                        useCommons: useCommons,
                        useEuropeana: useEuropeana,
                        useUTLIB: useUTLIB,
                        useFotis: useFotis,
                        flickrPage: flickrPage,
                        csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                    },
                    success: function (msg) {
                        $('#ajapaik-loading-overlay').hide();
                        if (msg.result === undefined) {
                            return;
                        }
                        if (msg.result.ids) {
                            resultIds = msg.result.ids;
                            resultCount = resultIds.length;
                        } else {
                            resultCount = 0;
                        }
                        $('#ajapaik-curator-result-count').html(msg.result.firstRecordViews.length);
                        if (resultCount > 200 || (msg.result.page < msg.result.pages)) {
                            $('.ajapaik-curator-load-more').show();
                            $('#ajapaik-curator-load-more-row').show();
                        } else {
                            $('.ajapaik-curator-load-more').hide();
                            $('#ajapaik-curator-load-more-row').hide();
                        }
                        for (var i = 0, l = msg.result.firstRecordViews.length; i < l; i += 1) {
                            var item = msg.result.firstRecordViews[i];
                            createResultElement(item);
                        }
                        window._gaq.push(['_trackEvent', 'Curator', 'Search success']);
                    },
                    error: function () {
                        $('#ajapaik-loading-overlay').hide();
                        window._gaq.push(['_trackEvent', 'Curator', 'Search error']);
                    }
                });
            });
            $(document).on('click', '.ajapaik-result-item', function (e) {
                var $this = $(this),
                        target = fullResultSet[$this.data('id')];
                if (window.selectedResults[$this.data('id')]) {
                    delete window.selectedResults[$this.data('id')];
                    $this.removeClass('ajapaik-curator-selected-image');
                    $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length);
                } else {
                    window.selectedResults[$this.data('id')] = target;
                    $this.addClass('ajapaik-curator-selected-image');
                    $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length);
                }
            });
            $(document).on('click', '#ajapaik-curator-clear-selection', function () {
                window.selectedResults = {};
                buildSelectionDiv();
                $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length);
                $('.ajapaik-result-item').removeClass('ajapaik-curator-selected-image');
                window._gaq.push(['_trackEvent', 'Curator', 'Clear selection']);
            });
            window.escapeRegExp = function (string) {
                return string.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
            };
            window.replaceAll = function (string, find, replace) {
                return string.replace(new RegExp(window.escapeRegExp(find), 'g'), replace);
            };
            window.photoPermalink = '{% url "photo" %}';
            window.formatId = function (id) {
                id = '' + id;
                id = window.replaceAll(id, ':', '');
                id = window.replaceAll(id, '.', '');
                id = id.replace(/[!"#$%&'()*+,.\/:;<=>?@[\\\]^`{|}~]/g, "")

                return id;
            };
            window.escapeSlash = function (id) {
                id = replaceAll(id, '/', '\\/');

                return id;
            };
            window.imageLoaded = function (id) {
                var targetContainer = $('#ajapaik-curator-selection-item-' + window.escapeSlash(window.formatId(id))),
                    targetImage = targetContainer.find('img')[0];
                if (targetImage) {
                    targetContainer.find('.ajapaik-curator-selection-image-size').html(targetImage.naturalWidth + 'x' + targetImage.naturalHeight);
                }
            };
            window.imageFailedToLoad = function (id) {
                var targetContainer = $('#ajapaik-curator-selection-item-' + window.escapeSlash(window.formatId(id)));
                delete window.selectedResults[id];
                targetContainer.remove();
            };
            var toggleButtonActive = function ($this) {
                if ($this.hasClass('active')) {
                    $this.removeClass('active');
                } else {
                    $this.addClass('active');
                }
            };
            $(document).on('click', '.ajapaik-curator-invert-colors-button', function () {
                var $this = $(this),
                        targetSelector = '#ajapaik-curator-selection-item-' + window.escapeSlash(window.formatId($this[0].dataset.id)),
                        target = $($(targetSelector).find('img')[0]);
                toggleButtonActive($this);
                if (target.hasClass('ajapaik-photo-inverted')) {
                    target.removeClass('ajapaik-photo-inverted');
                    window.selectedResults[$this[0].dataset.id].invert = false;
                } else {
                    target.addClass('ajapaik-photo-inverted');
                    window.selectedResults[$this[0].dataset.id].invert = true;
                }
                window._gaq.push(['_trackEvent', 'Curator', 'Invert colors']);
            });
            $(document).on('click', '.ajapaik-curator-flip-button', function () {
                var $this = $(this),
                        targetSelector = '#ajapaik-curator-selection-item-' + window.escapeSlash(window.formatId($this[0].dataset.id)),
                        target = $($(targetSelector).find('img')[0]);
                toggleButtonActive($this);
                if (target.hasClass('ajapaik-photo-flipped')) {
                    target.removeClass('ajapaik-photo-flipped');
                    if (target.hasClass('rotate90-flipped')) {
                        target.removeClass('rotate90-flipped').addClass('rotate90');
                    } else if (target.hasClass('rotate180-flipped')) {
                        target.removeClass('rotate180-flipped').addClass('rotate180');
                    } else if (target.hasClass('rotate270-flipped')) {
                        target.removeClass('rotate270-flipped').addClass('rotate270');
                    }
                    window.selectedResults[$this[0].dataset.id].flip = false;
                } else {
                    target.addClass('ajapaik-photo-flipped');
                    if (target.hasClass('rotate90')) {
                        target.removeClass('rotate90').addClass('rotate90-flipped');
                    } else if (target.hasClass('rotate180')) {
                        target.removeClass('rotate180').addClass('rotate180-flipped');
                    } else if (target.hasClass('rotate270')) {
                        target.removeClass('rotate270').addClass('rotate270-flipped');
                    }
                    window.selectedResults[$this[0].dataset.id].flip = true;
                }
                window._gaq.push(['_trackEvent', 'Curator', 'Flip']);
            });
            $(document).on('click', '.ajapaik-curator-stereo-button', function () {
                var $this = $(this);
                window.selectedResults[$this[0].dataset.id].stereo = !$this.hasClass('active');
                toggleButtonActive($this);
                window._gaq.push(['_trackEvent', 'Curator', 'Stereo']);
            });
            $(document).on('click', '.ajapaik-curator-rotate-button', function () {
                var $this = $(this),
                        targetSelectionItem = $('#ajapaik-curator-selection-item-' + window.escapeSlash(window.formatId($this[0].dataset.id))),
                        targetImage = targetSelectionItem.find('img'),
                        arrayItem = window.selectedResults[$this[0].dataset.id];
                if (!arrayItem.rotated) {
                    arrayItem.rotated = 90;
                    if (arrayItem.flip) {
                        targetImage.addClass('rotate90-flipped');
                    } else {
                        targetImage.addClass('rotate90');
                    }
                } else {
                    arrayItem.rotated += 90;
                    var classToAdd = null;
                    if (arrayItem.rotated == 360) {
                        arrayItem.rotated = 0;
                    } else {
                        classToAdd = 'rotate' + arrayItem.rotated;
                        if (arrayItem.flip) {
                            classToAdd += '-flipped';
                        }
                    }
                    targetImage.removeClass('rotate90').removeClass('rotate180')
                            .removeClass('rotate270').removeClass('rotate90-flipped').removeClass('rotate180-flipped').removeClass('rotate270-flipped');
                    if (classToAdd) {
                        targetImage.addClass(classToAdd);
                        arrayItem.classToAdd = classToAdd;
                    }
                }
                window._gaq.push(['_trackEvent', 'Curator', 'Rotate']);
            });
            $(document).on('click', '.ajapaik-curator-delete-button', function () {
                var targetId = $(this)[0].dataset.id,
                    targetResultItem = $('#ajapaik-result-item-' + window.escapeSlash(window.formatId(targetId))),
                    targetSelectionItem = $('#ajapaik-curator-selection-item-' + window.escapeSlash(window.formatId(targetId)));
                if (window.selectedResults[targetId]) {
                    delete window.selectedResults[targetId];
                    targetSelectionItem.remove();
                    targetResultItem.removeClass('ajapaik-curator-selected-image');
                    $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length)
                } else {
                    window.selectedResults[$(this)[0].dataset.id] = fullResultSet[targetId];
                    targetResultItem.addClass('ajapaik-curator-selected-image');
                    $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length)
                }
                window._gaq.push(['_trackEvent', 'Curator', 'Delete']);
            });
            $(document).on('click', '#ajapaik-curator-submit-selection', function () {
                $('#ajapaik-curator-upload-error').hide();
                // TODO: Album area selection
                $('#ajapaik-curator-add-area-name').val(null);
                $('#ajapaik-curator-add-area-name-d-none').val(null);
                window.areaLat = null;
                window.areaLng = null;
                $('#ajapaik-choose-albums-modal').modal('show');
                //window.loadPossibleParentAlbums();
                //window.loadSelectableAlbums();
                window._gaq.push(['_trackEvent', 'Curator', 'Submit selection']);
            });
            $(document).on('click', '.ajapaik-curator-submit-single', function () {
                window._gaq.push(['_trackEvent', 'Curator', 'Submit single']);
                var id = $(this).data('id');
                window.singleSelection = {};
                window.singleSelection[id] = fullResultSet[id];
                $('#ajapaik-curator-submit-selection').click();
            });
            $(document).on('click', '#ajapaik-curator-select-all', function () {
                $('img.ajapaik-result-item:not(.ajapaik-curator-selected-image)').click();
                window._gaq.push(['_trackEvent', 'Curator', 'Select all']);
            });
            $(document).on('click', '.ajapaik-curator-edit-album-button', function () {
                var targetId = $(this)[0].dataset.id;
                $.ajax({
                    type: 'POST',
                    url: '{% url "curator_get_album_info" %}',
                    data: {
                        albumId: targetId,
                        csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                    },
                    success: function (response) {
                        window.loadPossibleParentAlbums(response.subalbum_of, targetId, '#ajapaik-curator-edit-form-change-album-parent');
                        $('#ajapaik-curator-change-album-name').val(response.name);
                        $('#ajapaik-curator-change-album-description').val(response.description);
                        $('#ajapaik-curator-change-album-id').val(response.id);
                        $('#ajapaik-curator-change-album-open').prop('checked', response.open);
                        $('#ajapaik-curator-change-album-public').prop('checked', response.is_public);
                        $('#ajapaik-curator-edit-my-album-modal').modal('show');
                        window._gaq.push(['_trackEvent', 'Curator', 'Load edit form success']);
                    },
                    error: function () {
                        window._gaq.push(['_trackEvent', 'Curator', 'Load edit form error']);
                    }
                });
            });
            // TODO: This is basically REST API functionality, no need for custom Django stuff, come to think of it,
            // there's a lot of manual JSON serialization etc. going on everywhere in this codebase...
            $(document).on('click', '#ajapaik-curator-confirm-album-edit-button', function () {
                var targetId = $('#ajapaik-curator-change-album-id').val(),
                        parentAlbumId = $('#ajapaik-curator-edit-form-change-album-parent').val();
                if (parentAlbumId == -1) {
                    parentAlbumId = null;
                }
                $('#ajapaik-curator-edit-album-error').hide();
                $.ajax({
                    type: 'POST',
                    url: '{% url "curator_update_my_album" %}',
                    data: {
                        albumId: targetId,
                        name: $('#ajapaik-curator-change-album-name').val(),
                        description: $('#ajapaik-curator-change-album-description').val(),
                        open: $('#ajapaik-curator-change-album-open').prop('checked'),
                        is_public: $('#ajapaik-curator-change-album-public').prop('checked'),
                        parent_album: parentAlbumId,
                        areaLat: changeAreaLat,
                        areaLng: changeAreaLng,
                        csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                    },
                    success: function () {
                        $('#ajapaik-curator-edit-album-error').hide();
                        $('#ajapaik-curator-edit-my-album-modal').modal('hide');
                        changeAreaLat = null;
                        changeAreaLng = null;
                        $('#ajapaik-curator-change-area-name').val(null);
                        loadMyAlbums();
                        window._gaq.push(['_trackEvent', 'Curator', 'Edit success']);
                    },
                    error: function () {
                        $('#ajapaik-curator-edit-album-error').show();
                        window._gaq.push(['_trackEvent', 'Curator', 'Edit error']);
                    }
                });
            });
            $(document).on('click', '#ajapaik-curator-confirm-album-selection-button', function () {
                var albums = $('#id_albums').val();
                var selection = JSON.stringify(window.selectedResults);
                if (window.singleSelection) {
                    selection = JSON.stringify(window.singleSelection);
                    window.singleSelection = false;
                }
                $('#ajapaik-loading-overlay').show();
                $.ajax({
                    type: 'POST',
                    url: '{% url "curator_photo_upload_handler" %}',
                    data: {
                        selection: selection,
                        albums: albums,
                        eteraToken: ETERASession,
                        csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                    },
                    success: function (response) {
                        $('#ajapaik-loading-overlay').hide();
                        if (response.error) {
                            $('#ajapaik-curator-upload-error').show();
                            $('#ajapaik-curator-upload-error-message').html(response.error);
                        } else {
                            window.updateLeaderboard();
                            $('#ajapaik-curator-upload-error').hide();
                            $('#ajapaik-curator-upload-error-message').html(window.gettext('System error'));
                            $('#ajapaik-choose-albums-modal').modal('hide');
                            var albumPlayLink = gameUrl + '?album=' + response.album_id,
                                    feedbackModalDiv = $('#ajapaik-curator-feedback-modal');
                            $('#ajapaik-curator-album-play-link').html(albumPlayLink).prop('href', albumPlayLink);
                            $('#ajapaik-curator-points-awarded').html(response.total_points_for_curating);
                            $('#ajapaik-curator-add-album-name').val(null);
                            $('#ajapaik-curator-add-album-description').val(null);
                            $('#ajapaik-curator-add-area-name-d-none').val(null);
                            $('#ajapaik-curator-create-new-album-checkbox').val(false);
                            feedbackModalDiv.modal('show').on('shown.bs.modal', function () {
                                $($(this).find('#ajapaik-curator-share-button-container')).empty().append(tmpl('ajapaik-curator-share-set-button', {gameLink: albumPlayLink}));
                                window.FB.XFBML.parse();
                            });
                            for (var key in response.photos) {
                                if (response.photos.hasOwnProperty(key)) {
                                    var targetDiv = $($('#ajapaik-curator-selection-item-' + window.escapeSlash(window.formatId(key))).find('.ajapaik-curator-selection-feedback-row')[0]),
                                            item = response.photos[key];
                                    if (item.error) {
                                        $(targetDiv.find('.alert-danger')[0]).html(item.error).show();
                                    } else {
                                        $(targetDiv.find('.alert-success')[0]).html(item.message).show();
                                    }
                                    if (item.message === 'OK') {
                                        window._gaq.push(['_trackEvent', 'Curator', 'New photo in Ajapaik', null, 100, false]);
                                    }
                                }
                            }
                        }
                        window._gaq.push(['_trackEvent', 'Curator', 'Upload success']);
                    },
                    error: function () {
                        $('#ajapaik-loading-overlay').hide();
                        $('#ajapaik-curator-upload-error').show();
                        window._gaq.push(['_trackEvent', 'Curator', 'Upload error']);
                    }
                });

            });
        });
    </script>
    {% include "js_templates/curator_album_selection_option.html" %}
    {% include "js_templates/curator_album_selection_separator.html" %}
    {% include "js_templates/curator_selection_template.html" %}
{% endblock %}
