{% extends "base_bootstrap.html" %}
{% load i18n %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container pt-5">
        <div class="text-center d-block">
            <a href="{% url "curator" %}" class="btn btn-primary btn-lg mt-5 d-inline-block">
                <h3 class="ajapaik-text-white">
                    {% trans "Import from public collections" %}
                </h3>
            </a>
        </div>
        <div class="text-center d-block">
            <a href="{% url "user_upload" %}" class="btn btn-primary btn-lg mt-3 d-inline-block">
                <h3 class="ajapaik-text-white">
                    {% trans "Upload yourself" %}
                </h3>
            </a>
        </div>
    </div>
{% endblock %}