{% extends "base_bootstrap.html" %}
{% load i18n comments static %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
{% include "_info_modal.html" %}
{% include "_rephoto_upload_modal.html" %}
{% include "_album_creation_modal.html" %}
{% include "js_templates/curator_album_selection_separator.html" %}
{% include "js_templates/curator_album_selection_option.html" %}
<div class="full-box original-full-box">
    <div class="full-pic" id="ajapaik-fullscreen-image-container">
        <div id="ajapaik-full-screen-image-wrapper">
            <img id="ajapaik-full-screen-image" style="display: none;" src="{{ fullscreen.url }}"
                alt="{{ photo.description }}" title="{{ photo.description }}"/>
        </div>
    </div>
</div>
{% if rephoto %}
    <div class="full-box rephoto-full-box">
        <div class="full-pic" id="ajapaik-rephoto-fullscreen-image-container">
            <img id="ajapaik-rephoto-full-screen-image" class="lazyload" style="display: none;"
                alt="{{ photo.description }} {% trans "rephoto" %}"
                data-src="{% url "image_full" rephoto.pk rephoto.get_pseudo_slug %}"
                title="{{ photo.description }} {% trans "rephoto" %}" />
        </div>
    </div>
{% endif %}
<div class="container pt-5" id="ajapaik-photoview-container">
    <div class="row">
        <div class="ajapaik-photoview-main-photo-wrapper" class="ajapaik-photo col-auto h-100 p-0 mr-3 mw-50">
            <div class="ajapaik-photo" id="ajapaik-photoview-main-photo-container">
                <a class="fullscreen" id="ajapaik-full-screen-link">
                    <img id="ajapaik-photoview-main-photo" {% if rephoto %}class="ajapaik-max-48vw" {% endif %}alt="{{ photo.description }}"
                        src="{% url 'image_thumb' photo.id 800 photo.get_pseudo_slug %}" />
                </a>
                {% if previous_photo %}
                    <a class="ajapaik-photo-modal-previous-button"
                        href="{% url 'photo' previous_photo.pk previous_photo.get_pseudo_slug %}">
                        <i class="material-icons ajapaik-icon-48 notranslate">navigate_before</i>
                    </a>
                {% endif %}
                {% if next_photo %}
                    <a class="ajapaik-photo-modal-next-button"
                        href="{% url 'photo' next_photo.pk next_photo.get_pseudo_slug %}">
                        <i class="material-icons ajapaik-icon-48 notranslate">navigate_next</i>
                    </a>
                {% endif %}
                <span id="ajapaik-photo-modal-specify-location" data-id="{{ photo.id }}"
                    title="{% trans "Pick the shooting location!" %}" style="display: none;"></span>
                <button
                    class="ajapaik-thumbnail-selection-icon{% if photo.in_selection %} ajapaik-thumbnail-selection-icon-blue{% endif %}"
                    data-id="{{ photo.id }}">
                    <i class="material-icons notranslate">check_circle</i>
                </button>
                {% if reverse_side %}
                    <a id="ajapaik-reverse-side-button" style="display: none;" data-id="{{ reverse_side.id }}" href="{% url 'photo' reverse_side.pk reverse_side.get_pseudo_slug %}" title="{% trans "See the other side of photo" %}">
                        <i class="material-icons notranslate">360</i>
                    </a>
                {% endif %}
                <button id="ajapaik-rotate-photo-button" style="display: none;" title="{% trans "Rotate photo" %}">
                    <i class="material-icons notranslate">rotate_left</i>
                </button>
                <button class="ajapaik-flip-photo-overlay-button" style="display: none;">
                    <i class="material-icons notranslate">flip</i>
                </button>
                <button
                    class="ajapaik-like-photo-overlay-button{% if photo.user_likes %} active{% endif %}{% if photo.user_loves %} active big{% endif %}">
                    {% if photo.user_likes or photo.user_loves %}
                        <i class="material-icons notranslate">favorite</i>
                    {% else %}
                        <i class="material-icons notranslate">favorite_border</i>
                    {% endif %}
                    <span class="ajapaik-like-count">{{ photo.like_count }}</span>
                </button>
                {% if photo.rephotos.all|length > 0 and similar_photo_count > 0 %}
                    <div class="ajapaik-image-bottom-right">
                        <button class="btn ajapaik-show-similar-photoview-overlay-button float-right"
                                id="ajapaik-show-similar-photoview-overlay-button" {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                            <i class="material-icons notranslate w-100">burst_mode</i>
                            <span style="top:-10px; position: relative;">{% if similar_photo_count > 9 %}9+{% else %}{{ confirmed_similar_photo_count }}/{{ similar_photo_count }}{% endif %}</span>
                        </button>
                        <button class="btn ajapaik-show-rephotos-photoview-overlay-button float-right d-none"
                                id="ajapaik-show-rephotos-photoview-overlay-button" {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                            {% if photo.rephotos.all|length < 10 %}
                                <i class="material-icons notranslate">filter_{{ photo.rephotos.all|length }}</i>
                            {% else %}
                                <i class="material-icons notranslate">filter_9_plus</i>
                            {% endif %}</button>
                    </div>
                {% endif %}
            </div>
            <!-- start of transcriber block -->
            <div class="row my-3 d-none" id="ajp-transcriber-container"></div>
            <!-- end of transcriber block -->
            {% with photo=photo|default:photo %}
                {% include "_photo_description_container.html" %}
            {% endwith %}
        </div>
        {% if rephoto %}
        <div>
            <div id="ajapaik-photoview-rephoto-wrapper">
                <div id="ajapaik-photoview-rephoto-container">
                    <a class="fullscreen" id="ajapaik-rephoto-full-screen-link">
                        <img id="ajapaik-photoview-rephoto" class="ajapaik-max-48vw" alt="{{ photo.description }} {% trans "rephoto" %}"
                            src="{% url 'image_thumb' rephoto.id 800 rephoto.get_pseudo_slug %}" />
                    </a>
                    <button class="btn ajapaik-close-rephoto-overlay-button"
                        {% if request.user_agent.is_pc %}style="display: none;" {% endif %}><i
                            class="material-icons notranslate">close</i></button>
                    <button class="btn ajapaik-invert-rephoto-overlay-button"
                        {% if request.user_agent.is_pc %}style="display: none;" {% endif %}><i
                            class="material-icons notranslate">invert_colors</i></button>
                </div>
                {% with rephoto=rephoto|default:rephoto %}
                    {% include "_rephoto_description_container.html" %}
                {% endwith %}
            </div>
        </div>
        {% endif %}
        {% if similar_photo_count > 0 %}
            <div id="ajapaik-photoview-similar-photo-selection" class="col-auto px-0{% if rephoto or photo.rephotos.all|length > 0 %} d-none{% endif %}">
                <div>
                    {% for similarity in similar_photos.all %}
                        <div class="row ajapaik-no-right-margin-row ajapaik-no-left-margin-row ajapaik-photoview-similar-image-row">
                            <a class="w-100" href="{% url 'photo' similarity.to_photo.id similarity.to_photo.get_pseudo_slug %}">
                                <img src="{% url 'image_thumb' similarity.to_photo.id 250 similarity.to_photo.get_pseudo_slug %}"
                                    class="img-fluid ajapaik-photoview-similar-thumb"
                                    {% if similarity.similarity_type == 1 %}
                                    alt="{{ similarity.to_photo.description }}  {% trans "similar photo" %}"
                                    title="{{ similarity.to_photo.description }} {% trans "similar photo" %}"
                                    {% else %}
                                    alt="{{ similarity.to_photo.description }}  {% trans "duplicate photo" %}"
                                    title="{{ similarity.to_photo.description }} {% trans "duplicate photo" %}"
                                    {% endif %}/>
                            </a>
                            {% if similarity.confirmed == False %}
                                <i class="material-icons notranslate ajapaik-photoview-similar-photo-icon"
                                style="color:darkblue;">help_circle</i>
                            {% endif %}
                            <a href="{% url 'compare-photos' similarity.from_photo.id similarity.to_photo_id %}"
                                class="btn ajapaik-compare-similar-overlay-button"
                                {% if request.user_agent.is_pc %}style="opacity:0;"{% endif %}>
                                    <i class="material-icons notranslate">compare</i>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if not rephoto and photo.rephotos.all|length > 0 %}
            <div id="ajapaik-photoview-rephoto-selection" class="col-xs-3">
                {% for rephoto in photo.rephotos.all %}
                    <div class="row ajapaik-no-right-margin-row ajapaik-no-left-margin-row">
                        <a class="w-100" href="{% url 'photo' rephoto.id rephoto.get_pseudo_slug %}">
                            <img src="{% url 'image_thumb' rephoto.id 250 rephoto.get_pseudo_slug %}"
                                class="img-responsive col-xs-12 ajapaik-photoview-rephoto-thumb"
                                alt="{{ photo.description }} {% trans "rephoto" %}"
                                title="{{ photo.description }} {% trans "rephoto" %}"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div id="ajapaik-photo-modal-map-container" style="display:none;{% if similar_photo_count > 0 or photo.rephotos.all|length > 0 %}min-height:25vh;{% endif %}" class="col-auto float-right{% if rephoto %} d-none{% endif %} pl-0">
            <div id="ajapaik-minimap-disabled-overlay"></div>
            <div id="ajapaik-photo-modal-map-canvas"></div>
        </div>
    </div>
    {% if people %}
        <div class="row">
            <!--TODO: Highlight rectangle when name hovered?-->
            <span>{% trans "People claimed to be on this photo" %}: {{ people|join:',' }}</span>
        </div>
    {% endif %}
    <div class="row" id="ajapaik-photo-modal-like">
        <div class="fb-like"
            data-href="
                            {{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}"
            {% if not request.user_agent.is_pc %}data-layout="button_count"{% endif %} data-action="like" data-show-faces="true" data-share="true">
        </div>
    </div>
    <div class="row ajapaik-height-48 mt-2">
        {% if not is_frontpage and is_photoview or is_game or is_mapview %}
            <a id="ajapaik-photoview-start-geotagging-button_game" data-id="{{ photo.id }}" class="float-left"
                title="{% trans "Pick the shooting location!" %}" href="/geotag/?photo={{ photo.id }}" target="_blank"
                rel="nofollow">
                <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">add_location</i>
            </a>
        {% endif %}
        <a id="ajapaik-photoview-start-dating-button" data-id="{{ photo.id }}" class="float-left"
            title="{% trans "Date this image" %}" href="#">
            <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">event</i>
            <span id="ajapaik-photoview-datings-count" class="badge">{{ datings_count }}</span>
        </a>
        <a title="{% trans "Add rephoto" %}" id="ajapaik-photoview-add-rephoto-button" href="#" class="float-left ml-2">
            <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">add_a_photo</i>
        </a>
        <a title="{% trans "Tag a new face - clicking this button will enable you to draw a face rectangle on the main image" %}"
            id="ajapaik-photoview-face-recognition-add-face-button" href="#" class="float-left">
            <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">person_pin</i>
        </a>
        <div class="dropdown float-left">
            <a id="ajapaik-sharing-dropdown-button" href="#" role="button" title="{% trans "Share" %}"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">share</i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="ajapaik-sharing-dropdown-button">
                <li role="presentation" class="disabled-link">
                    <div role="menuitem" tabindex="-1" id="ajapaik-grab-link">
                        <a href="{{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}">
                            {{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}
                            {{ photo.get_absolute_url }}{% endif %}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <a id="ajapaik-photoview-transcribe-button" data-id="{{ photo.id }}" class="float-left"
            title="{% trans "Transcribe this image" %}" href="#">
            <i class="material-icons notranslate ajapaik-text-gray ajapaik-icon-48">text_fields</i>
            <span id="ajapaik-photoview-transcriptions-count" class="badge"></span>
        </a>
    </div>
    <div class="row mb-3" id="ajp-dater-container"></div>
    {% if albums.all|length > 0 %}
        <div class="row pl-2 pt-3">
            <i class="col-auto material-icons notranslate ajapaik-photo-modal-album-icon float-left pl-0"
                title="{% blocktrans count counter=albums|length %}Picture belongs to album{% plural %}Picture belongs to albums:{% endblocktrans %}">
                {% if a.is_film_still_album %}movie{% else %}photo_album{% endif %}</i>
            <div class="col-auto" style="max-width:80vw;">
                {% for a in albums %}
                <div class="d-flex">
                    <a class="ajapaik-photo-album-link float-left" href="{% url 'frontpage' %}?album={{ a.id }}">
                        {{ a.name }}
                    </a>
                    <div class="ajapaik-photo-modal-album-more-button float-left" role="button" title="{% trans 'Album details' %}"
                        data-id="{{ a.id }}">
                    </div>
                    <div class="ajapaik-photo-modal-photo-curator">
                        &nbsp;<i title="{% trans "Curator" %}" class="material-icons notranslate ajapaik-text-gray">account_circle</i>
                        <p class="d-none"> {{ a.this_photo_curator.get_display_name }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div id="ajapaik-comments-container">
        <div id="ajapaik-comment-list"></div>
            <div id="ajapaik-new-comment-form-container">
                {% if rephoto %}
                {% render_comment_form for rephoto %}
                {% else %}
                {% render_comment_form for photo %}
                {% endif %}
            </div>
        </div>
    </div>
{% include "_full_leaderboard_modal.html" %}
    <div id="ajp-geotagging-container"></div>
</div>
{% endblock %}

{% block specific_js %}
<script>
    resizeDescription = function() {
        var similarPhotosContainer = $('#ajapaik-photoview-similar-photo-selection');
        var rephotosContainer = $('#ajapaik-photoview-rephoto-selection');
        var mainPhoto = $("#ajapaik-photoview-main-photo-container");
        var rephoto = $("#ajapaik-photoview-rephoto-container");
        rephotosContainer.height(mainPhoto.height() || 500);
        similarPhotosContainer.height(mainPhoto.height() || 500);
        if(!rephotosContainer.hasClass('d-none')){
            rephotosContainer.show();
        }
        if(!similarPhotosContainer.hasClass('d-none')){
            similarPhotosContainer.show();
        }
        mainPhoto.siblings().width(mainPhoto.width() || 320);
        rephoto.siblings().width(rephoto.width() || 320);
    }

    $(window).on('load', function() {
        resizeDescription();
    });

    $(window).resize(function() {
        resizeDescription();
    });

    window.albumId = '{{ album.id }}';
    window.photoId = '{{ photo.id }}';
    window.previousDatings = {{ previous_datings | safe }};
    window.hostname = '{{ hostname }}';
    // Some fake variables to reuse photo modal mini-map component
    {% if photo.lat and photo.lon %}
    window.photoModalPhotoLat = {{ photo.lat | safe }};
    window.photoModalPhotoLng = {{ photo.lon | safe }};
    {% endif %}
    {% if photo.azimuth %}
    window.photoModalPhotoAzimuth = {{ photo.azimuth | safe }};
    {% endif %}
    {% if album.1 and album.2 %}
    window.albumLat = {{ album.1 | safe }};
    window.albumLon = {{ album.2 | safe }};
    {% endif %}
    window.currentPhotoSourceName = '{{ photo.source.description }}';
    window.currentPhotoSourceKey = '{{ photo.source_key }}';
    window.currentPhotoSourceURL = '{{ photo.source_url }}';
    window.currentPhotoOriginalWidth = '{{ photo.width }}';
    window.currentPhotoOriginalHeight = '{{ photo.height }}';
    window.currentlyOpenPhotoId = {{ photo.id }};
    window.originalPhotoAbsoluteURL = '{{ photo.get_absolute_url }}';
    window.photoModalUserHasConfirmedThisLocation = {{ user_confirmed_this_location }};
    window.photoModalUserHasGeotaggedThisPhoto = {{ user_has_geotagged }};
    window.photoModalGeotaggingUserCount = {{ geotag_count }};
    window.photoModalFirstGeotaggers = {{ first_geotaggers | safe }};
    window.isPhotoview = true;
    window.flipPhoto = function () {
        window.photoModalCurrentPhotoFlipped = !window.photoModalCurrentPhotoFlipped;
    };
    window.updateLeaderboard();
    $(document).ready(function () {
        var rephotoUploadModal = $('#ajapaik-rephoto-upload-modal'),
            mainPhotoContainer = $('#ajapaik-photoview-main-photo-container'),
            mainPhoto = $('#ajapaik-photoview-main-photo'),
            originalFullscreen = $('#ajapaik-full-screen-image');
        $('#ajp-dater-container').AjapaikDater();
        $('#ajp-transcriber-container').AjapaikTranscriber();
        mainPhotoContainer.AjapaikFaceTagger();
        // FIXME: This isn't doing the singleton thing it's supposed to?
        mainPhotoContainer.data('AjapaikFaceTagger').initializeFaceTaggerState({ photoId: window.photoId });
        $('.dropdown-toggle').dropdown();
        $('.disabled-link').click(function (event) {
            event.preventDefault();
            event.stopPropagation();
        });
    $(document).on('click', '.ajapaik-flip-photo-overlay-button', function () {
        if (mainPhoto.hasClass('ajapaik-photo-flipped')) {
            mainPhoto.removeClass('ajapaik-photo-flipped');
        } else {
            mainPhoto.addClass('ajapaik-photo-flipped');
        }
    });
    $('.full-box div').on('click', function (e) {
        if (BigScreen.enabled) {
            e.preventDefault();
            window.fullscreenEnabled = false;
            BigScreen.exit();
            originalFullscreen.hide();
            $('#ajapaik-rephoto-full-screen-image').hide();
        }
    });
    if (window.isMobile) {
        $('.ajapaik-flip-photo-overlay-button').show();
        $('#ajapaik-reverse-side-button').show();
        $('#ajapaik-rotate-photo-button').show();
        $('.ajapaik-show-similar-photoview-overlay-button').show();
        $('.ajapaik-show-rephotos-photoview-overlay-button').show();
    }
    // Do not try to use mainPhotoContainer variable here, mouseout will not trigger correctly, probably loading order issue
    $(document).on('mouseenter', '#ajapaik-photoview-main-photo-container', function () {
        if (!window.isMobile) {
            $('.ajapaik-flip-photo-overlay-button').show("fade", 250);
            $('#ajapaik-reverse-side-button').show("fade", 250);
            $('#ajapaik-rotate-photo-button').show("fade", 250);
            $('.ajapaik-show-similar-photoview-overlay-button').show("fade", 250);
            $('.ajapaik-show-rephotos-photoview-overlay-button').show("fade", 250);
        }
        $('.ajapaik-thumbnail-selection-icon').show("fade", 250);
        // === this
        mainPhotoContainer.data('AjapaikFaceTagger').loadRectangles();
    });
    $(document).on('mouseleave', '#ajapaik-photoview-main-photo-container', function () {
        if (!window.isMobile) {
            $('.ajapaik-flip-photo-overlay-button').hide("fade", 250);
            $('#ajapaik-reverse-side-button').hide("fade", 250);
            $('#ajapaik-rotate-photo-button').hide("fade", 250);
            $('.ajapaik-show-similar-photoview-overlay-button').hide("fade", 250);
            $('.ajapaik-show-rephotos-photoview-overlay-button').hide("fade", 250);
        }
        $('.ajapaik-thumbnail-selection-icon').hide("fade", 250);
        mainPhotoContainer.data('AjapaikFaceTagger').removeRectanglesAndButtons();
    });
    $(document).on('mouseenter', '#ajapaik-photoview-rephoto-container', function () {
        if (!window.isMobile) {
            $('.ajapaik-close-rephoto-overlay-button').show("fade", 250);
            $('.ajapaik-invert-rephoto-overlay-button').show("fade", 250);
        }
    });
    $(document).on('mouseleave', '#ajapaik-photoview-rephoto-container', function () {
        if (!window.isMobile) {
            $('.ajapaik-close-rephoto-overlay-button').hide("fade", 250);
            $('.ajapaik-invert-rephoto-overlay-button').hide("fade", 250);
        }
    });
    $(document).on('click', '#ajapaik-photoview-add-rephoto-button', function () {
        $.ajax({
            cache: false,
            url: window.photoUploadModalURL + {{ photo.id }} + '/',
        success: function (result) {
            rephotoUploadModal.data('bs.modal', null);
            rephotoUploadModal.html(result).modal();
        }
                });
            });
    $(document).on('click', '#ajapaik-photoview-map-button', function () {
        {% if album.0 %}
        window.location.href = '/map/photo/' + {{ photo.id }} + '?album=' + {{ album.0 }};
    {% else %}
    window.location.href = '/map/photo/' + {{ photo.id }};
    {% endif %}
            });
    $(document).on('click', '#ajapaik-frontpage-show-pictures-link', function () {
        window.location.href = '/photos/?order1=time&amp;order2=added';
    });
    $(document).on('click', '#ajapaik-photoview-header-game-button', function () {
        var albumId = $('#id_album').val(),
            gameURL = '{% url 'game' %}';
        window.location.href = gameURL + '?album=' + albumId;
    });
    $(document).on('click', '#ajapaik-photoview-header-map-button', function () {
        var albumId = $('#id_album').val(),
            mapURL = '{% url 'map' %}';
        window.location.href = mapURL + '?album=' + albumId;
    });
    $(document).on('click', '.ajapaik-close-rephoto-overlay-button', function (e) {
        e.stopPropagation();
        window.location.href = '/photo/' + {{ photo.id }} + '/{{ photo.get_pseudo_slug }}';
    });
    $(document).on('click', '.ajapaik-invert-rephoto-overlay-button', function (e) {
        e.preventDefault();
        e.stopPropagation();
        var targetDiv = $('#ajapaik-modal-rephoto');
        var fullSCreen = $('#ajapaik-rephoto-full-screen-image');
        if (targetDiv.hasClass('ajapaik-photo-bw')) {
            targetDiv.removeClass('ajapaik-photo-bw');
        } else {
            targetDiv.addClass('ajapaik-photo-bw');
        }
        if (fullSCreen.hasClass('ajapaik-photo-bw')) {
            fullSCreen.removeClass('ajapaik-photo-bw');
        } else {
            fullSCreen.addClass('ajapaik-photo-bw');
        }
    });
    $(document).on('click', '#ajapaik-show-similar-photoview-overlay-button', function () {
        $('#ajapaik-photoview-similar-photo-selection').removeClass('d-none').addClass('d-block');
        $('#ajapaik-photoview-rephoto-selection').addClass('d-none');
        $('#ajapaik-photoview-rephoto-wrapper').addClass('d-none');
        $('#ajapaik-show-rephotos-photoview-overlay-button').removeClass('d-none');
        $('#ajapaik-show-similar-photoview-overlay-button').addClass('d-none');
    });
    $(document).on('click', '#ajapaik-show-rephotos-photoview-overlay-button', function () {
        $('#ajapaik-photoview-rephoto-selection').removeClass('d-none');
        $('#ajapaik-photoview-rephoto-wrapper').removeClass('d-none');
        $('#ajapaik-photoview-similar-photo-selection').removeClass('d-block');
        $('#ajapaik-show-similar-photoview-overlay-button').removeClass('d-none');
        $('#ajapaik-show-rephotos-photoview-overlay-button').addClass('d-none');
    });
    window.uploadCompleted = function (response) {
        $('#ajapaik-rephoto-upload-modal').modal('hide');
        if (response && response.new_id) {
            window.location.reload();
        }
    };
    window.syncStateToUrl = function () {
        $.noop();
    };
    $('#ajapaik-photoview-start-geotagging-button').click(function () {
        window.startGuessLocation($(this).data('id'));
    });
    window.startGuessLocation = function (photoId) {
        var startLat,
            startLon;
        if (window.photoModalPhotoLat && window.photoModalPhotoLng) {
            startLat = window.photoModalPhotoLat;
            startLon = window.photoModalPhotoLng;
        } else if (window.albumLat && window.albumLon) {
            startLat = window.albumLat;
            startLon = window.albumLon;
        } else {
            startLat = 59;
            startLon = 26;
        }
        $('#ajapaik-photoview-container').hide();
        $('.footer').hide();
        $('html').addClass('ajapaik-html-game-map');
        $('body').addClass('ajapaik-body-game-map');
        $('#ajp-geotagging-container').show().data('AjapaikGeotagger').initializeGeotaggerState({
            thumbSrc: '/photo-thumb/' + photoId + '/400',
            photoFlipped: window.photoModalCurrentPhotoFlipped,
            fullScreenSrc: '{{ fullscreen.url }}',
            description: window.currentPhotoDescription,
            sourceKey: window.currentPhotoSourceKey,
            sourceName: window.currentPhotoSourceName,
            sourceURL: window.currentPhotoSourceURL,
            fullScreenWidth: {{ fullscreen.size.0 }},
            fullScreenHeight: {{ fullscreen.size.1 }},
    startLat: startLat,
        startLng: startLon,
            photoId: photoId,
                uniqueGeotagCount: window.photoModalGeotaggingUserCount,
                    uniqueGeotagWithAzimuthCount: window.photoModalAzimuthCount,
                        mode: 'vantage',
                            markerLocked: true,
                                isGame: false,
                                    isMapview: false,
                                        isGallery: true,
                                            tutorialClosed: docCookies.getItem('ajapaik_closed_geotagger_instructions') === 'true',
                                                hintUsed: true
                });
    window.locationToolsOpen = true;
            };
    window.stopGuessLocation = function () {
        $('#ajapaik-photoview-container').show();
        $('html').removeClass('ajapaik-html-game-map');
        $('body').removeClass('ajapaik-body-game-map');
        $('#ajp-geotagging-container').hide();
        window.locationToolsOpen = false;
        $('.footer').show();
    };
    $('#ajapaik-photoview-start-dating-button').click(function (e) {
        e.preventDefault();
        if ($('#ajp-dater-container').is(':visible')) {
            window.stopDater();
            window.reportCloseDater();
        } else {
            window.startDater($(this).data('id'));
            window.reportDaterOpen();
        }
    });
    $('#ajapaik-photoview-face-recognition-add-face-button').click(function (e) {
        e.preventDefault();
        mainPhotoContainer.data('AjapaikFaceTagger').toggleCropping();
    });
    window.startDater = function (photoId) {
        $('#ajp-dater-container').show().data('AjapaikDater').initializeDaterState({
            photoId: photoId,
            previousDatings: window.previousDatings
        });
    };
    window.stopDater = function () {
        $('#ajp-dater-input').val(null);
        $('#ajp-dater-comment').val(null);
        $('#ajp-dater-feedback').empty();
        $('#ajp-dater-container').hide();
        $('#ajp-dater-feedback-card').hide();
    };
    window.updateDatings = function () {
        $.ajax({
            url: '{% url 'get_datings' photo.id %}',
            success: function (result) {
                $('#ajp-dater-container').data('AjapaikDater').buildPreviousDatingsDiv(result.datings);
                $('#ajapaik-photo-modal-start-dating-button').find('.badge').html(result.datings.length);
                $('#ajapaik-photoview-start-dating-button').find('.badge').html(result.datings.length);
                window.updateLeaderboard();
                $('#ajp-dater-input').val(null);
                $('#ajp-dater-comment').val(null);
            }
        });
    };
    window.updateTranscriptions = function () {
        $.ajax({
            url: '{% url 'api_transcriptions' photo.id %}',
            success: function (result) {
                $('#ajapaik-photoview-transcribe-button').find('.badge').html(result.transcriptions.length);
                window.currentPhotoTranscriptions = result.transcriptions;
                if(window.currentPhotoTranscriptions.length > 0) {
                    $('#ajp-transcription-info').removeClass('d-none').addClass('d-flex');
                    if(!$('#ajp-transcriber-confirm-button').is(':visible')) {
                        $('#ajp-transcriber-confirm-button').removeClass('d-none');
                    }
                }
            },
            error: function() {
                $.notify("Failed to get transcriptions", {type: 'danger'});
            }
        });
    };
    window.updateTranscriptions();
    $('#ajapaik-photoview-transcribe-button').click(function (e) {
        e.preventDefault();
        if ($('#ajp-transcriber-container').is(':visible')) {
            window.stopTranscriber();
        } else {
            window.startTranscriber($(this).data('id'));
        }
    });
    window.startTranscriber = function (photoId) {
        $('#ajp-transcriber-container').removeClass('d-none').addClass('d-block').data('AjapaikTranscriber').initializeTranscriberState({
            photoId: photoId,
            previousDatings: window.previousDatings
        });
    };
    window.stopTranscriber = function () {
        $('#ajp-transcriber-comment').val(null);
        $('#ajp-transcriber-container').removeClass('d-block').addClass('d-none');
    };
    window._gaq.push(['_trackPageview', '{{ photo.get_absolute_url }}']);
    // Leaflet map
    if (typeof get_photoviewModalOptions === 'function') {
        var options = get_photoviewModalOptions();
        $('#ajapaik-photo-modal-map-container').AjapaikMinimap(options);
    }
});
</script>
<script src="{% static 'js/ajapaik-comments.js' %}"></script>
{% endblock %}