{% extends "base_bootstrap.html" %}
{% load i18n compress static %}

{% block specific_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "libs/jsPanel-2.5.2/jspanel/jquery.jspanel.css" %}"/>
        <link rel="stylesheet" href="{% static "libs/justifiedGallery/css/justifiedGallery-3.6.1.min.css" %}"/>
    {% endcompress %}
{% endblock %}
{% block header %}
    {% include "_header_basic.html" %}
{% endblock %}

{% block layout %}
    <div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div class="w-100">
        <div id="ajapaik-map-container">
            <input id="pac-input-mapview" class="controls float-right" type="text" placeholder={% trans "Search box" %}>
            <div id="ajapaik-map-canvas" class="ajapaik-map-canvas-mapview" {% if not album %}style="top:58px !important;" {% endif %}>
            </div>
        </div>
    </div>
    <div id="ajp-geotagging-container"></div>
    {% include "_full_leaderboard_modal.html" %}
    <div class="full-box original-full-box">
        <div class="full-pic" id="ajapaik-fullscreen-image-container">
            <img id="ajapaik-full-screen-image" alt=""/>
        </div>
    </div>
    <div class="full-box rephoto-full-box">
        <div class="full-pic" id="ajapaik-rephoto-fullscreen-image-container">
            <img id="ajapaik-rephoto-full-screen-image" alt=""/>
        </div>
    </div>
    <div class="full-box similar-full-box">
        <div class="full-pic" id="ajapaik-similar-fullscreen-image-container">
            <img id="ajapaik-similar-photo-full-screen-image" alt=""/>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        var isTabletView = '{{ is_tabletview }}' === "True";
        $('#ajp-geotagging-container').AjapaikGeotagger();
        var title = '{{ title }}',
            leaderboardFullURL = "{% url "top50" %}",
            difficultyFeedbackURL = "{% url "difficulty_feedback" %}",
            mapDataURL = "{% url "map_objects_by_bounding_box" %}";
            {% if album %}
                var albumId = '{{ album.0 | safe }}';
                {% if album.1 and album.2 %}
                    window.albumLatLng = new window.google.maps.LatLng({{ album.2|safe }}, {{ album.3|safe }});
                {% endif %}
            {% endif %}
        var photoModalCurrentImageUrl;
        window.linkToMap = false;
        window.linkToGame = true;
        window.linkToGallery = true;
        window.fbShareMap = true;
        {% if selected_photo %}
            var preselectPhotoId = '{{ selected_photo.id }}';
            {% if selected_photo.lat and selected_photo.lon %}
                var preselectPhotoLat = '{{ selected_photo.lat | safe }}',
                    preselectPhotoLng = '{{ selected_photo.lon | safe }}';
            {% endif %}
        {% endif %}
        {% if selected_rephoto %}
            var preselectRephotoId = '{{ selected_rephoto.id }}';
        {% endif %}
    </script>
    {% compress js %}
        <script src="{% static "js/markerclustererplus-2.1.1.js" %}"></script>
        <script src="{% static "libs/jsPanel-2.5.2/jspanel/jquery.jspanel.js" %}"></script>
        <script src="{% static "js/ajapaik-map.js" %}"></script>
        <script src="{% static "libs/justifiedGallery/js/jquery.justifiedGallery-3.6.1.min.js" %}"></script>
    {% endcompress %}
    {% include "js_templates/map_view_side_panel.html" %}
    {% include "js_templates/map_view_side_panel_element_basic.html" %}
{% endblock %}