{% extends "base_bootstrap.html" %}
{% load i18n %}

{% block title %}
    {% trans "Page Not Found" %}
{% endblock title %}

{% block layout %}
    <div class="container-fluid px-3 py-5">
        {% if request.user.profile.is_legit %}
            <h1 class="pt-4">{% blocktrans with username=request.user.profile.get_display_name %}{{username}}'s settings{% endblocktrans %}</h1>
            <div class="accordion" id="settingsAccordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                {% trans "Newsletter and language settings" %}
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#settingsAccordion">
                        <div class="card-body">
                            {% include "_user_settings_modal_content.html" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="settingsAccordionTwo">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                {% trans "E-mail addresses" %}
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#settingsAccordionTwo">
                        <div class="card-body">
                            {% include "account/email_content.html" with form=email_form %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="settingsAccordionThree">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                {% trans "Change password" %}
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#settingsAccordionThree">
                        <div class="card-body">
                            {% include "account/password_change_form.html" with form=password_form %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="settingsAccordionFour">
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                {% trans "Account Connections" %}
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#settingsAccordionFour">
                        <div class="card-body">
                            {% include "socialaccount/connections_content.html" with form=social_account_form %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="settingsAccordionFive">
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="{% if show_accordion %}true{% else %}false{% endif %}" aria-controls="collapseFive">
                                {% trans "Merge another Ajapaik account with current one" %}
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse{% if show_accordion %}show{% endif %}" aria-labelledby="headingFive" data-parent="#settingsAccordionFive">
                        <div class="card-body">
                            {% include "merge_accounts.html" with show_merge_section=show_accordion %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {% include "_log_in.html" %}
        {% endif %}
        <button class="btn btn-primary mt-3" onclick="window.backClick();">{% trans "Back" %}</button>
    </div>
{% endblock layout %}
{% block specific_js %}
    <script>
        var scrollToMergeAccountAccordion = "{{ show_accordion }}";
        if (scrollToMergeAccountAccordion=="True"){
            window.scroll({
                top: 450,
                left: 0,
                behavior: 'smooth'
            });
        }
    </script>
{% endblock %}