{% extends "base_bootstrap.html" %}
{% load i18n bootstrap4 %}

{% block header %}{% endblock header %}

{% block feedback %}{% endblock %}

{% block layout %}
    <div class="container">
        {% if message %}
            <div class="alert-success p-3">{{ message }}</div>
        {% endif %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div style="margin-bottom: 20px;" class="btn-group float-right" role="group" aria-label="ajapaik-add-album-button-group">
                    <button type="button" class="btn btn-danger" onclick="window.close();">
                        {% trans "Close" %}
                    </button>
                    <button type="submit" class="btn btn-success">
                        {% trans "Add" %}
                    </button>
                </div>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        $(document).ready(function () {
            var input = document.getElementById('id_location');
            if (input) {
                var options = {};
                var autocomplete = new window.google.maps.places.Autocomplete(input, options);
                window.google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();
                    $('#id_lat').val(place.geometry.location.lat());
                    $('#id_lon').val(place.geometry.location.lng());
                    window._gaq.push(['_trackEvent', 'Curator', 'Autocomplete place changed']);
                });
            }
        });
    </script>
    {% if message %}
        <script>window.close();</script>
    {% endif %}
{% endblock %}