{% extends "base_bootstrap.html" %}
{% load i18n compress static %}

{% block specific_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/ajapaik-video.css" %}"/>
    {% endcompress %}
{% endblock %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    {% include "_info_modal.html" %}
    {% include "_full_leaderboard_modal.html" %}
    <div class="container">
        <div class="col-xs-12">
            <div class="row">
                <video id="ajapaik-videoview-video" autoplay controls src="{{ video.file.url }}"></video>
                <div id="ajapaik-videoview-speed-buttons" class="btn-group" role="group">
                    <button type="button" data-speed="0.25" class="btn btn-default">0.25x</button>
                    <button type="button" data-speed="0.5" class="btn btn-default">0.5x</button>
                    <button type="button" data-speed="1" class="btn btn-default active">1x</button>
                    <button type="button" data-speed="1.25" class="btn btn-default">1.25x</button>
                    <button type="button" data-speed="1.5" class="btn btn-default">1.5x</button>
                    <button type="button" data-speed="2" class="btn btn-default">2x</button>
                    <button type="button" data-speed="3" class="btn btn-default">3x</button>
                    <button type="button" data-speed="4" class="btn btn-default">4x</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9" id="ajapaik-videoview-info-column">
                    {% if video.author %}
                        <div class="row"><b>{{ video.author }}</b></div>{% endif %}
                    <div class="row">{{ video.name }}</div>
                    {% if video.date %}
                        <div class="row">{{ video.date|date:"Y" }}</div>{% endif %}
                    {% if video.source and video.source_key and video.source_url %}
                        <div class="row">
                            <a id="ajapaik-videoview-source-link" data-id="{{ video.id }}" target="_blank"
                               href="{{ video.source_url }}" title="{{ video.source.description }}"
                               class="pull-left">{{ video.source.description }} {{ video.source_key }}</a>
                        </div>
                    {% endif %}
                    {% for a in video.albums.all %}
                        <div class="row" id="ajapaik-videoview-album-list">
                            {% if forloop.first %}
                                <div class="col-xs-1">
                                    <i class="material-icons notranslate">movie</i>
                                </div>
                                <div class="col-xs-11">
                                    <a class="ajapaik-videoview-album-link"
                                       href="{% url 'frontpage' %}?album={{ a.id }}">{{ a.name }}</a>
                                </div>
                            {% else %}
                                <div class="col-xs-offset-1 col-xs-11">
                                    <a class="ajapaik-videoview-album-link" href="{% url 'frontpage' %}?album={{ a.id }}">{{ a.name }}</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-xs-3">
                    <button id="ajapaik-video-modal-still-button" class="btn disabled pull-right"><i
                            class="material-icons notranslate">camera</i></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        window.currentVideoId = {{ video.id }};
        window.albumId = {{ video.albums.all.0.id }};
    </script>
    {% compress js %}
        <script src="{% static "js/ajapaik-video.js" %}"></script>
    {% endcompress %}
{% endblock %}