{% load i18n %}
{% load socialaccount %}

</br>
<div><b>
    {% if type == "leaderboard" %}
        {% trans "Log in to save your score" %}
    {% elif type == "comment" %}
        {% trans "Log in to add a comment" %}
    {% elif type == "add-photos" %}
        {% trans "Log in to add photos to album" %}
    {% elif type == "add-dating" %}
        {% trans "Log in to add a dating to a photo" %}
    {% elif type == "transcribe" %}
        {% trans "Log in to transcribe the text on the photo" %}
    {% elif type == "rephoto_upload" %}
        {% trans "Log in to upload rephoto" %}
    {% elif type == "curator" %}
        {% trans "Log in to curate content" %}
    {% elif type == "video_anonymous" %}
        {% trans "Log in to create still frames" %}
    {% elif type == "photo_selection" %}
        {% trans "Log in to save selection" %}
    {% endif %}
</b></div>

{% with 'facebook google wikimedia-commons' as provider_list %}
  {% for provider in provider_list.split %}
    <div class="{{provider}}-connect my-1">
        <a href="{% provider_login_url provider %}?next={% if next %}{{ next|urlencode }}{% else %}{{ request.get_full_path|urlencode }}{% endif %}" class="ir">{% blocktrans %}Connect with {{provider}}{% endblocktrans %}</a>
    </div>
  {% endfor %}
{% endwith %}
<form method="post" action="{% url 'account_login' %}" class="form">
    {% csrf_token %}
    <input class="form-control" id="id-login" maxlength="254" name="login"
           placeholder="{% trans "E-mail address" %}" required="required" title="" type="text" autocomplete="username">
    <input class="form-control" id="id-password" name="password"
           placeholder="{% trans "Password" %}" required="required" title="" type="password" autocomplete="current-password">
    <input name="next" type="hidden" value="{% if next %}{{ next }}{% else %}{{ request.get_full_path }}{% endif %}">
    </br>
    {% if not hide_registration %}
        <a class="d-inline-block w-50 pr-2" href="{% url 'account_signup' %}">
            {% trans "Register with e-mail" %}
        </a>
    {% endif %}
    <button type="submit" class="btn btn-primary float-right ajapaik w-50 ajp-email-login-button">
        {% trans "Log in" %}
    </button>
</form>