{% extends "then_and_now/base.html" %}

{% load i18n %}

{% block layout %}
    <div class="container-fluid">
        <h3>{% trans "Tour summary" %}</h3>
        <p>{% trans "Name" %}: {{ tour.name }}</p>
        <p>{% trans "Description" %}: {{ tour.description }}</p>
        <p>{% trans "Type" %}: {{ tour.get_photo_set_type_display }}</p>
        {% if tour.grouped %}
            <h4>{% trans "Groups" %}</h4>
            {% for each in tour.tour_groups.all %}
                <p>{{ each.name }} - {% blocktrans count counter=each.max_members %}Up to {{ counter }} member
                    {% plural %}Up to {{ counter }} members{% endblocktrans %}</p>
            {% endfor %}
        {% endif %}
        <h2>{% trans "Tour ID" %}: {{ tour.pk }}</h2>
        <p>{% trans "(use it to share your tour)" %}</p>
        <div class="row">
            <a title="{% trans "View map" %}" href="{% url 'ajapaik.ajapaik.then_and_now_tours.map_view' tour.pk %}" class="btn tan-double-border tan-button-text">
                {% trans "View map" %}
            </a>
            <a title="{% trans "View gallery" %}" href="{% url 'ajapaik.ajapaik.then_and_now_tours.gallery' tour.pk %}" class="btn tan-double-border tan-button-text">
                {% trans "View gallery" %}
            </a>
        </div>
        <br/>
        <div class="row">
            <a href="{% url 'ajapaik.ajapaik.then_and_now_tours.manage' tour.pk %}" title="{% trans "Manage" %}">{% trans "Manage" %}</a>
        </div>
    </div>
{% endblock %}