{% extends "then_and_now/base.html" %}

{% load static compress %}

{% block layout %}
    <div id="map-container"></div>
{% endblock %}

{% block specific_js %}
    <script>
        var isOrderedTour = '{{ tour.ordered }}' === 'True',
            isGroupedTour = '{{ tour.grouped }}' === 'True',
            isFixedTour = '{{ tour.photoset_type }}' === 'FIXED',
            currentUserID = '{{ request.user.pk }}',
            getMarkersURL = '{% url 'ajapaik.ajapaik.then_and_now_tours.get_map_markers' tour.pk %}',
            marker1 = '{% static 'images/then-and-now-marker-1.png' %}',
            marker2 = '{% static 'images/then-and-now-marker-2.png' %}',
            marker3 = '{% static 'images/then-and-now-marker-3.png' %}';
    </script>
    {% compress js %}
        <script src="{% static 'js/then-and-now-map.js' %}"></script>
    {% endcompress %}
{% endblock %}