{% extends "then_and_now/base.html" %}

{% load i18n compress %}

{% block layout %}
    <div class="container">
        <h4>{% trans "My rephotos" %}</h4>
        <ul>
            {% for each in my_rephotos %}
                <li><a href="{% url 'ajapaik.ajapaik.then_and_now_tours.detail' tour.pk each.original.pk each.pk %}">{{ each.original.description }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block specific_js %}
    {% compress js %}

    {% endcompress %}
{% endblock %}