{% extends "then_and_now/base.html" %}

{% load i18n %}

{% block layout %}
    <div class="container">
        <ol>
            {% for p in participants %}
                {% if p.user.first_name and p.user.last_name %}
                    <li>{{ p.user.first_name }} {{ p.user.last_name }} {% blocktrans count counter=p.rephoto_count %}{{ counter }} rephoto{% plural %}{{ counter }} rephotos{% endblocktrans %}</li>
                {% else %}
                    <li>{% trans "Anonymous user" %} {% blocktrans count counter=p.rephoto_count %}{{ counter }} rephoto{% plural %}{{ counter }} rephotos{% endblocktrans %}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
{% endblock %}