{% extends "then_and_now/base.html" %}

{% load i18n bootstrap3 %}

{% block layout %}
    <div class="container">
        <form method="post" action="." class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">
                {% trans "Update" %}
            </button>
        </form>
        <br/>
        {% get_language_info for LANGUAGE_CODE as lang %}
        <form action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <div class="form-group">
                {#<input name="next" type="hidden" value="{{ redirect_to }}"/>#}
                <label for="tan-language-selection" class="sr-only">{% trans "Select language" %}</label>
                <select id="tan-language-selection" name="language" onchange="this.form.submit();">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        {% if language.code != 'fi' %}
                            <option value="{{ language.code }}"
                                    title="{% trans language.name %} ({{ language.name_local }}) - {{ language.code|upper }}"
                                    {% if language.code == lang.code %}
                                    selected="selected"{% endif %}>{{ language.name_local|title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
{% endblock %}

{% block autocomplete_stuff %}
    {% include 'autocomplete_light/static.html' %}
{% endblock %}