{% extends is_then_and_now|yesno:"then_and_now/base.html,base_bootstrap.html" %}

{% load i18n bootstrap3 %}

{% block layout %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <h1>{% trans "Registration form" %}</h1>
                <form method="post" action="." class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">
                        {% trans "Submit" %}
                    </button>
                </form>
                <div class="facebook-connect" id="ajapaik-registration-facebook-connect">
                    <a href="/facebook/login?next={% if is_then_and_now %}/then-and-now-tours/{% else %}/{% endif %}" class="ir">{% trans "Connect with Facebook" %}</a>
                </div>
                <br/>
                <div class="google-plus-connect" id="ajapaik-registration-google-connect">
                    <a href="/google-login/?next={% if is_then_and_now %}/then-and-now-tours/{% else %}/{% endif %}" class="ir">{% trans "Connect with Google" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}