include '../expiry-map.nginx';

# Handle anyone coming with plain HTTP www- or not
server {
    listen 80;
    listen [::]:80;

    server_name timepatch.net;

    include '../timepatch.net-logging.nginx';

    location / {
        return 301 https://timepatch.net$request_uri;
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name www.timepatch.net;

    include '../timepatch.net-logging.nginx';

    return 301 https://timepatch.net$request_uri;
}

# Handle www SSL
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name www.timepatch.net;

    ssl_certificate /etc/letsencrypt/live/timepatch.net-0001/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/timepatch.net-0001/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/timepatch.net-0001/chain.pem;

    include '../security-hardening.nginx';

    include '../timepatch.net-logging.nginx';

    return 301 https://timepatch.net$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name timepatch.net;

    ssl_certificate /etc/letsencrypt/live/ajapaik.ee-0001/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ajapaik.ee-0001/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/ajapaik.ee-0001/chain.pem;

    include '../security-hardening.nginx';

    include '../timepatch.net-logging.nginx';

    expires $expires;

    if ($host !~* ^(timepatch.net|www.timepatch.net)$ ) {
        return 444;
    }

    location /media  {
        alias /home/ajapaik/ajapaik-web/media;
    }

    location /static {
        alias /home/ajapaik/ajapaik-web/static-collected;
        expires 30d;
    }

    location ~ ^/favicon.(\w*)$ {
        alias /home/ajapaik/ajapaik-web/static-collected/favicon.$1;
    }

    # Serve Juks's old maps directly
    location /vanalinnad.mooo.com {
        root /home/ajapaik;
    }

    location / {
        include ../uwsgi_params;
        uwsgi_pass unix:/home/ajapaik/ajapaik-web/run/ajapaik.ee.sock;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name opendata.timepatch.net;

    ssl_certificate /etc/letsencrypt/live/timepatch.net-0001/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/timepatch.net-0001/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/timepatch.net-0001/chain.pem;

    include '../security-hardening.nginx';

    include '../timepatch.net-logging.nginx';

    expires $expires;

    location /media  {
        alias /home/ajapaik/ajapaik-web/media;
    }

    location /static {
        alias /home/ajapaik/ajapaik-web/static-collected;
    }

    location ~ ^/favicon.(\w*)$ {
        alias /home/ajapaik/ajapaik-web/static-collected/favicon.$1;
    }

    location / {
        include ../uwsgi_params;
        uwsgi_pass unix:/home/ajapaik/ajapaik-web/run/ajapaik.ee.sock;
    }
}
