{% extends is_then_and_now|yesno:"then_and_now/base.html,base_bootstrap.html" %}

{% load i18n %}
{% block layout %}
    <div class="container">
        <div class="row pt-5">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 pt-5">


    {% block body %}

    {% if messages %}
    <div>
      <strong>{% trans "Messages": %}</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    </div>

    {% if request.user.profile.is_legit %}
    <div class='allauth-menu'>
      <strong>{% trans Menu: %}</strong>
      <ul>
        <li><a href="{% url 'account_email' %}">{% trans "Change E-mail" %}</a></li>
        <li><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <li><a href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
        <li><a href="{% url 'socialaccount_connections' %}">{% trans "Socialaccount connections" %}</a>
        <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
      </ul>
    </div>
    {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

