{% extends is_then_and_now|yesno:"then_and_now/base.html,base_bootstrap.html" %}

{% load i18n %}
{% block layout %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">


    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
    {% if request.user.profile.is_legit %}
    {% block content %}
    {% endblock %}
    {% endif %}
    {% endblock %}

    {% if request.user.profile.is_legit %}
    {% block extra_body %}
    {% endblock %}
    {% endif %}
    </div>

    <div class='allauth-menu'>
      <strong>Menu:</strong>
      <ul>
        {% if request.user.profile.is_legit %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <li><a href="{% url 'account_change_password' %}">Change password</a>
        <li><a href="{% url 'socialaccount_connections' %}">Socialaccount connections</a>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>

            </div>
        </div>
    </div>
{% endblock %}

