{% extends "account/base_anonymous.html" %}

{% load i18n bootstrap4 %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup-form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign up" %}</button>
</form>

{% endblock %}
