{% extends "core/base_bootstrap.html" %}
{% load i18n %}

{% block title %}
    {% trans "Page Not Found" %}
{% endblock title %}

{% block layout %}
    <div class="container-fluid px-3 py-5">
        {% if request.user.profile.is_legit %}
            <h1 id="display-name-settings" class="pt-4">{% blocktrans with username=request.user.profile.get_display_name %}{{username}} settings{% endblocktrans %}</h1>
            {% for accordion in accordion_list %}
                {% include "_accordion.html" with id=accordion.id heading=accordion.heading form=accordion.form template=accordion.template show_merge_section=accordion.show_merge_section %}
            {% endfor %}
        {% else %}
            {% include "authentication/_log_in.html" %}
        {% endif %}
        <a class="btn btn-primary mt-3" href="{% url 'me' %}">{% trans "Back" %}</a>
    </div>
{% endblock layout %}
{% block specific_js %}
    <script>
        var scrollToMergeAccountAccordion = "{{ show_accordion }}";
        if (scrollToMergeAccountAccordion=="True"){
            window.scroll({
                top: 720,
                left: 0,
                behavior: 'smooth'
            });
        }
    </script>
{% endblock %}