{% extends "base_bootstrap.html" %}
{% load i18n bootstrap4 %}

{% block header %}{% endblock header %}

{% block feedback %}{% endblock %}

{% block layout %}
    <div class="container">
        {% if message %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div class="mb-4" class="btn-group float-right" role="group"
                     aria-label="ajapaik-add-face-recogntion-subject-button-group">
                    <button type="button" class="btn btn-danger" onclick="window.close();">
                        {% trans "Close" %}
                    </button>
                    <button type="submit" class="btn btn-success">
                        {% trans "Add" %}
                    </button>
                </div>
            {% endbuttons %}
            <script>

            </script>
        </form>
    </div>
{% endblock %}

{% block specific_js %}
    {% if message %}
        <script>
            // window.faceRecognitionSubjectAdded('{{ message }}');
            // window.docCookies.setItem('ajapaik_last_added_subject_id', '{{ message }}', 'Fri, 31 Dec 9999 23:59:59 GMT', '/', document.domain, false);
            window.setTimeout(function () {
                window.close();
            });
        </script>
    {% endif %}
{% endblock %}