{% extends "base_bootstrap.html" %}
{% load i18n compress static %}

{% block specific_css %}
    {% compress css %}
    <link rel="stylesheet" href="{% static "css/ajapaik-add-subject-data.css" %}">
    {% endcompress %}
{% endblock %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}
{% block layout %}
<div class="full-box original-full-box">
    <div class="full-pic" id="ajapaik-fullscreen-image-container">
        <img id="ajapaik-full-screen-image" class="lazyload" style="display: none;"
            data-src="{% url "image_full" rectangle.photo.pk rectangle.photo.get_pseudo_slug %}"
            alt="{{ rectangle.photo.description }}" title="{{ rectangle.photo.description }}" />
    </div>
</div>
<div id="subject-data-container" class="container pt-5 d-flex" style="min-height:87vh;opacity:0;">
    <div class="d-flex row pt-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 image-wrapper">
            <img class="main-image" alt="{{ photo.description }}" src="{% url 'image_thumb' photo.id 800 photo.get_pseudo_slug %}"/>
            <div class="d-none" id="subject-data-description-container">
                {% if rectangle.photo.description %}
                    <p>
                        {{ rectangle.photo.description }}
                    </p>
                {% endif %}
                {% if rectangle.photo.author %}
                    <p>
                        {{ rectangle.photo.author }}
                    </p>
                {% endif %}
                {% if rectangle.photo.source_key %}
                    <p>
                        {{ rectangle.photo.source_key }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="first-block d-block pb-3 text-center">
        <div>
            <button class="guess-button human-male" data=1>
                {% trans "Male" %}
            </button>
            <button class="guess-button human-female" data="0">
                {% trans "Female" %}
            </button>
        </div>
        <div>
            <button class="guess-button skip-next" data=2>
                {% trans "Not sure" %}
            </button>
            <button class="guess-button circled-cross" data=-1>
                {% trans "Not a Face" %}
            </button>
            <button class="guess-button info" data=-2>
                {% trans "Info" %}
            </button>
        </div>
    </div>
    <div class="second-block d-none pb-3 text-center">
        <div>
            <button class="guess-button human-child" data=0>
                {% trans "Child" %}
            </button>
            <button class="guess-button human-adult" data=1>
                {% trans "Adult" %}
            </button>
            <button class="guess-button human-elderly" data=2>
                {% trans "Elderly" %}
            </button>
        </div>
        <div>
            <button class="guess-button skip-next" data=3>
                {% trans "Not sure" %}
            </button>
            <button class="guess-button circled-cross" data=-1>
                {% trans "Not a Face" %}
            </button>
            <button class="guess-button info" data=-2>
                {% trans "Info" %}
            </button>
        </div>
    </div>
    <div class="row third-block d-none pb-3">
        <button class="guess-button skip-next">
            {% trans "Skip" %}
        </button>
    </div>
    <div class="d-none">
        {% trans "Currently the gender is" %} {{ gender }}
        <br>
        {% trans "Currently the age is" %} {{ age }}
    </div>
</div>
{% endblock %}
{% block footer %}
    {% include "_footer.html" %}
{% endblock %}
{% block specific_js %}
    <script>
        $(".ajapaik-brand").removeAttr('href');
        window.isAddSubjectDataView = true;
        window.addSubjectDataViewPage = 0;
        var isTouchDevice = ('ontouchstart' in window || navigator.maxTouchPoints > 0 || navigator.msMaxTouchPoints > 0);
        var currentRectangleId = '{{ rectangle.id }}'
        var hasConsensus = '{{ hasConsensus }}';
        var subject = {
            subjectId: {{ rectangle.id }},
            gender: undefined,
            age: undefined
        };
        var subjectDataContainer = $('.subject-data-container');
        hasConsensus = 'True' === hasConsensus;
        if(hasConsensus) {
            $(".first-block").removeClass("d-block").addClass("d-none");
            $(".second-block").removeClass("d-none").addClass("d-block");
            subject.gender = 3;
        }
        window.currentPhotoOriginalWidth = '{{ photo.width }}';
        window.currentPhotoOriginalHeight = '{{ photo.height }}';
        resizePhoto = function() {
            var imageRatio = window.currentPhotoOriginalWidth / window.currentPhotoOriginalHeight;
            if($(window).width() / ($(window).height() - 250) > imageRatio) {
                $('img.main-image').css('height', ($(window).height() - 250) + 'px');
                $('img.main-image').css('width', 'auto');
            }
            else {
                $('img.main-image').css('width', ($(window).height() - 250) * imageRatio)
                $('img.main-image').css('height', 'auto');
            }
        }

        drawRectangle = function() {
            window.currentPhotoActualHeight = $('img.main-image')[0].height;
            window.currentPhotoActualWidth = $('img.main-image')[0].width;
            $('#ajapaik-loading-overlay').hide();
            $('#subject-data-container').css('opacity','1.0');
            var widthScale = currentPhotoActualWidth / window.currentPhotoOriginalWidth,
            heightScale = currentPhotoActualHeight / window.currentPhotoOriginalHeight,
            width = (coordinates[1] - coordinates[3]) * widthScale,
            height = (coordinates[2] - coordinates[0]) * heightScale,
            leftTop = [coordinates[3] * widthScale, coordinates[0] * heightScale];
            if(width < 30) {
                leftTop[0] = leftTop[0] - width * 0.5;
                width = width * 2;
            }
            if(height < 30 ) {
                leftTop[1] = leftTop[1] - height * 0.5;
                height = height * 2;
            }
            $faceRectangle = $('<div>', {
                class: 'ajapaik-face-rectangle',
                css: {
                    position: 'absolute',
                    left: leftTop[0] + 'px',
                    top: leftTop[1] + 'px',
                    width: width + 'px',
                    height: height + 'px',
                    border: '3px solid white'
                },
                // TODO: If we know already, display peoples' names
            });
            var imageWrapper = $('.image-wrapper');
            if(!!imageWrapper){
                imageWrapper.append($faceRectangle);
            }
        }

        removeRectangle = function() {
            $('.ajapaik-face-rectangle').remove();
        }

        this.reportBadRectangle = function (id) {
			$.ajax({
				type: 'POST',
				url: '/face-recognition/add-rectangle-feedback/',
				data: {
					rectangle: id,
					is_correct: false,
					csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
				},
				success: function (response) {
					if (response.deleted) {
						$.notify(gettext('Thank you! Bad rectangle deleted.'), {type: 'success'});
					} else {
						$.notify(gettext('Thank you!'), {type: 'success'});
					}
                    window.location.href = '{{next_action}}';
				},
				error: function () {
                    $.notify(gettext('Failed to send your feedback, sorry.'), {type: 'danger'});
                    $(".third-block").removeClass("d-none").addClass("d-flex");
                }
			});
		};

        var coordinates = {{ coordinates }};
        $('#ajapaik-loading-overlay').show();

        $(window).on('load', function() {
            resizePhoto();
            drawRectangle();
        });

        $(window).on('resize', function() {
            resizePhoto();
            removeRectangle();
            drawRectangle();
        });

        AddSubjectData = function(subject, profile){
            $('#ajapaik-loading-overlay').show();
            $.ajax({
                type: 'POST',
                url: window.location.origin + "/face-recognition/api/v1/subject-data/",
                data: {
                    csrfmiddlewaretoken: docCookies.getItem('csrftoken'),
                    subjectId: subject.subjectId,
                    gender: subject.gender,
                    age: subject.age,
                    profile: profile
                },
                success: function () {
                    window.location.href = '{{next_action}}';
                },
                error: function () {
                    $(".third-block").removeClass("d-none").addClass("d-flex");
                    $.notify(gettext('Something went wrong, please check your connection. If the issue persists please contact us on Tawk.to'), {type: 'danger'});
                },
                complete: function () {
                    $('#ajapaik-loading-overlay').hide();
                }
            });
        }

        $(".first-block > div > button").on('click', function(e) {
            subject.gender = e.target.attributes.data && e.target.attributes.data.nodeValue;
            if(subject.gender === '-2') {
                var hasClass = $('#subject-data-description-container').hasClass('d-none');
                if (hasClass === true) {
                    if (isTouchDevice) {
                        $(".first-block > div > button.info").css("background-color","#d5d5d5");
                        $(".second-block > div > button.info").css("background-color","#d5d5d5");
                    }
                    $('#subject-data-description-container').removeClass('d-none');
                }
                else {
                    if (isTouchDevice) {
                        $(".first-block > div > button.info").css("background-color","transparent");
                        $(".second-block > div > button.info").css("background-color","transparent");
                    }
                    $('#subject-data-description-container').addClass('d-none');
                }
            }
            else {
                $(".first-block").removeClass("d-block").addClass("d-none");
                if(subject.gender !== "-1") {
                    $(".second-block").removeClass("d-none").addClass("d-block");
                    addSubjectDataViewPage = 1;
                }
                else {
                    reportBadRectangle(currentRectangleId)
                }
            }
        });
        $(".second-block > div > button").on('click', function(e) {
            subject.age = e.target.attributes.data && e.target.attributes.data.nodeValue;
            if(subject.age === '-2') {
                var hasClass = $('#subject-data-description-container').hasClass('d-none');
                if (hasClass === true) {
                    if (isTouchDevice) {
                        $(".first-block > div > button.info").css("background-color","#d5d5d5");
                        $(".second-block > div > button.info").css("background-color","#d5d5d5");
                    }
                    $('#subject-data-description-container').removeClass('d-none');
                }
                else {
                    if (isTouchDevice) {
                        $(".first-block > div > button.info").css("background-color","transparent");
                        $(".second-block > div > button.info").css("background-color","transparent");
                    }
                    $('#subject-data-description-container').addClass('d-none');
                }
            }
            else {
                $(".second-block").removeClass("d-flex").addClass("d-none");
                if(subject.age !== "-1"){
                    window.AddSubjectData(subject)
                }
                else{
                    reportBadRectangle(currentRectangleId)
                }
            }
        });
        $(".third-block > button").on('click', function(e) {
            window.location.href = '{{next_action}}';
        });
    </script>
{% endblock %}