{% load i18n bootstrap3 static ajapaik_templatetags %}


<div class="container">
    <form method="post" action="{% url 'face_recognition_guess_subject' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-success ajapaik-face-recognition-form-submit-button"
                type="submit"
                title="{% trans "Submit guess" %}">
            {% trans "Send" %}
        </button>
        <button title="{% trans "This rectangle is bad, I think it should be removed." %}"
                class="btn btn-danger ajapaik-face-recognition-form-remove-rectangle-button"
                type="button"
                data-id="{{ rectangle_id }}">
            {% trans "Delete annotation" %}
        </button>
    </form>
</div>
