{% load i18n bootstrap4 static ajapaik_templatetags %}


<div class="container">
    <form method="post" action="{% url 'face_recognition_guess_subject' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group float-right">
                    <button class="btn btn-primary ajapaik-face-recognition-form-submit-button"
                            type="submit"
                            title="{% trans "Submit guess" %}">
                        {% trans "Send" %}
                    </button>
                    <button class="btn btn-default ajapaik-face-recognition-form-cancel-button"
                            type="button"
                            title="{% trans "Cancel" %}">
                        {% trans "Cancel" %}
                    </button>
                    <button title="{% trans "This rectangle is bad, I think it should be removed." %}"
                            class="btn btn-danger ajapaik-face-recognition-form-remove-rectangle-button"
                            type="button"
                            title="{% trans "Delete annotation" %}"
                            data-id="{{ rectangle_id }}">
                            {% trans "Delete" %}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    </form>
</div>
