{% extends "core/base_bootstrap.html" %}
{% load i18n compress ajapaik_templatetags static %}

{% block header %}
    {% include "core/_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container-fluid pt-5">
        {% if request.user.profile.is_legit %}
            <div class="container panel panel-default pt-3" id="ajp-selection-top-panel">
                <div class="row panel-body d-inline-flex">
                    {% if photos|length > 0 %}
                        <div class="col-auto mb-3 pr-0">
                            <button id="ajp-photo-selection-create-album-button" type="button"
                                class="btn btn-success">{% trans "Add to album" %}</button>
                        </div>
                    {% endif %}
                    {% if photos|length > 1 %}
                        <div id="ajp-similarity-popover-toggle" class="col-auto mb-3 pr-0">
                            <button data-toggle="popover" class="btn btn-primary">
                                {% trans "Mark as similar or duplicates" %}
                            </button>
                        </div>
                    {% endif %}
                    {% if photos|length > 0 %}
                        <div class="col-auto mb-3 pr-0">
                            <button id="ajp-photo-selection-categorize-scenes-button" type="button"
                                class="btn btn-success">{% trans "Add categories to picture(s)" %}</button>
                        </div>
                        <div class="col-auto mb-3 pr-0">
                            <button id="ajp-photo-selection-edit-pictures-button" type="button"
                                class="btn btn-success">{% trans "Flip, rotate and invert picture(s)" %}</button>
                        </div>
                        <div class="col-auto mb-3 pr-0">
                            <button id="ajp-photo-selection-clear-selection-button" type="button"
                                class="btn btn-danger">{% trans "Clear selection" %}</button>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="alert-success d-none"></div>
                    <div class="alert alert-error d-none"></div>
                </div>
            </div>
            <div class="row d-none">{% trans "You can re-order photos by dragging and dropping" %}</div>
            <div id="ajp-photo-selection-gallery">
                <div class="panel panel-default" id="ajp-selection-middle-panel">
                    <div class="row panel-body">
                        {% for photo in photos %}
                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 p-2 m-3 text-center" style="border-left: 1px solid grey; border-right: 1px solid grey; border-top: 1px solid grey; border-bottom: 1px solid grey;border-radius: 5px;background: white; min-height: 330px;"
                                 id="ajp-frontpage-image-container-{{ photo.0 }}"
                                 data-id="{{ photo.0 }}">
                                <a href="{% url 'photo' photo.0 photo.get_pseudo_slug %}"
                                   class="thumbnail ajp-photo-selection-thumbnail-link d-block h-100" data-id="{{ photo.0 }}">
                                    <img src="{% url 'image_thumb' photo.0 250 photo.get_pseudo_slug %}"
                                            data-src="{% url 'image_thumb' photo.0 250 photo.get_pseudo_slug %}"
                                            width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.0 }}"
                                            class="img-fluid ajp-photo-selection-thumbnail lazyload">
                                    <div class="ajp-remove-from-selection-button" data-id="{{ photo.0 }}"></div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="full-box original-full-box">
                <div class="full-pic" id="ajp-fullscreen-image-container">
                    <img id="ajp-fullscreen-image" alt="" src=""/>
                </div>
            </div>
            <div class="full-box rephoto-full-box">
                <div class="full-pic" id="ajp-rephoto-fullscreen-image-container">
                    <img id="ajp-rephoto-full-screen-image" alt="" src=""/>
                </div>
            </div>
            <div class="full-box similar-full-box">
                <div class="full-pic" id="ajp-similar-fullscreen-image-container">
                    <img id="ajp-similar-photo-full-screen-image" alt="" src=""/>
                </div>
            </div>
            <div class="modal fade" id="ajp-photo-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
            {% include "authentication/_login_modal.html" %}
            {% include "info/_info_modal.html" %}
            {% include "rephoto_upload/_rephoto_upload_modal.html" %}
            {% include "geotaggers/_geotaggers_modal.html" %}
            {% include "album/_album_creation_modal.html" %}
            {% include "js_templates/curator_album_selection_option_template.html" %}
            {% include "js_templates/curator_album_selection_separator_template.html" %}
        {% else %}
            {% include "authentication/_login.html" with type="photo_selection" %}
        {% endif %}
    </div>
{% endblock %}
{% block specific_js %}
    <script>
        window.isSelection = true;
        var scene = 'undefined';
        var viewpointElevation = 'undefined';

        $(document).ready(function () {
            window.previouslyEditedPhotoIds.forEach(id => {
                window.refreshUpdatedImageLight('a[data-id=' + id + '].ajp-photo-selection-thumbnail-link > img');
            });
            $(function () {
                $('#ajp-similarity-popover-toggle').popover({
                    html: true,
                    sanitize: false,
                    content: '<div class="col-auto mb-3 pr-0"><button id="ajp-photo-selection-add-similarity" type="button" class="btn btn-primary">{% trans "Images have overlapping content" %}</button></div><div class="col-auto mb-3 pr-0"><button id="ajp-photo-selection-add-duplicate" type="button" class="btn btn-success">{% trans "All images are of the same shot" %}</button></div>',
                    title: '{% trans "Mark as similar or duplicates" %}',
                    container: '#ajp-similarity-popover-toggle'
                })
            })
        });
    </script>
    {% compress js %}
        <script src="{{ STATIC_URL }}js/ajp-selection.js"></script>
        <script src="{{ STATIC_URL }}js/ajp-picture-edit-suggestion.js"></script>
        <script src="{{ STATIC_URL }}js/ajp-category-suggestion.js"></script>
    {% endcompress %}
{% endblock %}