{% extends "core/base_bootstrap.html" %}
{% load i18n %}

{% block title %}
    {% trans "Page Not Found" %}
{% endblock title %}

{% block layout %}
     <div id="ajp-user-info" class="container-fluid px-3 py-5">
        <div class="mt-4" style="height: 200px;">
            {% if profile.fb_id %}
                <img class="profile-picture" src="https://graph.facebook.com/v7.0/{{ profile.fb_id }}/picture?type=large"
                    alt="{% trans "User Facebook photo" %}"/>
            {% elif profile.google_plus_picture %}
                <img class="profile-picture" src="{{ profile.google_plus_picture }}" alt="{% trans "User Google photo" %}"/>
            {% else %}
                <i class="ajp-user-icon material-icons notranslate">account_box</i>
            {% endif %}
        </div>
        <div>
            <h3>
            {% if is_current_user or actions == 0 %}
                <b>{{ profile.get_display_name }}</b>
            {% else %}
                {% blocktrans with name=profile.get_display_name %}<b>{{ name }}</b> has{% endblocktrans %}
            {% endif %}
            </h3>
        </div>
        {% if is_current_user %}
            {% if not request.user.profile.is_legit %}
                <div class="w-100">
                    {% blocktrans %}You're welcome to browse and also contribute anonymously, but we encourage You to create yourself an Ajapaik account and join the contributors community.{% endblocktrans %}
                </div>
                <div class="w-100">
                    {% trans "To create an account, click" %} <a href="{% url 'account_signup' %}">&nbsp;{% trans "here" %}</a>.
                </div>
            {% endif %}
            {% if actions > 0 %}
                {% include "user/_current_user_info.html" %}
            {% elif request.user.profile.is_legit %}
                <div class="w-100">
                    {% blocktrans %}Welcome to Ajapaik – crowdsourcing platform for historic photographs. You're welcome to geotag and to comment the pictures, tag faces etc.{% endblocktrans %}
                </div>
            {% endif %}
            {% if request.user.profile.is_legit %}
                <div>
                    <a class="btn btn-primary" href="{% url 'user_settings' %}">{% trans "User settings" %}</a>                    
                </div>
                <div class="mt-2">
                    <a class="btn btn-secondary" href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
                </div>
            {% endif %}
        {% else %}
            {% if actions > 0 %}
                {% include "user/_user_info.html" %}
            {% else %}
            <div class="w-100">
                {% trans "This user does not have any contributions." %}
            </div>
            {% endif %}
        {% endif %}
        <div class="mt-2">
            <button class="btn btn-primary" onclick="window.backClick();">{% trans "Back" %}</button>
        </div>
     </div>
{% endblock layout %}