{% load i18n %}

<div id="ajapaik-album-selection" class="ajapaik-invisible {% if show_photos %}hidden{% endif %}">
    <input type="text" id="ajapaik-album-filter-box" placeholder="{% trans "Search album" %}"/>
    {% for album in albums %}
        {% if album.cover_photo_id %}
            <a href="{% url 'project.home.views.frontpage' %}?album={{ album.id }}">
                <img alt="{{ album.name }}" class="img-responsive"
                     data-id="{{ album.id }}" data-name="{{ album.name }}" height="{{ album.cover_photo_height }}"
                     data-photos="{{ album.photo_count_with_subalbums }}" width="{{ album.cover_photo_width }}"
                     src="{% url 'project.home.views.photo_thumb' album.cover_photo_id 300 %}">
                <div class="caption ajapaik-caption-album-selection">
                    <p class="ajapaik-caption-album-selection-album-title">{{ album.name }}</p>
                    <p>
                        {% blocktrans count counter=album.photo_count_with_subalbums %}
                            {{ counter }} picture
                        {% plural %}
                            {{ counter }} pictures
                        {% endblocktrans %}
                    </p>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>