{% load i18n %}

<div id="ajapaik-album-selection" class="{% if show_photos %}hidden{% endif %}">
    {% for album in albums %}
        {% if album.cover_photo_id %}
            <a href="{% url 'project.home.views.frontpage' %}?album={{ album.id }}&amp;forceAlbum=1" class="ajapaik-frontpage-album" data-id="{{ album.id }}">
                <img alt="{{ album.name }}" class="img-responsive lazyload{% if album.cover_photo_flipped %} ajapaik-photo-flipped{% endif %}"
                     data-id="{{ album.id }}" data-name="{{ album.name }}" height="{{ album.cover_photo_height }}"
                     data-photos="{{ album.photo_count_with_subalbums }}" width="{{ album.cover_photo_width }}"
                     src="{% url 'project.home.views.photo_thumb' album.cover_photo_id 400 %}">
                <div class="caption ajapaik-caption-album-selection">
                    <p class="ajapaik-caption-album-selection-album-title" title="{{ album.name }}">{{ album.name }} <span class="ajapaik-caption-album-selection-album-more-button" data-id="{{ album.id }}"></span></p>
                    <div class="ajapaik-album-selection-photo-count" title="{% trans "Pictures in album" %}">
                        <span>{{ album.photo_count_with_subalbums }}</span>
                    </div>
                    {% if album.geotagged_photo_count_with_subalbums > 0 %}
                        <div class="ajapaik-album-selection-geotagged-count" title="{% trans "Pictures geotagged" %}">
                            <span>{{ album.geotagged_photo_count_with_subalbums }}</span>
                        </div>
                    {% endif %}
                    {% if album.rephoto_count_with_subalbums > 0 %}
                        <div class="ajapaik-album-selection-rephoto-count" title="{% trans "Rephotos in album" %}">
                            <span>{{ album.rephoto_count_with_subalbums }}</span>
                        </div>
                    {% endif %}
                    {% if album.comments_count_with_subalbums > 0 %}
                        <div class="ajapaik-album-selection-comment-count" title="{% trans "Comments in album" %}">
                            <span>{{ album.comments_count_with_subalbums }}</span>
                        </div>
                    {% endif %}
                    <div class="ajapaik-album-selection-caption-bottom hidden">
                        {% if album.geotagged_photo_count_with_subalbums > 0 %}
                            <div class="ajapaik-album-selection-map-button" role="button" title="{% trans "Show pictures on map" %}" data-href="{% url "project.home.views.mapview" %}?album={{ album.id }}"></div>
                        {% endif %}
                        <div class="ajapaik-album-selection-game-button" role="button" title="{% trans "Geotag pictures in album" %}" data-href="{% url "project.home.views.game" %}?album={{ album.id }}"></div>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>