<div class="modal fade" id="ajapaik-all-time-leaderboard-modal" tabindex="-1" role="dialog"
     aria-labelledby="ajapaik-all-time-leaderboard-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ajapaik-no-bottom-border-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="padding-top: 0;">
                <div id="leaderboard_browser">
                    <div class="single">
                        <div class="score_container" style="padding-top: 0;">
                            <ul class="scoreboard"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>