{% load i18n %}

<nav class="navbar navbar-default navbar-fixed-top ajapaik-navbar">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand ajapaik-brand hidden-xs" href="/" title="{% trans "Back to homepage" %}">
                {% trans "Timepatch (Ajapaik)" %}
            </a>
            <a class="hidden-xs" id="cat-brand-dummy"></a>
        </div>
        <div class="navbar-header pull-left">
            <ul class="nav pull-right">
                <li class="dropdown pull-left">
                    <a href="#" data-toggle="dropdown" id="cat-header-mode" class="dropdown-toggle ajapaik-no-background ajapaik-text-white">
                        <div class="hidden" id="cat-header-showing-albums">
                            <i class="material-icons">collections_bookmark</i>
                            <span>{% trans "Albums" %}</span>
                        </div>
                        <div class="hidden" id="cat-header-showing-pictures">
                            <i class="material-icons">collections</i>
                            <span>{% trans "All pictures" %}</span>
                        </div>
                        <div class="hidden" id="cat-header-showing-album-pictures">
                            <i class="material-icons">photo_album</i>
                            <span></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" id="cat-mode-select">
                        <li>
                            <a href="#" id="cat-show-albums-link" title="Show albums">
                                <i class="material-icons">collections_bookmark</i>{% trans "Albums" %}
                            </a>
                        </li>
                        <li>
                            <a href="#" id="cat-show-pictures-link" title="Show pictures">
                                <i class="material-icons">collections</i>{% trans "All pictures" %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navbar-header pull-right">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle ajapaik-no-background">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav pull-right">
                <li class="pull-left{% if is_about %} active{% endif %}">
                    <a title="{% trans 'About' %}" href="{% url "project.home.cat.cat_about" %}">{% trans 'About' %}</a>
                </li>
                <li class="pull-left{% if is_filter %} active{% endif %}">
                    <a title="{% trans 'Photos' %}" href="{% url "project.home.cat.cat_results" %}">{% trans 'Photos' %}</a>
                </li>
                <li class="pull-left{% if is_tag %} active{% endif %}">
                    <a title="{% trans 'Tag' %}" href="{% url "project.home.cat.cat_tagger" %}">{% trans 'Tag' %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>