{% load i18n %}

<nav class="navbar navbar-default navbar-fixed-top ajapaik-navbar">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand ajapaik-brand hidden-xs" href="/" title="{% trans "Back to homepage" %}">
                {% trans "Timepatch (Ajapaik)" %}
            </a>
            <a class="hidden-xs" id="cat-brand-dummy"></a>
        </div>
        <div class="navbar-header pull-left">
            <ul class="nav pull-right">
                <li class="dropdown pull-left">
                    <a href="#" data-toggle="dropdown" id="cat-header-mode" class="dropdown-toggle ajapaik-no-background ajapaik-text-white">
                        <div class="hidden" id="cat-header-showing-albums">
                            <i class="material-icons">collections_bookmark</i>
                            <span>{% trans "Albums" %}</span>
                        </div>
                        <div class="hidden" id="cat-header-showing-pictures">
                            <i class="material-icons">collections</i>
                            <span>{% trans "All pictures" %}</span>
                        </div>
                        <div class="hidden" id="cat-header-showing-album-pictures">
                            <i class="material-icons">photo_album</i>
                            <span></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" id="cat-mode-select">
                        <li>
                            <a href="#" id="cat-show-albums-link" title="Show albums">
                                <i class="material-icons">collections_bookmark</i>{% trans "Albums" %}
                            </a>
                        </li>
                        <li>
                            <a href="#" id="cat-show-pictures-link" title="Show pictures">
                                <i class="material-icons">collections</i>{% trans "All pictures" %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>