{% load i18n %}

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-lg ajapaik-navmenu" id="ajapaik-filter-selection-navmenu">
    <ul class="nav navmenu-nav" id="ajapaik-filter-selection-menu">
        <li {% if order == 'newest' %}class="active"{% endif %}>
            <a href="{% if album %}
                {% url 'project.home.views.frontpage' album_id=album.id page=1%}?order=newest
            {% else %}
                {% url 'project.home.views.frontpage' page=1 %}?order=newest
            {% endif %}">
                {% trans 'Newest' %}
            </a>
        </li>
        <li {% if order == 'closest' %}class="active"{% endif %}>
            <a id="ajapaik-filter-closest-link" href="{% if album %}
                {% url 'project.home.views.frontpage' album_id=album.id page=1%}?order=closest
            {% else %}
                {% url 'project.home.views.frontpage' page=1 %}?order=closest
            {% endif %}">
                {% trans 'Closest' %}
            </a>
        </li>
        <li {% if order == 'discussed' %}class="active"{% endif %}>
            <a href="{% if album %}
                {% url 'project.home.views.frontpage' album_id=album.id page=1%}?order=discussed
            {% else %}
                {% url 'project.home.views.frontpage' page=1 %}?order=discussed
            {% endif %}">
                {% trans 'Most discussed' %}
            </a>
        </li>
        <li {% if order == 'rephotos' %}class="active"{% endif %}>
            <a href="{% if album %}
                {% url 'project.home.views.frontpage' album_id=album.id page=1%}?order=rephotos
            {% else %}
                {% url 'project.home.views.frontpage' page=1 %}?order=rephotos
            {% endif %}">
                {% trans 'Most rephotos' %}
            </a>
        </li>
        <li {% if order == 'latest_rephotos' %}class="active"{% endif %}>
            <a href="{% if album %}
                {% url 'project.home.views.frontpage' album_id=album.id page=1%}?order=latest_rephotos
            {% else %}
                {% url 'project.home.views.frontpage' page=1 %}?order=latest_rephotos
            {% endif %}">
                {% trans 'Latest rephotos' %}
            </a>
        </li>
        <li {% if order == 'latest_comments' %}class="active"{% endif %}>
            <a href="{% if album %}
                {% url 'project.home.views.frontpage' album_id=album.id page=1%}?order=latest_comments
            {% else %}
                {% url 'project.home.views.frontpage' page=1 %}?order=latest_comments
            {% endif %}">
                {% trans 'Latest comments' %}
            </a>
        </li>
        <li {% if order == 'latest_geotags' %}class="active"{% endif %}>
            <a href="{% if album %}
                {% url 'project.home.views.frontpage' album_id=album.id page=1%}?order=latest_geotags
            {% else %}
                {% url 'project.home.views.frontpage' page=1 %}?order=latest_geotags
            {% endif %}">
                {% trans 'Latest geotags' %}
            </a>
        </li>
    </ul>
</div>