{% load i18n %}

<div class="modal-dialog">
    <div class="modal-content ajapaik-zero-border-radius">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4>{% trans "About Ajapaik" %}</h4>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                {% trans "Ajapaik shows how places have changed over time." %}
            </div>
            <br/>
            <div class="row-fluid">
                {% trans "Discover how places looked like years ago by" %}
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">{% trans "* searching historic view pictures from Estonian museums' collections and curating selected images to Ajapaik" %}</div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">{% trans "* geotagging pictures from places you are familiar with" %}</div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">{% trans "* rephotographing the historic views from places you visit" %}</div>
            </div>
            <div class="row-fluid">&nbsp;</div>
            <div class="row-fluid">
                {% blocktrans %}
                    {{ total_photo_count }} historic pictures, out of which
                {% endblocktrans %}
                {% blocktrans %}
                    {{ total_photos_tagged }} pictures have been put on the map by
                {% endblocktrans %}
                {% blocktrans %}
                    {{ contributing_users }} users.
                {% endblocktrans %}
            </div>
            <div class="row-fluid">
                {% blocktrans %}
                    {{ rephoto_count }} rephotographs for
                {% endblocktrans %}
                {% blocktrans %}
                    {{ rephotographed_photo_count }} pictures made by
                {% endblocktrans %}
                {% blocktrans %}
                    {{ rephotographing_users }} users.
                {% endblocktrans %}
            </div>
            {% if user_geotagged_photos > 0 %}
                <div class="row-fluid">
                    {% blocktrans count counter=user_geotagged_photos %}
                        You have suggested location for {{ user_geotagged_photos }} picture.
                    {% plural %}
                        You have suggested locations for {{ user_geotagged_photos }} pictures.
                    {% endblocktrans %}
                </div>
            {% endif %}
            {% if user_rephotos > 0 %}
                <div class="row-fluid">
                    {% blocktrans count counter=user_rephotographed_photos %}
                        You have made {{ user_rephotos }} rephoto for
                    {% plural %}
                        You have made {{ user_rephotos }} rephotos for
                    {% endblocktrans %}
                    {% blocktrans count counter=user_rephotographed_photos %}
                        {{ user_rephotographed_photos }} picture.
                    {% plural %}
                        {{ user_rephotographed_photos }} pictures.
                    {% endblocktrans %}
                </div>
            {% endif %}
        </div>
    </div>
</div>