{% load i18n %}

<div id="ajapaik-geotag-js-panel-content" style="display: none; border-collapse: collapse;">
    <span class="ajapaik-geotag-info-panel-no-photos">{% trans "Pictures from this area have not yet received enough geotags to be displayed on the map." %}</span>
    <br/>{% trans "Number of geotagged pictures from this area:" %} <span class="ajapaik-geotag-info-panel-geotagged-photo-amount"></span>
    <br/>{% trans "Photos available for geotagging:" %} <span class="ajapaik-geotag-info-panel-ungeotagged-photo-amount"></span>
    <br/><br/><button class="btn btn-success" id="ajapaik-header-game-button">{% trans "Geotagging game" %}</button>
</div>