{% load i18n %}

<div id="ajapaik-guess-panel-info-panel">
    <a class="fullscreen" id="ajapaik-mapview-full-screen-link" rel="" href="">
        <img id="ajapaik-guess-panel-photo" class="img-responsive"/>
    </a>
    <div class="row">
        <div class="col-xs-12">
            <p id="ajapaik-guess-panel-description"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12">
            <button class="btn btn-block btn-default ajapaik-game-show-description-button">{% trans "Show description" %}</button>
        </div>
        <div class="col-xs-12 col-lg-6 col-md-6 col-sm-12">
            <button id="ajapaik-game-flip-photo-button" class="btn btn-block btn-default">{% trans "Flip" %}</button>
        </div>
    </div>
    <div class="row" id="ajapaik-guess-panel-stats">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p>{% trans "Geotags" %}: <span id="ajapaik-game-map-geotag-count"></span></p>

                    <p>{% trans "With azimuth" %}: <span id="ajapaik-game-map-geotag-with-azimuth-count"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ajapaik-guess-feedback-panel">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{% trans "Thank you!" %}</div>
        </div>
        <div class="panel-body">
            <p id="ajapaik-game-guess-feedback-message"></p>
            <p id="ajapaik-game-guess-feedback-points-gained"></p>
            {% if is_mapview %}
                <p>{% trans "This location specification will be tagged differently than in the game. Still your action may not have an immediate effect on the location of the image. Your trustworthiness will also not be affected." %}</p>
            {% else %}
                <p id="ajapaik-game-guess-feedback-difficulty-prompt" style="margin: 0 0 5px;">
                    {% trans "In your opinion to geotag this photo is" %}
                </p>
                <form id="ajapaik-game-guess-feedback-difficulty-form">
                    <span style="margin-right: 10px;">
                        {% trans "easy" %}
                    </span>
                    <input type="radio" name="difficulty" value="1">
                    <input style="margin-left: 5px;" type="radio" name="difficulty" value="2">
                    <input style="margin-left: 5px;" type="radio" name="difficulty" value="3">
                    <span style="margin-left: 10px;">
                        {% trans "hard" %}
                    </span>
                </form>
            {% endif %}
            <div class="col-xs-12 col-sm-12 col-lg-offset-6 col-lg-6 col-md-12" style="margin-top: 5px;">
                <button class="btn btn-primary btn-block ajapaik-game-feedback-next-button">
                    {% if is_game %}{% trans "Next photo" %}{% elif is_mapview %}
                        {% trans "Back to map" %}{% endif %}</button>
            </div>
        </div>
    </div>
</div>
<div id="ajapaik-map-button-container">
    <button class="btn btn-block btn-default ajapaik-save-location-button"
            disabled="disabled">{% trans "Save location only" %}</button>
    <button class="btn btn-block btn-default ajapaik-close-streetview-button"
            style="display: none;">{% trans "Close Street View" %}</button>
    <button class="btn btn-block btn-primary ajapaik-game-next-photo-button">
        {% if is_game %}{% trans "Next photo" %}{% elif is_mapview %}
            {% trans "Cancel" %}{% endif %}</button>
</div>