{% load i18n %}

<nav id="ajapaik-header" class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a id="ajapaik-header-logo" class="navbar-brand" href="/">{% trans "Timepatch (Ajapaik)" %}</a>
    </div>
    <div class="filter-box">
        {{ filters.get_form.as_p }}
    </div>
    <div class="score_container">
        <h2>
            <a id="full_leaderboard" href="#">
                {% trans "Leaderboard" %}
            </a>
        </h2>
        <ul class="scoreboard"></ul>
        {% if request.user.is_authenticated and request.user.profile.fb_id or request.user.profile.google_plus_id %}
            {% with profile=request.user.profile user=request.user %}
                <div id="facebook-connected">
                    <p>
                        {% blocktrans with "<a href='/logout' id='logout-button'>" as link_open and "</a>" as link_close and user.get_full_name as account_name %}
                            Account ({{ account_name }}) connected. If it's not you then {{ link_open }}click
                            here{{ link_close }}.{% endblocktrans %}
                    </p>
                </div>
            {% endwith %}
        {% else %}
            <div id="facebook-connect">
                <p>{% trans "Facebook Connect to save your score and continue later." %}</p>
                <a href="/facebook/login" class="ir">{% trans "Connect with Facebook" %}</a>
            </div>
            {% comment %}<div id="google-plus-connect">
                <p>{% trans "Connect with Google plus to save your score and continue later." %}</p>
                <a id="google-plus-login-button" href="/google_login" class="ir">{% trans "Connect with Google+" %}</a>
            </div>{% endcomment %}
        {% endif %}
    </div>
</nav>