{% load i18n %}

<div class="modal fade" id="ajapaik-info-modal" tabindex="-1" role="dialog"
     aria-labelledby="ajapaik-info-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>{{ album.name }}</h4>
                {% if album.description %}
                    <h6>{{ album.description }}</h6>
                {% endif %}
                {% if album_curators %}
                    <h6>{% trans "Album curated by" %}
                        {% for curator in album_curators %}
                            <a target="_blank" href="{{ curator.fb_link }}">{{ curator.fb_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h6>
                {% else %}
                    <h6>{% trans "Album curated by" %} Ajapaik</h6>
                {% endif %}
            </div>
            <div class="modal-body" id="ajapaik-info-modal-body">
                <div class="row">
                    {% blocktrans count counter=total_photo_count %}
                        Album has {{ counter }} historic photo,
                    {% plural %}
                        Album has {{ counter }} historic photos,
                    {% endblocktrans %}
                    {% blocktrans count counter=geotagging_user_count %}
                        {{ counter }} user has put
                    {% plural %}
                        {{ counter }} users have put
                    {% endblocktrans %}
                    {% if total_photo_count == geotagged_photo_count %}
                        {% trans "all the pictures on the map." %}
                    {% else %}
                        {% blocktrans count counter=geotagged_photo_count %}
                            {{ counter }} picture on the map.
                        {% plural %}
                            {{ counter }} pictures on the map.
                        {% endblocktrans %}
                    {% endif %}
                </div>
                <div class="row">
                    {% if user_geotagged_photo_count == 0 %}
                        {% trans "You haven't made any location suggestions for pictures in this album." %}
                    {% else %}
                        {% trans "You have made a location suggestion for" %}
                        {% if user_geotagged_photo_count == total_photo_count %}
                            {% trans "all the pictures from this album." %}
                        {% else %}
                            {% blocktrans count counter=user_geotagged_photo_count %}
                                {{ counter }} picture in this album.
                            {% plural %}
                                {{ counter }} pictures in this album.
                            {% endblocktrans %}
                        {% endif %}
                    {% endif %}
                </div>
                {% if rephoto_user_count > 0 %}
                    {% if not user_made_all_rephotos %}
                        <div class="row">
                            {% blocktrans count counter=rephoto_user_count %}
                                {{ counter }} user has made
                            {% plural %}
                                {{ counter }} users have made
                            {% endblocktrans %}
                            {% blocktrans count counter=rephoto_count %}
                                {{ counter }} rephotograph
                            {% plural %}
                                {{ counter }} rephotographs
                            {% endblocktrans %}
                            {% blocktrans count counter=rephotographed_photo_count %}
                                for {{ counter }} picture in the album.
                            {% plural %}
                                for {{ counter }} picture in the album.
                            {% endblocktrans %}
                        </div>
                    {% endif %}
                {% endif %}
                {% if user_rephoto_count > 0 %}
                    <div class="row">
                        {% blocktrans count counter=user_rephoto_count %}
                            You have made {{ counter }} rephoto
                        {% plural %}
                            You have made {{ counter }} rephotos
                        {% endblocktrans %}
                        {% blocktrans count counter=user_rephotographed_photo_count %}
                            for {{ counter }} picture in the album.
                        {% plural %}
                            for {{ counter }} picures in the album.
                        {% endblocktrans %}
                    </div>
                {% endif %}
                <br>
                {% if nearby_albums %}
                    <div class="row">
                        {% trans "Some nearby albums" %}: {% for a in nearby_albums %}<a href="{% url 'project.home.views.game' %}?album={{ a.id }}">{{ a.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" id="ajapaik-sharing-dropdown-button" class="btn btn-primary dropdown-toggle ajapaik-photo-modal-share-button" data-toggle="dropdown" aria-expanded="false">
                            {% trans "Share" %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="ajapaik-sharing-dropdown-button">
                            <li role="presentation" class="disabled-link">
                                <a role="menuitem" tabindex="-1" id="ajapaik-grab-link">
                                    {% if is_mapview %}
                                        <input type="text" class="form-control" value="{{ share_map_link }}?album={{ album.id }}">
                                    {% else %}
                                        <input type="text" class="form-control" value="{{ share_game_link }}?album={{ album.id }}">
                                    {% endif %}
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1">
                                    {% if is_mapview %}
                                        <div class="fb-like" data-href="{{ share_map_link }}?album={{ album.id }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                                    {% else %}
                                        <div class="fb-like" data-href="{{ share_game_link }}?album={{ album.id }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        {% if is_mapview %}
                            <a class="btn btn-primary" data-dismiss="modal">{% trans "Back to map" %}</a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ share_map_link }}?album={{ album.id }}">{% trans "Show on map" %}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="btn-group btn-group-justified" id="ajapaik-info-modal-game-button" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        {% if is_mapview %}
                            <a class="btn btn-success" href="{{ share_game_link }}?album={{ album.id }}&fromButton=1">{% trans "Geotag pictures" %}</a>
                        {% else %}
                            <a class="btn btn-success" data-dismiss="modal">{% trans "Geotag pictures" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>