{% load thumbnail i18n %}

<div class="modal-dialog modal-lg modal-xxl" id="mapview-photo-modal-dialog">
    <div class="modal-content">
        <div class="modal-header ajapaik-no-bottom-border-modal-header" id="ajapaik-photo-modal-header">
            <button id="ajapaik-photo-modal-close-button" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="ajapaik-modal-body">
            <div class="row-fluid ajapaik-photo-modal-vertical-align">
                {% if not is_mapview %}
                    <div class="col-xs-1">
                        <div class="ajapaik-photo-modal-previous-button"></div>
                    </div>
                {% endif %}
                {% if is_mapview %}
                    {% if photo.rephotos.all|length == 0 %}
                        <div class="col-xs-12" id="ajapaik-photo-modal-original-photo-column">
                    {% elif photo.rephotos.all|length > 1 %}
                        <div class="col-xs-5" id="ajapaik-photo-modal-original-photo-column">
                    {% else %}
                        <div class="col-xs-6" id="ajapaik-photo-modal-original-photo-column">
                    {% endif %}
                {% else %}
                    {% if photo.rephotos.all|length == 0 %}
                        <div class="col-xs-10" id="ajapaik-photo-modal-original-photo-column">
                    {% elif photo.rephotos.all|length > 1 %}
                        <div class="col-xs-4" id="ajapaik-photo-modal-original-photo-column">
                    {% else %}
                        <div class="col-xs-5" id="ajapaik-photo-modal-original-photo-column">
                    {% endif %}
                {% endif %}
                    <div id="ajapaik-modal-photo-container">
                        <a class="fullscreen" id="ajapaik-full-screen-link" rel="" href="#">
                            <img src="{% url 'project.home.views.photo_url' photo.id %}"
                                 class="img-responsive col-xs-12 {% if photo.flip %}ajapaik-photo-flipped{% endif %}"
                                 id="ajapaik-modal-photo"/>
                        </a>
                        <button class="btn btn-default ajapaik-flip-photo-overlay-button {% if photo.flip %}active{% endif %}" {% if not request.mobile %}style="display: none;"{% endif %}></button>
                        {% if photo.rephotos.all.0 %}
                            <button class="btn btn-default ajapaik-overlay-button ajapaik-show-rephoto-selection-overlay-button {% if photo.rephotos.all|length < 10 %}ajapaik-show-rephoto-selection-overlay-button-{{ photo.rephotos.all | length }}{% else %}ajapaik-show-rephoto-selection-overlay-button-9-plus{% endif %}" id="ajapaik-show-rephoto-selection-overlay-button" {% if not request.mobile %}style="display: none;"{% endif %}></button>
                        {% endif %}
                    </div>
                </div>
                {% if photo.rephotos.all.0 %}
                    {% if is_mapview %}
                        {% if photo.rephotos.all|length > 1 %}
                            <div class="col-xs-5" id="ajapaik-photo-modal-rephoto-column">
                        {% else %}
                            <div class="col-xs-6" id="ajapaik-photo-modal-rephoto-column">
                        {% endif %}
                    {% else %}
                        {% if photo.rephotos.all|length > 1 %}
                            <div class="col-xs-4" id="ajapaik-photo-modal-rephoto-column">
                        {% else %}
                            <div class="col-xs-5" id="ajapaik-photo-modal-rephoto-column">
                        {% endif %}
                    {% endif %}
                    <div id="ajapaik-modal-rephoto-container">
                        <a class="fullscreen" id="ajapaik-rephoto-full-screen-link" rel="" href="#">
                            <img src="{% url 'project.home.views.photo_url' photo.rephotos.all.0.id %}" class="img-responsive col-xs-12" id="ajapaik-modal-rephoto"/>
                            <button class="btn btn-default ajapaik-overlay-button ajapaik-close-rephoto-overlay-button" id="ajapaik-close-rephoto-overlay-button" {% if not request.mobile %}style="display: none;"{% endif %}></button>
                            <button class="btn btn-default ajapaik-overlay-button ajapaik-invert-rephoto-overlay-button" id="ajapaik-invert-rephoto-overlay-button" {% if not request.mobile %}style="display: none;"{% endif %}></button>
                        </a>
                    </div>
                    </div>
                    {% if photo.rephotos.all|length > 1 %}
                        <div class="col-xs-2" id="ajapaik-rephoto-selection">
                            {% for rephoto in photo.rephotos.all %}
                                <div class="row ajapaik-photo-modal-rephoto-thumb" id="ajapaik-rephoto-thumb-{{ rephoto.id }}" data-id="{{ rephoto.id }}">
                                    <img class="img-responsive col-xs-12"
                                         src="{% url 'project.home.views.photo_thumb' rephoto.id 100 %}"
                                         data-id="{{ rephoto.id }}" />
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
                {% if not is_mapview %}
                    <div class="col-xs-1">
                        <div class="ajapaik-photo-modal-next-button"></div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <div class="row text-left">
                {% if photo.rephotos.all|length > 0 %}
                    <div class="col-xs-6" id="ajapaik-photo-modal-original-photo-info-column">
                {% elif photo.rephotos.all|length == 0 %}
                    <div class="col-xs-12" id="ajapaik-photo-modal-original-photo-info-column">
                {% endif %}
                    {% if photo.author %}
                        <div class="row-fluid" id="ajapaik-photo-modal-author"><b>{{ photo.author }}</b></div>
                    {% endif %}
                    {% if photo.description %}
                        <div class="row-fluid" id="ajapaik-photo-modal-description">{{ photo.description }}</div>
                    {% endif %}
                    {% if photo.source_url %}
                        <div class="row-fluid" id="ajapaik-photo-modal-source">
                            <a href='{{ photo.source_url }}'
                               target="_blank">
                                {{ photo.source.description }}{% if photo.source_key %} {{ photo.source_key }}{% endif %}{% if photo.licence %}{% include "_licence.html" with licence=photo.licence %}{% endif %}
                            </a>
                        </div>
                    {% elif photo.source.description %}
                        <div class="row-fluid" id="ajapaik-photo-modal-source">
                            {{ photo.source.description }}{% if photo.source_key %} {{ photo.source_key }}{% endif %}{% if photo.licence %}{% include "_licence.html" with licence=photo.licence %}{% endif %}
                        </div>
                    {% endif %}
                    {% if albums|length > 0 %}
                        <div class="row-fluid">
                            <span id="ajapaik-photo-modal-albums-icon" title="{% blocktrans count counter=albums|length %}Picture belongs to album{% plural %}Picture belongs to albums:{% endblocktrans %}"></span>
                            {% if is_mapview %}
                                {% for a in albums %}
                                    <a class="ajapaik-photo-modal-album-link" href="{% url 'project.home.views.mapview' %}?album={{ a.id }}">{{ a.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% elif is_frontpage %}
                                {% for a in albums %}
                                    <a class="ajapaik-photo-modal-album-link" href="{% url 'project.home.views.frontpage' %}?album={{ a.id }}">{{ a.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% if photo.rephotos.all|length > 0 %}
                    {% if photo.rephotos.all|length > 1 %}
                        <div class="col-xs-5" id="ajapaik-photo-modal-rephoto-info-column">
                    {% else %}
                        <div class="col-xs-6" id="ajapaik-photo-modal-rephoto-info-column">
                    {% endif %}
                    {% if photo.rephotos.all.0.source and photo.rephotos.all.0.source_key and photo.rephotos.all.0.source_url %}
                        {% if photo.rephotos.all.0.author %}
                            <div class="row-fluid"><b>{{ photo.rephotos.all.0.author }}</b>{% if photo.rephotos.all.0.licence %} {% include "_licence.html" with licence=photo.rephotos.all.0.licence %}{% endif %}</div>
                        {% endif %}
                        <div class="row-fluid">
                            <a id="ajapaik-photo-modal-source" href='{{ photo.rephotos.all.0.source_url }}'
                               target="_blank">
                                {{ photo.rephotos.all.0.source.desription }} {{ photo.rephotos.all.0.source_key }}
                            </a>
                        </div>
                    {% else %}
                        {% if photo.rephotos.all.0.author %}
                            <div class="row-fluid"><b>{{ photo.rephotos.all.0.author }}</b>{% if photo.rephotos.all.0.licence %} {% include "_licence.html" with licence=photo.rephotos.all.0.licence %}{% endif %}</div>
                        {% else %}
                            {% if photo.rephotos.all.0.user %}
                                <div class="row-fluid">
                                    <a target="_blank" href="{{ photo.rephotos.all.0.user.fb_link }}">
                                        {{ photo.rephotos.all.0.user.fb_name }}
                                    </a>
                                    {% if photo.rephotos.all.0.licence %} {% include "_licence.html" with licence=photo.rephotos.all.0.licence %}{% endif %}
                                </div>
                            {% else %}
                                <div class="row-fluid"><b>{% trans "Unknown author" %}</b></div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if photo.rephotos.all.0.date %}
                        <div class="row-fluid">
                            {{ photo.rephotos.all.0.date|date:"d.m.Y" }}
                        </div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xs-2">
                    {% if photo.lat and photo.lon and photo.azimuth %}
                        <a target="_blank" href="{% url "project.home.views.mapview" photo_id=photo.id %}" id="ajapaik-photo-modal-location-with-azimuth" title="{% trans "Image has location and view direction info" %}"></a>
                        {% if geotag_count > 0 %}
                            <span id="ajapaik-photo-modal-geotag-count" title="
                                {% if geotag_count == 1 %}
                                    {{ geotag_count }} {% trans "user has submitted a location for this picture" %}
                                {% else %}
                                    {{ geotag_count }} {% trans "users have submitted a location for this picture" %}
                                {% endif %}
                                ">{{ geotag_count }}
                            </span>
                        {% endif %}
                    {% elif photo.lat and photo.lon %}
                        <a target="_blank" href="{% url "project.home.views.mapview" photo_id=photo.id %}" id="ajapaik-photo-modal-location-without-azimuth" title="{% trans "Image has only location, no view direction" %}"></a>
                        {% if geotag_count > 0 %}
                            <span id="ajapaik-photo-modal-geotag-count" title="
                                {% if geotag_count == 1 %}
                                    {{ geotag_count }} {% trans "user has submitted a location for this picture" %}
                                {% else %}
                                    {{ geotag_count }} {% trans "users have submitted a location for this picture" %}
                                {% endif %}
                                ">{{ geotag_count }}
                            </span>
                        {% endif %}
                    {% else %}
                        <span id="ajapaik-photo-modal-no-location" title="{% trans "Image has no location info" %}"></span>
                    {% endif %}
                </div>
                <div class="col-xs-10">
                    <div class="row-fluid ajapaik-margin-top-5">
                        <span id="ajapaik-photo-modal-specify-location" data-id="{{ photo.id }}" title="{% trans "Pick the shooting location!" %}"></span>
                        <span id="ajapaik-photo-modal-add-rephoto" title="{% trans "Add rephoto" %}"></span>
                        <div class="dropdown" id="ajapaik-photo-modal-dropdown">
                            <span id="ajapaik-photo-modal-share" title="{% trans "Share" %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="ajapaik-sharing-dropdown-button">
                                <li role="presentation" class="disabled-link">
                                    <a role="menuitem" tabindex="-1" id="ajapaik-grab-link">
                                        <input type="text" class="form-control"
                                               value="{{ hostname }}{{ photo.get_absolute_url }}">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1">
                                        <div class="fb-like" data-href="{{ hostname }}{{ photo.get_absolute_url }}"
                                             data-layout="standard" data-action="like" data-show-faces="true"
                                             data-share="true"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span id="ajapaik-photo-modal-discuss" title="{% trans "Discuss" %}"><span data-href="{{ fb_url }}" class="badge fb-comments-count"></span></span>
                    </div>
                </div>
            </div>
            <div class="row">
                {% include "_photo_modal_comments.html" %}
            </div>
        </div>
    </div>
</div>
{% comment %}<div class="full-box">
    <div class="full-pic" id="ajapaik-fullscreen-image-container">
        <img id="ajapaik-full-screen-image" src="{{ fullscreen.url }}"/>
    </div>
</div>
<div class="full-box">
    <div class="full-pic" id="ajapaik-rephoto-fullscreen-image-container">
        <img id="ajapaik-rephoto-full-screen-image" src="{{ rephoto_fullscreen.url }}"/>
    </div>
</div>{% endcomment %}
<script>
    // This whole template is total ugliness
    var hostname = '{{ hostname }}',
        originalPhotoAbsoluteURL = '{{ photo.get_absolute_url }}';
    window.isFrontpage = '{{ is_frontpage|safe }}';
    if (window.isFrontpage === 'True') {
        window.isFrontpage = true;
    } else {
        window.isFrontpage = false;
    }
    window.isMapview = '{{ is_mapview|safe }}';
    if (window.isMapview === 'True') {
        window.isMapview = true;
    } else {
        window.isMapview = false;
    }
    window.photoModalCurrentImageUrl = '{% url 'project.home.views.photo_url' photo.id %}';
    {% if photo.flip %}
        window.photoModalCurrentPhotoFlipStatus = true;
    {% else %}
        window.photoModalCurrentPhotoFlipStatus = false;
    {% endif %}
    window.photoModalRephotoArray = [];
    window.photoModalCurrentlyOpenPhotoId = {{ photo.id }};
    {% for rephoto in photo.rephotos.all %}
        window.photoModalRephotoArray.push({
            id: {{ rephoto.id }},
            url: '{% url 'project.home.views.photo_url' rephoto.id %}',
            fb_url: '{{ hostname }}{{ rephoto.get_detail_url }}',
            fullscreen_url: '{% url 'project.home.views.photo_thumb' rephoto.id 1920 %}',
            fullscreen_width: '{{ rephoto.get_full_screen_image_size.0 }}',
            fullscreen_height: '{{ rephoto.get_full_screen_image_size.1 }}',
            {% if rephoto.date %}
                date: '{{ rephoto.date|date:"d.m.Y" }}',
            {% endif %}
            {% if rephoto.user %}
                FBUserName: '{{ rephoto.user.fb_name }}',
                FBUserLink: '{{ rephoto.user.fb_link }}',
            {% endif %}
            {% if rephoto.author %}
                author: '{{ rephoto.author }}',
            {% endif %}
            {% if rephoto.licence %}
                licence: true,
            {% endif %}
            {% if rephoto.source %}
                source: '{{ rephoto.source.description }}',
                sourceKey: '{{ rephoto.source_key }}',
                sourceURL: '{{ rephoto.source_url }}'
            {% endif %}
        });
    {% endfor %}
    $(document).ready(function () {
        var originalPhotoColumn = $('#ajapaik-photo-modal-original-photo-column'),
            rephotoColumn = $('#ajapaik-photo-modal-rephoto-column');
        $('.dropdown-toggle').dropdown();
        $('.disabled-link').click(function (event) {
            event.preventDefault();
            event.stopPropagation();
        });
        if (window.photoHistory && window.photoHistory.length > 0) {
            $('.ajapaik-photo-modal-previous-button').removeClass('disabled');
        }
        if (window.userClosedRephotoTools) {
            $('#ajapaik-rephoto-selection').hide();
            $('#ajapaik-photo-modal-rephoto-column').hide();
            if (window.isMapview) {
                $('#ajapaik-photo-modal-original-photo-info-column').removeClass('col-xs-5').removeClass('col-xs-6').addClass('col-xs-12');
                $('#ajapaik-photo-modal-original-photo-column').removeClass('col-xs-5').removeClass('col-xs-6').addClass('col-xs-12');
            } else {
                $('#ajapaik-photo-modal-original-photo-info-column').removeClass('col-xs-4').removeClass('col-xs-5').addClass('col-xs-10');
                $('#ajapaik-photo-modal-original-photo-column').removeClass('col-xs-4').removeClass('col-xs-5').addClass('col-xs-10');
            }
            $('#ajapaik-photo-modal-rephoto-info-column').hide();
        }
        if (window.photoModalRephotoArray && window.photoModalRephotoArray[0] && window.photoModalRephotoArray[0][2] !== 'None' && window.photoModalRephotoArray[0][2] !== '') {
            $('#ajapaik-photo-modal-date-row').show();
        }
        //TODO: Restore?
        {#History.replaceState(null, '{{ title }} - {% trans "Timepatch (Ajapaik)" %}', '{% if photo.rephotos.all.0 %}{{ photo.rephotos.all.0.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}');#}
        window.currentPhotoURL = '{% url 'project.home.views.photo_url' photo.id %}';
        {% if description %}
            window.currentPhotoDescription = '{{ description }}';
        {% else %}
            window.currentPhotoDescription = false;
        {% endif %}
        window.photoModalFullscreenImageUrl = '{{ fullscreen.url }}';
        window.photoModalFullscreenImageSize = {{ fullscreen.size }};
        window.photoModalRephotoFullscreenImageUrl = '{{ rephoto_fullscreen.url }}';
        {% if rephoto_fullscreen %}
            window.photoModalRephotoFullscreenImageSize = {{ rephoto_fullscreen.size }};
        {% else %}
            window.photoModalRephotoFullscreenImageSize = null;
        {% endif %}
        window._gaq.push(['_trackPageview', '{{ photo.get_absolute_url }}']);
        $(".ajapaik-flip-photo-overlay-button").click(function () {
            var target = $("#ajapaik-modal-photo"),
                fullScreenImage = $('#ajapaik-full-screen-image');
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            } else {
                $(this).addClass('active');
            }
            if (target.hasClass("ajapaik-photo-flipped")) {
                target.removeClass("ajapaik-photo-flipped");
            } else {
                target.addClass("ajapaik-photo-flipped");
            }
            if (fullScreenImage.hasClass("ajapaik-photo-flipped")) {
                fullScreenImage.removeClass("ajapaik-photo-flipped");
            } else {
                fullScreenImage.addClass("ajapaik-photo-flipped");
            }
            window.flipPhoto();
        });
        $('.ajapaik-photo-modal-previous-button').click(function () {
            if (!$(this).hasClass('ajapaik-photo-modal-previous-button-disabled')) {
                var previousId = $('#ajapaik-frontpage-image-container-' + photoModalCurrentlyOpenPhotoId).prev().data('id');
                if (previousId && !window.nextPhotoLoading) {
                    window.loadPhoto(previousId);
                }
                if (window.isFrontpage) {
                    window._gaq.push(['_trackEvent', 'Gallery', 'Photo modal previous']);
                } else if (window.isGame) {
                    window._gaq.push(['_trackEvent', 'Game', 'Photo modal previous']);
                }
            }
        });
        $('.ajapaik-photo-modal-next-button').click(function () {
            if (!$(this).hasClass('ajapaik-photo-modal-next-button-disabled')) {
                var nextId = $('#ajapaik-frontpage-image-container-' + photoModalCurrentlyOpenPhotoId).next().data('id');
                if (nextId && !window.nextPhotoLoading) {
                    window.loadPhoto(nextId);
                }
                if (window.isFrontpage) {
                    window._gaq.push(['_trackEvent', 'Gallery', 'Photo modal next']);
                } else if (window.isGame) {
                    window._gaq.push(['_trackEvent', 'Game', 'Photo modal next']);
                }
            }
        });
        $('.ajapaik-photo-modal-album-link').click(function () {
            if (window.isFrontpage) {
                window._gaq.push(['_trackEvent', 'Gallery', 'Album link click']);
            } else if (window.isMapview) {
                window._gaq.push(['_trackEvent', 'Map', 'Album link click']);
            }
        });
        $("#ajapaik-photo-modal-specify-location").click(function (e) {
            if (window.isFrontpage) {
                window._gaq.push(['_trackEvent', 'Gallery', 'Photo modal specify location click']);
            } else if (window.isMapview) {
                window._gaq.push(['_trackEvent', 'Map', 'Photo modal specify location click']);
            }
            window.startGuessLocation($(this).data('id'));
        });
        $('#ajapaik-photo-modal-close-button').click(function (e) {
            e.preventDefault();
            window.closePhotoDrawer();
        });
        // Chrome jumps up https://code.google.com/p/chromium/issues/detail?id=142427
        BigScreen.onexit = function() {
            if (window.lastScrollPosition) {
                setTimeout(function () {
                    $(window).scrollTop(window.lastScrollPosition);
                    window.lastScrollPosition = null;
                }, 500);
            }
        };
        $(document).on('click', '#ajapaik-show-rephoto-selection-overlay-button', function () {
            $(this).hide();
            window.userClosedRephotoTools = false;
            var rephotoColumn = $('#ajapaik-photo-modal-rephoto-column'),
                rephotoInfoColumn = $('#ajapaik-photo-modal-rephoto-info-column'),
                originalPhotoInfoColumn = $('#ajapaik-photo-modal-original-photo-info-column'),
                rephotoDiv = $('#ajapaik-modal-rephoto-container');
            if (window.photoModalRephotoArray.length > 1) {
                $('#ajapaik-rephoto-selection').show();
                if (window.isMapview) {
                    $('#ajapaik-photo-modal-original-photo-column').removeClass('col-xs-12').addClass('col-xs-5');
                    rephotoInfoColumn.removeClass('col-xs-12').removeClass('col-xs-6').addClass('col-xs-5');
                    originalPhotoInfoColumn.removeClass('col-xs-12').removeClass('col-xs-6').addClass('col-xs-5');
                } else {
                    $('#ajapaik-photo-modal-original-photo-column').removeClass('col-xs-10').addClass('col-xs-4');
                    rephotoInfoColumn.removeClass('col-xs-10').removeClass('col-xs-5').addClass('col-xs-4');
                    originalPhotoInfoColumn.removeClass('col-xs-10').removeClass('col-xs-5').addClass('col-xs-4');
                }
            } else {
                if (window.isMapview) {
                    $('#ajapaik-photo-modal-original-photo-column').removeClass('col-xs-12').addClass('col-xs-6');
                    rephotoColumn.removeClass('col-xs-5').addClass('col-xs-6');
                    rephotoInfoColumn.removeClass('col-xs-12').removeClass('col-xs-5').addClass('col-xs-6');
                    originalPhotoInfoColumn.removeClass('col-xs-12').removeClass('col-xs-5').addClass('col-xs-6');
                } else {
                    $('#ajapaik-photo-modal-original-photo-column').removeClass('col-xs-10').addClass('col-xs-5');
                    rephotoColumn.removeClass('col-xs-4').addClass('col-xs-5');
                    rephotoInfoColumn.removeClass('col-xs-10').removeClass('col-xs-4').addClass('col-xs-5');
                    originalPhotoInfoColumn.removeClass('col-xs-10').removeClass('col-xs-4').addClass('col-xs-5');
                }
            }
            rephotoInfoColumn.show();
            rephotoColumn.show();
            window.currentlySelectedRephotoId = window.photoModalRephotoArray[0]['id'];
            rephotoDiv.html(tmpl('ajapaik-photo-modal-rephoto-template', window.photoModalRephotoArray[0]));
            rephotoInfoColumn.html(tmpl('ajapaik-photo-modal-rephoto-info-template', window.photoModalRephotoArray[0]));
            if (window.isFrontpage) {

            } else {
               window.syncMapStateToURL();
            }
        });
        $(document).on('click', '.ajapaik-photo-modal-rephoto-thumb', function () {
            var targetId = $(this).data('id'),
                infoDiv = $('#ajapaik-photo-modal-rephoto-info-column'),
                photoDiv = $('#ajapaik-modal-rephoto-container'),
                fullscreenDiv = $('#ajapaik-rephoto-full-screen-image');
            if (!targetId) {
                targetId = window.currentlySelectedRephotoId;
            }
            infoDiv.show();
            for (var i = 0; i < window.photoModalRephotoArray.length; i += 1) {
                if (window.photoModalRephotoArray[i]['id'] == targetId) {
                    console.log(photoModalRephotoArray[i]);
                    fullscreenDiv.prop('src', window.photoModalRephotoArray[i]['fullscreen_url']);
                    window.prepareFullscreen(window.photoModalRephotoArray[i]['fullscreen_width'],
                            window.photoModalRephotoArray[i]['fullscreen_height'],
                            '#ajapaik-rephoto-full-screen-image');
                    photoDiv.html(tmpl('ajapaik-photo-modal-rephoto-template', window.photoModalRephotoArray[i]));
                    infoDiv.html(tmpl('ajapaik-photo-modal-rephoto-info-template', window.photoModalRephotoArray[i]));
                    window.currentlySelectedRephotoId = targetId;
                    var commentsDiv = $('#ajapaik-rephoto-comments');
                    commentsDiv.find('.fb-comments').attr('data-href', window.photoModalRephotoArray[i].fb_url);
                    window.FB.XFBML.parse(commentsDiv.get(0));
                    if (window.isFrontpage) {

                    } else {
                        window.syncMapStateToURL();
                    }
                    break;
                }
            }
        });
        $(document).on('click', '#ajapaik-photo-modal-source', function () {
            if (window.isFrontpage) {
                window._gaq.push(['_trackEvent', 'Gallery', 'Source link click']);
            }  else if (window.isMapview) {
                window._gaq.push(['_trackEvent', 'Map', 'Source link click']);
            }
        });
        $(document).on('click', '#ajapaik-photo-modal-rephoto-source', function () {
            if (window.isFrontpage) {
                window._gaq.push(['_trackEvent', 'Gallery', 'Rephoto source link click']);
            }  else if (window.isMapview) {
                window._gaq.push(['_trackEvent', 'Map', 'Rephoto source link click']);
            }
        });
        $(document).on('click', '#ajapaik-close-rephoto-overlay-button', function (e) {
            e.preventDefault();
            $('#ajapaik-photo-modal-rephoto-column').hide();
            $('#ajapaik-rephoto-selection').hide();
            $('#ajapaik-show-rephoto-selection-overlay-button').show();
            $('#ajapaik-grab-link').find('input').prop('value', hostname + originalPhotoAbsoluteURL);
            if (window.isMapview) {
                $('#ajapaik-photo-modal-original-photo-column').removeClass('col-xs-5').removeClass('col-xs-6').addClass('col-xs-12');
                $('#ajapaik-photo-modal-original-photo-info-column').removeClass('col-xs-5').removeClass('col-xs-6').addClass('col-xs-12');
            } else {
                $('#ajapaik-photo-modal-original-photo-column').removeClass('col-xs-4').removeClass('col-xs-5').addClass('col-xs-10');
                $('#ajapaik-photo-modal-original-photo-info-column').removeClass('col-xs-4').removeClass('col-xs-5').addClass('col-xs-10');
            }
            $('#ajapaik-photo-modal-rephoto-info-column').hide();
            window.currentlySelectedRephotoId = false;
            if (window.isFrontpage) {

            } else {
                window.syncMapStateToURL();
            }
            window.userClosedRephotoTools = true;
        });
        $(document).on('click', '#ajapaik-comment-tabs li', function () {
            window.FB.XFBML.parse($('#ajapaik-rephoto-comments').get(0));
            window.FB.XFBML.parse($('#ajapaik-original-photo-comments').get(0));
        });
        originalPhotoColumn.mouseenter(function () {
            if (!isMobile) {
                $('.ajapaik-flip-photo-overlay-button').show();
                if (window.userClosedRephotoTools) {
                    $('#ajapaik-show-rephoto-selection-overlay-button').show();
                }
            }
        });
        originalPhotoColumn.mouseleave(function () {
            if (!isMobile) {
                $('.ajapaik-flip-photo-overlay-button').hide();
                $('#ajapaik-show-rephoto-selection-overlay-button').hide();
            }
        });
        rephotoColumn.mouseenter(function () {
            if (!isMobile) {
                if (!window.userClosedRephotoTools) {
                    $('#ajapaik-close-rephoto-overlay-button').show();
                    $('#ajapaik-invert-rephoto-overlay-button').show();
                }
            }
        });
        rephotoColumn.mouseleave(function () {
            if (!isMobile) {
                if (!window.userClosedRephotoTools) {
                    $('#ajapaik-close-rephoto-overlay-button').hide();
                    $('#ajapaik-invert-rephoto-overlay-button').hide();
                }
            }
        });
        $.jQee('left', function () {
            var buttons = $('.ajapaik-photo-modal-previous-button');
            if (!window.nextPhotoLoading && buttons.length > 0) {
                if (!$(buttons[0]).hasClass('disabled')) {
                    buttons[0].click();
                }
            }
        });
        $.jQee('right', function () {
            var buttons = $('.ajapaik-photo-modal-next-button');
            if (!window.nextPhotoLoading && buttons.length > 0) {
                if (!$(buttons[0]).hasClass('disabled')) {
                    buttons[0].click();
                }
            }
        });
        $('#ajapaik-rephoto-thumb-' + window.currentlySelectedRephotoId).click();
    });
</script>
{% verbatim %}
    <script id="ajapaik-photo-modal-rephoto-template" type="text/x-tmpl">
        <a class="fullscreen" id="ajapaik-rephoto-full-screen-link" rel="" href="#">
            <img src="{%=o.url%}" id="ajapaik-modal-rephoto" class="img-responsive col-xs-12">
        </a>
        <button class="btn btn-default ajapaik-overlay-button ajapaik-close-rephoto-overlay-button"
            id="ajapaik-close-rephoto-overlay-button" {% if (!isMobile) { %}
            style="display: none;"{% } %}></button>
        <button class="btn btn-default ajapaik-overlay-button ajapaik-invert-rephoto-overlay-button"
            id="ajapaik-invert-rephoto-overlay-button" {% if (!isMobile) { %}
            style="display: none;"{% } %}></button>
    </script>
    <script id="ajapaik-photo-modal-rephoto-info-template" type="text/x-tmpl">
        {% if (o.source && o.sourceKey && o.sourceURL) { %}
            {% if (o.author) { %}
                <div class="row-fluid"><b>{%=o.author%}</b>{% if (o.licence) { %}{% endverbatim %}{% include "_licence.html" %}{% verbatim %}{% } %}</div>
            {% } %}
            <div class="row-fluid">
                <a id="ajapaik-photo-modal-rephoto-source" href='{%=o.sourceURL%}'
                   target="_blank">
                    {%=o.source%} {%=o.sourceKey%}
                </a>
            </div>
        {% } else { %}
            {% if (o.author) { %}
                <div class="row-fluid"><b>{%=o.author%}</b>{% endverbatim %}{% include "_licence.html" %}{% verbatim %}</div>
            {% } else { %}
                {% if (o.FBUserName) { %}
                    <div class="row-fluid">
                        <a target="_blank" href="{%=o.FBUserLink%}">
                            {%=o.FBUserName%}
                        </a>
                        {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                    </div>
                {% } else { %}
                    <div class="row-fluid"><b>{%=gettext('Unknown author')%}</b></div>
                {% } %}
            {% } %}
        {% } %}
        {% if (o.date) { %}
            <div class="row-fluid">{%=o.date%}</div>
        {% } %}
    </script>
{% endverbatim %}