{% verbatim %}
    <script id="ajapaik-photo-modal-rephoto-template" type="text/x-tmpl">
        <a class="fullscreen" id="ajapaik-rephoto-full-screen-link" rel="" href="#">
            <img src="{%=o.url%}" id="ajapaik-modal-rephoto" class="img-responsive col-xs-12">
        </a>
        <button class="btn btn-default ajapaik-overlay-button ajapaik-close-rephoto-overlay-button"
            id="ajapaik-close-rephoto-overlay-button" {% if (!isMobile) { %}
            style="display: none;"{% } %}></button>
        <button class="btn btn-default ajapaik-overlay-button ajapaik-invert-rephoto-overlay-button"
            id="ajapaik-invert-rephoto-overlay-button" {% if (!isMobile) { %}
            style="display: none;"{% } %}></button>
    </script>
{% endverbatim %}