{% load i18n %}

<div class="col-xs-12 col-sm-12 col-lg-6 col-md-6 hidden" id="ajapaik-comments-section">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist" id="ajapaik-comment-tabs">
            <li role="presentation" {% if not photo.rephotos.all.0 %}class="active"{% endif %}>
                <a href="#ajapaik-original-photo-comments" aria-controls="ajapaik-original-photo-comments" role="tab" data-toggle="tab">{% trans "Original photo" %}</a>
            </li>
            {% if photo.rephotos.all.0 %}
                <li role="presentation" class="active">
                    <a href="#ajapaik-rephoto-comments" aria-controls="ajapaik-rephoto-comments" role="tab" data-toggle="tab">{% trans "Rephoto" %}</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {% if not photo.rephotos.all.0 %}active{% endif %}" id="ajapaik-original-photo-comments">
                <div class="fb-comments" data-href="{{ hostname }}{{ photo.get_detail_url }}" data-width="100%" data-colorscheme="light"></div>
            </div>
            {% if photo.rephotos.all.0 %}
                <div role="tabpanel" class="tab-pane active" id="ajapaik-rephoto-comments">
                    <div class="fb-comments" data-href="{{ hostname }}{{ photo.rephotos.all.0.get_detail_url }}" data-width="100%" data-colorscheme="light"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>