{% load thumbnail i18n %}

<link rel="stylesheet" href="{{ STATIC_URL }}libs/jquery-ui-1.11.1.custom/jquery-ui.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}libs/jQuery-File-Upload-9.8.0/css/jquery.fileupload.css">

<div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog"
     aria-labelledby="ajapaik-photo-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="ajapaik-modal-body">
                <div id="ajapaik-modal-photo-container">
                    <a class="fullscreen" id="ajapaik-full-screen-link" rel="" href="">
                        <img src="{% url 'project.home.views.photo_url' photo.id %}" class="img-responsive {% if photo.flip %}ajapaik-photo-flipped{% endif %}" id="ajapaik-modal-photo"/>
                    </a>
                    <button class="btn btn-default ajapaik-flip-photo-overlay-button"></button>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

{##}
{##}
{##}
{##}
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-xs-3"></div>#}
{#        <div class="col-xs-9" id="ajapaik-photo-drawer-photo-column">#}
{#            <div class="row" id="ajapaik-photo-drawer-photo-container">#}
{#                <img id="ajapaik-block-photoview-main-photo"#}
{#                     class=""#}
{#                     src=""/>#}
{#                <button class="btn btn-default ajapaik-photoview-flip-photo-button"></button>#}
{#                <button class="btn btn-default ajapaik-photoview-open-heatmap-button" data-id="{{ photo.id }}"></button>#}
{#            </div>#}
{#            {% if photo.description %}#}
{#                <div class="row">#}
{#                    <p>{{ photo.description }}</p>#}
{#                </div>#}
{#            {% endif %}#}
{#            {% if photo.source_url %}#}
{#                <div class="row">#}
{#                    <a onclick="_gaq.push(['_trackEvent', 'Map', 'Source link click']);" href='{{ photo.source_url }}' target="_blank">#}
{#                        {{ photo.source.description }}{% if photo.source_key %} {{ photo.source_key }}{% endif %}#}
{#                    </a>#}
{#                </div>#}
{#            {% elif photo.source.description %}#}
{#                <div class="row" id="ajapaik-photo-drawer-description">#}
{#                    {{ photo.source.description }}{% if photo.source_key %} {{ photo.source_key }}{% endif %}#}
{#                </div>#}
{#            {% endif %}#}
{#            <div class="row" id="ajapaik-photo-drawer-buttons">#}
{#                <button id="ajapaik-photoview-close-photo-drawer" type="button" class="btn btn-primary">{% trans "Close photo" %}</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<script>#}
{#    $(document).ready(function () {#}
{#        {% if photo.lat and photo.lon %}#}
{#            if (window.map) {#}
{#                window.map.panTo(new google.maps.LatLng({{ photo.lat }}, {{ photo.lon }}));#}
{#            }#}
{#        {% endif %}#}
{#        if (window.currentlySelectedMarkerId) {#}
{#            window.highlightSelected(window.currentlySelectedMarkerId, false);#}
{#        }#}
{#        //TODO: Restore#}
{#        //History.replaceState(null, '{{ title }} - {% trans "Timepatch (Ajapaik)" %}', '{% if photo.rephotos.all.0 %}{{ photo.rephotos.all.0.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}');#}
{#        $('.filter-box').hide();#}
{#        _gaq.push(['_trackPageview', '{% if photo.rephotos.all.0 %}{{ photo.rephotos.all.0.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}']);#}
{#        $(".ajapaik-photoview-flip-photo-button").click(function () {#}
{#            var target = $("#ajapaik-block-photoview-main-photo");#}
{#            if (target.hasClass("ajapaik-photo-flipped")) {#}
{#                target.removeClass("ajapaik-photo-flipped");#}
{#            } else {#}
{#                target.addClass("ajapaik-photo-flipped");#}
{#            }#}
{#        });#}
{#        $(".ajapaik-photoview-open-heatmap-button").click(function (e) {#}
{#            window.showHeatmap(e.target.dataset.id);#}
{#        });#}
{#        $(".ajapaik-grid-specify-location-button").click(function () {#}
{#            window.startGuessLocation();#}
{#        });#}
{#        $('#ajapaik-photoview-close-photo-drawer').click(function (e) {#}
{#            e.preventDefault();#}
{#            window.closePhotoDrawer();#}
{#        });#}
{#    });#}
{#</script>#}