{% load thumbnail i18n %}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div>
                {% if request.user.is_authenticated and request.user.profile.fb_id %}
                    {% with profile=request.user.profile user=request.user %}
                        <p>{% trans "User" %} <b>{{ user.get_full_name }}</b>. <a href='/logout' id='logout-button'>{% trans "Log out" %}</a>.</p>
                        <div id="files" class="files"></div>
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{% trans "Select file..." %}</span>
                            <input id="ajapaik-fileupload" type="file" name="user_file">
                        </span>
                        <p></p>
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <br>
                    {% endwith %}
                {% else %}
                    <div id="facebook-connect">
                        <p>{% trans "Rephoto uploading requires connecting your account with Facebook." %}</p>
                        <a href="/facebook/login" class="ir">{% trans "Connect with Facebook" %}</a>
                    </div>
                {% endif %}
                <p>
                    {% trans "Make a contemporary rephoto from the very same place where the historic picture was taken and upload it. Uploaded rephotograph will be attributed to you under the" %}
                    {% include '_creative_commons.html' %}{% trans "licence" %}.
                </p>
                <a href="javascript:void(0);" onclick="uploadCompleted();">{% trans "Close" %}</a>
            </div>
        </div>
    </div>
</div>
<script>
    /*jslint unparam: true, regexp: true */
    /*global window, $ */
    $(function () {
        'use strict';
        var url = '{% url 'project.home.views.photo_upload' photo.pk %}',
            uploadButton = $('<button/>').addClass('btn btn-primary ajapaik-upload-photo-button').prop('disabled', true).text(window.gettext('Processing...')).on('click', function () {
                var $this = $(this),
                    data = $this.data();
                $this.off('click').text(window.gettext('Abort')).on('click', function () {
                    $this.remove();
                    data.abort();
                });
                data.submit().always(function () {
                    $this.remove();
                });
            }),
            datetimePicker = $('<p/>').addClass('ajapaik-fileupload-datepicker-container').html(window.gettext('Taken') + ': ' + '<input type="text" class="ajapaik-fileupload-datepicker" data-date-format="DD.MM.YYYY HH:mm">');
        $('#ajapaik-fileupload').fileupload({
            url: url,
            dataType: 'json',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 15000000,
            disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
            previewMaxWidth: 200,
            previewMaxHeight: 100
        }).on('fileuploadadd', function (e, data) {
            data.context = $('#files');
            $('.ajapaik-fileupload-datepicker-container').show();
            $('.fileinput-button').find('span').html(window.gettext('Select new file...'));
            window.loadImage.parseMetaData(data.files[0], function (metadata) {
                if (metadata.exif) {
                    var exif = metadata.exif.getAll();
                    if (exif.DateTimeOriginal) {
                        var dateParts = exif.DateTimeOriginal.split(' ')[0].split(':'),
                            timeParts = exif.DateTimeOriginal.split(' ')[1].split(':'),
                            dateTaken = new Date(dateParts[0] + '-' + dateParts[1] + '-' + dateParts[2] + ' ' + timeParts[0] + ':' + timeParts[1]);
                        $('.ajapaik-fileupload-datepicker').data("DateTimePicker").setDate(dateTaken);
                    }
                }
            });
            var node = $('<p/>').append($('<span/>').text(data.files[0].name));
            if (!index) {
                node.append('<br>').append(datetimePicker.clone(true).datetimepicker());
                node.append(uploadButton.clone(true).data(data));
            }
            data.context.html(node);
        }).on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
                file = data.file,
                node = $(data.context.children()[index]);
            if (file.preview) {
                node.prepend('<br>').prepend(file.preview);
            }
            if (file.error) {
                node.append('<br>').append($('<span class="text-danger"/>').text(file.error));
            }
            if (index + 1 === data.files.length) {
                data.context.find('button').text(window.gettext('Upload')).prop('disabled', !!data.files.error);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css('width', progress + '%');
        }).on('fileuploaddone', function (e, data) {
            window.uploadCompleted(data.result);
        }).on('fileuploadfail', function (e, data) {
            $.each(data.files, function (index) {
                var error = $('<span class="text-danger"/>').text(window.gettext('File upload failed.'));
                $(data.context.children()[index]).append('<br>').append(error);
            });
        }).on('fileuploadsubmit', function (e, data) {
            data.formData = {
                csrfmiddlewaretoken: window.docCookies.getItem('csrftoken'),
                dateTaken: $('.ajapaik-fileupload-datepicker').val()
            };
        }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>