{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    {% include "_full_leaderboard_modal.html" %}
    <div class="container" id="ajapaik-curator-container">
        <div class="col-xs-12">
            {% if request.user.is_authenticated and request.user.profile.fb_id or request.user.profile.google_plus_id %}
                {% include "_album_creation_modal.html" %}
                <div class="modal fade" id="ajapaik-curator-feedback-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{% trans "Thank you!" %}</h4>
                            </div>
                            <div class="modal-body">
                                <p>{% trans "Your photos have now been added to Ajapaik and can be interacted with as usual." %}</p>
                                <p>{% trans "Points awarded for curating" %}: <span id="ajapaik-curator-points-awarded"></span></p>
                                <p>{% trans "You can start geotagging the new content here" %}: <a target="_blank" id="ajapaik-curator-album-play-link"></a></p>
                                <p>{% trans "Tell your friends on Facebook" %}:</p>
                                <p id="ajapaik-curator-share-button-container"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    {% trans "Close" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="ajapaik-curator-search-results"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="ajapaik-curator-selection"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="ajapaik-curator-my-albums"></div>
                </div>
                <div class="modal fade" id="ajapaik-curator-edit-my-album-modal">
                    <div class="modal-dialog">
                        <div class="modal-content ajapaik-margin-top-100">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{% trans "Edit your album" %}</h4>
                            </div>
                            <div class="modal-body">
                                 <div class="row">
                                    <div class="col-xs-12" id="ajapaik-curator-edit-album-error" style="display: none;">
                                        <div class="alert alert-danger" role="alert">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            <span id="ajapaik-curator-edit-album-error-message">{% trans "Error" %}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label for="ajapaik-curator-change-album-name">{% trans "Name" %}</label>
                                            </span>
                                            <input class="form-control" type="text" id="ajapaik-curator-change-album-name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label for="ajapaik-curator-change-album-description">{% trans "Description" %}</label>
                                            </span>
                                            <textarea class="form-control" id="ajapaik-curator-change-album-description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" id="ajapaik-curator-change-album-open">
                                            </span>
                                            <label class="form-control" for="ajapaik-curator-change-album-open">{% trans "Open album (anyone can add photos)" %}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" id="ajapaik-curator-change-album-public">
                                            </span>
                                            <label class="form-control" for="ajapaik-curator-change-album-public">{% trans "Visible (shown in selection)" %}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <label for="ajapaik-curator-edit-form-change-album-parent">{% trans "Parent album" %}</label>
                                            </span>
                                            <select id="ajapaik-curator-edit-form-change-album-parent" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="ajapaik-curator-change-album-id">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    {% trans "Close" %}
                                </button>
                                <button type="button" class="btn btn-success" id="ajapaik-curator-confirm-album-edit-button">
                                    {% trans "Save" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div id="facebook-connect" style="margin-top: 75px; margin-bottom: 25px;">
                    <p>{% trans "Curating requires connecting your account with Facebook or Google." %}</p>
                    <a href="/facebook/login" class="ir">{% trans "Connect with Facebook" %}</a>
                </div>
                <div id="google-plus-connect">
                    <a href="/google_login" class="ir">{% trans "Connect with Google" %}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock layout %}
{% block specific_js %}
<script>
    $(function () {
        'use strict';
        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                if ($(e.target).attr('href') === '#ajapaik-curator-selection-tab') {
                    buildSelectionDiv();
                    $('#ajapaik-curator-my-albums').hide();
                    $('#ajapaik-curator-search-results').hide();
                    $('#ajapaik-curator-selection').show();
                } else if ($(e.target).attr('href') === '#ajapaik-curator-results-tab') {
                    $('#ajapaik-curator-my-albums').hide();
                    $('#ajapaik-curator-search-results').show();
                    $('#ajapaik-curator-selection').hide();
                } else if ($(e.target).attr('href') === '#ajapaik-curator-my-albums-tab') {
                    $('#ajapaik-curator-my-albums').show();
                    $('#ajapaik-curator-search-results').hide();
                    $('#ajapaik-curator-selection').hide();
                }
            });
            var input = document.getElementById('ajapaik-curator-add-area-name');
            if (input) {
                var options = {};
                var autocomplete = new window.google.maps.places.Autocomplete(input, options);
                window.google.maps.event.addListener(autocomplete, 'place_changed', function() {
                    var place = autocomplete.getPlace();
                    $('#ajapaik-curator-add-area-name-hidden').val(place.name);
                    areaLat = place.geometry.location.lat();
                    areaLng = place.geometry.location.lng();
                    window._gaq.push(['_trackEvent', 'Curator', 'Autocomplete place changed']);
                });
            }
            loadMyAlbums();
            $('.ajapaik-navbar').autoHidingNavbar();
        });
        var gameUrl = '{% url "project.home.views.game" %}',
            resultCount = 0,
            url = '/curator_search/',
            start = 200,
            resultIds = [],
            fullResultSet = {},
            selectionDiv = $('#ajapaik-curator-selection'),
            resultDiv = $('#ajapaik-curator-search-results'),
            areaLat,
            areaLng;
        window.selectedResults = {};
        window.singleSelection = false;
        $('#ajapaik-curator-full-search').on('keypress', function (e) {
            if (e.keyCode == 13) {
                $('#ajapaik-curator-search-button').click();
            }
        });
        var createResultElement = function (item) {
            if (item.cachedThumbnailUrl !== '14e5c228503ec8e7e004a13d48919768') {
                fullResultSet[item.id] = item;
                resultDiv.append(tmpl('ajapaik-curator-result-template', item));
            } else {
                var element = $('#ajapaik-curator-result-count'),
                    currentValue = parseInt(element.html(), 10);
                element.html(currentValue - 1);
            }
        };
        var buildSelectionDiv = function () {
            selectionDiv.empty();
            for (var key in window.selectedResults) {
                if (window.selectedResults.hasOwnProperty(key)) {
                    var currentItem = window.selectedResults[key];
                    selectionDiv.append(tmpl('ajapaik-curator-selection-template', currentItem));
                }
            }
        };
        var loadMyAlbums = function () {
            $.ajax({
                type : 'POST',
                url : '/curator_album_list/',
                data: {
                    csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                },
                success : function(response) {
                    var targetDiv = $('#ajapaik-curator-my-albums'),
                        responseLength = response.length;
                    targetDiv.empty();
                    $('#ajapaik-curator-my-albums-size').html(responseLength);
                    for (var i = 0; i < responseLength; i += 1) {
                        response[i].gameLink = gameUrl + '?album=' + response[i].id;
                        targetDiv.append(tmpl('ajapaik-curator-my-album-template', response[i]));
                    }
                    window._gaq.push(['_trackEvent', 'Curator', 'My albums success']);
                },
                error: function () {
                    window._gaq.push(['_trackEvent', 'Curator', 'My albums error']);
                }
            });
        };
        $(document).on('click', '.ajapaik-curator-load-more', function () {
            $('#ajapaik-loading-overlay').show();
            var slice = resultIds.slice(start, start + 200),
                filterValue = $('#ajapaik-curator-search-filter-existing').prop('checked');
            start += 200;
            $.ajax({
                type : 'POST',
                url : url,
                data: {
                    //testing: true,
                    ids: slice,
                    filterExisting: filterValue,
                    csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                },
                success : function(msg) {
                    if (resultCount > start) {
                        $('.ajapaik-curator-load-more').show();
                        $('#ajapaik-curator-load-more-row').show();
                    } else {
                        $('.ajapaik-curator-load-more').hide();
                        $('#ajapaik-curator-load-more-row').hide();
                    }
                    for (var i = 0, l = msg.result.length; i < l; i += 1) {
                        var item = msg.result[i];
                        createResultElement(item);
                    }
                    $('#ajapaik-loading-overlay').hide();
                    window._gaq.push(['_trackEvent', 'Curator', 'More results success']);
                },
                error: function () {
                    $('#ajapaik-loading-overlay').hide();
                    window._gaq.push(['_trackEvent', 'Curator', 'More results error']);
                }
            });
        });
        $(document).on('click', '#ajapaik-curator-search-button', function () {
            $('#ajapaik-loading-overlay').show();
            $('.ajapaik-curator-feedback-alert').hide();
            $('#ajapaik-curator-search-results').empty();
            var filterValue = $('#ajapaik-curator-search-filter-existing').prop('checked');
            $.ajax({
                type : 'POST',
                url : url,
                data: {
                    //testing: true,
                    fullSearch: $('#ajapaik-curator-full-search').val(),
                    filterExisting: filterValue,
                    csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                },
                success : function(msg) {
                    $('#ajapaik-loading-overlay').hide();
                    resultIds = msg.result.ids;
                    resultCount = resultIds.length;
                    $('#ajapaik-curator-result-count').html(resultCount);
                    if (resultCount > 200) {
                        $('.ajapaik-curator-load-more').show();
                        $('#ajapaik-curator-load-more-row').show();
                    } else {
                        $('.ajapaik-curator-load-more').hide();
                        $('#ajapaik-curator-load-more-row').hide();
                    }
                    for (var i = 0, l = msg.result.firstRecordViews.length; i < l; i += 1) {
                        var item = msg.result.firstRecordViews[i];
                        createResultElement(item);
                    }
                    window._gaq.push(['_trackEvent', 'Curator', 'Search success']);
                },
                error: function () {
                    $('#ajapaik-loading-overlay').hide();
                    window._gaq.push(['_trackEvent', 'Curator', 'Search error']);
                }
            });
        });
        $(document).on('click', '.ajapaik-result-item', function (e) {
            var $this = $(this),
                target = fullResultSet[$this.data('id')];
            if (window.selectedResults[$this.data('id')]) {
                delete window.selectedResults[$this.data('id')];
                $this.removeClass('ajapaik-curator-selected-image');
                $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length);
            } else {
                window.selectedResults[$this.data('id')] = target;
                $this.addClass('ajapaik-curator-selected-image');
                $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length);
            }
        });
        $(document).on('click', '#ajapaik-curator-clear-selection', function () {
            window.selectedResults = {};
            buildSelectionDiv();
            $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length);
            $('.ajapaik-result-item').removeClass('ajapaik-curator-selected-image');
            window._gaq.push(['_trackEvent', 'Curator', 'Clear selection']);
        });
        var escapeRegExp = function(string) {
            return string.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
        };
        var replaceAll = function(string, find, replace) {
            return string.replace(new RegExp(escapeRegExp(find), 'g'), replace);
        };
        window.photoPermalink = '{% url "project.home.views.photo" %}';
        window.formatId = function (id) {
            id = replaceAll(id, ':', '');
            id = replaceAll(id, '.', '');
            return id;
        };
        window.imageLoaded = function (id) {
            var targetContainer = $('#ajapaik-curator-selection-item-' + window.formatId(id)),
                targetImage = targetContainer.find('img')[0];
            if (targetImage) {
                targetContainer.find('.ajapaik-curator-selection-image-size').html(targetImage.naturalWidth + 'x' + targetImage.naturalHeight);
            }
        };
        var toggleButtonActive = function ($this) {
            if ($this.hasClass('active')) {
                $this.removeClass('active');
            } else {
                $this.addClass('active');
            }
        };
        $(document).on('click', '.ajapaik-curator-invert-colors-button', function() {
            var $this = $(this),
                targetSelector = '#ajapaik-curator-selection-item-' + window.formatId($this[0].dataset.id),
                target = $($(targetSelector).find('img')[0]);
            toggleButtonActive($this);
            if (target.hasClass('ajapaik-photo-inverted')) {
                target.removeClass('ajapaik-photo-inverted');
                window.selectedResults[$this[0].dataset.id].invert = false;
            } else {
                target.addClass('ajapaik-photo-inverted');
                window.selectedResults[$this[0].dataset.id].invert = true;
            }
            window._gaq.push(['_trackEvent', 'Curator', 'Invert colors']);
        });
        $(document).on('click', '.ajapaik-curator-flip-button', function() {
            var $this = $(this),
                targetSelector = '#ajapaik-curator-selection-item-' + window.formatId($this[0].dataset.id),
                target = $($(targetSelector).find('img')[0]);
            toggleButtonActive($this);
            if (target.hasClass('ajapaik-photo-flipped')) {
                target.removeClass('ajapaik-photo-flipped');
                window.selectedResults[$this[0].dataset.id].flip = false;
            } else {
                target.addClass('ajapaik-photo-flipped');
                window.selectedResults[$this[0].dataset.id].flip = true;
            }
            window._gaq.push(['_trackEvent', 'Curator', 'Flip']);
        });
        $(document).on('click', '.ajapaik-curator-stereo-button', function() {
            var $this = $(this);
            window.selectedResults[$this[0].dataset.id].stereo = !$this.hasClass('active');
            toggleButtonActive($this);
            window._gaq.push(['_trackEvent', 'Curator', 'Stereo']);
        });
        $(document).on('click', '.ajapaik-curator-delete-button', function() {
            var targetId = $(this)[0].dataset.id,
                targetResultItem = $('#ajapaik-result-item-' + window.formatId(targetId)),
                targetSelectionItem = $('#ajapaik-curator-selection-item-' + window.formatId(targetId));
            if (window.selectedResults[targetId]) {
                delete window.selectedResults[targetId];
                targetSelectionItem.remove();
                targetResultItem.removeClass('ajapaik-curator-selected-image');
                $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length)
            } else {
                window.selectedResults[$(this)[0].dataset.id] = target;
                targetResultItem.addClass('ajapaik-curator-selected-image');
                $('#ajapaik-curator-selection-size').html(Object.keys(window.selectedResults).length)
            }
            window._gaq.push(['_trackEvent', 'Curator', 'Delete']);
        });
        $(document).on('click', '#ajapaik-curator-gallery-switch', function () {
            $('.ajapaik-curator-selection-controls').hide();
            $('.ajapaik-curator-selection-item').removeClass('row').addClass('thumbnail').addClass('col-xs-2');
            $('.ajapaik-curator-selection-image').removeClass('col-xs-6').addClass('ajapaik-curator-selection-image-min-max');
            window._gaq.push(['_trackEvent', 'Curator', 'Gallery mode']);
        });
        $(document).on('click', '#ajapaik-curator-list-switch', function () {
            $('.ajapaik-curator-selection-controls').show();
            $('.ajapaik-curator-selection-item').addClass('row').removeClass('thumbnail').removeClass('col-xs-2');
            $('.ajapaik-curator-selection-image').addClass('col-xs-6').removeClass('ajapaik-curator-selection-image-min-max');
            window._gaq.push(['_trackEvent', 'Curator', 'List mode']);
        });
        $(document).on('click', '#ajapaik-curator-submit-selection', function () {
            $('#ajapaik-curator-upload-error').hide();
            $('#ajapaik-curator-add-area-name').val(null);
            $('#ajapaik-curator-add-area-name-hidden').val(null);
            areaLat = null;
            areaLng = null;
            $('#ajapaik-choose-albums-modal').modal('show');
            window.loadPossibleParentAlbums();
            window.loadSelectableAlbums();
            window._gaq.push(['_trackEvent', 'Curator', 'Submit selection']);
        });
        $(document).on('click', '#ajapaik-curator-submit-single', function () {
            window._gaq.push(['_trackEvent', 'Curator', 'Submit single']);
            var id = $(this).data('id');
            window.singleSelection = {};
            window.singleSelection[id] = fullResultSet[id];
            $('#ajapaik-curator-submit-selection').click();
        });
        $(document).on('click', '#ajapaik-curator-select-all', function () {
            $('img.ajapaik-result-item:not(.ajapaik-curator-selected-image)').click();
            window._gaq.push(['_trackEvent', 'Curator', 'Select all']);
        });
        $(document).on('click', '.ajapaik-curator-edit-album-button', function () {
            var targetId = $(this)[0].dataset.id;
            $.ajax({
                type : 'POST',
                url : '/curator_album_info/',
                data: {
                    albumId: targetId,
                    csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                },
                success : function(response) {
                    window.loadPossibleParentAlbums(response.subalbum_of, targetId, '#ajapaik-curator-edit-form-change-album-parent');
                    $('#ajapaik-curator-change-album-name').val(response.name);
                    $('#ajapaik-curator-change-album-description').val(response.description);
                    $('#ajapaik-curator-change-album-id').val(response.id);
                    $('#ajapaik-curator-change-album-open').prop('checked', response.open);
                    $('#ajapaik-curator-change-album-public').prop('checked', response.is_public);
                    $('#ajapaik-curator-edit-my-album-modal').modal('show');
                    window._gaq.push(['_trackEvent', 'Curator', 'Load edit form success']);
                },
                error: function () {
                    window._gaq.push(['_trackEvent', 'Curator', 'Load edit form error']);
                }
            });
        });
        // TODO: This is basically REST API functionality, no need for custom Django stuff, come to think of it,
        // there's a lot of manual JSON serialization etc. going on everywhere in this codebase...
        $(document).on('click', '#ajapaik-curator-confirm-album-edit-button', function () {
            var targetId = $('#ajapaik-curator-change-album-id').val(),
                parentAlbumId = $('#ajapaik-curator-edit-form-change-album-parent').val();
            if (parentAlbumId == -1) {
                parentAlbumId = null;
            }
            $('#ajapaik-curator-edit-album-error').hide();
            $.ajax({
                type : 'POST',
                url : '/curator_update_my_album/',
                data: {
                    albumId: targetId,
                    name: $('#ajapaik-curator-change-album-name').val(),
                    description: $('#ajapaik-curator-change-album-description').val(),
                    open: $('#ajapaik-curator-change-album-open').prop('checked'),
                    is_public: $('#ajapaik-curator-change-album-public').prop('checked'),
                    parent_album: parentAlbumId,
                    csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                },
                success : function() {
                    $('#ajapaik-curator-edit-album-error').hide();
                    $('#ajapaik-curator-edit-my-album-modal').modal('hide');
                    loadMyAlbums();
                    window._gaq.push(['_trackEvent', 'Curator', 'Edit success']);
                },
                error: function() {
                    $('#ajapaik-curator-edit-album-error').show();
                    window._gaq.push(['_trackEvent', 'Curator', 'Edit error']);
                }
            });
        });
        $(document).on('click', '#ajapaik-curator-confirm-album-selection-button', function () {
            var confirm = false,
                album = $('#ajapaik-curator-album-select').val();
            if (Object.keys(window.selectedResults).length < 5 && !album) {
                confirm = window.confirm(window.gettext('Are you sure you want to create an album with less than 5 photos? We recommend to create albums with at least 10 or more pictures.'));
            } else {
                confirm = true;
            }
            var selection = JSON.stringify(window.selectedResults);
            if (window.singleSelection) {
                selection = JSON.stringify(window.singleSelection);
                window.singleSelection = false;
            }
            if (confirm) {
                $('#ajapaik-loading-overlay').show();
                $.ajax({
                    type: 'POST',
                    url: '/curator_upload/',
                    data: {
                        selection: selection,
                        album: album,
                        name: $('#ajapaik-curator-add-album-name').val(),
                        description: $('#ajapaik-curator-add-album-description').val(),
                        open: $('#ajapaik-curator-add-album-public-mutable').val(),
                        areaName: $('#ajapaik-curator-add-area-name-hidden').val(),
                        areaLat: areaLat,
                        areaLng: areaLng,
                        csrfmiddlewaretoken: window.docCookies.getItem('csrftoken')
                    },
                    success: function (response) {
                        $('#ajapaik-loading-overlay').hide();
                        if (response.error) {
                            $('#ajapaik-curator-upload-error').show();
                            $('#ajapaik-curator-upload-error-message').html(response.error);
                        } else {
                            window.updateLeaderboard();
                            $('#ajapaik-curator-upload-error').hide();
                            $('#ajapaik-curator-upload-error-message').html(window.gettext('System error'));
                            $('#ajapaik-choose-albums-modal').modal('hide');
                            var albumPlayLink = gameUrl + '?album=' + response.album_id,
                                    feedbackModalDiv = $('#ajapaik-curator-feedback-modal');
                            $('#ajapaik-curator-album-play-link').html(albumPlayLink).prop('href', albumPlayLink);
                            $('#ajapaik-curator-points-awarded').html(response.total_points_for_curating);
                            $('#ajapaik-curator-add-album-name').val(null);
                            $('#ajapaik-curator-add-area-name-hidden').val(null);
                            feedbackModalDiv.modal('show').on('shown.bs.modal', function () {
                                $($(this).find('#ajapaik-curator-share-button-container')).empty().append(tmpl('ajapaik-curator-share-set-button', {gameLink: albumPlayLink}));
                                window.FB.XFBML.parse();
                            });
                            for (var key in response.photos) {
                                if (response.photos.hasOwnProperty(key)) {
                                    var targetDiv = $($('#ajapaik-curator-selection-item-' + window.formatId(key)).find('.ajapaik-curator-selection-feedback-row')[0]),
                                            item = response.photos[key];
                                    if (item.error) {
                                        $(targetDiv.find('.alert-danger')[0]).html(item.error).show();
                                    } else {
                                        $(targetDiv.find('.alert-success')[0]).html(item.message).show();
                                    }
                                }
                            }
                        }
                        loadMyAlbums();
                        window.loadSelectableAlbums();
                        window._gaq.push(['_trackEvent', 'Curator', 'Upload success']);
                    },
                    error: function () {
                        $('#ajapaik-loading-overlay').hide();
                        $('#ajapaik-curator-upload-error').show();
                        window._gaq.push(['_trackEvent', 'Curator', 'Upload error']);
                    }
                });
            }
        });
    });
</script>
{% include "_curator_album_selection_option.html" %}
{% include "_curator_album_selection_separator.html" %}
{% verbatim %}
    <script id="ajapaik-curator-selection-template" type="text/x-tmpl">
        <div class="row ajapaik-curator-selection-item" id="ajapaik-curator-selection-item-{%=formatId(o.id)%}">
            <img class="col-xs-6 img-responsive ajapaik-curator-selection-image {% if (o.invert) { %}ajapaik-photo-inverted{% } %} {% if (o.flip) { %}ajapaik-photo-flipped{% } %}" src="{%=o.imageUrl%}" onload="imageLoaded('{%=o.id%}')">
            <div class="col-xs-6 ajapaik-curator-selection-controls">
                <div class="ajapaik-curator-selection-button-row">
                    <div class="btn-group" role="group">
                      <button title="{%=gettext('Invert colors')%}" type="button" class="btn btn-default {% if (o.invert) { %}active{% } %} ajapaik-curator-invert-colors-button" data-id="{%=o.id%}">
                        <i class="glyphicon ajapaik-icon ajapaik-icon-invert-colors"></i>
                      </button>
                      <button title="{%=gettext('Flip')%}" type="button" class="btn btn-default {% if (o.flip) { %}active{% } %} ajapaik-curator-flip-button" data-id="{%=o.id%}">
                        <i class="glyphicon ajapaik-icon ajapaik-icon-flip"></i>
                      </button>
                      <button title="{%=gettext('Mark stereophoto')%}" type="button" class="btn btn-default {% if (o.stereo) { %}active{% } %} ajapaik-curator-stereo-button" data-id="{%=o.id%}">
                        <i class="glyphicon ajapaik-icon ajapaik-icon-stereo"></i>
                        <i class="glyphicon ajapaik-icon ajapaik-icon-stereo"></i>
                      </button>
                      <button title="{%=gettext('Remove from selection')%}" type="button" class="btn btn-default ajapaik-curator-delete-button" data-id="{%=o.id%}">
                        <i class="glyphicon ajapaik-icon ajapaik-icon-delete"></i>
                      </button>
                    </div>
                    {% if (o.ajapaikId) { %}
                        <a target="_blank" href="{%=photoPermalink + o.ajapaikId%}">
                            <img class="img-responsive ajapaik-already-have-indicator" src="{% endverbatim %}{{ STATIC_URL }}images/ajapaik_marker_35px.png{% verbatim %}" title="{%=gettext('Picture is already in Ajapaik. You can still add it to your album, no curation points awarded')%}">
                        </a>
                    {% } %}
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{%=o.title%}</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">{%=gettext('Description')%}: {%=o.description%}</li>
                        <li class="list-group-item">{%=gettext('Author')%}: {%=o.creators%}</li>
                        <li class="list-group-item">{%=gettext('Source')%}: {%=o.institution%}</li>
                        <li class="list-group-item">{%=gettext('Source ID')%}: <a target="_blank" href="{%=o.urlToRecord%}">{%=o.identifyingNumber%}</a></li>
                        <li class="list-group-item">{%=gettext('Size')%}: <span class="ajapaik-curator-selection-image-size"></span></li>
                    </ul>
                </div>
                <button class="btn btn-success" id="ajapaik-curator-submit-single" data-id="{%=o.id%}">{%=gettext('Add picture to album')%}</button>
                <div class="ajapaik-curator-selection-feedback-row">
                    <div class="alert alert-success ajapaik-curator-feedback-alert" role="alert"></div>
                    <div class="alert alert-danger ajapaik-curator-feedback-alert" role="alert"></div>
                </div>
            </div>
        </div>
    </script>
    <script id="ajapaik-curator-result-template" type="text/x-tmpl">
        <a class="thumbnail col-xs-2" title="{%=o.title%}">
            <img src="{%='http://ajapaik.ee:8080/ajapaik-service/images/' + o.cachedThumbnailUrl %}"
                data-id="{%=o.id %}" data-institution="{%=o.institution%}" data-identifier="{%=o.identifyingNumber%}"
                class="img-responsive ajapaik-result-item {% if (selectedResults[o.id]) { %}ajapaik-curator-selected-image{% } %}"
                id="ajapaik-result-item-{%=formatId(o.id)%}">
        </a>
    </script>
    <script id="ajapaik-curator-my-album-template" type="text/x-tmpl">
        <div class="row">
            <a href="{%=o.gameLink%}">{%=o.name%} - {%=o.photo_count%} {%=gettext('photos')%}</a>
            <button title="{%=gettext('Edit')%}" type="button" class="btn btn-default btn-xs ajapaik-curator-edit-album-button" data-id="{%=o.id%}">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
        </div>
    </script>
    <script id="ajapaik-curator-share-set-button" type="text/x-tmpl">
        <div id="ajapaik-curator-share-button" class="fb-share-button" data-href="{%=o.gameLink%}" data-layout="button"></div>
    </script>
{% endverbatim %}
{% endblock %}