{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container-fluid">
        <div id="ajapaik-album-selection-overlay"></div>
        <div class="row">
            <div id="ajapaik-frontpage-historic-photos"></div>
        </div>
    </div>
    <div class="full-box">
        <div class="full-pic" id="ajapaik-frontpage-fullscreen-image-container">
            <img id="ajapaik-frontpage-full-screen-image" src=""/>
        </div>
    </div>
    <div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog"
         aria-labelledby="ajapaik-photo-modal-label" aria-hidden="true"></div>
    {% include "_info_modal.html" %}
    {% include "_rephoto_upload_modal.html" %}
    {% include "_full_leaderboard_modal.html" %}
    {% verbatim %}
        <script id="ajapaik-frontpage-historic-photo" type="text/x-tmpl">
            <a target="_blank" href="{%=photoPermalink + o.id%}" class="ajapaik-frontpage-image-container" id="ajapaik-frontpage-image-container-{%=o.id%}" data-id="{%=o.id%}">
                <img alt="{%=o.description%}" src="{%=o.thumb%}"
                    class="ajapaik-frontpage-image-image img-responsive" data-id="{%=o.id%}"/>
                <div class="ajapaik-thumbnail-info-container">
                    {% if (o.lat && o.lon && o.azimuth) { %}
                        <div style="transform: rotate({%=o.azimuth%}deg);" class="ajapaik-frontpage-azimuth" title="{%=gettext('Image has location and view direction info')%}"></div>
                    {% } else { %}
                        {% if (o.lat && o.lon) { %}
                            <div class="ajapaik-frontpage-location-known" title="{%=gettext('Image has only location, no view direction')%}"></div>
                        {% } else { %}
                            <div class="ajapaik-frontpage-location-unknown" title="{%=gettext('Image has no location info')%}"></div>
                        {% } %}
                    {% } %}
                    {% if (o.rephotos) { %}
                        <div class="ajapaik-frontpage-rephoto-count ajapaik-frontpage-rephoto-count-{%=o.rephotos%}" title="{%=gettext('Image has rephotos')%}"></div>
                    {% } %}
                </div>
                <div class="caption ajapaik-caption">{%=o.description%}</div>
            </a>
        </script>
    {% endverbatim %}
{% endblock %}
{% block specific_js %}
    <script>
        window.historicPhotoInfiniteStart = 0;
        window.isFrontpage = '{{ is_frontpage|safe }}';
        window.albumId = null;
        window.albumName = null;
        window.photoPageSize = {{ photo_page_size|safe }};
        window.linkToGame = true;
        window.linkToMap = true;
        window.photoPermalink = '{% url "project.home.views.photo" %}';
        window.title = '{{ title }}';
    </script>
    {% compress js %}
        <script src="{{ STATIC_URL }}js/jquery.bootstrap-autohidingnavbar-1.0.0.min.js"></script>
        <script src="{{ STATIC_URL }}js/ajapaik-common.js"></script>
        <script src="{{ STATIC_URL }}js/ajapaik-frontpage.js"></script>
    {% endcompress %}
{% endblock %}