{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container-fluid">
        <div class="row">
            {% include "_album_selection.html" %}
            <div id="ajapaik-frontpage-historic-photos" class="{% if not show_photos %}hidden{% endif %}">
                {# This is for bots and initial page-load, see bottom of page for async template #}
                {% for p in photos %}
                    <a target="_blank" href="{% url "project.home.views.photo" %}{{ p.0 }}"
                       class="ajapaik-frontpage-image-container" id="ajapaik-frontpage-image-container-{{ p.0 }}"
                       data-id="{{ p.0 }}">
                        <img alt="{{ p.3 }}" src="#" data-src="{% url "project.home.views.photo_thumb" p.0 400 %}"
                            class="ajapaik-frontpage-image lazyload img-responsive" data-id="{{ p.0 }}"
                            width="{{ p.1 }}" height="{{ p.2 }}"/>
                        <div class="ajapaik-thumbnail-selection-icon{% if p.11 == 1 %} ajapaik-thumbnail-selection-icon-white{% endif %}" data-id="{{ p.0 }}"></div>
                        <div class="ajapaik-thumbnail-info-container">
                            {% if p.4 and p.5 and p.6 %}
                                <div style="transform: rotate({{ p.6 }}deg);" class="ajapaik-frontpage-azimuth"
                                     title="{% trans "Image has location and view direction info" %}"></div>
                            {% elif p.4 and p.5 %}
                                <div class="ajapaik-frontpage-location-known"
                                     title="{% trans "Image has only location, no view direction" %}"></div>
                            {% else %}
                                <div class="ajapaik-frontpage-location-unknown"
                                     title="{% trans "Image has no location info" %}"></div>
                            {% endif %}
                            {% if p.7 > 0 %}
                                <div class="ajapaik-frontpage-rephoto-count
                                    ajapaik-frontpage-rephoto-count-{{ p.7 }}"
                                     title="{% trans "Image has rephotos" %}"></div>
                            {% endif %}
                            <span class="ajapaik-frontpage-comments-count {% if p.8 == 0 %}hidden{% endif %}"
                                  title="{% trans "Comments" %}">
                            </span>
                        </div>
                        <div class="caption ajapaik-caption">{{ p.3 }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    {% include "_info_modal.html" %}
    {% include "_full_leaderboard_modal.html" %}
    {% include "_rephoto_upload_modal.html" %}
    {% include "_filtering_tutorial_modal.html" %}
    <div class="full-box original-full-box">
        <div class="full-pic" id="ajapaik-fullscreen-image-container">
            <img id="ajapaik-full-screen-image" src="#" alt="{% trans "Original photo on full screen" %}"/>
        </div>
    </div>
    <div class="full-box rephoto-full-box">
        <div class="full-pic" id="ajapaik-rephoto-fullscreen-image-container">
            <img id="ajapaik-rephoto-full-screen-image" src="#" alt="{% trans "Rephoto on full screen" %}"/>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        window.title = '{{ title }}';
        window.currentPage = parseInt('{{ page }}', 10);
        window.maxPage = parseInt('{{ max_page }}', 10);
        window.nextPageOnModalClose = false;
        window.previousPageOnModalClose = false;
        window.isFrontpage = '{{ is_frontpage|safe }}' === 'True';
        window.photoURL = '{% url "project.home.views.photo" %}';
        window.photoThumbURL = '{% url "project.home.views.photo_thumb" %}';
        window.nextPhotoLoading = false;
        window.photos = window.getQueryParameterByName('photos');
        window.userClosedRephotoTools = false;
        window.useButtonLink = true;
        window.currentlySelectedPhotoId = null;
        window.albumId = null;
        window.userLat = null;
        window.userLon = null;
        window.order1 = '{{ order1 }}';
        window.order2 = '{{ order2 }}';
        window.order3 = '{{ order3 }}';
        window.start = '{{ start }}';
        window.end = '{{ end }}';
        window.total = '{{ total }}';
        {% if album %}
            window.albumId = {{ album.0 }};
        {% endif %}
        window.linkToGame = true;
        window.linkToMap = true;
    </script>
    {% verbatim %}
        <script id="ajapaik-frontpage-photo-template" type="text/x-tmpl">
            <a target="_blank" href="{%=photoURL%}{%=o[0]%}" class="ajapaik-frontpage-image-container"
            id="ajapaik-frontpage-image-container-{%=o[0]%}" data-id="{%=o[0]%}">
                <img alt="{%=o[3]%}" src="#" data-src="{%=photoThumbURL%}{%=o[0]%}/400"
                    class="ajapaik-frontpage-image lazyload img-responsive" data-id="{%=o[0]%}"
                    width="{%=o[1]%}" height="{%=o[2]%}"/>
                <div class="ajapaik-thumbnail-selection-icon{% if (o[11] == 1) { %} ajapaik-thumbnail-selection-icon-white{% } %}" data-id="{%=o[0]%}"></div>
                <div class="ajapaik-thumbnail-info-container">
                    {% if (o[6]) { %}
                        {% if (o[4] && o[5]) { %}
                            <div style="transform: rotate({%=o[6]%}deg);" class="ajapaik-frontpage-azimuth"
                                title="{%=gettext('Image has location and view direction info')%}">
                            </div>
                        {% } %}
                    {% } else { %}
                        {% if (o[4] && o[5]) { %}
                            <div class="ajapaik-frontpage-location-known"
                                title="{%=gettext('Image has only location, no view direction')%}">
                            </div>
                        {% } %}
                    {% } %}
                    {% if (!o[4]) { %}
                        <div class="ajapaik-frontpage-location-unknown" "{%=gettext('Image has no location info')%}"></div>
                    {% } %}
                    {% if (o[7] > 0) { %}
                        <div class="ajapaik-frontpage-rephoto-count
                            ajapaik-frontpage-rephoto-count-{%=o[7]%}"
                            title="{%=gettext('Image has rephotos')%}">
                        </div>
                    {% } %}
                    <span class="ajapaik-frontpage-comments-count {% if (o[8] == 0) { %}hidden{% } %}"
                        title="{%=gettext('Comments')%}">
                    </span>
                </div>
                <div class="caption ajapaik-caption">{%=o[3]%}</div>
            </a>
        </script>
    {% endverbatim %}
    {% compress js %}
        <script src="{{ STATIC_URL }}js/ajapaik-frontpage.js"></script>
    {% endcompress %}
{% endblock %}