{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container-fluid">
        <div id="ajapaik-album-selection-overlay"></div>
        <div class="row">
            <div id="ajapaik-frontpage-historic-photos">
                {% for p in photos %}
                    <a target="_blank" href="{% url "project.home.views.photo" %}{{ p.id }}"
                       class="ajapaik-frontpage-image-container" id="ajapaik-frontpage-image-container-{{ p.id }}"
                       data-id="{{ p.id }}">
                        <img alt="{{ p.description }}" src="" data-src="{% url "project.home.views.photo_thumb" p.id 300%}"
                            class="ajapaik-frontpage-image-image lazyload img-responsive" data-id="{{ p.id }}"
                            width="{{ p.thumb_width }}" height="{{ p.thumb_height }}"/>
                        <div class="ajapaik-thumbnail-info-container">
                            {% if p.lat and p.lon and p.azimuth %}
                                <div style="transform: rotate({{ p.azimuth }}deg);" class="ajapaik-frontpage-azimuth"
                                     title="{% trans "Image has location and view direction info" %}"></div>
                            {% elif p.lat and p.lon %}
                                <div class="ajapaik-frontpage-location-known"
                                     title="{% trans "Image has only location, no view direction" %}"></div>
                            {% else %}
                                <div class="ajapaik-frontpage-location-unknown"
                                     title="{% trans "Image has no location info" %}"></div>
                            {% endif %}
                            {% if p.rephoto_count > 0 %}
                                <div class="ajapaik-frontpage-rephoto-count
                                    ajapaik-frontpage-rephoto-count-{{ p.rephoto_count }}"
                                     title="{% trans "Image has rephotos" %}"></div>
                            {% endif %}
                            <span data-fb-id="{{ hostname }}/foto/{{ p.id }}"
                                  class="ajapaik-frontpage-comments-count {% if p.fb_comments_count == 0 %}hidden{% endif %}" title="{% trans "Comments" %}">
                            </span>
                        </div>
                        <div class="caption ajapaik-caption">{{ p.description }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="full-box">
        <div class="full-pic" id="ajapaik-frontpage-fullscreen-image-container">
            <img id="ajapaik-frontpage-full-screen-image" src=""/>
        </div>
    </div>
    <div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog"
         aria-labelledby="ajapaik-photo-modal-label" aria-hidden="true"></div>
    {% include "_info_modal.html" %}
    {% include "_rephoto_upload_modal.html" %}
    {% include "_full_leaderboard_modal.html" %}
{% endblock %}
{% block specific_js %}
    <script>
        window.historicPhotoInfiniteStart = 0;
        window.isFrontpage = '{{ is_frontpage|safe }}';
        window.isFrontpage = window.isFrontpage === 'True';
        {% if album %}
            window.albumId = {{ album.id }};
        {% endif %}
        window.albumName = null;
        window.linkToGame = true;
        window.linkToMap = true;
        window.title = '{{ title }}';
    </script>
    {% compress js %}
        <script src="{{ STATIC_URL }}js/ajapaik-frontpage.js"></script>
    {% endcompress %}
{% endblock %}