{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header_area_selection_scoreboard.html" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/justifiedGallery-3.5.1.min.css"/>
{% endblock %}

{% block layout %}
    <div class="container" id="ajapaik-grid-container">
        <div class="row">
            <div class="col-xs-offset-3"></div>
            <div class="col-xs-12">
                <div id="gallery">
                    {% for photo in data %}
                        <a href="{{ photo.1 }}" class="ajapaik-grid-image-container">
                            <img alt="{{ photo.0 }}" src="" data-src="{{ photo.1 }}" width="{{ photo.2 }}"
                                 height="{{ photo.3 }}" class="ajapaik-grid-image lazyload" data-id="{{ photo.0 }}"/>
                        </a>
                    {% endfor %}
                </div>
                <div id="ajapaik-grid-load-more-container">
                    <a id="ajapaik-grid-load-more-link" href="javascript:void(0);">
                        {% trans "Load more photos" %}
                    </a>
                    <p id="ajapaik-grid-no-more-photos-message" style="display: none;">
                        {% trans "No more photos to show" %}
                    </p>
                </div>
            </div>
            <div class="col-xs-offset-3"></div>
        </div>
    </div>
    {% include "_full_leaderboard_modal.html" %}
    {% include "_all_time_leaderboard_modal.html" %}
{% endblock %}
{% block specific_js %}
    <script>
        window.start = {{ start | safe }};
        window.albumId = {{ album.id | safe }};
        window.pageSize = {{ page_size | safe }};
        window.totalPhotoCount = {{ photo_count | safe }};
    </script>
    {% compress js %}
        <script src="{{ STATIC_URL }}js/jquery.justifiedGallery-3.5.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/lazysizes-0.7.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/ajapaik-common.js"></script>
        <script src="{{ STATIC_URL }}js/grid.js"></script>
    {% endcompress %}
{% endblock %}