{% extends "base.html" %}
{% load i18n %}

{% block layout %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/justifiedGallery.min.css" />
    <div id="browse" style="overflow: auto !important;">
        <div class="top">
            <h1 class="ir">
                <a href="/?city__pk={{ filters.filters_by_name.city_lookup_filter.get_option_object.id }}">
                    {% trans "Timepatch (Ajapaik)" %}
                </a>
            </h1>
            <ul id="nav"></ul>
            {% get_language_info for LANGUAGE_CODE as lang %}
            <div class="lang-box">
                <form style="display:inline;" action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <div id="langmenu">
                        <div>{{ lang.code | upper }}</div>
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <select id="language" name="language" onchange="this.form.submit();">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}" title="{% trans language.name %} ({{ language.name_local }}) - {{ language.code|upper }}"{% if language.code == lang.code %} selected="selected"{% endif %}>{{ language.name_local|title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label id="langlabel" for="language">{% trans "Choose language" %}:</label>
                </form>
            </div>
            <div class="filter-box">
                {{ filters.get_form.as_p }}
            </div>
        </div>
    <div id="photo-drawer"></div>
            <div id="content">
                <div id="gallery">
                    {% for photo in data %}
                        <a href="{{ photo.1 }}" class="ajapaik-grid-image-container">
                            <img alt="{{ photo.0 }}" src="{{ photo.1 }}" width="{{ photo.2 }}" height="{{ photo.3 }}" class="ajapaik-grid-image" data-id="{{ photo.0 }}"/>
                        </a>
                    {% endfor %}
                </div>
                <div id="ajapaik-grid-load-more">
                    <a id="ajapaik-grid-load-more-link">
                        {% trans "Load more photos" %}
                    </a>
                    <p id="ajapaik-grid-no-more-photos" style="display: none;">
                        {% trans "No more photos to show" %}
                    </p>
                </div>
            </div>

        </div>


    <script src="{{ STATIC_URL }}js/jquery.justifiedGallery-3.4.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/lazysizes-0.5.0.min.js"></script>
    <script>
        var cityId = {{ city_id | safe }},
            start = {{ start | safe }},
            pageSize = {{ page_size | safe }},
            ajaxQueryInProgress = false,
            totalPhotoCount = {{ photo_count | safe }};
    </script>
    <script>
        $(document).ready(function () {
            $('#gallery').justifiedGallery({
                rowHeight: 120,
                waitThumbnailsLoad: false,
                margins: 3,
                sizeRangeSuffixes: {
                    'lt100': '',
                    'lt240': '',
                    'lt320': '',
                    'lt500': '',
                    'lt640': '',
                    'lt1024': ''
                }
            });
            $.ajaxSetup({
                headers: { 'X-CSRFToken': docCookies.getItem('csrftoken') }
            });
            var browseDiv = $("#browse"),
                galleryDiv = $("#gallery"),
                doGridAjaxQuery = function () {
                    if (!ajaxQueryInProgress && start <= totalPhotoCount) {
                        ajaxQueryInProgress = true;
                        $.ajax({
                            cache: false,
                            url: '/grid_infinity/',
                            data: {'city__pk': cityId, 'start': start},
                            success: function (result) {
                                for (var i = 0; i < result.length; i += 1) {
                                    var newA = document.createElement("a");
                                    var newImg = document.createElement("img");
                                    $(newA).addClass("ajapaik-grid-image-container").attr("href", result[i][1]);
                                    $(newImg).attr("src", result[i][1]).attr("width", result[i][2])
                                            .attr("height", result[i][3]).attr("alt", result[i][0])
                                            .addClass("lazy").addClass("ajapaik-grid-image")
                                            .attr("data-id", result[i][0]);
                                    newA.appendChild(newImg);
                                    $("#gallery").append(newA);
                                }
                                start += pageSize;
                                $('#gallery').justifiedGallery("norewind");
                                setTimeout($(".ajapaik-grid-image-container").css("opacity", 1), 100);
                                ajaxQueryInProgress = false;
                                $(".ajapaik-grid-image").on("click", function (e) {
                                    e.preventDefault();
                                    var targetId = e.target.dataset.id;
                                    loadPhoto(targetId);
                                });
                                if (galleryDiv.innerHeight() < browseDiv.height() * 1.5) {
                                    doGridAjaxQuery();
                                }
                            }
                        });
                    }
                    if (start > totalPhotoCount) {
                        $("#ajapaik-grid-load-more-link").hide();
                        $("#ajapaik-grid-no-more-photos").show();
                    }
                };
            $("#ajapaik-grid-load-more-link").on("click", function (e) {
                e.preventDefault();
                doGridAjaxQuery();
            });
            browseDiv.scroll(function() {
                if((browseDiv.scrollTop() - (browseDiv.height() * 0.75)) > 0 && !ajaxQueryInProgress && start <= totalPhotoCount) {
                    doGridAjaxQuery();
                }
            });
            if (galleryDiv.innerHeight() < browseDiv.height()) {
                start += pageSize;
                doGridAjaxQuery();
            }
            var photoDrawerElement = $('#photo-drawer');
            var loadPhoto = function (id) {
                $.post('/log_user_map_action/', {user_action: 'opened_drawer', photo_id: id}, function () {
                    $.noop();
                });
                $.ajax({
                    cache: false,
                    url: '/foto/' + id + '/',
                    success: function (result) {
                        openPhotoDrawer(result);
                        if (FB !== undefined) {
                            FB.XFBML.parse();
                        }
                        $('a.iframe').fancybox({
                            'width': '75%',
                            'height': '75%',
                            'autoScale': false,
                            'hideOnContentClick': false
                        });
                    }
                });
            };
            window.prepareFullscreen = function() {
                $(".full-box img").load(function () {
                    var that = $(this),
                    aspectRatio = that.width() / that.height(),
                    newWidth = parseInt(screen.height * aspectRatio),
                    newHeight = parseInt(screen.width / aspectRatio);
                    if (newWidth > screen.width) {
                        newWidth = screen.width;
                    } else {
                        newHeight = screen.height;
                    }
                    that.css("margin-left", (screen.width - newWidth) / 2 + "px");
                    that.css("margin-top", (screen.height - newHeight) / 2 + "px");
                    that.css("width", newWidth);
                    that.css("height", newHeight);
                    that.css("opacity", 1);
                });
            };
            var openPhotoDrawer = function (content) {
                photoDrawerElement.html(content);
                photoDrawerElement.animate({ top: '7%' });
            };
            var closePhotoDrawer = function () {
                photoDrawerElement.animate({ top: '-1000px' });
                var historyReplacementString = '/grid/?city__pk=' + cityId;
                History.replaceState(null, null, historyReplacementString);
            };
            $(".ajapaik-grid-image").on("click", function (e) {
                e.preventDefault();
                var targetId = e.target.dataset.id;
                loadPhoto(targetId);
            });
            photoDrawerElement.delegate('#close-photo-drawer', 'click', function (e) {
                e.preventDefault();
                closePhotoDrawer();
            });
            photoDrawerElement.delegate('a.add-rephoto', 'click', function (e) {
                e.preventDefault();
                $('#notice').modal();
                _gaq.push(['_trackEvent', 'Map', 'Add rephoto']);
            });
            photoDrawerElement.delegate('#random-photo', 'click', function (e) {
                e.preventDefault();
                var imagesOnPage = $(".ajapaik-grid-image");
                loadPhoto(imagesOnPage[Math.floor(Math.random() * imagesOnPage.length)].dataset.id);
            });
            window.uploadCompleted = function (response) {
                $.modal.close();
                if (photoId === undefined) {
                    if (response && response.new_id !== undefined && response.new_id) {
                        window.location.href = '/foto/' + response.new_id + '/';
                    } else {
                        window.location.reload();
                    }
                } else {
                    closePhotoDrawer();
                    if (response && response.new_id !== undefined && response.new_id) {
                        window.loadPhoto(response.new_id);
                    } else {
                        window.loadPhoto(photoId);
                    }
                }
            };
            window.flipPhoto = function (photoId) {
                var photoElement = $('a[rel=' + photoId + ']').find('img'),
                    photoFullscreenElement = $('#full-large1').find('img');
                if (photoElement.hasClass('flip-photo')) {
                    photoElement.removeClass('flip-photo');
                } else {
                    photoElement.addClass('flip-photo');
                }
                if (photoFullscreenElement.hasClass('flip-photo')) {
                    photoFullscreenElement.removeClass('flip-photo');
                } else {
                    photoFullscreenElement.addClass('flip-photo');
                }
            };
            $(".filter-box select").change(function () {
                var uri = new URI(location.href),
                    newQ = URI.parseQuery($(this).val()),
                    isFilterEmpty = false;

                uri.removeQuery(Object.keys(newQ));
                $.each(newQ, function (i, ii) {
                    isFilterEmpty = ii == "";
                });

                if (!isFilterEmpty) {
                    uri = uri.addQuery(newQ);
                }

                location.href = uri.toString();
            });
        });
    </script>
{% endblock layout %}