{% extends "base.html" %}
{% load i18n %}

{% block layout %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/justifiedGallery.min.css" />
    <div id="browse" style="overflow: auto !important;">
        <div class="top" style="z-index: 1001;">
            <h1 class="ir">
                <a href="/?city__pk={{ filters.filters_by_name.city_lookup_filter.get_option_object.id }}">
                    {% trans "Timepatch (Ajapaik)" %}
                </a>
            </h1>
            <ul id="nav"></ul>
            {% get_language_info for LANGUAGE_CODE as lang %}
            <div class="lang-box">
                <form style="display:inline;" action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <div id="langmenu">
                        <div>{{ lang.code | upper }}</div>
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <select id="language" name="language" onchange="this.form.submit();">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}" title="{% trans language.name %} ({{ language.name_local }}) - {{ language.code|upper }}"{% if language.code == lang.code %} selected="selected"{% endif %}>{{ language.name_local|title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label id="langlabel" for="language">{% trans "Choose language" %}:</label>
                </form>
            </div>
            <div class="filter-box">
                {{ filters.get_form.as_p }}
            </div>
        </div>
        <div id="photo-drawer"></div>
        <div id="content">
            <div id="gallery">
{#                {% for photo in data %}#}
{#                    <a href="{{ photo.1 }}" class="ajapaik-grid-image-container">#}
{#                        <img alt="{{ photo.0 }}" src="{{ photo.1 }}" width="{{ photo.2 }}" height="{{ photo.3 }}" class="ajapaik-grid-image" data-id="{{ photo.0 }}"/>#}
{#                    </a>#}
{#                {% endfor %}#}
            </div>
            <div id="ajapaik-grid-load-more">
                <a id="ajapaik-grid-load-more-link" href="javascript:void(0);">
                    {% trans "Load more photos" %}
                </a>
                <p id="ajapaik-grid-no-more-photos" style="display: none;">
                    {% trans "No more photos to show" %}
                </p>
            </div>
        </div>
    </div>
    <script src="{{ STATIC_URL }}js/jquery.justifiedGallery-3.4.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/lazysizes-0.5.0.min.js"></script>
    <script>
        window.cityId = {{ city_id | safe }};
        window.start = {{ start | safe }};
        window.pageSize = {{ page_size | safe }};
        window.totalPhotoCount = {{ photo_count | safe }};
    </script>
    <script src="{{ STATIC_URL }}js/grid.js"></script>
{% endblock layout %}