{% extends "base_bootstrap.html" %}
{% load i18n %}

{% block header %}
    {% include "_header_city_selection.html" %}
{% endblock %}
{% block layout %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/justifiedGallery.min.css" />
    <div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog" aria-labelledby="ajapaik-photo-modal-label" aria-hidden="true"></div>
    <div class="container" id="ajapaik-grid-container">
        <div class="row">
            <div class="col-xs-offset-3"></div>
            <div class="col-xs-12">
                <div id="gallery">
                    {% for photo in data %}
                        <a href="{{ photo.1 }}" class="ajapaik-grid-image-container">
                            <img alt="{{ photo.0 }}" src="" data-src="{{ photo.1 }}" width="{{ photo.2 }}" height="{{ photo.3 }}" class="ajapaik-grid-image lazyload" data-id="{{ photo.0 }}"/>
                        </a>
                    {% endfor %}
                </div>
                <div id="ajapaik-grid-load-more-container">
                    <a id="ajapaik-grid-load-more-link" href="javascript:void(0);">
                        {% trans "Load more photos" %}
                    </a>
                    <p id="ajapaik-grid-no-more-photos-message" style="display: none;">
                        {% trans "No more photos to show" %}
                    </p>
                </div>
            </div>
            <div class="col-xs-offset-3"></div>
        </div>
    </div>
    <div id="ajapaik-grid-map-container">
        <div class="panel panel-default" id="ajapaik-grid-map-info-panel">
            <div class="panel-body">
                {% trans "Geotags" %}: <span id="ajapaik-grid-map-geotag-count"></span>
                <br/>
                {% trans "With azimuth" %}: <span id="ajapaik-grid-map-geotag-with-azimuth-count"></span>
            </div>
        </div>
        <button class="btn btn-primary ajapaik-grid-save-location-button">{% trans "Save location only" %}</button>
        <button class="btn btn-primary ajapaik-grid-specify-location-button">{% trans "Specify location" %}</button>
        <button class="btn btn-primary ajapaik-grid-close-map-button">{% trans "Close map" %}</button>
        <div id="ajapaik-grid-map-canvas"></div>
    </div>
    <div id="ajapaik-grid-guess-notice-container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">{% trans "Thank you!" %}</div>
                <div class="row"><button class="btn btn-primary ajapaik-grid-close-guess-notice-button">{% trans "You're welcome" %}</button></div>
            </div>
        </div>
    </div>
    <img src="" class="img-responsive" id="ajapaik-grid-guess-photo" />
    <script src="{{ STATIC_URL }}js/jquery.justifiedGallery-3.4.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/lazysizes-0.5.1.min.js"></script>
    <script>
        {% if city %}
            window.cityId = {{ city.id | safe }};
        {% endif %}
        window.start = {{ start | safe }};
        window.pageSize = {{ page_size | safe }};
        window.totalPhotoCount = {{ photo_count | safe }};
        var leaderboardFullURL = "{% url "project.home.views.rephoto_top50" %}",
            userAlreadySeenPhotoIds = {{ user_seen_photo_ids | safe }},
            initialize = function () {
                if (window.getQueryParameterByName("fromSelect")) {
                    window.fromSelect = true;
                    History.replaceState(null, null, "/grid/?city=" + cityId);
                } else {
                    window.fromSelect = false;
                }
                {% if city.lat and city.lon %}
                    window.getMap([{{ city.lon | safe }}, {{ city.lat | safe }}], 13);
                {% else %}
                    window.getMap();
                {% endif %}
            };
        $(document).ready(initialize);
    </script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=visualization"></script>
    <script src="{{ STATIC_URL }}js/ajapaik-common.js"></script>
    <script src="{{ STATIC_URL }}js/init.js"></script>
    <script src="{{ STATIC_URL }}js/grid.js"></script>
{% endblock layout %}