{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header_area_selection_scoreboard.html" %}
{% endblock %}

{% block layout %}
    {% include "_tutorial.html" %}
    <div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog" aria-labelledby="ajapaik-photo-modal-label" aria-hidden="true"></div>
    <div class="modal fade" id="ajapaik-geotag-info-modal" tabindex="-1" role="dialog" aria-labelledby="ajapaik-geotag-info-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="ajapaik-geotag-info-panel-no-photos">{% trans "Pictures from this area have not yet received enough geotags to be displayed on the map." %}</span>
                    <br/>{% trans "Number of geotagged pictures in this album:" %} <span
                        class="ajapaik-geotag-info-panel-geotagged-photo-amount"></span>
                    <br/>{% trans "Pictures available for geotagging:" %} <span
                        class="ajapaik-geotag-info-panel-ungeotagged-photo-amount"></span>
                    <br/><br/>
                    <button class="btn btn-success" id="ajapaik-header-game-button">{% trans "Geotagging game" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ajapaik-rephoto-upload-modal" tabindex="-1" role="dialog" aria-labelledby="ajapaik-rephoto-upload-modal-label" aria-hidden="true"></div>
    <input id="pac-input-mapview" class="controls" type="text" placeholder={% trans "Search box" %}>
    <div id="ajapaik-map-container">
        <div id="ajapaik-map-canvas" class="ajapaik-map-canvas-mapview"></div>
        <div id="ajapaik-guess-panel-container-xs" class="container-fluid visible-xs">
            {% include "_guess_panel_xs.html" %}
        </div>
    </div>
    <div id="ajapaik-guess-panel-container" class="container">
        {% include "_guess_panel.html" %}
    </div>
    <div class="modal fade" id="ajapaik-full-leaderboard-modal" tabindex="-1" role="dialog"
         aria-labelledby="ajapaik-full-leaderboard-modal-label" aria-hidden="true">
        <div class="modal-dialog" style="width: 75%;">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="leaderboard_browser">
                        <div class="single">
                            <div class="score_container">
                                <ul class="scoreboard"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-default btn-block" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
{#    <div class="full-box">#}
{#        <div class="full-pic" id="ajapaik-fullscreen-image-container">#}
{#            <img id="ajapaik-mapview-full-screen-image" src=""/>#}
{#        </div>#}
{#    </div>#}
{#    <div class="full-box">#}
{#        <div class="full-pic" id="ajapaik-fullscreen-image-container">#}
{#            <img id="ajapaik-mapview-full-screen-image" src=""/>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block specific_js %}
    <script>
        var title = '{{ title }}',
            leaderboardFullURL = "{% url "project.home.views.top50" %}",
            difficultyFeedbackURL = "{% url "project.home.views.difficulty_feedback" %}",
            {% if area %}
                areaId = '{{ area.id | safe }}',
            {% endif %}
            {% if album %}
                albumId = '{{ album.id |safe }}',
            {% endif %}
            photoModalCurrentImageUrl;
            {% if area.lat and area.lon %}
                var areaLatLng = new window.google.maps.LatLng({{ area.lat | safe }}, {{ area.lon | safe }});
            {% endif %}
            {% if random_album_photo %}
                var albumLatLng;
                {% if random_album_photo.lat and random_album_photo.lon %}
                    albumLatLng = new window.google.maps.LatLng({{ random_album_photo.lat | safe }}, {{ random_album_photo.lon | safe }});
                {% else %}
                    albumLatLng = new window.google.maps.LatLng({{ random_album_photo.area.lat | safe }}, {{ random_album_photo.area.lon | safe }});
                {% endif %}
            {% endif %}
        {% if selected_photo %}
            var preselectPhotoId = '{{ selected_photo.id }}';
            {% if selected_photo.lat and selected_photo.lon %}
                var preselectPhotoLat = '{{ selected_photo.lat | safe }}',
                    preselectPhotoLng = '{{ selected_photo.lon | safe }}';
            {% endif %}
        {% endif %}
        {% if selected_rephoto %}
            var preselectRephotoId = '{{ selected_rephoto.id }}';
        {% endif %}
    </script>
    {% compress js %}
        <script src="{{ STATIC_URL }}js/markerclustererplus-2.1.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/ajapaik-common.js"></script>
        <script src="{{ STATIC_URL }}libs/jsPanel-2.3.0/source/jquery.jspanel.min.js"></script>
        <script src="{{ STATIC_URL }}js/lazysizes-0.7.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.justifiedGallery-3.5.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/browse.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/load-image.all-1.13.0.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/canvas-to-blob.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.iframe-transport.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-process.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-image.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-validate.min.js"></script>
    {% endcompress %}
    <script src="{{ STATIC_URL }}js/moment-2.9.0.min.js"></script>
    <script src="{{ STATIC_URL }}libs/bootstrap-datetimepicker-3.1.3/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}