{% extends "base_bootstrap.html" %}
{% load i18n %}

{% block header %}
    {% include "_header_city_selection_rephoto_scoreboard.html" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/justifiedGallery.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/jsPanel-bootstrap-1.4.0/source/jsPanel.css"/>
{% endblock %}
{% block layout %}
    <div id="photo-drawer"></div>

    <div id="ajapaik-mapview-map-container">
        <div id="ajapaik-mapview-map-canvas"></div>
    </div>
    <script>
        var leaderboardFullURL = "{% url "project.home.views.rephoto_top50" %}",
                //geotaggedPhotos = {{ json_data|safe }},
                userAlreadySeenPhotoIds = {{ user_seen_photo_ids|safe }},
                cityId = {{ city_id|safe }};
                //i,
                //markers = [],
                //p,
                //thumb,
                //image,
                //blueIcon,
                //blackIcon,
                //svgBlueDot,
                //svgBlackDot,
                //currentIcon;

        function initialize() {
            if (window.getQueryParameterByName("fromSelect")) {
                window.fromSelect = true;
                History.replaceState(null, null, "/kaart/?city__pk=" + cityId);
            } else {
                window.fromSelect = false;
            }
            {% if filters.filters_by_name.city_lookup_filter.get_option_object.lat and filters.filters_by_name.city_lookup_filter.get_option_object.lon %}
                window.getMap(
                        [
                            {{ filters.filters_by_name.city_lookup_filter.get_option_object.lon | safe }},
                            {{ filters.filters_by_name.city_lookup_filter.get_option_object.lat | safe }}
                        ],
                        13
                );
            {% else %}
                window.getMap();
            {% endif %}

{#            svgBlackDot = '/static/images/ajapaik-dot-black.svg';#}
{##}
{#            svgBlueDot = '/static/images/ajapaik-dot-blue.svg';#}
{##}

        }
        $(document).ready(initialize);
    </script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=visualization"></script>
    <script src="{{ STATIC_URL }}libs/jsPanel-bootstrap-1.4.0/source/jquery.jspanel.bs-1.4.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/lazysizes-0.5.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.justifiedGallery-3.4.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/ajapaik-common.js"></script>
    <script src="{{ STATIC_URL }}js/markerclusterer-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/init.js"></script>
    <script src="{{ STATIC_URL }}js/browse.js"></script>
{% endblock %}


{% comment %}
{% extends "base.html" %}
{% load i18n %}

{% block layout %}

    <div id="browse">
        <div class="top">
            <h1 class="ir">
                <a href="/?city__pk={{ filters.filters_by_name.city_lookup_filter.get_option_object.id }}">
                    {% trans "Timepatch (Ajapaik)" %}
                </a>
            </h1>
            <ul id="nav"></ul>

            <div class="filter-box">
                {{ filters.get_form.as_p }}
            </div>
        </div>
        <div id="photo-drawer"></div>
        <div class="map">
            <div id="map_canvas" style="width: 100%; height: 100%"></div>
        </div>
        <div id="photo-pane-container">
            <div id="photo-pane">

            </div>
        </div>
    </div>
    <div style="display: none;">
        <div id="leaderboard_browser">
            <div class="single">
                <a style="position:absolute;top:5px;right:10px;" href="javascript:void(0);" onclick="$.modal.close();">
                    {% trans "Close" %}
                </a>
                <div class="score_container">
                    <ul class="scoreboard" style="max-height:300px;overflow-y:auto;padding-right:10px;"></ul>
                </div>
            </div>
        </div>
    </div>

{% endblock layout %}{% endcomment %}
