{% extends "base_bootstrap.html" %}
{% load i18n %}

{% block header %}
    {% include "_header_city_selection_rephoto_scoreboard.html" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/justifiedGallery.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/jsPanel-bootstrap-1.4.0/source/jsPanel.css"/>
{% endblock %}
{% block layout %}
    <div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog" aria-labelledby="ajapaik-photo-modal-label" aria-hidden="true"></div>
    <div id="ajapaik-map-container">
        <div id="ajapaik-map-button-container">
            <div class="row">
                <button class="btn btn-default ajapaik-save-location-button pull-right" disabled="disabled">{% trans "Save location only" %}</button>
            </div>
            <div class="row">
                <button class="btn btn-primary ajapaik-mapview-skip-photo-button pull-right">{% trans "Cancel" %}</button>
            </div>
        </div>
        <div class="panel panel-default" id="ajapaik-mapview-map-info-panel">
            <div class="panel-body">
                {% trans "Geotags" %}: <span id="ajapaik-mapview-map-geotag-count"></span>
                <br/>
                {% trans "With azimuth" %}: <span id="ajapaik-mapview-map-geotag-with-azimuth-count"></span>
            </div>
        </div>
        <div id="ajapaik-map-canvas"></div>
    </div>
    <div class="modal fade" id="ajapaik-full-leaderboard-modal" tabindex="-1" role="dialog"
         aria-labelledby="ajapaik-full-leaderboard-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="leaderboard_browser">
                        <div class="single">
                            <div class="score_container">
                                <ul class="scoreboard"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="ajapaik-mapview-guess-photo-js-panel-content">
        <div id="ajapaik-mapview-guess-photo-container">
            <img class="img-responsive" src="" />
            <button class="btn btn-primary ajapaik-flip-photo-overlay-button"></button>
            <button class="btn btn-default ajapaik-fullscreen-overlay-button"></button>
        </div>
        <div id="ajapaik-mapview-guess-photo-js-panel-footer">
            <div id="ajapaik-mapview-guess-photo-description" class="row ajapaik-photo-modal-row pull-left"></div>
        </div>
    </div>
    <div id="ajapaik-mapview-feedback-js-panel-content" style="display: none;">
        <h2>{% trans "Thank you!" %}</h2>
        <p id="ajapaik-mapview-guess-feedback-message"></p>
        <p id="ajapaik-mapview-guess-feedback-points-gained"></p>
        <p id="ajapaik-mapview-guess-feedback-difficulty-prompt" style="margin: 0 0 5px;">
            {% trans "In your opinion to geotag this photo is" %}
        </p>
        <form id="ajapaik-mapview-guess-feedback-difficulty-form">
            <span style="margin-right: 10px;">
                {% trans "easy" %}
            </span>
            <input type="radio" name="difficulty" value="1">
            <input style="margin-left: 5px;" type="radio" name="difficulty" value="2">
            <input style="margin-left: 5px;" type="radio" name="difficulty" value="3">
            <span style="margin-left: 10px;">
                {% trans "hard" %}
            </span>
        </form>
        <button class="btn btn-primary ajapaik-mapview-feedback-next-button pull-right">{% trans "You're welcome!" %}</button>
    </div>
{#    <div class="full-box">#}
{#        <div class="full-pic" id="ajapaik-fullscreen-image-container">#}
{#            <img id="ajapaik-full-screen-image" src=""/>#}
{#        </div>#}
{#    </div>#}
    <script src="{{ STATIC_URL }}js/markerclusterer-2.0.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/ajapaik-common.js"></script>
    <script>
        var leaderboardFullURL = "{% url "project.home.views.rephoto_top50" %}",
            difficultyFeedbackURL = "{% url "project.home.views.difficulty_feedback" %}",
            userAlreadySeenPhotoIds = {{ user_seen_photo_ids | safe }},
            cityId = {{ city.id | safe }};
            {% if city.lat and city.lon %}
                var cityLatLng = new window.google.maps.LatLng({{ city.lat | safe }}, {{ city.lon | safe }});
            {% endif %}
    </script>
    <script src="{{ STATIC_URL }}libs/jsPanel-bootstrap-1.4.0/source/jquery.jspanel.bs-1.4.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/lazysizes-0.5.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.justifiedGallery-3.4.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/browse.js"></script>
{% endblock %}
