<div id="ajapaik-photo-pane-content-container">
    {% for element in data %}
        <a id="element{{ element.0 }}" class="ajapaik-mapview-pane-photo-container"
           data-id="{{ element.0 }}"
           onclick="window.highlightSelected({{ element.0 }}, false, event);">
            <img src=""
                 data-src="{{ element.1 }}"
                 title="{{ element.4 }}"
                 data-id="{{ element.0 }}"
                 class="lazyload img-responsive"
                 height="{{ element.7 }}"
                 width="{{ element.6 }}"
                 onmouseover="(function(e) {window.paneImageHoverIn(e)})(this)"
                 onmouseout="(function(e) {window.paneImageHoverOut(e)})(this)"/>
            {% if element.5 %}
            <div class="ajapaik-azimuth"
                 data-id="{{ element.0 }}"
                 style="display: none;"
                 onmouseover="(function(e) {window.paneAzimuthHoverIn(e)})(this)"
                 onmouseout="(function(e) {window.paneAzimuthHoverOut(e)})(this)">
            </div>
            {% endif %}
            {% if element.2 %}
                <div class="ajapaik-rephoto-count ajapaik-rephoto-count-{{ element.2 }}"
                     data-id="{{ element.0 }}"
                     onmouseover="(function(e) {window.paneRephotoCountHoverIn(e)})(this)"
                     onmouseout="(function(e) {window.paneRephotoCountHoverOut(e)})(this)">
                </div>
            {% endif %}
            <span class="fb-comments-count ajapaik-comment-count" data-href="{{ element.8 }}"></span>
        </a>
    {% endfor %}
</div>