{% extends "base_bootstrap.html" %}
{% load thumbnail i18n %}

{% block header %}
    {% include "_header.html" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/css/jquery.fileupload.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap-datetimepicker-3.1.3/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block layout %}
    <div class="modal fade" id="ajapaik-rephoto-upload-modal" tabindex="-1" role="dialog" aria-labelledby="ajapaik-rephoto-upload-modal-label" aria-hidden="true"></div>
    <div class="full-box">
        <div class="full-pic" id="ajapaik-photoview-original-fullscreen-container">
            <img id="ajapaik-photoview-original-full-screen-image" src="{{ fullscreen.url }}"/>
        </div>
    </div>
    {% if rephoto %}
        <div class="full-box">
            <div class="full-pic" id="ajapaik-photoview-rephoto-fullscreen-container">
                <img id="ajapaik-photoview-rephoto-full-screen-image" src="{{ rephoto_fullscreen.url }}"/>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid" id="ajapaik-photoview-container">
        <div class="{% if rephoto %}col-xs-10{% else %}col-xs-6{% endif %}">
            <div class="row-fluid">
                <div class="{% if rephoto %}col-xs-6{% else %}col-xs-12{% endif %}">
                    <div id="ajapaik-photoview-main-photo-container">
                        <a class="fullscreen" rel="{{ photo.id }}" id="ajapaik-photoview-original-full-screen-link">
                            <img id="ajapaik-photoview-main-photo" class="img-responsive col-xs-12 {% if photo.flip %}flip-photo{% endif %}" src="{% url 'project.home.views.photo_large' photo.id %}"/>
                        </a>
                        <button class="btn btn-default ajapaik-overlay-button ajapaik-flip-photo-overlay-button" style="display: none;"></button>
                    </div>
                    {% if photo.description %}
                        <div class="row-fluid">
                            {{ photo.description }}
                        </div>
                    {% endif %}
                    {% if photo.source_url %}
                        <div class="row-fluid">
                            <a onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);" href='{{ photo.source_url }}' target="_blank">
                                {{ photo.source.description }} {% if photo.source_key %}{{ photo.source_key }}{% endif %}
                            </a>
                        </div>
                    {% elif photo.source.description %}
                        <div class="row-fluid">
                            {{ photo.source.description }}{% if photo.source_key %}{{ photo.source_key }}{% endif %}
                        </div>
                    {% endif %}
                    <div class="row-fluid" style="margin-top: 10px;">
                        <div class="col-xs-6" style="padding-left: 0;">
                            <div class="dropdown">
                                <button id="ajapaik-sharing-dropdown-button pull-left" class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% trans "Share" %}
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="ajapaik-sharing-dropdown-button">
                                    <li role="presentation" class="disabled-link">
                                        <a role="menuitem" tabindex="-1" id="ajapaik-grab-link">
                                            <input type="text" class="form-control" value="{{ hostname }}{{ photo.get_absolute_url }}">
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1">
                                            <div class="fb-like" data-href="{{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6" style="text-align: right;">
                            <span class="btn btn-success" id="ajapaik-photoview-add-rephoto-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>{% trans "Add rephoto" %}</span>
                            </span>
                            <button class="btn btn-primary" id="ajapaik-photoview-map-button">{% trans "Map" %}</button>
                        </div>
                    </div>
                    {% include "_comments.html" %}
                </div>
                {% if rephoto %}
                    <div class="col-xs-6">
                        <div id="ajapaik-photoview-rephoto-container">
                            <a class="fullscreen" rel="{{ rephoto.id }}" id="ajapaik-photoview-rephoto-full-screen-link">
                                <img id="ajapaik-photoview-rephoto" class="img-responsive col-xs-12 {% if rephoto.flip %}flip-photo{% endif %}" src="{% url 'project.home.views.photo_large' rephoto.id %}"/>
                            </a>
                            <button class="btn btn-default ajapaik-overlay-button ajapaik-close-rephoto-overlay-button" id="ajapaik-close-rephoto-overlay-button" {% if not request.mobile %}style="display: none;"{% endif %}></button>
                        </div>
                        <div class="row-fluid">
                            {% trans "Rephotograph by" %}&nbsp;<a id="ajapaik-photo-modal-rephoto-user-link" target="_blank" href="{{ rephoto.user.fb_link }}">{{ rephoto.user.fb_name }}</a>&nbsp;{% include '_creative_commons.html' %}
                        </div>
                        {% if rephoto.date %}
                            <div class="row-fluid">
                                {% trans "Date taken" %}&nbsp;<div id="ajapaik-photoview-date-taken">{{ rephoto.date }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-2">
            <div id="ajapaik-photoview-rephoto-selection">
                {% for rephoto in photo.rephotos.all %}
                    <div class="row-fluid">
                        <a href="{% url 'project.home.views.photo' rephoto.id %}">
                            <img src="{% url 'project.home.views.photo_thumb' rephoto.id 250 %}" class="img-responsive col-xs-12 ajapaik-photoview-rephoto-thumb" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script src="{{ STATIC_URL }}/libs/jQuery-File-Upload-9.9.2/js/jquery.iframe-transport.min.js"></script>
    <script src="{{ STATIC_URL }}/libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload.min.js"></script>
    <script src="{{ STATIC_URL }}/libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-process.min.js"></script>
    <script src="{{ STATIC_URL }}/libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-image.min.js"></script>
    <script src="{{ STATIC_URL }}/libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-validate.min.js"></script>
    <script src="{{ STATIC_URL }}/libs/bootstrap-datetimepicker-3.1.3/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ STATIC_URL }}/js/ajapaik-common.js"></script>
    <script>
    $(document).ready(function () {
        var rephotoUploadModal = $('#ajapaik-rephoto-upload-modal'),
            mainPhoto = $('#ajapaik-photoview-main-photo'),
            originalFullscreen = $('#ajapaik-photoview-original-full-screen-image');
        $('.dropdown-toggle').dropdown();
        $('.disabled-link').click(function (event) {
            event.preventDefault();
            event.stopPropagation();
        });
        window.prepareFullscreen({{ fullscreen.size.0 }}, {{ fullscreen.size.1 }}, '#ajapaik-photoview-original-full-screen-image');
        {% if rephoto %}
            window.prepareFullscreen({{ rephoto_fullscreen.size.0 }}, {{ rephoto_fullscreen.size.1 }}, '#ajapaik-photoview-rephoto-full-screen-image');
        {% endif %}
        $(document).on('click', '#ajapaik-photoview-original-full-screen-link', function (e) {
            e.preventDefault();
            if (window.BigScreen.enabled) {
                window.BigScreen.request($('#ajapaik-photoview-original-fullscreen-container')[0]);
                window._gaq.push(['_trackEvent', 'Photoview', 'Full-screen']);
            }
        });
        $(document).on('click', '#ajapaik-photoview-rephoto-full-screen-link', function (e) {
            e.preventDefault();
            if (window.BigScreen.enabled) {
                window.BigScreen.request($('#ajapaik-photoview-rephoto-fullscreen-container')[0]);
                window._gaq.push(['_trackEvent', 'Photoview', 'Full-screen']);
            }
        });
        $(document).on('click', '.ajapaik-flip-photo-overlay-button', function () {
            var $this = $(this);
            if ($this.hasClass('active')) {
                $this.removeClass('active');
            } else {
                $this.addClass('active');
            }
            if (mainPhoto.hasClass('ajapaik-photo-flipped')) {
                mainPhoto.removeClass('ajapaik-photo-flipped');
            } else {
                mainPhoto.addClass('ajapaik-photo-flipped');
            }
            if (originalFullscreen.hasClass('ajapaik-photo-flipped')) {
                originalFullscreen.removeClass('ajapaik-photo-flipped');
            } else {
                originalFullscreen.addClass('ajapaik-photo-flipped');
            }
        });
        $('.full-box div').on('click', function (e) {
            if (BigScreen.enabled) {
                e.preventDefault();
                window.fullscreenEnabled = false;
                BigScreen.exit();
            }
        });
        if (window.isMobile) {
            $('.ajapaik-flip-photo-overlay-button').show();
        }
        $(document).on('mouseover', '#ajapaik-photoview-main-photo-container', function () {
            if (!window.isMobile) {
                $('.ajapaik-flip-photo-overlay-button').show();
            }
        });
        $(document).on('mouseout', '#ajapaik-photoview-main-photo-container', function () {
            if (!window.isMobile) {
                $('.ajapaik-flip-photo-overlay-button').hide();
            }
        });
        $(document).on('mouseover', '#ajapaik-photoview-rephoto-container', function () {
            if (!window.isMobile) {
                $('#ajapaik-close-rephoto-overlay-button').show();
            }
        });
        $(document).on('mouseout', '#ajapaik-photoview-rephoto-container', function () {
            if (!window.isMobile) {
                $('#ajapaik-close-rephoto-overlay-button').hide();
            }
        });
        $(document).on('click', '#ajapaik-photoview-add-rephoto-button', function () {
            $.ajax({
                cache: false,
                url: '/photo_upload_modal/' + {{ photo.id }} + '/',
                success: function (result) {
                    rephotoUploadModal.data('bs.modal', null);
                    rephotoUploadModal.html(result).modal().on('shown.bs.modal', function () {
                        $(window).resize(window.adjustModalMaxHeightAndPosition).trigger('resize');
                    });
                }
            });
        });
        $(document).on('click', '#ajapaik-photoview-map-button', function () {
             window.location.href = '/map/photo/' + {{ photo.id }};
        });
        $(document).on('click', '#ajapaik-close-rephoto-overlay-button', function () {
            window.location.href = '/foto/' + {{ photo.id }};
        });
        $('#ajapaik-comment-tabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show')
        });
        window.uploadCompleted = function (response) {
            $('#ajapaik-rephoto-upload-modal').modal('toggle');
            if (response && response.new_id) {
                window.location.reload();
            }
        };
    });
</script>
{% endblock %}