{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header_album_selection.html" %}
{% endblock %}

{% block layout %}
    <div class="container" id="ajapaik-photo-upload-container">
        <div class="col-xs-12">
            {% if request.user.is_authenticated and request.user.profile.fb_id %}
                {% with profile=request.user.profile user=request.user %}
                    <p>{% trans "User" %} <b>{{ user.get_full_name }}</b>. <a href='/logout' id='logout-button'>{% trans "Log out" %}</a>.</p>
                {% endwith %}
                <form id="fileupload" action="/public_photo_upload_handler/" method="POST" enctype="multipart/form-data">
                    <div class="row fileupload-buttonbar">
                        <div class="col-xs-7">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>{% trans "Add files..." %}</span>
                                <input type="file" name="files[]" multiple>
                            </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>{% trans "Start upload" %}</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>{% trans "Cancel upload" %}</span>
                            </button>
                            <span id="ajapaik-photo-upload-destination-album">
                                {% trans "Selected album:" %}&nbsp;<span>{{ album.name }}</span>
                            </span>
                            <span class="fileupload-process"></span>
                        </div>
                        <div class="col-xs-5 fileupload-progress fade">
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                            </div>
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <table role="presentation" class="table table-striped">
                        <tbody class="files"></tbody>
                    </table>
                </form>
            {% else %}
                <div id="facebook-connect">
                    <p>{% trans "Photo uploading requires connecting your account with Facebook." %}</p>
                    <a href="/facebook/login" class="ir">{% trans "Connect with Facebook" %}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock layout %}
{% block specific_js %}
    {% compress js %}
        {% verbatim %}
            <script id="template-upload" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
                    <tr class="template-upload fade">
                        <td>
                            <span class="preview"></span>
                        </td>
                        <td>
                            <span class="coordinates"></span>
                        </td>
                        <td>
                            <p class="name">{%=file.name%}</p>
                            <strong class="error text-danger"></strong>
                        </td>
                        <td>
                            <p class="size">Processing...</p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                        </td>
                        <td>
                            {% if (!i && !o.options.autoUpload) { %}
                                <button class="btn btn-primary start" disabled>
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start</span>
                                </button>
                            {% } %}
                            {% if (!i) { %}
                                <button class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                            {% } %}
                        </td>
                    </tr>
                {% } %}
            </script>
            <script id="template-download" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
                    <tr class="template-download fade">
                        <td>
                            <span class="preview">
                                {% if (file.thumbnailUrl) { %}
                                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                                {% } %}
                            </span>
                        </td>
                        <td>
                            <p class="name">
                                {% if (file.url) { %}
                                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                                {% } else { %}
                                    <span>{%=file.name%}</span>
                                {% } %}
                            </p>
                            {% if (file.error) { %}
                                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                            {% } %}
                        </td>
                        <td>
                            <span class="size">{%=o.formatFileSize(file.size)%}</span>
                        </td>
                        <td>
                            {% if (file.deleteUrl) { %}
                                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                                <!--<input type="checkbox" name="delete" value="1" class="toggle">-->
                            {% } else { %}
                                <!--<button class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>-->
                            {% } %}
                        </td>
                    </tr>
                {% } %}
            </script>
        {% endverbatim %}
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/tmpl.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/load-image.all-1.13.0.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/canvas-to-blob.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.iframe-transport.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-process.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-image.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-ui.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-validate.min.js"></script>
        <script>
            $(function () {
                'use strict';
                var fileuploadDiv = $('#fileupload');
                if (fileuploadDiv.length > 0) {
                    fileuploadDiv.fileupload({
                    }).bind('fileuploadsubmit', function (e, data) {
                        data.formData = {
                            csrfmiddlewaretoken: window.docCookies.getItem('csrftoken'),
                            albumId: $("#id_album").val()
                        };
                    });
                    fileuploadDiv.addClass('fileupload-processing');
                    $.ajax({
                        url: fileuploadDiv.fileupload('option', 'url'),
                        dataType: 'json',
                        context: fileuploadDiv[0]
                    }).always(function () {
                        $(this).removeClass('fileupload-processing');
                    }).done(function (result) {
                        $(this).fileupload('option', 'done').call(this, $.Event('done'), {result: result});
                    });
                }
                $('.filter-box select').change(function () {
                    $('#ajapaik-photo-upload-destination-album').find('span').html($("#id_album option:selected").text());
                });
            });
        </script>
    {% endcompress %}
{% endblock %}