{% extends "base_bootstrap.html" %}
{% load thumbnail i18n compress %}

{% block header %}
    {% include "_header.html" %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/css/jquery.fileupload.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap-datetimepicker-3.1.3/css/bootstrap-datetimepicker.min.css">
    {% endcompress %}
{% endblock %}

{% block layout %}
    <div class="modal fade" id="ajapaik-rephoto-upload-modal" tabindex="-1" role="dialog" aria-labelledby="ajapaik-rephoto-upload-modal-label" aria-hidden="true"></div>
    <div class="full-box">
        <div class="full-pic" id="ajapaik-photoview-original-fullscreen-container">
            <img id="ajapaik-photoview-original-full-screen-image" src="{{ fullscreen.url }}"/>
        </div>
    </div>
    {% if rephoto %}
        <div class="full-box">
            <div class="full-pic" id="ajapaik-photoview-rephoto-fullscreen-container">
                <img id="ajapaik-photoview-rephoto-full-screen-image" src="{{ rephoto_fullscreen.url }}"/>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid" id="ajapaik-photoview-container">
        <div class="col-xs-10">
            <div class="row-fluid">
                <div class="{% if rephoto %}col-xs-6{% else %}col-xs-12{% endif %}">
                    <div id="ajapaik-photoview-main-photo-container">
                        <a class="fullscreen" rel="{{ photo.id }}" id="ajapaik-photoview-original-full-screen-link">
                            <img id="ajapaik-photoview-main-photo" class="img-responsive col-xs-12 {% if photo.flip %}flip-photo{% endif %}" src="{% url 'project.home.views.photo_large' photo.id %}"/>
                        </a>
                        <button class="btn btn-default ajapaik-overlay-button ajapaik-flip-photo-overlay-button" style="display: none;"></button>
                    </div>
                    {% if photo.author %}
                        <div class="row-fluid">
                            <b>{{ photo.author }}</b>
                        </div>
                    {% endif %}
                    {% if photo.description %}
                        <div class="row-fluid">
                            {{ photo.description }}
                        </div>
                    {% endif %}
                    {% if photo.source_url %}
                        <div class="row-fluid">
                            <a onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);" href='{{ photo.source_url }}' target="_blank">
                                {{ photo.source.description }} {% if photo.source_key %}{{ photo.source_key }}{% endif %}{% if photo.licence %}{% include "_licence.html" with licence=photo.licence %}{% endif %}
                            </a>
                        </div>
                    {% elif photo.source.description %}
                        <div class="row-fluid">
                            {{ photo.source.description }}{% if photo.source_key %}{{ photo.source_key }}{% endif %}{% if photo.licence %}&nbsp;{% include "_licence.html" with licence=photo.licence %}{% endif %}
                        </div>
                    {% endif %}
                    <div class="row" style="margin-top: 10px;">
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="ajapaik-sharing-dropdown-button" class="btn btn-primary"
                                    type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans "Share" %}
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="ajapaik-sharing-dropdown-button">
                                <li role="presentation" class="disabled-link">
                                    <a role="menuitem" tabindex="-1" id="ajapaik-grab-link">
                                        <input type="text" class="form-control"
                                               value="{{ hostname }}{{ photo.get_absolute_url }}">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1">
                                        <div class="fb-like" data-href="
                                                {{ hostname }}{% if rephoto %}{{ rephoto.get_absolute_url }}{% else %}{{ photo.get_absolute_url }}{% endif %}"
                                             data-layout="standard" data-action="like" data-show-faces="true"
                                             data-share="true"></div>
                                    </a>
                                </li>
                            </ul>
                            <span class="btn btn-success" id="ajapaik-photoview-add-rephoto-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>{% trans "Add rephoto" %}</span>
                            </span>
                            <button class="btn btn-primary" id="ajapaik-photoview-map-button">
                                {% trans "Location on the map" %}
                            </button>
                        </div>
                    </div>
                </div>
                {% if rephoto %}
                    <div class="col-xs-6">
                        <div id="ajapaik-photoview-rephoto-container">
                            <a class="fullscreen" rel="{{ rephoto.id }}" id="ajapaik-photoview-rephoto-full-screen-link">
                                <img id="ajapaik-photoview-rephoto" class="img-responsive col-xs-12 {% if rephoto.flip %}flip-photo{% endif %}" src="{% url 'project.home.views.photo_large' rephoto.id %}"/>
                            </a>
                            <button class="btn btn-default ajapaik-overlay-button ajapaik-close-rephoto-overlay-button" id="ajapaik-close-rephoto-overlay-button" {% if not request.mobile %}style="display: none;"{% endif %}></button>
                        </div>
                        {% if rephoto.source and rephoto.source_key and rephoto.source_url %}
                            {% if rephoto.author %}
                                <div class="row-fluid"><b>{{ rephoto.author }}</b>{% if rephoto.licence %} {% include "_licence.html" with licence=rephoto.licence %}{% endif %}</div>
                            {% endif %}
                            <div class="row-fluid">
                                <a onclick="window._gaq.push(['_trackEvent', 'Photoview', 'Source link click']);" href='{{ rephoto.source_url }}' target="_blank">
                                    {{ rephoto.source.description }} {{ rephoto.source_key }}
                                </a>
                            </div>
                        {% elif rephoto.author %}
                            <div class="row-fluid"><b>{{ rephoto.author }}</b>{% if rephoto.licence %} {% include "_licence.html" with licence=rephoto.licence %}{% endif %}</div>
                        {% elif rephoto.user.fb_name %}
                            <div class="row-fluid">
                                {% trans "Rephotograph by" %}&nbsp;<a id="ajapaik-photo-modal-rephoto-user-link" target="_blank" href="{{ rephoto.user.fb_link }}">{{ rephoto.user.fb_name }}</a>&nbsp;{% include '_licence.html' %}
                            </div>
                        {% else %}
                            <div class="row-fluid">
                                <b>{% trans "Unknown author" %}</b>
                            </div>
                        {% endif %}
                        {% if rephoto.date %}
                            <div class="row-fluid">
                                {% trans "Date taken" %}&nbsp;<div id="ajapaik-photoview-date-taken">{{ rephoto.date|date:"d.m.Y" }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-2">
            <div id="ajapaik-photoview-rephoto-selection">
                {% for rephoto in photo.rephotos.all %}
                    <div class="row ajapaik-no-right-margin-row ajapaik-no-left-margin-row">
                        <a href="{% url 'project.home.views.photo' rephoto.id %}" class="col-xs-12">
                            <img src="{% url 'project.home.views.photo_thumb' rephoto.id 250 %}" class="img-responsive col-xs-12 ajapaik-photoview-rephoto-thumb" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "_comments.html" %}
    </div>
{% endblock %}

{% block specific_js %}
    <script src="{{ STATIC_URL }}js/moment-2.9.0.min.js"></script>
    {% compress js %}
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/load-image.all-1.13.0.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/canvas-to-blob.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.iframe-transport.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-process.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-image.min.js"></script>
        <script src="{{ STATIC_URL }}libs/jQuery-File-Upload-9.9.2/js/jquery.fileupload-validate.min.js"></script>
        <script src="{{ STATIC_URL }}libs/bootstrap-datetimepicker-3.1.3/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{{ STATIC_URL }}js/ajapaik-common.js"></script>
    {% endcompress %}
    <script>
        $(document).ready(function () {
            var rephotoUploadModal = $('#ajapaik-rephoto-upload-modal'),
                mainPhoto = $('#ajapaik-photoview-main-photo'),
                originalFullscreen = $('#ajapaik-photoview-original-full-screen-image');
            window.isPhotoview = true;
            window.gameRedirectURI = '/game?area=' + '{{ area.id }}';
            $('.dropdown-toggle').dropdown();
            $('.disabled-link').click(function (event) {
                event.preventDefault();
                event.stopPropagation();
            });
            window.prepareFullscreen({{ fullscreen.size.0 }}, {{ fullscreen.size.1 }}, '#ajapaik-photoview-original-full-screen-image');
            {% if rephoto %}
                window.prepareFullscreen({{ rephoto_fullscreen.size.0 }}, {{ rephoto_fullscreen.size.1 }}, '#ajapaik-photoview-rephoto-full-screen-image');
            {% endif %}
            $(document).on('click', '#ajapaik-photoview-original-full-screen-link', function (e) {
                e.preventDefault();
                if (window.BigScreen.enabled) {
                    window.BigScreen.request($('#ajapaik-photoview-original-fullscreen-container')[0]);
                    window._gaq.push(['_trackEvent', 'Photoview', 'Full-screen']);
                }
            });
            $(document).on('click', '#ajapaik-photoview-rephoto-full-screen-link', function (e) {
                e.preventDefault();
                if (window.BigScreen.enabled) {
                    window.BigScreen.request($('#ajapaik-photoview-rephoto-fullscreen-container')[0]);
                    window._gaq.push(['_trackEvent', 'Photoview', 'Full-screen']);
                }
            });
            $(document).on('click', '.ajapaik-flip-photo-overlay-button', function () {
                var $this = $(this);
                if ($this.hasClass('active')) {
                    $this.removeClass('active');
                } else {
                    $this.addClass('active');
                }
                if (mainPhoto.hasClass('ajapaik-photo-flipped')) {
                    mainPhoto.removeClass('ajapaik-photo-flipped');
                } else {
                    mainPhoto.addClass('ajapaik-photo-flipped');
                }
                if (originalFullscreen.hasClass('ajapaik-photo-flipped')) {
                    originalFullscreen.removeClass('ajapaik-photo-flipped');
                } else {
                    originalFullscreen.addClass('ajapaik-photo-flipped');
                }
            });
            $('.full-box div').on('click', function (e) {
                if (BigScreen.enabled) {
                    e.preventDefault();
                    window.fullscreenEnabled = false;
                    BigScreen.exit();
                }
            });
            if (window.isMobile) {
                $('.ajapaik-flip-photo-overlay-button').show();
            }
            $(document).on('mouseover', '#ajapaik-photoview-main-photo-container', function () {
                if (!window.isMobile) {
                    $('.ajapaik-flip-photo-overlay-button').show();
                }
            });
            $(document).on('mouseout', '#ajapaik-photoview-main-photo-container', function () {
                if (!window.isMobile) {
                    $('.ajapaik-flip-photo-overlay-button').hide();
                }
            });
            $(document).on('mouseover', '#ajapaik-photoview-rephoto-container', function () {
                if (!window.isMobile) {
                    $('#ajapaik-close-rephoto-overlay-button').show();
                }
            });
            $(document).on('mouseout', '#ajapaik-photoview-rephoto-container', function () {
                if (!window.isMobile) {
                    $('#ajapaik-close-rephoto-overlay-button').hide();
                }
            });
            $(document).on('click', '#ajapaik-photoview-add-rephoto-button', function () {
                $.ajax({
                    cache: false,
                    url: '/photo_upload_modal/' + {{ photo.id }} + '/',
                    success: function (result) {
                        rephotoUploadModal.data('bs.modal', null);
                        rephotoUploadModal.html(result).modal().on('shown.bs.modal', function () {
                            $(window).resize(window.adjustModalMaxHeightAndPosition).trigger('resize');
                        });
                    }
                });
            });
            $(document).on('click', '#ajapaik-photoview-map-button', function () {
                {% if album.id %}
                    window.location.href = '/map/photo/' + {{ photo.id }} + '?album=' + {{ album.id }};
                {% else %}
                    window.location.href = '/map/photo/' + {{ photo.id }} + '?area=' + {{ area.id }};
                {% endif %}
            });
            $(document).on('click', '#ajapaik-photoview-header-game-button', function () {
                var albumId = $('#id_album').val(),
                    gameURL = '{% url 'project.home.views.game' %}';
                window.location.href =  gameURL + '?album=' + albumId;
            });
            $(document).on('click', '#ajapaik-photoview-header-map-button', function () {
                var albumId = $('#id_album').val(),
                    mapURL = '{% url 'project.home.views.mapview' %}';
                window.location.href =  mapURL + '?album=' + albumId;
            });
            $(document).on('click', '#ajapaik-close-rephoto-overlay-button', function () {
                window.location.href = '/foto/' + {{ photo.id }};
            });
            $(document).on('click', '#ajapaik-header-game-button', function () {
                window.location.href = window.gameRedirectURI;
            });
            $('#ajapaik-comment-tabs a').click(function (e) {
                e.preventDefault();
                FB.XFBML.parse();
                $(this).tab('show')
            });
            window.uploadCompleted = function (response) {
                $('#ajapaik-rephoto-upload-modal').modal('toggle');
                if (response && response.new_id) {
                    window.location.reload();
                }
            };
            window._gaq.push(['_trackPageview', '{{ photo.get_absolute_url }}']);
        });
    </script>
{% endblock %}