{% extends "base_bootstrap.html" %}
{% load i18n compress %}

{% block header %}
    {% include "_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container-fluid">
        {% if request.user.is_authenticated and request.user.profile.fb_id or request.user.profile.google_plus_id %}
            <div class="panel panel-default" id="ajapaik-selection-top-panel">
                <div class="panel-body">
                    <div class="alert alert-success hidden"></div>
                    <div class="alert alert-error hidden"></div>
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        <button id="ajapaik-photo-selection-create-album-button" type="button"
                                class="btn btn-success">{% trans "Add to album" %}</button>
                        <button id="ajapaik-photo-selection-clear-selection-button" type="button"
                                class="btn btn-primary">{% trans "Clear selection" %}</button>
                    </div>
                </div>
            </div>
            <div id="ajapaik-photo-selection-gallery">
                <div class="panel panel-default" id="ajapaik-selection-middle-panel">
                    <div class="panel-body">
                        {% for p in photos %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="ajapaik-frontpage-image-container-{{ p.0 }}" style="min-height: 330px;" data-id="{{ p.0 }}">
                                <a href="{% url "project.home.views.photo" p.0 %}"
                                   class="thumbnail ajapaik-photo-selection-thumbnail-link" data-id="{{ p.0 }}">
                                    <img src="{% url "project.home.views.fixed_height_photo_thumb" p.0 300 %}"
                                         width="{{ p.1 }}" height="{{ p.2 }}" alt="..." class="img-responsive ajapaik-photo-selection-thumbnail{% if p.3 %} ajapaik-photo-flipped{% endif %}">
                                    <div class="ajapaik-remove-from-selection-button" data-id="{{ p.0 }}"></div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="full-box original-full-box">
                <div class="full-pic" id="ajapaik-fullscreen-image-container">
                    <img id="ajapaik-full-screen-image" src="#" alt="{% trans "Original photo on full screen" %}"/>
                </div>
            </div>
            <div class="modal fade" id="ajapaik-photo-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
            {% include "_info_modal.html" %}
            {% include "_full_leaderboard_modal.html" %}
            {% include "_rephoto_upload_modal.html" %}
            {% include "_album_creation_modal.html" %}
            {% include "_curator_album_selection_option.html" %}
            {% include "_curator_album_selection_separator.html" %}
        {% else %}
            <div id="facebook-connect" style="margin-top: 75px; margin-bottom: 25px;">
                <p>{% trans "Creating or editing albums requires connecting your account with Facebook or Google." %}</p>
                <a href="/facebook/login" class="ir">{% trans "Connect with Facebook" %}</a>
            </div>
            <div id="google-plus-connect">
                <a href="/google_login/" class="ir">{% trans "Connect with Google" %}</a>
            </div>
        {% endif %}
        </div>
{% endblock %}
{% block specific_js %}
    <script>
        window.isSelection = true;
    </script>
    {% compress js %}
        <script src="{{ STATIC_URL }}js/ajapaik-selection.js"></script>
    {% endcompress %}
{% endblock %}