html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 50px 0 0 0;
    background-color: #eee;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.ajapaik-invisible {
    visibility: hidden;
}

.ajapaik-filter-gray {
    fill: #888;
}

.ajapaik-filter-white {
    fill: #fff;
}

.ajapaik-white {
    fill: #fff;
}

.ajapaik-gray {
    fill: #888;
}

.ajapaik-force-gray {
    fill: #888 !important;
}

.ajapaik-text-white {
    color: #fff !important;
}

.ajapaik-text-gray {
    color: #888 !important;
}

.ajapaik-dark-background {
    background-color: rgba(0, 0, 0, .8);
}

.ajapaik-dark-background > li > a {
    color: #fff;
}

.ajapaik-no-background {
    background: none !important;
}

#ajapaik-album-selection-navmenu {
    z-index: 100;
    width: 100%;
    bottom: 0 !important;
}

#ajapaik-album-filter-box {
    margin-top: 8px;
    border-radius: 0;
}

#ajapaik-photo-filter-box {
    margin-top: 8px;
    border-radius: 0;
    max-width: 100px;
}

#ajapaik-frontpage-mode-select {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
    margin-top: 15px;
}

#ajapaik-frontpage-mode-select.with-album {
    margin-top: 0px;
}

#ajapaik-filtering-help {
    background: none;
}

#ajapaik-frontpage-mode-select > li > a {
    font-size: 20px;
    color: #fff;
    background: none !important;
}

#ajapaik-frontpage-mode-select > li.disabled > a {
    color: #888 !important;
}

.ajapaik-black-dropdown-menu {
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    display: none;
    float: left;
    min-width: 160px;
    background-color: rgba(0, 0, 0, .8);
    border-left: none;
    border-right: none;
    /*padding: 5px 0;*/
    margin: 0 auto;
    text-align: center;
}

.ajapaik-black-dropdown-menu li {
    display: inline-block;
}

.navbar-collapse.collapse.in {
    background-color: rgba(0, 0, 0, .8);
}

.ajapaik-html-game-map {
    height: 100%;
}

.ajapaik-body-frontpage {
    margin-bottom: 80px;
    overflow-y: scroll;
}

.ajapaik-body-photoview {
    overflow-y: scroll;
}

.ajapaik-body-game-map {
    height: 100%;
}

.ajapaik-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.navmenu {
    padding-top: 50px;
}

.ajapaik-padding-top-6px {
    padding-top: 6px !important;
}

.ajapaik-margin-right-minus-10px {
    margin-right: -10px;
}

.ajapaik-margin-right-minus-20px {
    margin-right: -20px;
}

/*.navbar {*/
/*display: block;*/
/*text-align: center;*/
/*}*/

/*.navbar-brand {*/
/*display: inline-block;*/
/*float: none;*/
/*}*/

/*.navbar-toggle {*/
/*position: absolute;*/
/*float: left;*/
/*margin-left: 15px;*/
/*}*/

.container {
    max-width: 100%;
}

.ajapaik-margin-left-minus-10-px {
    margin-left: -10px;
}

.ajapaik-margin-left-minus-20-px {
    margin-left: -20px;
}

/*@media (min-width: 1px) {*/
/*.navbar-toggle {*/
/*display: block !important;*/
/*}*/
/*}*/

.ajapaik-navbar {
    height: 50px;
    background: rgba(0, 0, 0, .8) none;
    border-width: 0 0 0 0;
    z-index: 100;
    margin-bottom: 0 !important;
}

.ajapaik-curator-navbar {
    height: 150px;
    margin-top: 0;
}

.ajapaik-navbar-curator {
    margin-bottom: 50px;
}

.ajapaik-navmenu {
    margin-top: 50px;
    padding-top: 0;
    z-index: 100;
}

.ajapaik-btn-white-space-nowrap {
    white-space: nowrap !important;
}

.ajapaik-caption {
    display: block !important;
    background-color: rgba(0, 0, 0, .7) !important;
    min-height: 30px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 90px !important;
    font-weight: bold;
}

.ajapaik-caption-album-selection {
    display: block !important;
    background-color: rgba(0, 0, 0, .7) !important;
    min-height: 30px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 100%;
}

.ajapaik-caption-album-selection > i {
    font-size: 20px;
    margin-right: 5px;
}

.ajapaik-brand {
    float: left;
    background: url(../images/ajapaik_266px.png) no-repeat;
    position: fixed;
    width: 133px;
    height: 73px;
    margin: 10px 0 0 20px !important;
    background-size: 133px 73px;
    text-indent: -999em;
}

.ajapaik-brand-xs {
    background: url(../images/ajapaik_marker_45px.png) no-repeat;
    width: 45px;
    height: 61px;
    background-size: 45px 61px;
    margin: 5px 0 0 10px;
}

.ajapaik-navbar-toggle {
    border: none;
    color: white !important;
    cursor: pointer;
}

#mapview-photo-modal-dialog .modal-content {
    border-radius: 0;
}

/*@media (min-width: 992px) {*/
/*body {*/
/*padding: 0 0 0 300px;*/
/*}*/
/*.navmenu {*/
/*padding-top: 0;*/
/*}*/
/*.navbar {*/
/*display: none !important; *//* IE8 fix */
/*}*/
/*}*/

.ajapaik-frontpage-image-container {
    display: none;
    opacity: 1 !important;
}

#ajapaik-header-logo {
    background: url(../images/ajapaik_266px.png) no-repeat;
    width: 133px;
    height: 73px;
    margin: 10px 0 0 20px;
    background-size: 133px 73px;
    text-indent: -999em;
    z-index: 1031;
}

#ajapaik-header {
    height: 50px;
    background-color: rgba(0, 0, 0, .8);
    border-color: transparent;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 0;
    width: 100%;
    max-width: 100%;
}

.ajapaik-photo-flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.ajapaik-photo-inverted {
    filter: invert(1) grayscale(1);
    -webkit-filter: invert(1) grayscale(1);
}

.ajapaik-photo-bw {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

#ajapaik-game-fullscreen-image-container {
    width: 100%;
    height: 100%;
}

.ajapaik-grid-close-map-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 1002;
}

.ajapaik-save-location-button {

}

.ajapaik-minimap-confirm-geotag-button {
    min-width: 36px;
    min-height: 36px;
    background-size: 36px !important;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    border: none;
}

.ajapaik-minimap-confirm-geotag-button:hover {
    color: #333;
}

.ajapaik-minimap-confirm-geotag-button-done:hover {
    color: #007fff;
}

.ajapaik-minimap-confirm-geotag-button:focus {
    color: #333;
}

.ajapaik-minimap-confirm-geotag-button-done:focus {
    color: #007fff;
}

.ajapaik-minimap-confirm-geotag-button > i {
    font-size: 36px;
}

.ajapaik-minimap-confirm-geotag-button-done {
    color: #007fff;
}

.ajapaik-minimap-start-guess-button {
    min-width: 36px;
    min-height: 36px;
    background-size: 36px !important;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    border: none;
}

.ajapaik-minimap-start-guess-button > i {
    font-size: 36px;
}

@media (min-width: 768px) {
    .ajapaik-minimap-start-guess-button {
        width: 40px;
        height: 40px;
    }

    .ajapaik-minimap-confirm-geotag-button {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 992px) {
    .ajapaik-minimap-start-guess-button {
        width: 75px;
        height: 75px;
    }

    .ajapaik-minimap-confirm-geotag-button {
        width: 75px;
        height: 75px;
    }
}

.ajapaik-minimap-geotagging-user-number {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
    background-color: white;
    cursor: pointer;
}

.ajapaik-minimap-geotagging-user-number.no-location {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.ajapaik-minimap-geotagging-user-single-person {
    background: transparent url(../images/material-design-icons/ic_person_black_24px.svg) no-repeat center !important;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 6px;
    margin-right: 3px;
}

.ajapaik-minimap-geotagging-user-multiple-people {
    background: transparent url(../images/material-design-icons/ic_people_black_24px.svg) no-repeat center !important;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 6px;
    margin-right: 3px;
}

.ajapaik-minimap-geotagging-user-multiple-people.ajapaik-minimap-geotagging-user-active {
    background: transparent url(../images/material-design-icons/ic_people_blue_24px.svg) no-repeat center !important;
}

.ajapaik-minimap-geotagging-user-single-person.ajapaik-minimap-geotagging-user-active {
    background: transparent url(../images/material-design-icons/ic_person_blue_24px.svg) no-repeat center !important;
}

#ajapaik-minimap-disabled-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: none;
    z-index: 1;
    border: 1px solid black;
}

.ajapaik-minimap-start-guess-CTA-button {
    background: transparent no-repeat center !important;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    z-index: 2000;
}

.ajapaik-minimap-start-guess-CTA-button > i {
    font-size: 70px;
}

#ajapaik-feedback-div {
    height: 40px;
    width: 104px;
    position: fixed;
    bottom: 100px;
    left: -32px;
    z-index: 999;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#ajapaik-feedback-div a {
    display: block;
    background: #981D2A;
    height: 40px;
    width: 115px;
    padding: 8px 16px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 1px #333;
    border-left: solid 1px #333;
    border-right: solid 1px #fff;
}

#ajapaik-feedback-div a:hover {
    background: #06c;
}

.ajapaik-header-info-button {
    background: #fff url(../images/material-design-icons/ic_info_outline_24px.svg) no-repeat center !important;
    width: 36px;
    height: 36px;
    margin-top: -5px;
}

.ajapaik-header-button {
    width: 36px;
    height: 36px;
    background-size: 36px !important;
    margin-top: 6px;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

path:hover {
    fill: white;
}

.ajapaik-fixed-gray:hover {
    fill: #888 !important;
}

/*.ajapaik-header-grid-button-white {*/
/*background-image: url(../images/material-design-icons/ic_photoview_24px_white.svg) !important;*/
/*}*/

.ajapaik-filtering-choice {
    background: none !important;
}

#ajapaik-frontpage-filtering-dropdown-menu > li {
    background: none !important;
}

#ajapaik-frontpage-filtering-dropdown-menu > li > a {
    background: none !important;
}

.ajapaik-header-curate-button-white {
    fill: white;
}

body > nav > div > div.navbar-collapse.navbar-left.collapse.in {
    margin-top: 50px;
    min-width: 100%;
    overflow-x: hidden;
}

body > nav > div > div.navbar-collapse.navbar-left.collapse.in > ul > li > #ajapaik-header-map-button {
    margin-right: 0 !important;
}

#ajapaik-header-album-name {
    cursor: pointer;
    font-size: 20px;
}

#ajapaik-header-title {
    font-size: 20px;
    float: right;
    margin-left: 5px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

#ajapaik-header-about-button > i {
    font-size: 36px;
}

#ajapaik-header-album-icon {
    float: left;
}

#ajapaik-header-pictures-icon {
    float: left;
}

#ajapaik-header-likes-icon {
    float: left;
}

#ajapaik-header-rephotos-icon {
    float: left;
}

#ajapaik-header-image-icon {
    float: left;
}

#ajapaik-header-album-more {
    margin-left: 5px;
}

#ajapaik-frontpage-show-pictures-link > svg {
    margin-right: 5px;
}

#ajapaik-frontpage-show-albums-link > svg {
    margin-right: 5px;
}

#ajapaik-frontpage-show-liked-link > svg {
    margin-right: 5px;
}

#ajapaik-frontpage-show-rephotographed-link > svg {
    margin-right: 5px;
}

#ajapaik-frontpage-show-albums-link > a > svg {
    margin-right: 5px;
}

.ajapaik-album-selection-photo-count {
    background-size: 18px;
    display: inline-block;
    float: left;
    line-height: 24px;
    width: 48px;
    height: 24px;
    background: url(../images/material-design-icons/ic_image_gray_24px.svg) no-repeat;
}

.ajapaik-album-selection-photo-count > span {
    font-size: 13px;
    margin-left: 25px;
}

.ajapaik-album-selection-geotagged-count {
    background-size: 18px;
    display: inline-block;
    float: left;
    line-height: 24px;
    width: 48px;
    height: 24px;
    background: url(../images/material-design-icons/ic_place_24px.svg) no-repeat;
}

.ajapaik-album-selection-geotagged-count > span {
    font-size: 13px;
    margin-left: 25px;
}

.ajapaik-album-selection-rephoto-count {
    background-size: 18px;
    display: inline-block;
    float: left;
    line-height: 24px;
    margin-left: 5px;
    width: 48px;
    height: 24px;
    background: url(../images/material-design-icons/ic_add_to_photos_24px.svg) no-repeat;
}

.ajapaik-album-selection-rephoto-count > span {
    font-size: 13px;
    margin-left: 25px;
}

.ajapaik-album-selection-comment-count {
    background-size: 18px;
    display: inline-block;
    float: left;
    line-height: 24px;
    width: 48px;
    height: 24px;
    background: url(../images/material-design-icons/ic_comment_gray_24px.svg) no-repeat;
}

.ajapaik-album-selection-comment-count > span {
    font-size: 13px;
    margin-left: 25px;
}

#ajapaik-header-menu-button {
    background-image: url(../images/material-design-icons/ic_bookmark_24px.svg);
    margin-left: 10px;
}

.ajapaik-header-menu-button-white {
    background-image: url(../images/material-design-icons/ic_bookmark_24px_white.svg) !important;
}

#ajapaik-header-menu-button-hidden-xs {
    background-image: url(../images/material-design-icons/ic_bookmark_24px.svg);
    margin-left: 10px;
}

#ajapaik-filter-selection-menu {
    margin-top: 50px;
}

#ajapaik-album-selection-label {
    display: none;
    color: #fff;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: -5px;
    padding-left: 0;
    padding-right: 0;
}

#ajapaik-filter-dropdown-filter-name {
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: -5px;
    display: block;
}

#ajapaik-header-profile-button {
    padding-top: 8px;
}

#ajapaik-header-profile-button > i {
    font-size: 36px;
}

@media (min-width: 1200px) {
    .modal-xxl {
        width: 1200px
    }
}

#ajapaik-header-album-filter-button {
    padding-left: 0;
}

#ajapaik-header-album-filter-button-off {
    display: none;
}

/*#ajapaik-header-album-filter-button {*/
/*background-image: url(../images/material-design-icons/ic_check_box_24px.svg);*/
/*background-size: 24px !important;*/
/*margin-top: 8px;*/
/*margin-left: -10px;*/
/*margin-right: 20px;*/
/*float: left;*/
/*}*/

/*.ajapaik-header-album-filter-button-off {*/
/*background-image: url(../images/material-design-icons/ic_check_box_outline_blank_24px.svg) !important;*/
/*}*/

#ajapaik-map-canvas {
    width: 100%;
    height: 100%;
}

#ajapaik-map-container {
    height: 100%;
    width: 100%;
    z-index: 98;
}

#ajapaik-guess-panel-container-xs {
    width: 100%;
    min-width: 100%;
    height: 0;
    max-height: 50%;
    z-index: 2000;
    padding: 0;
    display: none;
}

#ajapaik-guess-panel-photo-container-xs {
    padding: 0;
    height: 100%;
}

#ajapaik-guess-panel-photo-container-xs .col-xs-6 {
    padding: 0;
    height: 100%;
}

#ajapaik-guess-panel-photo-container-column-xs {
    padding: 0;
}

#ajapaik-guess-panel-photo-xs {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
    max-width: 100%;
}

#ajapaik-guess-panel-container {
    width: 0;
    display: none;
    z-index: 2;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#ajapaik-guess-feedback-panel {
    display: none;
    height: 50%;
    margin-top: 10px;
}

#ajapaik-guess-feedback-panel-xs {
    display: none;
    height: 30%;
    max-height: 30%;
}

#ajapaik-guess-feedback-panel-xs .row {
    margin: 5px auto 0;
}

/*#ajapaik-map-button-container {*/

/*}*/

/*#ajapaik-map-button-container .row {*/
/*position: absolute;*/
/*bottom: 25px;*/
/*right: 25px;*/
/*padding-left: 25px;*/
/*width: 30%;*/
/*}*/

#ajapaik-map-button-container-xs {
    padding-right: 5px !important;
    padding-left: 5px !important;
    display: none;
}

#ajapaik-guess-panel-info-panel {
    margin-top: 10px;
}

#ajapaik-guess-panel-info-panel-xs {
    display: none;
}

#ajapaik-guess-panel-info-panel-xs .panel {
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#ajapaik-map-button-container-xs .btn {
    margin-top: 10px;
}

#ajapaik-map-button-container .btn {
    margin-top: 5px;
}

#ajapaik-guess-feedback-panel .row {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding-left: 25px;
    width: 25%;
}

#ajapaik-guess-panel-container p {
    white-space: normal;
    overflow: hidden;
}

#ajapaik-guess-panel-container .row {
    margin-top: 10px;
}

#ajapaik-geotag-feedback-panel {
    height: 46%;
    max-height: 46%;
}

#ajapaik-guess-panel-photo {
    margin: 0 auto;
}

#ajapaik-game-status-message {
    margin-top: 10px;
}

a.fullscreen {
    cursor: zoom-in;
}

.full-box {
    position: relative;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.original-full-box {
    z-index: 10000;
}

.rephoto-full-box {
    z-index: 9999;
}

.full-pic {
    position: absolute;
    left: 0;
    top: 0;
    background: black center center no-repeat;
    background-size: 128px 128px;
    width: 100%;
    height: 100%;
}

.full-pic img {
    min-width: 128px;
    min-height: 128px;
    opacity: 0;
    cursor: zoom-out;
}

.center-marker {
    position: absolute;
    background: url('../images/material-design-icons/ajapaik_photo_camera_arrow_drop_down_mashup.svg') no-repeat;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-left: -12px;
    margin-top: -33px;
    height: 33px;
    width: 24px;
    cursor: pointer;
}

#ajapaik-grid-guess-notice-container {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1004;
}

#ajapaik-grid-guess-notice-container .panel-body {
    padding: 30px;
}

.modal-backdrop {
    z-index: 98;
}

#ajapaik-game-photo-modal {
    z-index: 99;
}

.modal-backdrop.in {
    opacity: 0.8;
}

.ajapaik-grid-close-guess-notice-button {
    margin-top: 20px;
}

#ajapaik-grid-container {
    margin-top: 75px;
}

.score_container {
    position: fixed;
    right: 0;
    top: 50px;
    width: 300px;
    padding: 0 7px 7px;
    background: #fff;
    display: none;
}

.single .score_container {
    position: static;
    margin: 0 auto;
    width: 100%;
}

/*.score_container h2 {*/
/*color: #ccc;*/
/*font-size: 10px;*/
/*font-weight: 700;*/
/*letter-spacing: 3px;*/
/*text-align: center;*/
/*text-transform: uppercase;*/
/*margin: 3px 0 4px;*/
/*}*/

.score_container ul.scoreboard {
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    padding: 0 10px 0 0;
}

.score_container ul.scoreboard li {
    position: relative;
    font-size: 12px;
    line-height: 1;
    list-style: none;
    clear: both;
    /*display: none;*/
    border-bottom: 1px solid #efefef;
    padding: 0 15px;
    height: 29px;
}

.single .score_container ul.scoreboard li {
    display: block;
    font-size: 12px;
    list-style: none;
    line-height: 12px;
    border-bottom: 1px solid #efefef;
    padding: 0 15px;
    height: 31px;
}

.score_container ul.scoreboard li.you {
    font-weight: 700;
    display: list-item !important;
    background: #efefef;
}

.ajapaik-leaderboard-you {
    background: #efefef;
    font-weight: bold;
}

.score_container ul.scoreboard li.first {
    padding-bottom: 10px;
}

.score_container ul.scoreboard li span {
    padding: 8px 0 0;
}

.score_container ul.scoreboard li .position {
    float: left;
    width: 27px;
}

.score_container ul.scoreboard li .name {
    float: left;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.score_container ul.scoreboard li .photo {
    line-height: 0;
    float: right;
    margin-right: -25px;
    padding: 0;
}

.score_container ul.scoreboard li .photo img {
    border: 3px solid #fff;
    width: 23px;
    height: 23px;
}

.score_container ul.scoreboard li .score {
    float: right;
    padding-right: 10px;
}

.score_container .facebook-connect {
    font-size: 12px;
    margin: 6px 15px;
}

.score_container .google-plus-connect {
    font-size: 12px;
    margin: 20px 15px 6px;
}

.score_container .facebook-connected p {
    font-size: 14px;
    margin: 6px 15px;
}

.score_container .facebook-connect p {
    margin: 0 0 10px;
}

.score_container .google-plus-connect p {
    margin: 0 0 10px;
}

.facebook-connect a {
    width: 169px;
    height: 21px;
    background: url(../images/connect-with-facebook.png) no-repeat;
}

.google-plus-connect a {
    width: 169px;
    height: 57px;
    background: url(../images/connect-with-google.png) no-repeat;
    margin-top: -5px;
}

.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.modal-content {
    margin-top: 75px;
    min-width: 50%;
    min-height: 400px;
}

/*FIXME: dafuq*/
.ajapaik-margin-top-100 {
    margin-top: 125px;
}

.modal-body {
    overflow-y: auto;
}

.modal-footer {
    margin-top: 0;
}

@media (min-width: 320px) {
    #ajapaik-header-title {
        max-width: 80px;
    }

    #pac-input-mapview {
        width: 90px !important;
    }
}

@media (min-width: 480px) {
    #ajapaik-header-title {
        max-width: 80px;
    }

    #pac-input-mapview {
        width: 90px !important;
    }
}

@media (min-width: 768px) {
    #ajapaik-header-title {
        max-width: 50px;
    }

    #pac-input-mapview {
        width: 90px !important;
    }
}

@media (min-width: 992px) {
    #ajapaik-header-title {
        max-width: 120px;
    }

    #pac-input-mapview {
        width: 200px !important;
    }
}

@media (min-width: 1200px) {
    #ajapaik-header-title {
        max-width: 340px;
    }

    #pac-input-mapview {
        width: 200px !important;
    }
}

@media (max-width: 767px) {
    .modal-dialog-center {
        width: 100%;
    }

    #ajapaik-album-filter-box {
        max-width: 80px;
    }

    #ajapaik-photo-filter-box {
        max-width: 80px;
    }
}

#ajapaik-game-modal-photo-container {
    display: inline-block;
    position: relative;
}

#ajapaik-photoview-main-photo-container {
    display: inline-block;
    position: relative;
}

.no-text-decoration {
    text-decoration: none;
}

.no-text-decoration:hover {
    text-decoration: none;
}

#ajapaik-photoview-main-photo {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.ajapaik-icon-48 {
    font-size: 48px;
}

#ajapaik-photoview-rephoto-container {
    display: inline-block;
    position: relative;
}

#ajapaik-game-modal-photo {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: auto;
}

#ajapaik-game-modal-photo-container img {
    margin: 0 auto;
}

a.fullscreen {
    cursor: zoom-in;
}

.full-pic img {
    min-width: 128px;
    min-height: 128px;
    opacity: 0;
    cursor: zoom-out;
}

.ajapaik-azimuth {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgba(128, 128, 128, 0.5) url("../images/direction_20px_white.png") no-repeat center;
}

.ajapaik-thumbnail-selection-icon {
    width: 36px;
    height: 36px;
    background-size: 36px;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    color: #888;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.ajapaik-thumbnail-selection-icon-white {
    color: white;
    display: block;
}

.ajapaik-photo-selection-thumbnail-link {
    position: relative;
}

.ajapaik-frontpage-azimuth {
    width: 30px;
    height: 30px;
    float: right;
}

.ajapaik-frontpage-location-known {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../images/material-design-icons/ic_location_on_24px.svg) no-repeat center;
    float: right;
}

.ajapaik-frontpage-location-unknown {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(../images/material-design-icons/ic_location_off_24px.svg) no-repeat center;
    float: right;
}

.ajapaik-rephoto-count {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    color: white;
    line-height: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: 3px;
    background-position-x: 3px;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
}

.ajapaik-rephoto-count-1 {
    background-image: url(../images/material-design-icons/ic_filter_1_24px.svg);
}

.ajapaik-rephoto-count-2 {
    background-image: url(../images/material-design-icons/ic_filter_2_24px.svg);
}

.ajapaik-rephoto-count-3 {
    background-image: url(../images/material-design-icons/ic_filter_3_24px.svg);
}

.ajapaik-rephoto-count-4 {
    background-image: url(../images/material-design-icons/ic_filter_4_24px.svg);
}

.ajapaik-rephoto-count-5 {
    background-image: url(../images/material-design-icons/ic_filter_5_24px.svg);
}

.ajapaik-rephoto-count-6 {
    background-image: url(../images/material-design-icons/ic_filter_6_24px.svg);
}

.ajapaik-rephoto-count-7 {
    background-image: url(../images/material-design-icons/ic_filter_7_24px.svg);
}

.ajapaik-rephoto-count-8 {
    background-image: url(../images/material-design-icons/ic_filter_8_24px.svg);
}

.ajapaik-rephoto-count-9 {
    background-image: url(../images/material-design-icons/ic_filter_9_24px.svg);
}

.ajapaik-frontpage-comments-count {
    width: 30px;
    height: 30px;
    color: white;
    line-height: 30px;
    text-align: center;
    background-image: url(../images/material-design-icons/ic_messenger_24px.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: 3px;
    background-position-x: 3px;
    z-index: 2;
    display: inline-block;
    float: right;
}

.ajapaik-frontpage-rephoto-count {
    width: 30px;
    height: 30px;
    color: white;
    line-height: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: 3px;
    background-position-x: 3px;
    z-index: 2;
    display: inline-block;
    float: right;
}

.ajapaik-frontpage-rephoto-count-1 {
    background-image: url(../images/material-design-icons/ic_filter_1_24px.svg);
}

.ajapaik-frontpage-rephoto-count-2 {
    background-image: url(../images/material-design-icons/ic_filter_2_24px.svg);
}

.ajapaik-frontpage-rephoto-count-3 {
    background-image: url(../images/material-design-icons/ic_filter_3_24px.svg);
}

.ajapaik-frontpage-rephoto-count-4 {
    background-image: url(../images/material-design-icons/ic_filter_4_24px.svg);
}

.ajapaik-frontpage-rephoto-count-5 {
    background-image: url(../images/material-design-icons/ic_filter_5_24px.svg);
}

.ajapaik-frontpage-rephoto-count-6 {
    background-image: url(../images/material-design-icons/ic_filter_6_24px.svg);
}

.ajapaik-frontpage-rephoto-count-7 {
    background-image: url(../images/material-design-icons/ic_filter_7_24px.svg);
}

.ajapaik-frontpage-rephoto-count-8 {
    background-image: url(../images/material-design-icons/ic_filter_8_24px.svg);
}

.ajapaik-frontpage-rephoto-count-9 {
    background-image: url(../images/material-design-icons/ic_filter_9_24px.svg);
}

.ajapaik-frontpage-rephoto-count-9-plus {
    background-image: url(../images/material-design-icons/ic_filter_9_plus_24px.svg);
}

.ajapaik-comment-count {
    position: absolute;
    background-image: url(../images/material-design-icons/ic_messenger_24px.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-y: 1px;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 30px;
    text-align: center;
}

.ajapaik-mapview-pane-photo-container {
    display: inline-block;
    position: relative;
    opacity: 1 !important;
}

.ajapaik-mapview-pane-photo-container > .caption {
    max-height: 50%;
}

ul.errorlist {
    display: none;
}

.ajapaik-flip-photo-overlay-button {
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 0;
    top: 0;
    right: 0;
    border: none;
    background-color: rgba(255, 255, 255, .3);
}

.ajapaik-flip-photo-overlay-button:hover {
    color: #007fff;
}

.ajapaik-flip-photo-overlay-button.active {
    color: #007fff;
}

.ajapaik-like-photo-overlay-button {
    height: 48px;
    position: absolute;
    border-radius: 0;
    bottom: 0;
    left: 0;
    border: none;
    background-color: rgba(255, 255, 255, .3);
}

.ajapaik-like-photo-overlay-button > i {
    font-size: 24px;
    padding-top: 6px;
}

.ajapaik-like-photo-overlay-button.big > i {
    font-size: 36px;
}

.ajapaik-like-photo-overlay-button:hover {
    color: #007fff !important;
}

.ajapaik-like-photo-overlay-button.active {
    color: #A42733;
}

.ajapaik-like-photo-overlay-button.active.big {
    color: #981D2A;
}

.ajapaik-photo-modal-previous-button {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    background-size: 48px;
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 1;
    border: none;
}

.ajapaik-photo-modal-previous-button > i {
    font-size: 48px;
}

.ajapaik-photo-modal-previous-button:hover {
    color: #007fff;
}

.ajapaik-photo-modal-previous-button-disabled {
    color: gray;
}

.ajapaik-photo-modal-next-button {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    background-size: 48px;
    position: absolute;
    right: 10px;
    top: 50%;
    border: none;
}

.ajapaik-photo-modal-next-button > i {
    font-size: 48px;
}

.ajapaik-photo-modal-next-button:hover {
    color: #007fff;
}

.ajapaik-photo-modal-next-button-disabled {
    color: gray;
}

.ajapaik-photo-modal-photo-curator > i {
    cursor: pointer;
}

.ajapaik-photo-modal-photo-curator > p {
    display: inline;
    vertical-align: super;
}

#ajapaik-mini-map-geotaggers-dropdown {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

#ajapaik-grab-link {
    margin: 10px;
}

.ajapaik-overlay-button {
    background-color: rgba(255, 255, 255, .3);
    width: 48px;
    height: 48px;
    position: absolute;
}

#ajapaik-show-rephoto-selection-overlay-button {
    background-color: rgba(255, 255, 255, .3);
    bottom: 0;
    right: 0;
    border: none;
}

#ajapaik-show-rephoto-selection-overlay-button:hover {
    color: #007fff;
}

#ajapaik-show-rephoto-selection-overlay-button:active {
    color: #007fff;
}

#ajapaik-change-language-form {
    display: none;
}

.ajapaik-close-rephoto-overlay-button {
    border: none;
    top: 0;
    right: 0;
    border-radius: 0;
}

.ajapaik-close-rephoto-overlay-button:hover {
    color: #007fff;
}

.ajapaik-invert-rephoto-overlay-button {
    border: none;
    bottom: 0;
    right: 0;
    border-radius: 0;
}

.ajapaik-invert-rephoto-overlay-button:hover {
    color: #007fff;
}

.ajapaik-fullscreen-overlay-button {
    background: #fff url(../images/material-design-icons/ic_fullscreen_24px.svg) no-repeat center !important;
    right: 0;
    bottom: 0;
}

#ajapaik-modal-photo {
    margin: 0 auto;
    padding: 0 !important;
}

#ajapaik-photo-modal-map-container {
    display: inline-block;
    position: relative;
    padding-left: 0;
    padding-right: 5%;
}

#ajapaik-photo-modal-map-canvas {
    width: 100%;
    height: 100%;
}

#ajapaik-photo-modal-albums-icon {
    background: transparent url(../images/material-design-icons/ic_bookmark_24px.svg) no-repeat center;
    height: 24px;
    width: 24px;
    display: inline-block;
    float: left;
    margin-left: -5px;
}

#ajapaik-game-show-description {
    height: 36px;
    width: 36px;
    background-size: 36px;
    display: inline-block;
    float: left;
    cursor: pointer;
}

#ajapaik-game-show-description > i {
    font-size: 36px;
}

#ajapaik-photo-modal-specify-location {
    margin-right: 2%;
}

.ajapaik-game-specify-location-button > i {
    font-size: 36px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#ajapaik-photo-modal-share {

}

#ajapaik-photo-modal-discuss {
    position: relative;
    top: 5px;
    margin-left: 8px;
}

#ajapaik-photo-modal-discuss > .badge {
    position: absolute;
    left: 0;
    bottom: 32px;
}

#ajapaik-photo-modal-dropdown {
    float: right;
    top: 5px;
    margin-left: 8px;
}

#ajapaik-photo-modal-add-rephoto {

}

#ajapaik-photo-modal-geotag-count {
    float: left;
    font-size: 24px;
}

#ajapaik-photoview-geotag-count {
    font-size: 24px;
}

#ajapaik-photo-modal-location-with-azimuth {
    background: transparent url(../images/material-design-icons/ic_navigation_24px_gray.svg) no-repeat center;
    height: 36px;
    width: 36px;
    background-size: 36px;
    display: inline-block;
    float: left;
}

#ajapaik-photo-modal-location-without-azimuth {
    background: transparent url(../images/material-design-icons/ic_location_on_24px_gray.svg) no-repeat center;
    height: 36px;
    width: 36px;
    background-size: 36px;
    display: inline-block;
    float: lefT;
}

#ajapaik-photo-modal-no-location {
    background: transparent url(../images/material-design-icons/ic_location_off_24px_gray.svg) no-repeat center;
    height: 36px;
    width: 36px;
    background-size: 36px;
    display: inline-block;
    float: left;
}

#ajapaik-mapview-feedback-panel {
    position: fixed;
    bottom: 15px;
    right: 15px;
    top: auto !important;
    left: auto !important;
    padding: 10px !important;
}

#ajapaik-grid-feedback-panel {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#ajapaik-game-photo-description {
    display: none;
}

#ajapaik-game-photo-identifier {
    display: none;
}

.ajapaik-game-guess-photo-container {
    display: inline-block;
    position: relative;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.ajapaik-game-guess-photo-container img {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#ajapaik-mapview-guess-photo-container {
    position: relative;
    display: inline-block;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#ajapaik-mapview-guess-photo-container img {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#ajapaik-modal-photo-container {
    position: relative;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

#ajapaik-modal-rephoto-container {
    position: relative;
    display: inline-block;
}

#ajapaik-modal-body {
    text-align: center;
}

#ajapaik-game-modal-body {
    text-align: center;
}

#ajapaik-info-modal-body {
    margin-left: 10px;
}

.ajapaik-photo-modal-rephoto-thumb {
    margin: 0 auto 3%;
}

.ajapaik-licence {
    text-decoration: none;
}

.ajapaik-licence:hover {
    text-decoration: none;
}

#ajapaik-photo-modal-rephoto-date-taken {
    display: inline;
}

#ajapaik-mapview-photo-panel {
    padding-right: 10px !important;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    z-index: 99 !important;
}

#ajapaik-geolocation-error {
    display: none;
    position: fixed;
    width: 75%;
    z-index: 1000;
    text-align: center;
    margin: 0 0 0 -37.5%;
    left: 50%;
}

#ajapaik-sorting-error {
    display: none;
    position: fixed;
    width: 75%;
    z-index: 1000;
    text-align: center;
    margin: 0 0 0 -37.5%;
    left: 50%;
}

#ajapaik-mapview-photo-panel .jsPanel {
    background: none;
}

#ajapaik-mapview-photo-panel .jsPanel-content {
    background: none;
    overflow-y: scroll !important;
}

.ui-resizable-se {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.ui-resizable-e {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: e-resize;
}

.jsPanel-title {
    font-variant: normal !important;
}

.translucent-pane-element {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#ajapaik-rephoto-full-screen-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#ajapaik-rephoto-full-screen-link img {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#ajapaik-rephoto-full-screen-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#ajapaik-rephoto-full-screen-link img {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.ajapaik-photo-modal-rephoto-thumb img {
    margin: 0 auto;
}

#ajapaik-game-full-screen-button-container {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

#ajapaik-game-full-screen-button-container .row {
    margin-bottom: 10px;
}

#ajapaik-game-full-screen-show-description-button {
    position: fixed;
    left: 2%;
    bottom: 2%;
}

#ajapaik-full-screen-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.ajapaik-fileupload-datepicker-container {
    display: inline-block;
}

#ajapaik-rephoto-selection {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
}

#ajapaik-photoview-container {
    margin-top: 20px;
    margin-left: 10px;
}

#ajapaik-comments-container {
    margin-top: 20px;
}

#ajapaik-photoview-container .col-xs-6 {
    min-width: 280px;
}

#ajapaik-photoview-container .col-xs-2 {
    min-width: 140px;
}

#ajapaik-photo-upload-container {
    padding-top: 100px;
}

#ajapaik-curator-container {
    background-color: #fff;
    margin-top: 125px;
}

#ajapaik-curator-header-tabs {
    margin-top: -50px;
}

.ajapaik-curator-load-more {
    display: none;
}

#ajapaik-curator-load-more-row {
    display: none;
}

#ajapaik-comments-section {
    padding-top: 25px;
    margin-bottom: 100px;
}

.ajapaik-photoview-rephoto-thumb {
    margin-bottom: 2%;
}

.ajapaik-no-left-margin-row {
    margin-left: 0 !important;
}

.ajapaik-no-right-margin-row {
    margin-right: 0 !important;
}

#ajapaik-photoview-date-taken {
    display: inline;
}

#ajapaik-photoview-rephoto-selection {
    text-align: center;
    overflow-y: scroll;
    max-height: 500px;
}

.ajapaik-upload-photo-button {
    margin-left: 5px !important;
    display: inline-block;
}

.dropdown .fb_iframe_widget span,
.dropdown iframe.fb_iframe_widget_lift,
.dropdown .fb_iframe_widget iframe {
    width: 500px !important;
    height: 20px !important;
    position: relative;
}

#ajapaik-tutorial-js-panel {
    z-index: 10000;
    max-width: 50%;
    margin-top: 50px;
}

@media (max-width: 767px) {
    #ajapaik-tutorial-js-panel {
        max-width: 100%;
        margin-top: 100px;
    }
}

#ajapaik-create-album-modal .input-group-addon {
    min-width: 200px;
}

#ajapaik-create-area-modal .input-group-addon {
    min-width: 200px;
}

#ajapaik-geotag-info-js-panel .jsPanel-content {
    margin: 10px;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.pac-container {
    z-index: 10000 !important;
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 200px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    margin-left: 50px;
    margin-top: 50px;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-right: -1px;
    padding-right: 14px; /* Regular padding-left + 1. */
    width: 201px;
}

#pac-input-mapview {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 200px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    margin-right: 25px;
    margin-top: 50px;
}

#pac-input-mapview:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-right: 14px; /* Regular padding-left + 1. */
    width: 201px;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

.btn {
    white-space: normal;
    overflow: hidden;
}

.ajapaik-less-column-padding {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

/*::-webkit-scrollbar {*/
/*display: none;*/
/*}*/

.gm-style-cc {
    display: none;
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

#ajapaik-curator-filter-options {
    margin-top: 3px;
}

.ajapaik-curator-selected-image {
    opacity: 0.5;
}

#ajapaik-curator-search-results {
    margin-top: 60px;
}

#ajapaik-curator-result-count {
    margin-left: 5px;
}

#ajapaik-curator-selection-size {
    margin-left: 5px;
}

#ajapaik-curator-selection {
    margin-top: 100px;
}

#ajapaik-curator-my-albums-size {
    margin-left: 5px;
}

#ajapaik-curator-my-albums {
    display: none;
    margin-top: 20px;
}

.ajapaik-curator-new-album-creation-field {
    display: none;
}

#ajapaik-curator-tabpanel {
    margin-top: 10px;
}

.ajapaik-result-item {
    min-height: 100px;
    max-height: 100px;
}

.ajapaik-curator-selection-item {
    margin-top: 10px;
    margin-bottom: 30px;
}

#ajapaik-curator-search-controls {
    margin-top: 10px;
    margin-bottom: 10px;
}

#ajapaik-curator-selection-controls {
    margin-top: 10px;
    margin-bottom: 10px;
}

#ajapaik-curator-bottom-load-more-row {
    margin-bottom: 10px;
}

#ajapaik-loading-indicator {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

#ajapaik-header-selection-indicator > a > span {
    margin-left: -20px;
}

#ajapaik-selection-top-panel {
    margin-top: 30px;
}

.ajapaik-remove-from-selection-button {
    background: white url(../images/material-design-icons/ic_close_24px.svg) no-repeat center;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    display: none;
}

#ajapaik-loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5) no-repeat center;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.ajapaik-spinner {
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    position: relative;
    top: 50%;
    margin: 0 auto;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ajapaik-icon {
    height: 24px;
    width: 24px;
}

#ajapaik-photo-modal-original-photo-column {
    padding: 0;
}

#ajapaik-photo-modal-rephoto-column {
    padding: 0;
}

#ajapaik-modal-photo-container-container {
    padding: 0;
}

#ajapaik-modal-rephoto-container-container {
    padding: 0;
}

.ajapaik-icon-invert-colors {
    background: url(../images/material-design-icons/ic_invert_colors_24px.svg) no-repeat center center;
}

.ajapaik-icon-my-location {
    margin-top: 2px;
    background: url(../images/material-design-icons/ic_my_location_24px.svg) no-repeat center center;
}

.ajapaik-icon-flip {
    background: url(../images/material-design-icons/ic_flip_24px.svg) no-repeat center center;
}

.ajapaik-icon-stereo {
    background: url(../images/material-design-icons/ic_panorama_24px.svg) no-repeat center center;
}

.ajapaik-icon-rotate {
    background: url(../images/material-design-icons/ic_rotate_90_degrees_ccw_black_24px.svg) no-repeat center center;
}

.ajapaik-icon-delete {
    background: url(../images/material-design-icons/ic_delete_24px.svg) no-repeat center center;
}

.ajapaik-curator-selection-button-row {
    margin-bottom: 10px;
}

#ajapaik-curator-gallery-switch {
    border: 1px solid;
    padding: 2px;
    background-color: #fff;
    cursor: pointer;
}

#ajapaik-curator-list-switch {
    border: 1px solid;
    padding: 2px;
    background-color: #fff;
    cursor: pointer;
}

.ajapaik-curator-selection-image {

}

.ajapaik-curator-selection-image.rotate90 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

.ajapaik-curator-selection-image.rotate180 {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
}

.ajapaik-curator-selection-image.rotate270 {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
}

.ajapaik-curator-selection-image.rotate90-flipped {
    transform: scaleX(-1) rotate(-90deg);
    -webkit-transform: scaleX(-1) rotate(-90deg);
    -ms-transform: scaleX(-1) rotate(-90deg);
}

.ajapaik-curator-selection-image.rotate180-flipped {
    transform: scaleX(-1) rotate(-180deg);
    -webkit-transform: scaleX(-1) rotate(-180deg);
    -ms-transform: scaleX(-1) rotate(-180deg);
}

.ajapaik-curator-selection-image.rotate270-flipped {
    transform: scaleX(-1) rotate(-270deg);
    -webkit-transform: scaleX(-1) rotate(-270deg);
    -ms-transform: scaleX(-1) rotate(-270deg);
}

.ajapaik-curator-selection-image-min-max {
    max-height: 100px;
    min-height: 100px;
}

#ajapaik-curator-destination-area {
    display: none;
}

.ajapaik-curator-feedback-alert {
    display: none;
}

.ajapaik-already-have-indicator {
    margin-top: 5px;
    float: right;
}

.ajapaik-result-has-location-indicator {
    margin-top: 5px;
    margin-left: 5px;
    float: right;
    background-color: black;
}

#ajapaik-photo-pane-content-container {
    min-width: 20%;
}

#ajapaik-game-modal-header {
    border: none;
}

#ajapaik-mapview-my-location-button {
    margin-right: 40px;
    margin-top: 50px;
}

#id_album {
    max-width: 150px;
}

#ajapaik-game-close-game-modal {
    z-index: 2000 !important;
}

#ajapaik-game-no-geotags-yet-message {
    display: none;
    margin-top: 10px;
}

#ajapaik-game-number-of-geotags-message {
    display: none;
    margin-top: 10px;
}

#ajapaik-game-one-geotag-message {
    display: none;
    margin-top: 10px;
}

#ajapaik-info-modal-game-button {
    padding-top: 10px;
}

.ajapaik-zero-border-radius {
    border-radius: 0;
}

.ajapaik-zero-right-padding {
    padding-right: 0 !important;
}

.ajapaik-zero-left-padding {
    padding-left: 0 !important;
}

#ajapaik-choose-albums-modal {
    z-index: 1999;
}

#ajapaik-mapview-close-streetview-button {
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 0;
    min-width: 150px;
}

.ajapaik-no-bottom-border-modal-header {
    border-bottom: none;
}

.ajapaik-margin-top-5 {
    margin-top: 5px;
}

.ajapaik-margin-top-10 {
    margin-top: 10px;
}

.ajapaik-margin-top-30 {
    margin-top: 30px;
}

.ajapaik-height-48 {
    height: 48px;
}

.ajapaik-margin-bottom-minus-20 {
    margin-bottom: -20px;
}

.ajapaik-margin-bottom-minus-7 {
    margin-bottom: -7px;
}

@media (max-width: 767px) {
    #content.front-page .photos {
        display: none;
    }

    #content.front-page .introduction {
        float: left;
        margin-left: 20px;
    }
}

.ajapaik-frontpage-album-image-container .caption {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.ajapaik-frontpage-historic-image-container .caption {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.ajapaik-thumbnail-info-container {
    width: 90px;
    height: 30px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
}

.ajapaik-thumbnail-info-container > div > i {
    color: #fff;
}

.navbar-hidden .navbar-brand {
    display: none !important;
}

.navbar-hidden #ajapaik-curator-header-tabs {
    display: none;
}

.ajapaik-score-container-static {
    display: block !important;
}

.footer {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
}

#ajapaik-footer-contact {
    margin-top: 20px;
}

#ajapaik-footer-contact > .row > a {
    color: #fff;
}

#ajapaik-footer-links {
    margin-top: 20px;
}

#ajapaik-footer-links > .row > a {
    color: #fff;
}

.ajapaik-pagination {
    margin-bottom: 10px;
}

.ajapaik-album-selection-caption-bottom {
    width: 100%;
    height: 100%;
}

.ajapaik-album-selection-map-button {
    width: 36px;
    height: 36px;
    background-size: 36px;
    float: right;
    color: #888;
}

.ajapaik-album-selection-map-button > i {
    font-size: 36px;
}

.ajapaik-album-selection-map-button:hover > i {
    color: white;
}

.ajapaik-album-selection-game-button {
    width: 36px;
    height: 36px;
    background-size: 36px;
    float: right;
}

.ajapaik-album-selection-game-button > i {
    font-size: 36px;
    color: #888;
}

.ajapaik-album-selection-game-button:hover > i {
    color: white;
}

.ajapaik-caption-album-selection-album-title {
    text-transform: uppercase;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.ajapaik-album-selection-album-more-button {
    background-image: url(../images/material-design-icons/ic_more_gray_24px.svg);
    width: 36px;
    height: 36px;
    background-size: 36px;
    float: right;
}

.ajapaik-album-selection-album-more-button:hover {
    background-image: url(../images/material-design-icons/ic_more_white_24px.svg);
}

.ajapaik-photo-modal-album-more-button {
    background-image: url(../images/material-design-icons/ic_more_gray_24px.svg);
    width: 24px;
    height: 24px;
    background-size: 24px;
    float: left;
    margin-left: 5px;
}

.ajapaik-photo-album-link {
    float: left;
    font-size: 18px;
}

.ajapaik-photo-modal-album-icon {
    color: #888;
    float: left;
    font-size: 36px;
}

.ajapaik-caption-album-selection p {
    margin: 0;
}

#ajapaik-pager {
    margin-bottom: 1px;
}

.navbar-collapse.collapse.in > .nav > li {
    display: inline-block;
}

.navbar-collapse.collapsing {
    display: none;
}

#ajapaik-pager li {
    display: inline-block;
}

#ajapaik-brand-dummy {
    width: 160px;
    display: block;
    height: 50px;
}

.ajapaik-gray-button {
    color: #888;
    font-size: 36px;
}

.ajapaik-gray-button:hover {
    color: #fff;
}

#ajapaik-header-selected-mode > i {
    display: none;
}

#ajapaik-header-album-filter-button-on {
    font-size: 24px;
    cursor: pointer;
}

#ajapaik-header-album-filter-button-off {
    font-size: 24px;
    cursor: pointer;
}

#ajapaik-photographic-heritage-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#ajapaik-photoview-add-rephoto-button {
    margin-left: 10px;
}

#ajapaik-header-google-connect {
    margin-left: 0;
}

#ajapaik-header-facebook-connect {
    margin-left: 5px;
}

#ajapaik-rephoto-upload-facebook-connect {
    margin-top: 5px;
}

#ajapaik-rephoto-upload-google-connect {
    margin-left: -5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#ajapaik-registration-facebook-connect {
    margin-top: 10px;
}

#ajapaik-registration-google-connect {
    margin-left: -5px;
}

.ajapaik-curator-submit-single {
    height: 43px;
}

#ajp-geotagger-feedback-thanks {
    font-size: 21px;
}

#ajp-geotagger-feedback-points {
    font-size: 18px;
    margin-bottom: 30px;
}

#ajapaik-header-arrow-drop-down {
    font-size: 18px;
}

#ajapaik-photo-modal-source {
    display: inline-block;
}

#ajapaik-photo-modal-fb-like-container {
    margin-top: 5px;
}

#ajapaik-photo-modal-like {
    margin-top: 5px;
}

input[type="search"] {
    -webkit-appearance: searchfield;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

#ajapaik-ev-100-media > .media-left > a > img {
    width: 150px;
}

#ajapaik-hotjar-footer-logo {
    height: 33px;
}

.comment-box textarea {
    display: block;
    width: 100%;
    resize: vertical;
    padding: 5px 10px;
}

.badge {
    background-color: black;
}

.ajapaik-load-more {
    margin: 10px 0 10px 0;
}

.ajapaik-load-more button {
    width: 100%;
}

#ajapaik-frontpage-container {
    /* 130 = height of top menu + height of footer (50 + 80) */
    min-height: calc(100vh - 130px);
}

.forgot_password_link {
    display: none;
}

#id_gender > .radio {
    display: inline-block;
}

#signup_form > p > label, #login > p > label {
    width: 10em;
}
