#ajp-dater-container {
    height: 100%;
    width: 100%;
    display: none;
    margin-top: 10px;
}

#ajp-dater-panel > .card-body > .card {
    border: none;
}

#ajp-dater-form {
    max-width: 400px;
}

#ajp-dater-input {
    max-width: 50%;
}

#ajp-dater-input,
#ajp-dater-panel,
#ajp-dater-panel > .card-body > .card,
#ajp-dater-form > .form-control > input,
#ajp-dater-form > .btn-group > button {
    border-radius : 0;
}

#ajp-dater-close-tutorial-button {
    top: -10px;
    right: -20px;
}

#ajp-dater-close-tutorial-button,
#ajp-dater-open-tutorial-button {
    border-radius: 50%;
    position: absolute;
    color: white;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, .8);
}

#ajp-dater-open-tutorial-button {
    top: 10px;
    right: 10px;
    display: none;
}

#ajp-dater-feedback {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

#ajp-dater-comment {
    margin-bottom: 10px;
    border-radius: 0;
}

#ajp-dater-previous-datings-card {
    display: none;
}

#ajp-dater-previous-datings-card > div > i,
#ajp-dater-anonymous-user-card > i {
    cursor: pointer;
}

#ajp-dater-anonymous-user-card {
    display: block;
}

#ajp-dater-anonymous-user-card > span {
    bottom: 6px;
    left: 10px;
}

#ajp-dater-panel,
#ajp-dater-tutorial-card,
section.ajapaik-map-dating-range-slider input::-webkit-slider-thumb,
section.ajapaik-map-dating-range-slider input::-moz-range-thumb,
section.ajapaik-map-dating-range-slider input::-moz-range-track,
#ajp-dater-anonymous-user-card > span,#ajapaik-photo-modal-start-dating-button,
.ajp-dater-confirm-button,
section.ajapaik-map-dating-range-slider {
    position: relative;
}

#ajp-dater-tutorial-card > span > ul {
    list-style-type: none;
    padding: 0;
}

#ajp-dater-toggle-comment-button {
    border: none;
    background: none;
}

#ajapaik-photoview-start-dating-button {
    text-decoration: none;
}

#ajapaik-photoview-start-dating-button > .badge {
    margin-left: -25px;
    margin-bottom: 4px;
}

#ajp-dater-feedback-card {
    display: none;
}

.ajp-dater-confirm-button {
    top: 5px;
    left: 5px;
}

.ajp-dater-confirm-button.done {
    color: #007fff;
}

section.ajapaik-map-dating-range-slider {
    width: 50%;
    height: 35px;
    text-align: center;
}

section.ajapaik-map-dating-range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.ajapaik-map-dating-range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    z-index: 1;
    outline: 0;
}

section.ajapaik-map-dating-range-slider input::-moz-range-thumb {
    pointer-events: all;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.ajapaik-map-dating-range-slider input::-webkit-slider-thumb,
section.ajapaik-map-dating-range-slider input::-moz-range-thumb {
    pointer-events: all;
}

section.ajapaik-map-dating-range-slider input::-moz-range-track {
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
}

section.ajapaik-map-dating-range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
}

section.ajapaik-map-dating-range-slider input::-moz-range-track,
section.ajapaik-map-dating-range-slider input[type=range]::-moz-focus-outer,
section.ajapaik-map-dating-range-slider input:last-of-type::-moz-range-track {
    border: 0;
}