.annotation-label {
    position: absolute;
    left: 50%;
    min-width: 100%;
    transform: translateX(-50%);

    background-color: rgba(211, 211, 211, 0.7);
}

.annotation-label__top {
    bottom: 100%;
}

.annotation-label__bottom {
    top: 100%;
}

.annotation-button__fullscreen {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.7);
}