.photo-view__accordion-header {
    background-color: #4A4A4A;
    text-align: center;
    margin-top: 3px;
}

.photo-view__accordion-header__button {
    color: white;
}

.photo-view__accordion-content {
    background-color: #CCCCCC;
}

.photo-view__accordion {
    margin-left: -15px;
}
