{% extends "base_bootstrap.html" %}
{% load static i18n %}

{% block specific_css %}
    <link rel="stylesheet" href="{% static 'photos_upload/css/main.css' %}">
{% endblock specific_css %}

{% block specific_js %}
    <script src="{% static 'photos_upload/js/main.js' %}"></script>
{% endblock specific_js %}

{% block layout %}
    <div id="photos-upload" class="container">
        <router-view></router-view>
    </div>


    <script type="text/x-template" id="upload-type-form-template">
        <form>
            <div class="form-group">
                <label class="control-label" for="id_action">{% trans 'Action' %}</label>
                <select v-model="uploadType" class="form-control" id="id_action" name="action" required="required" title="">
                    <option :value="option.value" v-for="option in uploadTypeOptions">${option.text}</option>
                </select>
            </div>
            <button @click="next" class="btn btn-primary" type="button">{% trans 'Select' %}</button>
        </form>
    </script>

    <script type="text/x-template" id="photo-upload-template">
        <el-container>
            <el-main>
                <el-row>
                    <el-col :span="24"><upload-form></upload-form></el-col>
                </el-row>
                <el-row>
                    <el-col :span="24"><photos-editor></photos-editor></el-col>
                </el-row>
            </el-main>
        </el-container>
    </script>

    <script type="text/x-template" id="upload-form-template">
        <form enctype="multipart/form-data" novalidate>
            <div class="dropbox">
                <input @change="filesChange($event.target.files);" type="file" name="photos" accept="image/*" multiple>
                <span class="help-text">{% trans 'Drag photos here or click <b>here</b>'%}</span>
            </div>
        </form>
    </script>

    <script type="text/x-template" id="photos-editor-template">
        <el-row>
            <el-row>
                <p class="text-warning">
                    {% trans 'Warning: If there any photo data present it will be lost by rewriting, when you will start typing in this form.' %}
                </p>
                <form>
                    <el-row>
                        <p><b>{% trans 'Name' %}:</b></p>
                        <el-input
                            v-model="name"
                            placeholder="{% trans 'Start typing to edit short description for all photos.' %}">
                        </el-input>
                    </el-row>
                    <el-row>
                        <p><b>{% trans 'Description' %}:</b></p>
                        <el-input
                            v-model="description"
                            type="textarea"
                            :autosize="{ minRows: 4, maxRows: 8}"
                            placeholder="{% trans 'Start typing to edit detailed description for all photos.' %}">
                        </el-input>
                    </el-row>
                    <el-row>
                        <el-col :span="7">
                            <p><b>{% trans 'Longitude' %}:</b></p>
                            <el-input-number
                                v-model="longitude"
                                size="small"
                                placeholder="{% trans 'Start typing to edit longitude for all photos.' %}">
                            </el-input-number>
                        </el-col>
                        <el-col :span="7">
                            <p><b>{% trans 'Latitude' %}:</b></p>
                            <el-input-number
                                v-model="latitude"
                                size="small"
                                placeholder="{% trans 'Start typing to edit latitude for all photos.' %}">
                            </el-input-number>
                        </el-col>
                        <el-col :span="7">
                            <p><b>{% trans 'Azimuth' %}:</b></p>
                            <el-input-number
                                v-model="azimuth"
                                size="small"
                                placeholder="{% trans 'Start typing to edit azimuth for all photos.' %}">
                            </el-input-number>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-checkbox v-model="isUserAuthor">{% trans "I'm the author" %}</el-checkbox>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <p><b>{% trans 'Licence' %}:</b></p>
                            <el-select
                                v-model="selectedLicence"
                                placeholder="{% trans 'Select licence for photo' %}">
                                <el-option
                                    v-for="licence in $store.state.licences"
                                    :key="licence.id"
                                    :value="licence.id"
                                    :label="licence.name">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="12">
                            <p><b>{% trans 'Albums' %}:</b></p>
                            <el-select
                                v-model="selectedAlbums"
                                multiple
                                filterable
                                reserve-keyword
                                placeholder="{% trans 'Please enter album name' %}">
                                <el-option
                                    v-for="album in availableAlbums"
                                    :key="album.id"
                                    :label="album.title"
                                    :value="album.id">
                                </el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                </form>
            </el-row>
            <el-row>
                <h1>{% trans 'Photos preview'%}</h1>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <form>
                        <el-button
                            :type="uploadButtonType"
                            :icon="uploadButtonIcon"
                            :disabled="$store.state.uploadStatus === 'uploading'"
                            @click="startUpload"
                            plain>
                            Upload
                        </el-button>
                        <photos-editor-photo-element
                            v-for="photo in $store.state.photos"
                            :key="photo.originalFileName"
                            :photo="photo"
                            :albums="availableAlbums"
                            :licences="licences">
                        </photos-editor-photo-element>
                    </form>
                </el-col>
            </el-row>
        </el-row>
    </script>

    <script type="text/x-template" id="photos-editor-photo-element-template">
        <el-row>
            <el-col :span="12">
                <img :src="photo.image" class="img-thumbnail" />
            </el-col>
            <el-col :span="12">
                <el-row>
                    <p><b>{% trans 'Original file name:'%}</b>&nbsp;<i>${photo.originalFileName}</i></p>
                </el-row>
                <form>
                    <el-row>
                        <p><b>{% trans 'Name' %}:</b></p>
                        <el-input
                            v-model="photo.name"
                            placeholder="{% trans 'Enter short photo description' %}">
                        </el-input>
                    </el-row>
                    <el-row>
                        <p><b>{% trans 'Description' %}:</b></p>
                        <el-input
                            v-model="photo.description"
                            type="textarea"
                            :autosize="{ minRows: 4, maxRows: 8}"
                            placeholder="{% trans 'Enter here detailed photo description' %}">
                        </el-input>
                    </el-row>
                    <el-row>
                        <el-col :span="7">
                            <p><b>{% trans 'Longitude' %}:</b></p>
                            <el-input-number
                                v-model="photo.longitude"
                                size="small"
                                placeholder="{% trans 'Enter longitude of place where photo was taken. If not set we will try to get it from photo metadata.' %}">
                            </el-input-number>
                        </el-col>
                        <el-col :span="7">
                            <p><b>{% trans 'Latitude' %}:</b></p>
                            <el-input-number
                                v-model="photo.latitude"
                                size="small"
                                placeholder="{% trans 'Enter latitude of place where photo was taken. If not set we will try to get it from photo metadata.' %}">
                            </el-input-number>
                        </el-col>
                        <el-col :span="7">
                            <p><b>{% trans 'Azimuth' %}:</b></p>
                            <el-input-number
                                v-model="photo.azimuth"
                                size="small"
                                placeholder="{% trans 'Enter azimuth where photo was taken. If not set we will try to get it from photo metadata.' %}">
                            </el-input-number>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-checkbox v-model="photo.isUserAuthor">{% trans "I'm the author" %}</el-checkbox>
                    </el-row>
                    <el-row>
                        <el-col :span="12">
                            <p><b>{% trans 'Licence' %}:</b></p>
                            <el-select
                                v-model="photo.licence"
                                placeholder="{% trans 'Select licence for photo' %}">
                                <el-option
                                    v-for="licence in $store.state.licences"
                                    :key="licence.id"
                                    :value="licence.id"
                                    :label="licence.name">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="12">
                            <p><b>{% trans 'Albums' %}:</b></p>
                            <el-select
                                v-model="photo.albums"
                                multiple
                                filterable
                                reserve-keyword
                                placeholder="{% trans 'Please enter album name' %}">
                                <el-option
                                    v-for="album in albums"
                                    :key="album.id"
                                    :label="album.title"
                                    :value="album.id">
                                </el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                </form>
            </el-col>
        </el-row>
    </script>

{% endblock layout %}
