{% extends "base_bootstrap.html" %}
{% load static i18n %}

{% block specific_css %}
    <link rel="stylesheet" href="{% static 'photos_upload/css/main.css' %}">
{% endblock specific_css %}

{% block specific_js %}
    <script src="{% static 'photos_upload/js/main.js' %}"></script>
{% endblock specific_js %}

{% block layout %}
    <div id="photos-upload" class="container">
        <router-view></router-view>
    </div>


    <script type="text/x-template" id="upload-type-form-template">
        <form>
            <div class="form-group">
                <label class="control-label" for="id_action">{% trans 'Action' %}</label>
                <select v-model="uploadType" class="form-control" id="id_action" name="action" required="required" title="">
                    <option :value="option.value" v-for="option in uploadTypeOptions">${option.text}</option>
                </select>
            </div>
            <button @click="next" class="btn btn-primary" type="button">{% trans 'Select' %}</button>
        </form>
    </script>

    <script type="text/x-template" id="photo-upload-template">
        <el-container>
            <el-main>
                <el-row>
                    <el-col :span="24"><upload-form></upload-form></el-col>
                </el-row>
                <el-row>
                    <el-col :span="24"><photos-editor></photos-editor></el-col>
                </el-row>
            </el-main>
        </el-container>
    </script>

    <script type="text/x-template" id="upload-form-template">
        <div class="col-md-12">
            <form enctype="multipart/form-data" novalidate>
                <div class="dropbox">
                    <input @change="filesChange($event.target.files);" type="file" name="photos" accept="image/*" multiple>
                    <span class="help-text">{% trans 'Drag photos here or click <b>here</b>'%}</span>
                </div>
            </form>
        </div>
    </script>

    <script type="text/x-template" id="photos-editor-template">
        <div class="col-md-12">
            <div class="row">
                <h1>{% trans 'Photos preview'%}</h1>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <photos-editor-photo-element
                            v-for="photo in $store.state.photos"
                            :key="photo.originalFileName"
                            :photo="photo"
                            :albums="availableAlbums"
                            :licences="licences">
                    </photos-editor-photo-element>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="photos-editor-photo-element-template">
        <div class="row photos-editor">
            <div class="col-md-6">
                <img :src="photo.image" class="img-thumbnail" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <span>{% trans 'Original file name:'%}</span>&nbsp;<span>${photo.originalFileName}</span>
                </div>
                <form>
                    <div class="row">
                        <label class="control-label">
                            <input v-model="photo.name"
                                   type="text"
                                   class="form-control"
                                   title="{% trans 'Enter short photo description' %}">
                            {% trans 'Name' %}
                        </label>
                    </div>
                    <div class="row">
                        <label class="control-label">
                            <textarea v-model="photo.description"
                                      class="form-control"
                                      title="{% trans 'Enter here detailed photo description' %}">
                            </textarea>
                            {% trans 'Description' %}
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">
                                <input v-model="photo.longitude"
                                       type="number"
                                       class="form-control"
                                       title="{% trans 'Enter longitude of place where photo was taken. If not set we will try to get it from photo metadata.' %}">
                                {% trans 'Longitude' %}
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">
                                <input v-model="photo.latitude"
                                       type="number"
                                       class="form-control"
                                       title="{% trans 'Enter latitude of place where photo was taken. If not set we will try to get it from photo metadata.' %}">
                                {% trans 'Latitude' %}
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">
                                <input v-model="photo.azimuth"
                                       type="number"
                                       class="form-control"
                                       title="{% trans 'Enter azimuth where photo was taken. If not set we will try to get it from photo metadata.' %}">
                                {% trans 'Azimuth' %}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="control-label">
                                    <input v-model="photo.isUserAuthor" type="checkbox">
                                    {% trans "I'm the author" %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="control-label">
                                    {% trans 'Licence' %}
                                    <select name="licences" v-model="photo.licence">
                                        <option v-for="licence in $store.state.licences" :value="licence.id">${licence.name}</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <el-select
                                    v-model="photo.albums"
                                    multiple
                                    filterable
                                    reserve-keyword
                                    placeholder="Please enter a keyword">
                                    <el-option
                                        v-for="album in albums"
                                        :key="album.id"
                                        :label="album.title"
                                        :value="album.id">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

{% endblock layout %}
