# Expires map
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    application/javascript     max;
    ~image/                    max;
}

server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name ajapaik.ee;

    access_log /var/log/ajapaik.ee.access.log;
    error_log /var/log/ajapaik.ee.error.log;

    location / {
        return 301 https://ajapaik.ee$request_uri;
    }
}
