# Expires map
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    application/javascript     max;
    ~image/                    max;
}

server {
    listen 80;
    listen [::]:80;

    server_name sift.pics.by.ajapaik.ee;

    access_log /var/log/ajapaik.ee.access.log;
    error_log /var/log/ajapaik.ee.error.log;

    return 301 $scheme://sift.pics$request_uri;
}

server {
    listen 80;
    listen [::]:80;

    server_name www.sift.pics.by.ajapaik.ee;

    access_log /var/log/ajapaik.ee.access.log;
    error_log /var/log/ajapaik.ee.error.log;

    return 301 $scheme://sift.pics$request_uri;
}

server {
    listen 80;
    listen [::]:80;

    server_name opendata.ajapaik.ee;

    access_log /var/log/ajapaik.ee.access.log;
    error_log /var/log/ajapaik.ee.error.log;

    return 301 https://opendata.ajapaik.ee$request_uri;
}

server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name ajapaik.ee;

    access_log /var/log/ajapaik.ee.access.log;
    error_log /var/log/ajapaik.ee.error.log;

    location / {
        return 301 https://ajapaik.ee$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name opendata.ajapaik.ee ajapaik.ee;

    add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload';
    add_header X-Content-Type-Options nosniff;
    add_header X-Xss-Protection "1; mode=block" always;
    add_header Referrer-Policy "no-referrer";

    ssl_certificate /etc/letsencrypt/live/ajapaik.ee-0001/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ajapaik.ee-0001/privkey.pem;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;

    ssl_dhparam /etc/ssl/private/dhparams.pem;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
    ssl_prefer_server_ciphers on;

    ssl_stapling on;
    ssl_stapling_verify on;

    ssl_trusted_certificate /etc/letsencrypt/live/ajapaik.ee-0001/chain.pem;

    resolver 8.8.8.8 8.8.4.4 valid=86400;

    access_log /var/log/ajapaik.ee.access.log;
    error_log /var/log/ajapaik.ee.error.log;

    expires $expires;

    if ($host !~* ^(ajapaik.ee|www.ajapaik.ee)$ ) {
        return 444;
    }

    location /media  {
        alias /home/ajapaik/ajapaik-web/media;
    }

    location /static {
        alias /home/ajapaik/ajapaik-web/static-collected;
        expires 30d;
    }

    location ~ ^/favicon.(\w*)$ {
        alias /home/ajapaik/ajapaik-web/static-collected/favicon.$1;
    }

    # Serve Juks's old maps directly
    location /vanalinnad.mooo.com {
        root /home/ajapaik;
    }

    location / {
        include ../uwsgi_params;
        uwsgi_pass unix:/home/ajapaik/ajapaik-web/run/ajapaik.ee.sock;
    }
}
