{% extends "core/base_bootstrap.html" %}
{% load i18n compress static %}

{% block header %}
    {% include "core/_header.html" %}
{% endblock %}

{% block layout %}
    <div class="modal fade" id="ajp-game-photo-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-xxl mx-auto pt-3">
            <div class="modal-content pr-3">
                <div class="modal-header" id="ajp-game-modal-header">
                    <button id="ajp-game-close-game-modal" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row" id="ajp-game-modal-body">
                    <div id="ajp-modal-photo-container" class="ajp-photo col-xl-8 col-lg-8 col-md-6 col-sm-6 col-xs-6">
                        <div id="ajp-game-modal-photo-container">
                            <button class="ajp-photo-modal-previous-button ajp-game-previous-photo-button"
                                    {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                <span class="material-icons ajp-icon-48 notranslate">navigate_before</span>
                            </button>
                            <a class="fullscreen" id="ajp-fullscreen-link" rel="" href="">
                                <img class="img-fluid col-xs-12" id="ajp-game-modal-photo"
                                     src="" alt="{% trans "Game modal photo" %}" />
                            </a>
                            <button class="ajp-photo-modal-next-button ajp-game-next-photo-button"
                                    {% if request.user_agent.is_pc %}style="display: none;"{% endif %}>
                                <span class="material-icons ajp-icon-48 notranslate">navigate_next</span>
                            </button>
                            <button id="ajp-game-flip-button" style="display: none;">
                                <span class="material-icons notranslate">flip</span>
                            </button>
                            <button class="ajp-like-photo-overlay-button">
                                <span id="favorite-icon" class="material-icons notranslate">favorite_border</span>
                                <span class="ajp-like-count"></span>
                            </button>
                        </div>
                    </div>
                    <div id="ajp-photo-modal-map-container" class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6"
                         style="display: none;">
                        <div id="ajp-minimap-disabled-overlay"></div>
                        <div id="ajp-photo-modal-map-canvas"></div>
                    </div>
                </div>
                <div class="modal-footer d-inline-block">
                    <a id="ajp-game-show-description" href="#"
                       class="ajp-game-show-description-button"
                       title="{% trans "Show description" %}">
                        <span class="material-icons notranslate">subject</span>
                    </a>
                    <span id="ajp-photo-modal-specify-location"
                          class="ajp-game-specify-location-button float-left"
                          title="{% trans "Pick the shooting location!" %}">
                        <span class="material-icons notranslate ajp-icon-36">add_location</span>
                    </span>
                    <ul class="list-unstyled">
                        <li id="ajp-game-photo-description"></li>
                        <li id="ajp-game-photo-identifier">
                            <a target="_blank" id="ajp-game-source-link" href="" rel="noopener nofollow"></a>
                        </li>
                    </ul>
                    <p class="d-none d-block-xs" id="ajp-game-status-message"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100">
        <div id="ajp-map-container">
            <div id="ajp-map-canvas"></div>
        </div>
        <div id="ajp-geotagging-container"></div>
    </div>
    {% include "info/_info_modal.html" %}
    {% include "geotaggers/_geotaggers_modal.html" %}
    <div class="full-box original-full-box">
        <div class="full-pic" id="ajp-fullscreen-image-container">
            <img id="ajp-fullscreen-image" alt="" src="" />
        </div>
    </div>
    <div class="full-box similar-full-box">
        <div class="full-pic" id="ajp-similar-fullscreen-image-container">
            <img id="ajp-similar-photo-full-screen-image" alt="" src="" />
        </div>
    </div>
{% endblock %}
{% block specific_js %}
    <script>
        var streamURL = "{% url 'fetch_stream' %}",
            addGeotagFeedbackUrl = "{% url 'api_geotag_difficulty_feedback' %}",
            gameURL = "{% url 'game' %}",
            mapURL = "{% url 'map' %}",
            areaId = "{{ area.id | safe }}",
            albumId = "{{ album.0 | safe }}";
        window.albumId = albumId;
        {% if photo %}
            window.preselectedPhotoId = {{ photo.id | safe }};
        {% endif %}
        window.linkToMap = true;
        window.linkToGame = false;
        window.linkToGallery = true;
        window.fbShareGame = true;
        window.isGame = true;
        {% if album.2 and album.3 %}
            window.startLocation = [{{ album.3 | safe }}, {{ album.2 | safe }}];
        {% elif area.lat and area.lon %}
            window.startLocation = [{{ area.lon | safe }}, {{ area.lat | safe }}];
        {% else %}
            window.startLocation = [26, 59];
        {% endif %}

        flipImages = function() {
            $('#ajp-game-flip-button').toggleClass('active');
            $('#ajp-game-modal-photo').toggleClass('ajp-photo-flipped');
            $('#ajp-fullscreen-image').toggleClass('ajp-photo-flipped');
            $('#ajp-geotagger-full-screen-image').toggleClass('ajp-photo-flipped');
            window.photoModalCurrentPhotoFlipped = !window.photoModalCurrentPhotoFlipped;
        },

            $('#ajp-game-flip-button').click(function() {
                flipImages();
            });
    </script>
    {% compress js %}
        <script src="{% static 'js/ajp-game.js' %}"></script>
    {% endcompress %}
{% endblock %}