{% extends "core/base_bootstrap.html" %}
{% load i18n compress static %}

{% block header %}
    {% include "core/_header.html" %}
{% endblock %}

{% block specific_css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static "css/ajp-map-sidepanel.css" %}">
    {% endcompress %}
    {% include "js_templates/map_view_side_panel_element.html" %}
{% endblock %}

{% block layout %}
    <div class="modal fade" id="ajp-photo-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div class="w-100">
        <div id="map-side-panel" class="side-panel">
            <div id="img-wrapper"></div>
        </div>
        <div id="close-btn" onclick="toggleSidePanel()">
            <span aria-hidden="true" class="material-icons notranslate ajp-icon-36 ajp-gray-button">close</span>
        </div>
        <button id="open-btn" onclick="toggleSidePanel()">{% trans "Show images" %}</button>
        <div id="ajp-map-container">
            <input id="pac-input-mapview" class="controls float-right" type="text" placeholder={% trans "Search box" %}>
            <div id="ajp-map-canvas" class="ajp-map-canvas-mapview"
                 {% if not album %}style="top:58px !important;" {% endif %}>
            </div>
        </div>
    </div>
    <div id="ajp-geotagging-container"></div>
    <div class="full-box original-full-box">
        <div class="full-pic" id="ajp-fullscreen-image-container">
            <img id="ajp-fullscreen-image" alt="" src="" />
        </div>
    </div>
    <div class="full-box rephoto-full-box">
        <div class="full-pic" id="ajp-rephoto-fullscreen-image-container">
            <img id="ajp-rephoto-full-screen-image" alt="" src="" />
        </div>
    </div>
    <div class="full-box similar-full-box">
        <div class="full-pic" id="ajp-similar-fullscreen-image-container">
            <img id="ajp-similar-photo-full-screen-image" alt="" src="" />
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        $('#ajp-geotagging-container').AjapaikGeotagger();
        var title = "{{ title }}",
            leaderboardFullURL = "{% url "top50" %}",
            difficultyFeedbackURL = "{% url "difficulty_feedback" %}",
            mapDataURL = "{% url "map_objects_by_bounding_box" %}";
        {% if request.GET.q %}
            window.photoQuery = "{{ request.GET.q }}";
        {% endif %}
        {% if album %}
            window.albumId = "{{ album.id }}";
            {% if album.lat and album.lon %}
                window.albumLatLng = new window.google.maps.LatLng({{ album.lat }}, {{ album.lon }});
            {% endif %}
        {% endif %}
        window.currentlySelectedPhotoId = "{{ photo.id }}";
        let photoModalCurrentImageUrl;
        window.linkToMap = false;
        window.linkToGame = true;
        window.linkToGallery = true;
        window.fbShareMap = true;
        {% if selected_photo %}
            const preselectPhotoId = "{{ selected_photo.id }}";
            {% if selected_photo.lat and selected_photo.lon %}
                const preselectPhotoLat = "{{ selected_photo.lat | safe }}",
                    preselectPhotoLng = "{{ selected_photo.lon | safe }}";
            {% endif %}
        {% endif %}
        {% if selected_rephoto %}
            const preselectRephotoId = "{{ selected_rephoto.id }}";
        {% endif %}
        {% if album %}
            const filteringMessage = window.location.search.indexOf('limitToAlbum=0') < 0
                ? 'You have opened the map with the album filter on, to turn it off, please untick the box next to album name'
                : 'You have opened the map with the album filter off, to turn it on, please tick the box next to album name';
            $.notify(gettext(filteringMessage), { type: 'info', placement: { from: 'top', align: 'left' } });
        {% endif %}

        let mapSearchFilterTimeOut;
        $('#ajp-photo-filter-box').on('input', function() {
            window.photoQuery = $('#ajp-photo-filter-box').val();
            window.syncMapStateToURL();
            clearTimeout(mapSearchFilterTimeOut);
            mapSearchFilterTimeOut = setTimeout(function() {
                window.toggleVisiblePaneElements();
            }, 500);
        });
    </script>
    {% compress js %}
        <script src="{% static "js/ajp-map.js" %}"></script>
        <script src="{% static "js/markerclustererplus-2.1.1.js" %}"></script>
    {% endcompress %}
    {% include "authentication/_login_modal.html" %}
    {% include "rephoto_upload/_rephoto_upload_modal.html" %}
    {% include "info/_info_modal.html" %}
    {% include "geotaggers/_geotaggers_modal.html" %}
{% endblock %}