#ajapaik-video-modal-still-button {
    background: none;
}

#ajapaik-video-modal-still-button > i {
    font-size: 48px;
}

#ajapaik-video-modal-still-button.enabled > i {
    color: black;
}

#ajapaik-video-modal-still-button.disabled > i {
    color: #888;
}

#ajapaik-video-modal-anonymous-icon {
    position: relative;
    top: 6px;
    left: 6px;
    cursor: pointer;
}

#ajapaik-video-modal-anaonymous-warning {
    margin-left: 20px;
}

#ajapaik-video-modal-body {
    padding-left: 40px;
}

.ajapaik-album-selection-film-icon {
    display: inline-block;
    width: 30px;
}

.ajapaik-album-selection-film-icon > i {
    position: relative;
    top: 9px;
}

.ajapaik-frontpage-video-container > i {
    color: white;
    font-size: 48px;
    position: absolute;
    bottom: 0;
    left: 5px;
}

#ajapaik-header-movie-indicator {
    position: relative;
    top: 2px;
}

#ajapaik-video-modal-info-column {
    text-align: left;
}

#ajapaik-modal-video {
    width: 100%;
    height: 100%;
}

#ajapaik-videoview-video {
    width: 100%;
    height: 100%;
}

#ajapaik-videoview-album-list {
    margin-top: 20px;
}

#ajapaik-videoview-album-list > div > i {
    font-size: 36px;
    color: #888;
}