#ajp-dater-container {
    height: 100%;
    width: 100%;
    display: none;
    margin-top: 10px;
}

#ajp-dater-panel {
    border-radius: 0;
    position: relative;
}

#ajp-dater-panel > .panel-body > .well {
    border-radius: 0;
    border: none;
}

#ajp-dater-form {
    max-width: 400px;
}

#ajp-dater-input {
    max-width: 50%;
}

#ajp-dater-form > .form-group > input {
    border-radius : 0;
}

#ajp-dater-form > .btn-group > button {
    border-radius : 0;
}

#ajp-dater-close-tutorial-button {
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, .8);
}

#ajp-dater-open-tutorial-button {
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#ajp-dater-feedback {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

#ajp-dater-comment {
    margin-bottom: 10px;
}

#ajp-dater-previous-datings-well {
    display: none;
}

#ajp-dater-anonymous-user-well > i {
    cursor: pointer;
}

#ajp-dater-anonymous-user-well > span {
    position: relative;
    bottom: 6px;
    left: 10px;
}

#ajp-dater-tutorial-well > span > ul {
    list-style-type: none;
    padding: 0;
}

.ajp-italic {
    font-style: italic;
}