#ajp-geotagging-container {
    height: 100%;
    width: 100%;
    display: none;
}

#ajp-geotagger-map-canvas {
    height: 100%;
    width: 100%;
}

.ajp-no-border-radius {
    border-radius: 0;
}

.ajp-full-height {
    height: 100%;
}

.ajp-full-width {
    width: 100%;
}

.ajp-no-padding {
    padding: 0 !important;
}

#ajp-geotagger-panel {
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
}

#ajp-geotagger-map-container {
    height: 100%;
}

@media (max-width: 992px) {
    #ajp-geotagger-map-container {
        max-height: 70%;
    }

    #ajp-geotagger-panel {
        max-height: 30%;
    }

    #ajp-geotagger-button-controls {
        float: right;
    }
}

#ajp-geotagger-login-container {
    height: 50px;
    color: white;
    width: 100%;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#ajp-geotagger-login-container > i {
    font-size: 48px;
}

#ajp-geotagger-current-login {
    position: relative;
    font-size: 18px;
    padding-left: 10px;
    bottom: 15px;
}

#ajp-geotagger-game-buttons {

}

#ajp-geotagger-skip-button {
    background-color: transparent;
    border: none;
    color: white;
}

#ajp-geotagger-skip-button:hover {
    color: black;
}

#ajp-geotagger-save-button {
    background-color: transparent;
    border: none;
    color: white;
}

#ajp-geotagger-save-button:hover {
    color: black;
}

#ajp-geotagger-description {
    color: white;
    margin: 10px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    max-height: 40px;
}

#ajp-geotagger-source {
    color: white;
    margin: 10px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    max-height: 40px;
}

#ajp-geotagger-stats-container {
    color: white;
    width: 100%;
    float: left;
    cursor: default;
}

#ajp-geotagger-current-stats {
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    bottom: 5px;
}

#ajp-geotagger-image-thumb {
    margin-right: auto;
    margin-left: auto;
}

.ajp-image-responsive {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}

#ajp-geotagger-flip-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
}

#ajp-geotagger-flip-button.active {
    color: #007fff;
}

#ajp-geotagger-description-button {
    background-color: transparent;
    border: none;
    color: white;
    float: left;
}

#ajp-geotagger-description-button > i {
    font-size: 36px;
}

#ajp-geotagger-save-button.btn-success {
    background-color: #449d44;
}

#ajp-geotagger-save-button.btn-warning {
    background-color: #f0ad4e;
}

#ajp-geotagger-full-screen-link {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

#ajp-geotagger-full-screen-box {
    position: relative;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

#ajp-geotagger-full-screen-container {
    position: absolute;
    left: 0;
    top: 0;
    background: black url('../images/ajax_loader_gray_256.gif') center center no-repeat;
    background-size: 128px 128px;
    width: 100%;
    height: 100%;
}

#ajp-geotagger-full-screen-image {
    min-width: 128px;
    min-height: 128px;
    opacity: 0;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

#ajp-geotagger-lock-button {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/material-design-icons/ajapaik_photo_camera_arrow_drop_down_lock_mashup.svg);
    width: 60px;
    height: 36px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: none;
}

#ajp-geotagger-lock-button.active {
    background-image: url(../images/material-design-icons/ajapaik_photo_camera_arrow_drop_down_lock_open_mashup.svg);
}

#ajp-geotagger-mode-selection {
    margin-top: 10px;
    margin-right: 10px;
    /*No need before we figure our how to calculate it all*/
    display: none;
}

#ajp-geotagger-search-box {
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    margin-left: 50px;
    margin-top: 50px;
}

#ajp-geotagger-guess-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    cursor: pointer;
}

#ajp-geotagger-guess-marker.vantage {
    background: url('../images/material-design-icons/ajapaik_photo_camera_arrow_drop_down_mashup.svg') no-repeat;
    margin-left: -12px;
    margin-top: -33px;
    height: 33px;
    width: 24px;
}

#ajp-geotagger-guess-marker.object {
    background: url('../images/material-design-icons/ic_place_24px_black.svg') no-repeat;
    margin-left: -12px;
    margin-top: -24px;
    height: 33px;
    width: 24px;
}

#ajp-geotagger-guess-marker.approximate {
    border-radius: 50%;
    margin-left: -12.5vw;
    margin-top: -12.5vw;
    height: 25vw;
    width: 25vw;
    border: 1px dashed black;
    pointer-events: none;
}

.ajp-photo-flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#ajp-geotagger-map-instruction-text {
    font-size: 16px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, .7);
    margin-left: 40px;
    margin-right: 40px;
    max-width: 500px;
}

#ajp-geotagger-map-instruction-text > p {
    margin: 10px;
}

#ajp-geotagger-close-instructions-button {
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, .8);
}

#ajp-geotagger-open-instructions-button {
    display: none;
    border: none;
    background-color: transparent;
}

#ajp-geotagger-feedback {
    display: none;
}

#ajp-geotagger-feedback > .panel {
    border-radius: 0;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    box-shadow: none;
}

#ajp-geotagger-feedback-next-button {
    border-radius: 0;
    margin-top: 10px;
}
