@font-face {
    font-family: MuseoSans300;
    src: url('../fonts/MuseoSans_300.otf');
}

html, body, #map-container {
    font-family: MuseoSans300 sans-serif;
    width: 100%;
    height: 100%;
}

.padding-top-50 {
    padding-top: 50px;
}

.navbar-fixed-top {
    border: 0;
    margin-bottom: 0;
}

.font-size-48px {
    font-size: 48px;
}

#camera-file-capture {
    display: none !important;
}

.double-border {
    background-color: #edc549;
    border: solid #fff;
    position: relative;
    margin: 0 auto;
    border-radius: 33px;
    padding: 6px 48px;
}

.double-border:before {
    background: none;
    border: 2px solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    pointer-events: none;
    border-radius: 30px;
}

.navbar-active {
    background-color: #edc549;
}