html, body, #map-container {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
}

.navbar-fixed-top {
    border: 0;
    margin-bottom: 0;
}

.font-size-48px {
    font-size: 48px;
}

.camera-file-capture {
    display: none !important;
}
