@font-face {
    font-family: MuseoSans300;
    src: url('../fonts/MuseoSans_300.otf');
}

html, body, #map-container {
    font-family: MuseoSans300;
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
}

.tan-padding-top-50 {
    padding-top: 50px;
}

.navbar-fixed-top {
    border: 0;
    margin-bottom: 0;
}

#camera-file-capture {
    display: none !important;
}

.navbar-active {
    background-color: #edc549;
}

.tan-text-center {
    text-align: center;
}

.tan-font-size-48px {
    font-size: 48px;
}

.tan-font-size-24px {
    font-size: 24px;
}

.tan-button-text {
    font-size: 24px;
    background-color: #edc549;
    color: white !important;
}

.tan-double-border {
    background-color: #edc549;
    border: solid #fff;
    position: relative;
    margin: 0 auto;
    border-radius: 33px;
    padding: 6px 48px;
}

.tan-double-border:before {
    background: none;
    border: 2px solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    pointer-events: none;
    border-radius: 30px;
}

#tan-frontpage-album-id-input {
    max-width: 300px;
}

#tan-frontpage-title {
    border-bottom: 3px solid #edc549;
    border-top: 3px solid #edc549;
    text-align: center;
}

#tan-frontpage-image {
    max-height: 300px;
    margin: 0 auto;
}

#tan-frontpage-album-from-group {
    display: inline-block;
}

#tan-frontpage-make-tour-button {
    white-space: normal;
}

.tan-gallery-photo-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.tan-gallery-overlay-done {
    position: absolute;
    width: 24px;
    bottom: 0;
    height: 24px;
    right: 0;
    color: white;
    background-color: rgba(255,255,255,.3);
}

.tan-gallery-overlay-done.blue {
    color: #007fff;
}

#tan-detail-image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

#tan-detail-rephoto-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

#tan-detail-image-container > img {
    width: 100%;
}

#tan-rephoto-image-container > img {
    width: 100%;
}

.tan-image-overlay-button {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    width: 48px;
    height: 48px;
}

.tan-image-overlay-button > i {
    font-size: 48px;
}

.tan-image-overlay-button:hover {
    color: #007fff;
}

#tan-detail-next-button {
    right: 0;
    top: 50%;
}

#tan-detail-prev-button {
    left: 0;
    top: 50%;
}

#tan-detail-rephoto-close-button {
    right: 0;
    top: 0;
}

#tan-detail-rephoto-delete-button {
    right: 0;
    bottom: 0;
}

#tan-detail-rephoto-next-button {
    right: 0;
    top: 50%;
}

#tan-detail-rephoto-prev-button {
    left: 0;
    top: 50%;
}

.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.facebook-connect a {
    width: 169px;
    height: 21px;
    background: url(../images/connect-with-facebook.png) no-repeat;
    font-size: 12px;
    margin: 6px 8px;
}

.facebook-connect p {
    margin: 0 0 10px;
}

.google-plus-connect a {
    width: 169px;
    height: 57px;
    background: url(../images/connect-with-google.png) no-repeat;
    margin-top: -5px;
}

#tan-create-tour-2-container {
    width: 100%;
    height: 100%;
}

#tan-create-tour-map {
    width: 100%;
    height: 60%;
}

.tan-create-tour-2-select-checkbox {
    margin-left: 5px;
}

.tan-pac-controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#tan-pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#tan-pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#tan-my-location-button {
    margin-top: 10px;
    margin-right: 10px;
}

#tan-my-location-button > i {
    margin-top: 3px;
}

.tan-zero-border-radius {
    border-radius: 0;
}

#tan-create-tour-2-mobile-justified-buttons {
    margin-bottom: 30px;
}

.tan-my-tours-li {
    margin-bottom: 10px;
}

#tan-create-tour-2-total-marker-count {
    font-weight: bold;
}

#tan-create-tour-2-marker-count-row {
    font-size: 24px;
}