@font-face {
    font-family: MuseoSans300;
    src: url('../fonts/MuseoSans_300.otf');
}

html, body, #map-container {
    font-family: MuseoSans300 sans-serif;
    width: 100%;
    height: 100%;
}

.navbar-fixed-top {
    border: 0;
    margin-bottom: 0;
}

.font-size-48px {
    font-size: 48px;
}

#camera-file-capture {
    display: none !important;
}

#frontpage-container {
    background: url(../images/then-and-now-frontpage.png) no-repeat;
}

