{% verbatim %}
    <script id="ajapaik-curator-selection-template" type="text/x-tmpl">
        <div class="row ajapaik-curator-selection-item w-100 pl-3" id="ajapaik-curator-selection-item-{%=formatId(o.id)%}">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="text-align:center">
                <img class="img-fluid lazyload ajapaik-curator-selection-image{% if (o.invert) { %} ajapaik-photo-inverted{% } %}{% if (o.institution == 'ETERA') { %} ajapaik-curator-ETERA-result{% } %}{% if (o.flip) { %} ajapaik-photo-flipped{% } %}{% if (o.classToAdd) { %} {%=o.classToAdd%}{% } %}" {% if (o.institution == 'ETERA') { %}data-src="{%=o.imageUrl%}"{% } else { %}src="{%=o.imageUrl%}"{% } %} onerror="imageFailedToLoad('{%=o.id%}')" onload="imageLoaded('{%=o.id%}')">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ajapaik-curator-selection-controls">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{%=o.title%}</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">{%=gettext('Description')%}: {%=o.description%}</li>
                        <li class="list-group-item">{%=gettext('Author')%}: {%=o.creators%}</li>
                        <li class="list-group-item">{%=gettext('Source')%}: {%=o.institution%}</li>
                        <li class="list-group-item">{%=gettext('Source ID')%}: <a target="_blank" href="{%=o.urlToRecord%}" rel="noopener nofollow">{%=o.identifyingNumber%}</a></li>
                        <li class="list-group-item">{%=gettext('Size')%}: <span class="ajapaik-curator-selection-image-size"></span></li>
                    </ul>
                </div>
                <div class="ajapaik-curator-selection-button-row">
                    <div class="btn-group" role="group">
                      <button title="{%=gettext('Invert colors')%}" type="button" class="btn btn-outline-secondary  {% if (o.invert) { %}active{% } %} ajapaik-curator-invert-colors-button" data-id="{%=o.id%}">
                        <i class="glyphicon ajapaik-icon ajapaik-icon-invert-colors"></i>
                      </button>
                      <button title="{%=gettext('Flip')%}" type="button" class="btn btn-outline-secondary  {% if (o.flip) { %}active{% } %} ajapaik-curator-flip-button" data-id="{%=o.id%}">
                        <i class="glyphicon ajapaik-icon ajapaik-icon-flip"></i>
                      </button>
                      <button title="{%=gettext('Mark stereophoto')%}" type="button" class="btn btn-outline-secondary d-flex {% if (o.stereo) { %}active{% } %} ajapaik-curator-stereo-button" data-id="{%=o.id%}">
                        <i class="glyphicon ajapaik-icon ajapaik-icon-stereo"></i>
                        <i class="glyphicon ajapaik-icon ajapaik-icon-stereo"></i>
                      </button>
                      <button title="{%=gettext('Rotate')%}" type="button" class="btn btn-outline-secondary  ajapaik-curator-rotate-button" data-id="{%=o.id%}">
                        <i class="glyphicon ajapaik-icon ajapaik-icon-rotate"></i>
                      </button>
                    </div>
                    {% if (o.ajapaikId) { %}
                        <li class="list-group-item">{%=gettext('Picture already in album(s)')%}:
                            {% for (var i=0; i < o.albums.length; i++) { %}
                                <a target="_blank" title="{%=o.albums[i][1]%}" href="{%=o.albums[i][0]%}" rel="noopener">{%=o.albums[i][1]%}</a>{% if (i !== (o.albums.length - 1)) { %},{% } %}
                            {% } %}
                        </li>
                    {% } %}
                    {% if (o.latitude) { %}
                        <img class="img-fluid ajapaik-result-has-location-indicator lazyload" data-src="{% endverbatim %}{{ STATIC_URL }}images/direction_20px_white.png{% verbatim %}" title="{%=gettext('Picture has location data attached')%}">
                    {% } %}
                    {% if (o.ajapaikId) { %}
                        <a target="_blank" href="{%=photoPermalink + o.ajapaikId%}" rel="noopener">
                            <img class="img-fluid ajapaik-already-have-indicator lazyload" data-src="{% endverbatim %}{{ STATIC_URL }}images/ajapaik_marker_35px.png{% verbatim %}" title="{%=gettext('Picture is already in Ajapaik. You can still add it to your album, no curation points awarded')%}">
                        </a>
                    {% } %}
                </div>
                <div class="btn-group" role="group">
                      <button title="{%=gettext('Remove from selection')%}" type="button" class="btn btn-outline-secondary  ajapaik-curator-delete-button" data-id="{%=o.id%}">
                        <i class="glyphicon ajapaik-icon ajapaik-icon-delete"></i>
                      </button>
                      <button class="btn btn-success ajapaik-curator-submit-single" data-id="{%=o.id%}">{%=gettext('Add this picture to album (not the whole set)')%}</button>
                </div>
                <div class="ajapaik-curator-selection-feedback-row">
                    <div class="alert-success ajapaik-curator-feedback-alert p-2 mt-2" role="alert"></div>
                    <div class="alert-danger ajapaik-curator-feedback-alert p-2 mt-2" role="alert"></div>
                </div>
            </div>
        </div>
    </script>
    <script id="ajapaik-curator-result-template" type="text/x-tmpl">
        <a class="thumbnail col-xs-2" title="{%=o.title%}">
            <img data-src="{% if (o.isFlickrResult || o.isFinnaResult || o.isEuropeanaResult || o.isCommonsResult ) { %}{%=o.cachedThumbnailUrl %}{% } else { %}{%=o.imageUrl %}{% } %}"
                data-id="{%=o.id %}" data-institution="{%=o.institution%}" data-identifier="{%=o.identifyingNumber%}"
                class="img-fluid ajapaik-result-item lazyload {% if (selectedResults[o.id]) { %}ajapaik-curator-selected-image{% } %}"
                id="ajapaik-result-item-{%=formatId(o.id)%}">
        </a>
    </script>
    <script id="ajapaik-curator-my-album-template" type="text/x-tmpl">
        <div class="row my-1 mr-2">
            <a class="mt-3 mr-2" style="font-size:18px;" href="{%=o.gameLink%}">{%=o.name%} - {%=o.photo_count%} {%=gettext('photos')%}</a>
            <div style="cursor:pointer;color:#343a40;" title="{%=gettext('Edit')%}" class="ajapaik-curator-edit-album-button mt-2 pt-2" data-id="{%=o.id%}">
                <i class="material-icons notranslate">edit</i>
            </div>
        </div>
    </script>
    <script id="ajapaik-curator-share-set-button" type="text/x-tmpl">
        <div id="ajapaik-curator-share-button" class="fb-share-button" data-href="{%=o.gameLink%}" data-layout="button"></div>
    </script>
{% endverbatim %}
