{% verbatim %}
    <script id="ajp-frontpage-album-template" type="text/x-tmpl">
        <a href="/?album={%=o.id%}" class="ajp-frontpage-album" data-id="{%=o.id%}">
            <img alt="{%=o.name%}" class="img-fluid lazyload"
                 data-id="{%=o.id%}" data-name="{%=o.name%}" height="{%=o.cover_photo_height%}"
                 data-photos="{%=o.photo_count_with_subabums%}" width="{%=o.cover_photo_width%}"
                 src="{%=photoThumbURL%}{%=o.cover_photo%}/400/">
            <div class="caption ajp-caption-album-selection">
                {% if (o.album_type == 'Film') { %}
                    <span class="material-icons notranslate" title="{%=gettext('This album contains a film')%}">movie</span>
                {% } if (o.album_type == 'Person') { %}
                    <span class="material-icons notranslate" title="{%=gettext('This is a person album')%}">person_pin</span>
                {% } if (o.album_type == 'Collection') { %}
                    <span class="material-icons notranslate" title="{%=gettext('This is a collection album')%}">account_balance</span>
                {% } if (o.album_type == 'Curated')  { %}
                    <span class="material-icons notranslate">photo_album</span>
                {% } %}
                <p class="ajp-caption-album-selection-album-title" title="{%=o.name%}">{%=o.name%}</p>
                <div class="ajp-album-selection-photo-count" title="{%=gettext('Pictures in album')%}">
                    <span>{%=o.photo_count_with_subalbums%}</span>
                </div>
                {% if (o.geotagged_photo_count_with_subalbums > 0) { %}
                    <div class="ajp-album-selection-geotagged-count" title="{%=gettext('Pictures geotagged')%}">
                        <span>{%=o.geotagged_photo_count_with_subalbums%}</span>
                    </div>
                {% } %}
                {% if (o.rephoto_count_with_subalbums > 0) { %}
                    <div class="ajp-album-selection-rephoto-count" title="{%=gettext('Rephotos in album')%}">
                        <span>{%=o.rephoto_count_with_subalbums%}</span>
                    </div>
                {% } %}
                {% if (o.comments_count_with_subalbums > 0) { %}
                    <div class="ajp-album-selection-comment-count" title="{%=gettext('Comments in album')%}">
                        <span>{%=o.comments_count_with_subalbums%}</span>
                    </div>
                {% } %}
                {% if (o.similar_photo_count_with_subalbums > 0) { %}
                <div class="ajp-album-selection-similar-photo-count" title="{%=gettext('Similar photos in album')%}">
                    <span>{%=o.confirmed_similar_photo_count_with_subalbums%}/{%=o.similar_photo_count_with_subalbums%}</span>
                </div>
                {% } %}
                <div class="ajp-album-selection-caption-bottom d-none w-100 h-100">
                    <div class="ajp-album-selection-album-more-button" role="button" title="{%=gettext('Album details')%}" data-id="{%=o.id%}"></div>
                    {% if (o.geotagged_photo_count_with_subalbums > 0) { %}
                        <div class="ajp-album-selection-map-button" role="button" title="{%=gettext('Show pictures on map')%}" data-href="{%=mapviewURL%}?album={%=o.id%}">
                            <span class="material-icons notranslate ajp-icon-36">map</span>
                        </div>
                    {% } %}
                    <div class="ajp-album-selection-game-button" role="button" title="{%=gettext('Geotag pictures in album')%}" data-href="{%=gameURL%}?album={%=o.id%}">
                        <span class="material-icons notranslate ajp-icon-36">add_location</span>
                    </div>
                </div>
            </div>
        </a>
    </script>
{% endverbatim %}