{% load i18n %}
<script id="ajapaik-map-view-side-panel-template" type="text/x-tmpl">
    <div id="ajapaik-photo-pane-content-container">
        {% verbatim %}
            {% include('ajapaik-map-view-side-panel-element-template', o); %}
        {% endverbatim %}
    </div>
    <div class="ajapaik-load-more">
        <button data-action="load-more" data-bunch-loaded="1" class="btn btn-primary load-more w-100 my-2" type="button">
            {% trans 'Load more' %}
        </button>
        <div class="ajapaik-spinner"></div>
    </div>
</script>
