{% verbatim %}
    <script id="ajapaik-photo-modal-rephoto-info-template" type="text/x-tmpl">
        {% if (o[0][0].source && o[0][0].sourceKey && o[0][0].sourceURL) { %}
            {% if (o[0][0].author) { %}
                <div class="w-100"><b>{%=o[0][0].author%}</b></div>
                {% if (o[0][0].licence) { %}
                    <div class="w-100">
                            {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                    </div>
                {% } %}
            {% } %}
            <div class="w-100">
                <a id="ajapaik-photo-modal-rephoto-source" {% if (!window.isTabletView) { %}href='{%=o[0][0].sourceURL%}'{% } %}
                   target="_blank" rel="noopener nofollow">
                    {%=o[0][0].source%} {%=o[0][0].sourceKey%}
                </a>
            </div>
        {% } else { %}
            {% if (o[0][0].author) { %}
                <div class="w-100"><b>{%=o[0][0].author%}</b></div>
                <div class="w-100">
                    {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                </div>
            {% } else { %}
                {% if (o[0][0].FBUserName) { %}
                    <div class="w-100">
                        <a target="_blank" {% if (!window.isTabletView) { %}href="/photos/?rephotosBy={%=o[0][0].id%}&order1=time&order2=rephotos"{% } %} rel="noopener">
                            {%=o[0][0].FBUserName%}
                        </a><br>
                    </div>
                    <div class="w-100">
                        {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                    </div>
                {% } else { %}
                    {% if (o[0][0].GooglePlusName) { %}
                        <div class="w-100">
                            <a target="_blank" {% if (!window.isTabletView) { %}href="/photos/?rephotosBy={%=o[0][0].id%}&order1=time&order2=rephotos"{% } %} rel="noopener">
                                {%=o[0][0].GooglePlusName%}
                            </a><br>
                        </div>
                        <div class="w-100">
                            {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                        </div>
                    {% } else { %}
                        {% if (o[0][0].FullName) { %}
                            <div class="w-100">
                                <a target="_blank" {% if (!window.isTabletView) { %}href="/photos/?rephotosBy={%=o[0][0].id%}&order1=time&order2=rephotos"{% } %} rel="noopener">
                                    {%=o[0][0].FullName%}
                                </a><br>
                            </div>
                            <div class="w-100">
                                {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                            </div>
                        {% } else { %}
                            <div class="w-100"><b>{%=gettext('Unknown author')%}</b></div>
                        {% } %}
                    {% } %}
                {% } %}
            {% } %}
        {% } %}
        {% if (o[0][0].date) { %}
            <div class="w-100">{%=o[0][0].date%}</div>
        {% } %}
    </script>
{% endverbatim %}