{% verbatim %}
    <script id="ajapaik-photo-modal-rephoto-template" type="text/x-tmpl">
        <a class="fullscreen" id="ajapaik-rephoto-full-screen-link" rel="" href="{%=o.fb_url%}">
            <img src="{%=o.url%}" id="ajapaik-modal-rephoto" class="img-fluid col-xs-12">
        </a>
        <button class="btn ajapaik-close-rephoto-overlay-button" {% if (!isMobile) { %}
            style="display: none;"{% } %}><i class="material-icons notranslate">close</i></button>
        <button class="btn ajapaik-invert-rephoto-overlay-button"
             {% if (!isMobile) { %}
            style="display: none;"{% } %}><i class="material-icons notranslate">invert_colors</i></button>
    </script>
{% endverbatim %}