{% verbatim %}
    <script id="ajapaik-photo-modal-rephoto-info-template" type="text/x-tmpl">
        {% if (o.source && o.sourceKey && o.sourceURL) { %}
            {% if (o.author) { %}
                <div class="w-100"><b>{%=o.author%}</b></div>
                {% if (o.licence) { %}
                    <div class="w-100">
                            {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                    </div>
                {% } %}
            {% } %}
            <div class="w-100">
                <a id="ajapaik-photo-modal-rephoto-source" {% if (!window.isTabletView) { %}href='{%=o.sourceURL%}'{% } %}
                   target="_blank" rel="noopener nofollow">
                    {%=o.source%} {%=o.sourceKey%}
                </a>
            </div>
        {% } else { %}
            {% if (o.author) { %}
                <div class="w-100"><b>{%=o.author%}</b></div>
                <div class="w-100">
                    {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                </div>
            {% } else { %}
                {% if (o.FBUserName) { %}
                    <div class="w-100">
                        <a target="_blank" {% if (!window.isTabletView) { %}href="/photos/?rephotosBy={%=o.id%}&order1=time&order2=rephotos"{% } %} rel="noopener">
                            {%=o.FBUserName%}
                        </a><br>
                    </div>
                    <div class="w-100">
                        {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                    </div>
                {% } else { %}
                    {% if (o.GooglePlusName) { %}
                        <div class="w-100">
                            <a target="_blank" {% if (!window.isTabletView) { %}href="/photos/?rephotosBy={%=o.id%}&order1=time&order2=rephotos"{% } %} rel="noopener">
                                {%=o.GooglePlusName%}
                            </a><br>
                        </div>
                        <div class="w-100">
                            {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                        </div>
                    {% } else { %}
                        {% if (o.FullName) { %}
                            <div class="w-100">
                                <a target="_blank" {% if (!window.isTabletView) { %}href="/photos/?rephotosBy={%=o.id%}&order1=time&order2=rephotos"{% } %} rel="noopener">
                                    {%=o.FullName%}
                                </a><br>
                            </div>
                            <div class="w-100">
                                {% endverbatim %}{% include "_licence.html" %}{% verbatim %}
                            </div>
                        {% } else { %}
                            <div class="w-100"><b>{%=gettext('Unknown author')%}</b></div>
                        {% } %}
                    {% } %}
                {% } %}
            {% } %}
        {% } %}
        {% if (o.date) { %}
            <div class="w-100">{%=o.date%}</div>
        {% } %}
    </script>
{% endverbatim %}