{% verbatim %}
    <script id="ajp-photo-modal-similar-photo-info-template" type="text/x-tmpl">
        {% if (o.address && o.lat && o.lon && isMobile) { %}
            <div class="w-100">
                <em>{%=gettext('Approximate address')%}: {%=o.address%}</em>
            </div>
        {% } %}
        {% if (o.author) { %}
            <div class="w-100">
                <b>{%=o.author%}</b>
            </div>
        {% } %}
        {% if (o.description) { %}
            <div class="w-100">
                    {%=o.description%}
            </div>
        {% } %}
        {% if (o.date_text) { %}
            <div class="w-100">
                    {%=o.date_text%}
            </div>
        {% } %}
        <div class="w-100">
            {% if (o.licence) { %}{% endverbatim %}{% include "photo/_licence.html" with licence=o.licence %}{% verbatim %}{% } %}
            {% if (o.sourceURL) { %}
            <a onclick="window.gtag('event', 'source_link_click', { 'category': 'Photoview', 'label': 'similar_photo'});"
                href='{%=o.sourceURL%}' target="_blank" rel="noopener">
                {% if (o.source) { %}{%=o.source%}{% } %}
                {% if (o.sourceKey) { %}{%=o.sourceKey%}{% } %}
            </a>
            {% } %}
            {% if (o.source && !o.sourceURL) { %}
                {%=o.source%}{% if (o.sourceKey) { %} {%=o.sourceKey%}{% } %}
            {% } %}
        </div>
    </script>
{% endverbatim %}