{% load i18n static ajapaik_templatetags %}

<h3 class="pt-5">{% trans 'Your donation confirms the importance of Ajapaik' %}</h3>
<p class="pt-2 mb-1">{% trans "Details for one-time donations" %}:</p>
<p class="mb-0">{% trans "Beneficiary's name" %}:</p>
<b>{% settings_value 'AJAPAIK_BENEFICIARY_NAME' %}</b>
<p class="mb-0">{% trans "Beneficiary's account no" %}:</p>
<b>SWEDBANK: {% settings_value 'AJAPAIK_BENEFICIARY_ACCT_SWEDBANK' %}</b>
<br>
<b>LHV: {% settings_value 'AJAPAIK_BENEFICIARY_ACCT_LHV' %}</b>
<br>
<br>
<p class="pt-3">{% trans 'Ajapaik is an open source non-profit crowdsourcing platform, it’s amount of content and technical complexity have grown considerably. The site’s audience is on par or higher than that of official cultural heritage repositories like Muis, Fotis et al.' %}</p>
<p>{% trans 'Over the years Ajapaik has received public grant funding but we don’t have permanent funding that would enable us to keep the platform technically up to date or even more – enhance its usability, add new features.' %}</p>
<p><b>{% trans 'Your donation is of big help and confirms that Ajapaik is needed. If possible consider setting up a standing payment.' %}</b></p>
<p>{% trans "Ajapaik is developed by the <a href='http://xn--fotoprand-z2a.org.ee/wp/mtu/' target='_blank'>Estonian Photographic Heritage Society (MTÜ Eesti Fotopärand)</a> listed in the list of non-profit associations, foundations and religious associations benefiting from income tax incentives. We declare your donations and you will get income tax refunds for that." %}</p>
<h4 class="mt-4">{% trans "Other ways of supporting us" %}</h4>
<p>{% trans 'You can also help to <a href="https://translatewiki.net/wiki/Translating:Ajapaik">translate Ajapaik’s user interface</a>' %}</p>
<p>{% trans 'All other kinds of help are also appreciated! For instance in promoting Ajapaik, creating partnerships etc.' %}</p>