{% load i18n static %}

<div id="sponsors" class="pt-5">
    <h3>{% trans 'Ajapaik is currently using funding received from:' %}</h3>
    <div class="row d-block" style="font-size:0">
        {% for sponsor in current_sponsors %}
            <a href="{{ sponsor.url }}">{{ sponsor.name }}
                <img alt="{{ sponsor.alternate_text }}" class="img-fluid lazyload m-2"
                     src="{{ STATIC_URL }}{{ sponsor.img }}" data-src="{{ STATIC_URL }}{{ sponsor.img }}">
            </a>
        {% endfor %}
    </div>
    <br>
    <br>
    {% if sponsors %}
        <h5>{% trans 'Ajapaik has received donations from:' %}</h5>
        {% for sponsor in sponsors %}
            {% if sponsor.profile %}
                <a href="{% url 'user' sponsor.profile.id %}">{{ sponsor.profile.get_display_name }}</a>
            {% else %}
                {{ sponsor.name }}
            {% endif %}
            <br>
        {% endfor %}
        <br>
    {% endif %}
    <h3>{% trans 'Earlier funders:' %}</h3>
    <div class="row d-block" style="font-size:0">
        {% for sponsor in previous_sponsors %}
            <a href="{{ sponsor.url }}">{{ sponsor.name }}
                <img alt="{{ sponsor.alternate_text }}" class="img-fluid lazyload m-2"
                     src="{{ STATIC_URL }}{{ sponsor.img }}" data-src="{{ STATIC_URL }}{{ sponsor.img }}">
            </a>
        {% endfor %}
    </div>
</div>