{% extends "core/base_bootstrap.html" %}
{% load i18n %}

{% block header %}
    {% include "core/_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container pt-5 h-100 d-inline-block pl-5">
        <div class="row">
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-12">
                {% include "donate/_donate_details.html" %}
                <br>
                <h3 class="pb-5"><a href="{% url 'supporters' %}">{% trans 'Supporters of Ajapaik' %}</a></h3>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-0 col-sm-0">
                <a href="{{ picture.resource_url }}">
                    <img src="{{ picture.image_url }}" class="mw-100 ajp-cursor-pointer" alt="Donation illustration" />
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block specific_js %}
    <script>
        $(document).ready(function() {
            window.closeDonationBanner();
        });
    </script>
{% endblock %}