{% load i18n %}

<li class="dropdown pull-left">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle cat-no-background cat-text-white">
        <svg id="cat-header-album-icon" {% if show_photos %}class="hidden"{% endif %} fill="#fff" height="24"
             viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0V0z" fill="none"></path>
            <path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"></path>
            <path d="M0 0h24v24H0V0z" fill="none"></path>
            <path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 10l-2.5-1.5L15 12V4h5v8z"></path>
        </svg>
        <svg id="cat-header-pictures-icon" {% if not show_photos %}class="hidden"{% endif %} fill="#fff" height="24"
             viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M22 16V4c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2zm-11-4l2.03 2.71L16 11l4 5H8l3-4zM2 6v14c0 1.1.9 2 2 2h14v-2H4V6H2z"></path>
        </svg>
        <svg id="cat-header-image-icon" class="hidden" fill="#fff" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"></path>
        </svg>
        <span id="cat-header-title">
            {% if show_photos %}
                {% trans "All pictures" %}
            {% else %}
                {% trans "Albums" %}
            {% endif %}
        </span>
    </a>
    <ul class="dropdown-menu" id="cat-frontpage-mode-select" style="{% if not is_photoview %}margin-top: 12px;{% else %}margin-top: 6px;{% endif %}">
        <li id="cat-frontpage-show-albums-link" {% if not show_photos and not is_photoview %}class="hidden"{% endif %}>
            <a href="/{% if request.mobile %}?forceAlbum=1{% endif %}" title="Show albums">
                <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"></path>
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 10l-2.5-1.5L15 12V4h5v8z"></path>
                </svg>
                {% trans "Albums" %}
            </a>
        </li>
        <li {% if show_photos %}class="hidden"{% endif %}>
            <a href="#" id="cat-frontpage-show-pictures-link" title="Show pictures">
                <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M22 16V4c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2zm-11-4l2.03 2.71L16 11l4 5H8l3-4zM2 6v14c0 1.1.9 2 2 2h14v-2H4V6H2z"></path>
                </svg>
                {% trans "All pictures" %}
            </a>
        </li>
    </ul>
</li>