{% load i18n %}

<nav id="cat-navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a id="cat-brand" class="navbar-brand hidden-xs" href="/" title="{% trans "Back to homepage" %}">
                {% trans "Sift.pics" %}
            </a>
            <a class="hidden-xs" id="cat-brand-dummy"></a>
        </div>
        <div class="navbar-header pull-left">
            <ul class="nav pull-right">
                <li class="dropdown pull-left">
                    <a href="#" data-toggle="dropdown" id="cat-header-mode" class="dropdown-toggle cat-no-background cat-text-white">
                        <div class="hidden cat-text-overflow-ellipsis" id="cat-header-showing-albums">
                            <i class="material-icons">collections_bookmark</i>
                            <span>{% trans "Albums" %}</span>
                        </div>
                        {% if is_filter %}
                            <div class="hidden cat-text-overflow-ellipsis" id="cat-header-showing-pictures">
                                <i class="material-icons">collections</i>
                                <span>{% trans "All pictures" %}</span>
                            </div>
                        {% endif %}
                        <div class="hidden cat-text-overflow-ellipsis" id="cat-header-showing-album-pictures">
                            <i class="material-icons">photo_album</i>
                            <span></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" id="cat-mode-select">
                        <li>
                            <a href="#" id="cat-show-albums-link" title="Show albums">
                                <i class="material-icons">collections_bookmark</i> {% trans "Albums" %}
                            </a>
                        </li>
                        {% if is_filter %}
                            <li>
                                <a href="#" id="cat-show-pictures-link" title="Show pictures">
                                    <i class="material-icons">collections</i> {% trans "All pictures" %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="pull-left cat-header-tag hidden-xs">
                    <a href="#" title="{% trans "Tag photos" %}" class="cat-header-link cat-no-background cat-header-tag-link{% if is_tag %} cat-text-white{% else %} cat-text-gray{% endif %}">
                        <i class="material-icons">local_offer</i>
                    </a>
                </li>
                <li class="pull-left cat-header-filter hidden-xs">
                    <a href="#" title="{% trans "Filter by tags" %}" class="cat-header-link cat-no-background cat-header-filter-link">
                        <i class="material-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="{% if is_filter %}white{% else %}#888{% endif %}" d="M3,2H21V2H21V4H20.92L14,10.92V22.91L10,18.91V10.91L3.09,4H3V2Z" ></path>
                            </svg>
                        </i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-header pull-right">
            <button id="cat-toggle-nav" type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle cat-no-background">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav pull-right">
                <li class="pull-left cat-header-tag visible-xs">
                    <a href="#" title="{% trans "Tag photos" %}" class="cat-header-link cat-no-background cat-header-tag-link{% if is_tag %} cat-text-white{% else %} cat-text-gray{% endif %}">
                        <i class="material-icons">local_offer</i>
                    </a>
                </li>
                <li class="pull-left cat-header-filter visible-xs">
                    <a href="#" title="{% trans "Filter by tags" %}" class="cat-header-link cat-no-background cat-header-filter-link">
                        <i class="material-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="{% if is_filter %}white{% else %}#888{% endif %}" d="M3,2H21V2H21V4H20.92L14,10.92V22.91L10,18.91V10.91L3.09,4H3V2Z" ></path>
                            </svg>
                        </i>
                    </a>
                </li>
                <li class="pull-left">
                    <a id="cat-header-play-store-link" class="cat-header-link" target="_blank" title="{% trans 'Sift.pics on Google Play' %}" href="https://play.google.com/store/apps/details?id=pics.sift.app">
                        <i class="material-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#888" d="M3,20.5V3.5C3,2.91 3.34,2.39 3.84,2.15L13.69,12L3.84,21.85C3.34,21.6 3,21.09 3,20.5M16.81,15.12L6.05,21.34L14.54,12.85L16.81,15.12M20.16,10.81C20.5,11.08 20.75,11.5 20.75,12C20.75,12.5 20.53,12.9 20.18,13.18L17.89,14.5L15.39,12L17.89,9.5L20.16,10.81M6.05,2.66L16.81,8.88L14.54,11.15L6.05,2.66Z" />
                            </svg>
                        </i>
                    </a>
                </li>
                <li class="pull-left{% if is_about %} active{% endif %}">
                    <a id="cat-about-link" title="{% trans 'About' %}" href="{% url "project.sift.views.cat_about" %}" class="cat-header-link cat-no-background{% if is_about %} cat-text-white{% else %} cat-text-gray{% endif %}">
                        <i class="material-icons">help</i>
                    </a>
                </li>
                <li class="dropdown pull-left">
                    {% get_language_info for LANGUAGE_CODE as lang %}
                    <a id="cat-choose-language" href="#" data-toggle="dropdown" class="dropdown-toggle cat-no-background cat-text-white"
                            title="{% trans 'Choose language' %}">
                        {{ lang.code|upper }}
                    </a>
                    <ul class="dropdown-menu">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <li>
                                <a href="#" class="cat-change-language-link" data-lang-code="{{ language.code }}">
                                    {{ language.name_local|title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>