{% extends "base.html" %}

{% load compress i18n static %}

{% block header %}
    {% include "_cat_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container text-center cat-full-height cat-margin-top-50 hidden" id="cat-tagger-container">
        <div class="col-xs-12 cat-full-height">
            <div class="row cat-full-height">
                <div id="cat-tagger-image-and-button-container">
                    <div id="cat-tagger-image-and-desc-container">
                        <a id="cat-tagger-current-photo-link" href="" target="_blank" title="">
                            <img id="cat-tagger-current-photo" alt="" title="" class="img-responsive" src="">
                        </a>
                        <div class="hidden" id="cat-tagger-photo-description-container">
                            <p id="cat-tagger-photo-description" title=""></p>
                            <p id="cat-tagger-photo-source">
                                <a href="" target="_blank" title="">
                                    <span></span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified cat-btn-group" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default cat-tagger-tag-button" data-value="-1">
                                <i id="cat-tagger-left" class="material-icons"></i>
                                <span id="cat-tagger-left-text"></span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default cat-tagger-tag-button" data-value="0">
                                <i id="cat-tagger-na" class="material-icons">cancel</i>
                                <span>{% trans "N/A" %}</span>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default cat-tagger-tag-button" data-value="1">
                                <i id="cat-tagger-right" class="material-icons"></i>
                                <span id="cat-tagger-right-text"></span>
                            </button>
                        </div>
                    </div>
                    <br/>
                    <div class="btn-group btn-group-justified cat-btn-group" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" id="cat-tagger-favorite-button" class="btn btn-default">
                                <i id="cat-tagger-favorite" class="material-icons">favorite_outline</i>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" id="cat-tagger-info-button" class="btn btn-default">
                                <i id="cat-tagger-info" class="material-icons">info</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 cat-margin-top-50">
        <div class="col-xs-12 cat-no-right-padding cat-no-left-padding" id="cat-album-selection"></div>
    </div>
    <div class="hidden">
        {% include "_cat_album_selection_album_js_template.html" %}
    </div>
{% endblock %}

{% block specific_js %}
    {% compress js %}
        <script src="{% static "js/cat-tagger.js" %}"></script>
        <script>
            var loadAlbumURL = '{% url 'project.sift.views.cat_album_state' %}',
                getAlbumsURL = '{% url 'project.sift.views.cat_albums' %}',
                albumThumbURL = '{% url 'project.sift.views.cat_album_thumb' %}',
                tagURL = '{% url 'project.sift.views.cat_tag' %}',
                filterURL = '{% url 'project.sift.views.cat_results' %}',
                favoriteAddURL = '{% url 'project.sift.views.user_favorite_add' %}',
                favoriteRemoveURL = '{% url 'project.sift.views.user_favorite_remove' %}',
                originalWindowTitle = '{% trans "Tag historic photos" %} - {% trans "Sift.pics" %}';
            $(document).ready(function () {
                var catTagger = new CatTagger();
                catTagger.initialize();
                catTagger.initializeState({{ state_json|safe }});
            });
        </script>
    {% endcompress %}
{% endblock %}



