{% extends "cat_base.html" %}

{% load i18n compress static %}

{% block specific_css %}
    <link rel="stylesheet" href="{% static "css/cat-curator-style.css" %}"/>
{% endblock %}

{% block header %}
    {% include "_cat_header.html" %}
{% endblock %}

{% block layout %}
    <div class="container" id="cat-curator-container">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#cat-curator-results-tab" aria-controls="cat-curator-results-tab" role="tab"
                       data-toggle="tab">{% trans "Search" %}
                        <span class="badge" id="cat-curator-result-count">0</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#cat-curator-selection-tab" aria-controls="cat-curator-selection-tab" role="tab"
                       data-toggle="tab">{% trans "Selection" %}
                        <span class="badge" id="cat-curator-selection-size">0</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#cat-curator-my-albums-tab" aria-controls="cat-curator-my-albums-tab" role="tab"
                       data-toggle="tab">{% trans "Albums" %}
                        <span class="badge" id="cat-curator-my-albums-size">0</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="cat-curator-results-tab">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="cat-curator-full-search"
                                   placeholder="{% trans "Full search" %}">
                                    <span class="input-group-addon">
                                        <input type="checkbox" id="cat-curator-search-filter-existing"
                                               checked="checked">
                                    </span>
                            <label class="form-control"
                                   for="cat-curator-search-filter-existing">{% trans "Filter existing" %}</label>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-block"
                                id="cat-curator-search-button">
                            {% trans "Search!" %}
                        </button>
                    </div>
                    <div class="col-xs-2" id="cat-curator-load-more-row">
                        <button type="button" class="btn btn-primary btn-block cat-curator-load-more">
                            {% trans "Load more" %}
                        </button>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-block" id="cat-curator-select-all">
                            {% trans "Select all" %}
                        </button>
                    </div>
                    <div class="col-xs-2">
                        <input type="number" id="cat-curator-selection-start-index" placeholder="{% trans "Start" %}">
                        <input type="number" id="cat-curator-selection-stop-index" placeholder="{% trans "Stop" %}">
                        <input type="number" id="cat-curator-selection-step" placeholder="{% trans "Step" %}">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="cat-curator-selection-tab">
                <div class="row" id="cat-curator-selection-controls">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary btn-block" id="cat-curator-clear-selection">
                            {% trans "Clear selection" %}
                        </button>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-success btn-block" id="cat-curator-submit-selection">
                            {% trans "Submit selection to Sift" %}
                        </button>
                    </div>
                    <div class="col-xs-offset-6 col-xs-2">
                        <img src="{% static "images/large-thumbnails-48.png" %}" id="cat-curator-gallery-switch">
                        <img src="{% static "images/list-with-thumbnails-48.png"%}" id="cat-curator-list-switch">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="cat-curator-my-albums-tab"></div>
        </div>
        {% include "_cat_album_creation_modal.html" %}
        <div class="row">
            <div class="col-xs-12" id="cat-curator-search-results"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="cat-curator-selection"></div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="cat-curator-my-albums"></div>
        </div>
        <div class="modal fade" id="cat-curator-edit-my-album-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{% trans "Edit your album" %}</h4>
                    </div>
                    <div class="modal-body">
                         <div class="row">
                            <div class="col-xs-12" id="cat-curator-edit-album-error" style="display: none;">
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span id="cat-curator-edit-album-error-message">{% trans "Error" %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label for="cat-curator-change-album-title">{% trans "Title" %}</label>
                                    </span>
                                    <input class="form-control" type="text" id="cat-curator-change-album-title">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <label for="cat-curator-change-album-subtitle">{% trans "Subtitle" %}</label>
                                    </span>
                                    <textarea class="form-control" id="cat-curator-change-album-subtitle"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                        <input type="hidden" id="cat-curator-change-album-id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {% trans "Close" %}
                        </button>
                        <button type="button" class="btn btn-success" id="cat-curator-confirm-album-edit-button">
                            {% trans "Save" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block specific_js %}
    {% compress js %}
        <script>
            var taggerURL = '{% url 'project.sift.views.cat_tagger' %}',
                filterURL = '{% url 'project.sift.views.cat_results' %}',
                searchURL = '{% url 'project.sift.views.cat_curator_search' %}',
                loadAlbumsURL = '{% url 'project.sift.views.cat_curator_load_albums' %}',
                albumInfoURL = '{% url 'project.sift.views.cat_curator_load_album' %}',
                albumEditURL = '{% url 'project.sift.views.cat_curator_edit_album' %}',
                selectionUploadURL = '{% url 'project.sift.views.cat_curator_upload_handler' %}';
        </script>
        <script src="{% static "js/cat-curator.js" %}"></script>
    {% endcompress %}
    {% include "js_templates/curator_album_selection_option.html" %}
    {% include "js_templates/curator_album_selection_separator.html" %}
    {% include "js_templates/curator_selection_template.html" %}
    {% include "js_templates/curator_my_album.html" %}
    {% include "js_templates/curator_result.html" %}
{% endblock %}

